<template>
  <div>
    <b-row v-for="file in uploadedFiles" :key="file.id" class="file p-1" style="border-bottom: 1px solid #777">
      <b-col cols="11">
        <a :href="file.file">{{ file.file_name }}</a>
      </b-col>
      <b-col cols="1">
        <b-button variant="danger" @click="deleteFile(file.id)">Удалить</b-button>
      </b-col>
    </b-row>
    <b-row class="p-1">
      <b-col cols="11"><input id="files" ref="files" type="file" multiple @change="handleFilesUpload()"/></b-col>
      <b-col cols="1"><b-button variant="primary" @click="submitFiles()">Загрузить</b-button></b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'UploadFilesProject',
  props: { projectId: { type: Number, default: null } },
  data() {
    return {
      uploadedFiles: [],
      files: '',
    }
  },
  mounted() {
    this.fetchFiles()
  },
  methods: {
    async fetchFiles() {
      const { data } = await this.$axios.get(`user/project/${this.projectId}/upload-files`)
      this.uploadedFiles = data
    },
    async deleteFile(id) {
      await this.$axios.delete(`user/project/file/${id}/delete`)
      await this.fetchFiles()
    },

    async submitFiles() {
      const formData = new FormData()
      for (let i = 0; i < this.files.length; i++) {
        const file = this.files[i]
        formData.append('files[' + i + ']', file)
      }
      try {
        await this.$axios.post(`user/project/${this.projectId}/upload-files`, formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        window.console.log('SUCCESS!!')
      } catch (e) {
        window.console.log(`FAILURE!! ${e}`)
      }
      await this.fetchFiles()
    },
    handleFilesUpload() {
      this.files = this.$refs.files.files
    },
  },
}
</script>
