<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <div v-if="selected_indicator">
          <tabs
            :tabs="tabs"
            :current-tab="selected_type"
            :wrapper-class="'body-tabs shadow-tabs'"
            :tab-class="'tab-item'"
            :tab-active-class="'tab-item-active'"
            :line-class="'tab-item-line'"
            @onClick="handleClick"
          />
          <div v-if="selected_type == 'chart'">
            <b-row class="mt-3">
              <b-col md="12">
                <b-card>
                  <b-card-header>Выберите регион</b-card-header>
                  <b-card-body>
                    <b-select v-if="data.index" v-model="selected_region2" size="lg" :options="data.index" />
                  </b-card-body>
                </b-card>
              </b-col>
              <b-col md="12">
                <b-card>
                  <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
                  <b-card-sub-title>График (динамика)</b-card-sub-title>
                  <b-card-body>
                    <data-chart v-if="selected_region2" :indicator_id="selected_indicator_id" :region="selected_region2" />
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
          </div>
          <div v-if="selected_type == 'chart_xyz'">
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" />
            <b-card class="mt-3">
              <b-card-header>
                Выберите дополнительные показатели
                <div class="btn-actions-pane-right">
                  <b-button size="sm" variant="light" @click="updateCharts">Обновить</b-button>
                </div>
              </b-card-header>
              <b-card-body>
                <b-row class="mt-2">
                  <b-col md="4">Дополнительный показатель 2 (ось X)</b-col>
                  <b-col md="8">
                    <b-select v-model="selected_indicator2">
                      <b-select-option :value="null">-- выберите --</b-select-option>
                      <b-select-option v-for="(ind, idx) in indicator_list" :key="ind.id" :value="ind" :disabled="!hasColumns(ind, selected_indicator)">
                        {{ idx + 1 }}. {{ ind.name }}
                      </b-select-option>
                    </b-select>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col md="4">Дополнительный показатель 3 (размер)</b-col>
                  <b-col md="8">
                    <b-select v-model="selected_indicator3">
                      <b-select-option :value="null">-- выберите --</b-select-option>
                      <b-select-option v-for="(ind, idx) in indicator_list" :key="ind.id" :value="ind" :disabled="!hasColumns(ind, selected_indicator)">
                        {{ idx + 1 }}. {{ ind.name }}
                      </b-select-option>
                    </b-select>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
            <b-card class="mt-3">
              <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
              <b-card-body>
                <apexchart height="400" type="bubble" :options="chartOptions" :series="series"></apexchart>
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_type == 'stacked_area'">
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" />
            <b-card class="mt-3">
              <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
              <b-card-sub-title>Распределение по регионам федерального округа</b-card-sub-title>
              <b-card-body>
                <apexchart v-if="series2" :series="series2" :height="400" :options="localChartOptions" />
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_type == 'grp'">
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" />
            <b-row class="mt-3">
              <b-col md="10">
                <b-card>
                  <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
                  <b-card-sub-title>Распределение относительно медианы</b-card-sub-title>
                  <b-card-body>
                    <apexchart height="400" type="bubble" :options="chartOptionsB" :series="series_b"></apexchart>
                  </b-card-body>
                </b-card>
              </b-col>
              <b-col md="2">
                <b-card>
                  <b-card-header>Выберите регион</b-card-header>
                  <b-card-body>
                    <b-select v-model="selected_region">
                      <b-select-option v-for="region in regions_only" :key="region.id" :value="region">{{ region.name }}</b-select-option>
                    </b-select>
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
          </div>
          <div v-if="selected_type == 'map'">
            {{ selected_type }}
            {{ selected_indicator.id }}
            {{ selected_year }}
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" :interval="3500" />
            <b-card class="mt-3">
              <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
              <b-card-sub-title>Картограмма</b-card-sub-title>
              <b-card-body>
                {{ selected_indicator.id }}
                {{ selected_year }}
                <data-map :indicator_id="selected_indicator.id" :tm="selected_year" />
                <!--                <highcharts :constructor-type="'mapChart'" :options="mapOptions" class="map" width="100%"></highcharts>-->
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_type == 'map2'">
            <b-row>
              <b-col md="12">
                <b-card>
                  <b-card-header>
                    Выберите точки
                    <!--      <div class="btn-actions-pane-right">-->
                    <!--        <b-button size="sm" variant="light" @click="updateCharts">Обновить</b-button>-->
                    <!--      </div>-->
                  </b-card-header>
                  <b-card-body>
                    <b-row>
                      <b-col md="12">
                        <b-button
                          v-for="year in years"
                          :key="year"
                          :variant="selected_years.includes(year) ? 'primary' : 'transition outline-focus'"
                          class="ml-2 mr-2"
                          @click="updateSelectedYears(year)"
                        >
                          {{ year }}
                          <span v-if="selected_years.includes(year)" class="badge badge-pill badge-warning">{{ selected_years.indexOf(year) + 1 }}</span>
                        </b-button>
                      </b-col>
                    </b-row>
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
            <b-row>
              <b-col v-for="year in selected_years" :key="year" md="6">
                <b-card class="mt-3" :title="year">
                  <b-card-body>
                    <highcharts :constructor-type="'mapChart'" :options="getMap(year)" class="map"></highcharts>
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
            <!--            <b-card class="mt-3">-->
            <!--              <b-card-header>Картограмма</b-card-header>-->
            <!--              <b-card-body>-->
            <!--                <highcharts :constructor-type="'mapChart'" :options="mapOptions" class="map" width="100%"></highcharts>-->
            <!--              </b-card-body>-->
            <!--            </b-card>-->
          </div>
          <div v-if="selected_type == 'histogram'">
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" :interval="3500" />
            <b-card class="mt-3">
              <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
              <b-card-sub-title>Гистограмма</b-card-sub-title>
              <b-card-body>
                <histogram2 :data="data" :column="selected_year" @click="histogramClick" />
              </b-card-body>
            </b-card>
            <b-card v-if="histogramSelected" class="mt-3">
              <b-card-title>Регионы</b-card-title>
              <b-card-sub-title>Перечень регионов, у которых значение показателя находится в дианазоне {{ histogramSelected.min }} — {{ histogramSelected.max }}</b-card-sub-title>
              <b-card-body>
                <span v-for="i in histogramSelected.rows" :key="i" class="btn btn-secondary mt-1 ml-1">
                  {{ data.index[i.row] }}<span class="badge badge-light">{{ i.value }}</span>
                </span>
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_type == 'table'">
            <b-card class="mt-3">
              <b-card-title>{{ selected_indicator.name }}</b-card-title>
              <b-card-sub-title>Таблица данных</b-card-sub-title>
              <b-card-body>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Субъект РФ</th>
                      <th v-for="year in data.columns" :key="year">{{ year }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(region, i) in data.index" :key="region">
                      <td>{{ region }}</td>
                      <td v-for="(year, j) in data.columns" :key="year">
                        {{ data.data[i][j] }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </b-card-body>
            </b-card>
          </div>
        </div>
        <b-row class="mt-3">
          <b-col md="12">
            <b-card class="mt-3">
              <b-card-header>Перечень показателей</b-card-header>
              <b-card-body>
                <b-row v-for="ind in indicators" :key="ind.ind" class="p-2 mt-0 border-bottom">
                  <b-col md="6">
                    {{ ind.name }}
                    <span class="text-light">#{{ ind.id }}</span>
                  </b-col>
                  <b-col md="6">
                    <b-row>
                      <b-col md="4">
                        <b-button block class="btn-icon" variant="primary" @click="selectIndicator(ind, 'chart')"><i class="lnr-chart-bars"></i> График</b-button>
                      </b-col>
                      <b-col md="4">
                        <b-button block variant="warning" @click="selectIndicator(ind, 'map')">Картограмма</b-button>
                      </b-col>
                      <b-col md="4">
                        <b-button block variant="secondary" @click="selectIndicator(ind, 'table')">Таблица</b-button>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row v-if="parent_indicator.id == 2519" class="mt-3">
          <b-col md="12">
            <b-card class="mt-3">
              <b-card-header>Специальные сервисы</b-card-header>
              <b-card-body>
                <nuxt-link :to="`/np/passport/${parent_indicator.id}`" class="btn btn-outline-primary">Интерактивный паспорт национального проекта</nuxt-link>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh, faChartArea } from '@fortawesome/free-solid-svg-icons'
// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import Tabs from 'vue-tabs-with-active-line'
import VueApexCharts from 'vue-apexcharts'

import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
import Year from '~/components/Filter/Year'
import Histogram2 from '~/components/Data/Histogram'
import DataChart from '~/components/Widgets/DataChart'
import DataMap from '~/components/Widgets/DataMap'
// import StackedChart from '~/components/Chart/StackedChart'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt, faChartArea)

const TABS = [
  {
    title: 'График (динамика)',
    value: 'chart',
  },
  {
    title: 'График (XYZ)',
    value: 'chart_xyz',
  },
  {
    title: 'Распределение по федеральным округам',
    value: 'stacked_area',
  },
  {
    title: 'Распределение по субъектам РФ',
    value: 'grp',
  },
  {
    title: 'Картограмма',
    value: 'map',
  },
  {
    title: 'Сопоставление картограмм',
    value: 'map2',
  },
  {
    title: 'Гистограмма',
    value: 'histogram',
  },
  {
    title: 'Таблица',
    value: 'table',
  },
]

export default {
  layout: 'page2',
  components: {
    DataMap,
    DataChart,
    Histogram2,
    PageTitle,
    Header,
    Sidebar2,
    Year,
    Tabs,
    // StackedChart,
    apexchart: VueApexCharts,
  },
  async asyncData({ params, $axios }) {
    let res
    res = await $axios.get('/data/region')
    const regions = res.data
    res = await $axios.get(`/data/indicator/${params.id}`)
    const parent_indicator = res.data
    res = await $axios.get(`/data/indicator/parent/${params.id}/withdata`)
    const indicators = res.data
    let indicator_list = []
    res = await $axios.get(`/data/indicator/parent/natproj/withdata`)
    indicator_list = indicator_list.concat(res.data)
    res = await $axios.get(`/data/indicator/parent/years/withdata`)
    indicator_list = indicator_list.concat(res.data)
    return { parent_indicator, indicators, indicator_list, regions }
  },

  data: () => ({
    histogramSelected: null,
    selectedIndicatorId: null,
    selected_indicator: null,
    selected_indicator2: null,
    selected_indicator3: null,
    selected_type: null,
    selected_year: null,
    selected_years: [],
    selected_region2: null,
    indicators: [],
    parent_indicator: null,
    data: {},
    data2: {},
    data3: {},
    standart_data: {},
    standart_data2: {},
    standart_data3: {},
    table_fields: [],
    table_items: [],
    tabs: TABS,
    regions: [],
    currentTab: 'chart',
    indicator_list: [],
    map_data: [],
    chartOptions: {
      dataLabels: {
        enabled: false,
      },
      colors: ['#fe5000', '#0077c8', '#008eaa', '#84bd00', '#da1884', '#005670', '#0085ad', '#efdf00'],
      tooltip: {
        custom({ series, seriesIndex, dataPointIndex, w }) {
          window.console.log({ series, seriesIndex, dataPointIndex, w })
          return '<div class="arrow_box">' + '<span>' + w.config.series[seriesIndex].data[dataPointIndex][3] + '</span>' + '</div>'
        },
      },
      fill: {
        opacity: 0.8,
        gradient: {
          enabled: false,
        },
      },
      title: {
        show: false,
        text: '',
      },
      xaxis: {
        // tickAmount: 12,
        type: 'numeric',
      },
      yaxis: {
        // max: 70,
      },
      plotOptions: {
        bubble: {
          // minBubbleRadius: 10,
          // maxBubbleRadius: 50,
        },
      },
    },
    series: [],
    series2: null,
    series_b: [],
    series_b0: [],
    series_b1: [],
    mapOptions: {
      defaultColors: ['#F73F00', '#F7A200', '#F7E300', '#50D800'],
      colors: ['#F73F00', '#F7A200', '#F7E300', '#50D800'],
      chart: {
        map: 'ru-ru',
        spacingBottom: 20,
      },
      title: {
        text: '',
      },
      legend: {
        enabled: true,
      },
      plotOptions: {
        series: {
          allAreas: false,
        },
        map: {
          allAreas: false,
          joinBy: ['hasc', 'code'],
          dataLabels: {
            enabled: false,
            color: '#FFFFFF',
            style: {
              fontWeight: 'bold',
            },
            // Only show dataLabels for areas with high label rank
            format: null,
            // formatter() {
            //   if (this.point.properties && this.point.properties.labelrank.toString() < 5) {
            //     return this.point.properties['iso-a2']
            //   }
            // },
          },
          tooltip: {
            headerFormat: '',
            pointFormat: '{point.options.name}: <b>{point.value}</b>',
          },
        },
      },
      series: [],
    },
    localChartOptions: {
      chart: {
        type: 'area',
        stacked: true,
        // events: {
        //   selection(chart, e) {
        //     console.log(new Date(e.xaxis.min))
        //   },
        // },
      },
      colors: ['#fe5000', '#0077c8', '#008eaa', '#84bd00', '#9a4cda', '#005670', '#0085ad', '#efdf00'],
      dataLabels: {
        enabled: false,
      },
      stroke: {
        curve: 'smooth',
      },
      fill: {
        type: 'gradient',
        gradient: {
          opacityFrom: 0.6,
          opacityTo: 0.8,
        },
      },
      legend: {
        position: 'right',
        horizontalAlign: 'center',
      },
      xaxis: {
        type: 'numeric',
        categories: [],
      },
    },
    chartOptionsB: {
      dataLabels: {
        enabled: false,
      },
      colors: ['#fe5000', '#00B462', '#003E6A', '#359fa7', '#2972a1'],
      tooltip: {
        custom({ series, seriesIndex, dataPointIndex, w }) {
          return '<div class="arrow_box">' + '<span>' + w.config.series[seriesIndex].data[dataPointIndex][3] + '</span>' + '</div>'
        },
      },
      fill: {
        opacity: 0.8,
        gradient: {
          enabled: false,
        },
      },
      title: {
        show: false,
        text: '',
      },
      xaxis: {
        // tickAmount: 12,
        type: 'numeric',
        min: -4,
        max: 3,
      },
      yaxis: {
        max: 4,
        min: -4,
        show: false,
        borderType: 'dotted',
      },
    },
    selected_region: null,
  }),

  computed: {
    subheading() {
      return this.parent_indicator.name
    },
    short_subheading() {
      return this.parent_indicator.short_name
    },
    heading() {
      return this.selected_indicator ? this.selected_indicator.name : this.parent_indicator.name
    },
    short_heading() {
      return this.selected_indicator ? this.selected_indicator.short_name : this.parent_indicator.short_name
    },
    icon() {
      return 'pe-7s-plane icon-gradient bg-tempting-azure'
    },
    regions_only() {
      return this.regions.filter((x) => x.levels.includes('region'))
    },
    years() {
      return this.data ? this.data.columns : []
    },
    menu() {
      return this.indicators.map((x) => ({
        title: x.name,
        click: () => this.selectIndicator(x),
      }))
    },
    fo() {
      return this.data.index.filter((x) => x.name.includes('федераль')).map((x) => x.name)
    },
  },

  watch: {
    selected_year() {
      this.updateCharts()
      this.updateMap()
      this.updateCharts2()
      if (this.selected_type == 'grp') this.updateBubble()
    },
    selected_indicator() {},
    async selected_indicator2() {
      this.data2 = this.selected_indicator2 ? (await this.fetchIndicatorData(this.selected_indicator2.id)).data : null
      this.standart_data2 = this.selected_indicator2 ? (await this.fetchIndicatorData(this.selected_indicator2.id)).standart_data : null
      this.updateCharts()
    },
    async selected_indicator3() {
      this.data3 = this.selected_indicator3 ? (await this.fetchIndicatorData(this.selected_indicator3.id)).data : null
      this.standart_data3 = this.selected_indicator3 ? (await this.fetchIndicatorData(this.selected_indicator3.id)).standart_data : null
      this.updateCharts()
    },
    selected_type() {
      if (this.selected_type == 'grp') this.updateBubble()
    },
    selected_region() {
      this.updateBubble(true)
    },
  },

  mounted() {
    window.xxx = this
  },

  methods: {
    async selectIndicator(indicator, type) {
      this.selected_indicator = indicator
      this.selected_indicator_id = indicator.id
      if (type !== undefined) {
        this.selected_type = type
      }
      if (!this.selected_type) {
        this.selected_type = 'chart_xyz'
      }
      const { data, standart_data } = await this.fetchIndicatorData(indicator.id)
      this.data = data
      this.standart_data = standart_data
      if (!this.data.columns || !this.data.columns.includes(this.selected_year)) {
        this.selected_year = null
      }
      this.updateCharts()
      this.updateCharts2()
      this.updateMap()
    },
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      return this.getParentRegion(region.id)
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    hasColumns(ind, selected_indicator) {
      return ind.extra_json.df_columns_hash.filter((y) => selected_indicator.extra_json.df_columns_hash.includes(y)).length > 0
    },
    // getColumns(indicator_list, main_indicator) {
    //   return indicator_list.filter((x) => x.extra_json.df_columns_hash.filter((y) => main_indicator.extra_json.df_columns_hash.includes(y)).length > 0)
    // },
    updateCharts() {
      if (this.selected_year && this.data.index && this.data2.index && this.data3.index) {
        const series = {}

        // const mmin2 = this.data2.data.reduce((mmin, x) => {
        //   return mmin ? Math.min(mmin, x[this.data2.columns.indexOf(this.selected_year)]) : x[this.data2.columns.indexOf(this.selected_year)]
        // }, undefined)
        // const mmax2 = this.data2.data.reduce((mmax, x) => {
        //   return mmax ? Math.max(mmax, x[this.data2.columns.indexOf(this.selected_year)]) : x[this.data2.columns.indexOf(this.selected_year)]
        // }, undefined)

        // const mmin3 = this.data3.data.reduce((mmin, x) => {
        //   return mmin ? Math.min(mmin, x[this.data3.columns.indexOf(this.selected_year)]) : x[this.data3.columns.indexOf(this.selected_year)]
        // }, undefined)
        // const mmax3 = this.data3.data.reduce((mmax, x) => {
        //   return mmax ? Math.max(mmax, x[this.data3.columns.indexOf(this.selected_year)]) : x[this.data3.columns.indexOf(this.selected_year)]
        // }, undefined)

        const chartOptions = JSON.parse(JSON.stringify(this.chartOptions))
        // chartOptions.plotOptions.bubble.minBubbleRadius = mmax2 / 50
        // chartOptions.plotOptions.bubble.maxBubbleRadius = mmax2 / 20
        this.chartOptions = chartOptions
        this.data.index.forEach((region_name, i) => {
          const region = this.getRegionByName(region_name)
          if (region) {
            if (!region.levels.includes('subject')) return
            let fo = this.getParentRegionBy(region.name)
            if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
            if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
            if (!(fo.name in series)) {
              series[fo.name] = {
                name: fo.name,
                data: [],
              }
            }
            try {
              const y = this.standart_data.data[this.data.index.indexOf(region_name)][this.data.columns.indexOf(this.selected_year)]
              const x = this.standart_data2.data[this.data2.index.indexOf(region_name)][this.data2.columns.indexOf(this.selected_year)]
              const z = this.standart_data3.data[this.data3.index.indexOf(region_name)][this.data3.columns.indexOf(this.selected_year)]

              series[fo.name].data.push([x, y, z, region_name])
            } catch {}
          }
        })
        this.series = Object.keys(series).map((x) => series[x])
      }
    },
    updateCharts2() {
      if (this.selected_year && this.data.index) {
        const series = {}
        const ru_data = this.data.data.map((x) => x[this.data.columns.indexOf(this.selected_year)])
        const min = Math.min.apply(Math, ru_data)
        const max = Math.max.apply(Math, ru_data)
        const dx = (max - min) / 10
        const RF = 'Российская Федерация'

        series[RF] = {
          type: 'line',
          name: RF,
          limits: Array(10)
            .fill(undefined)
            .map((_, idx) => min + idx * dx),
          data: Array(10).fill(0),
          regions: [],
        }

        this.data.index.forEach((region_name, i) => {
          const region = this.getRegionByName(region_name)
          if (!region) return
          if (!region.levels.includes('subject')) return
          let fo = this.getParentRegionBy(region.name)
          if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
          if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
          if (!(fo.name in series)) {
            series[fo.name] = {
              type: 'area',
              name: fo.short_name,
              limits: Array(10)
                .fill(undefined)
                .map((_, idx) => min + idx * dx),
              data: Array(10).fill(0),
              regions: [],
            }
          }
          const x = this.data.data[i][this.data.columns.indexOf(this.selected_year)]
          ;[fo.name, RF].forEach((z) => {
            for (let j = 9; j >= 0; j--)
              if (x > series[z].limits[j]) {
                series[z].data[j]++
                series[z].regions.push(region.short_name)
                break
              }
          })
        })
        this.series2 = Object.keys(series)
          .filter((x) => x != RF)
          .map((x) => ({
            name: series[x].name,
            data: series[x].data.map((_, idx) => ({ x: series[RF].limits[idx], y: series[x].data[idx] })),
          }))
        this.$set(this.localChartOptions.xaxis, 'categories', series[RF].limits)
      }
    },
    async updateBubble(noAnimate) {
      if (!this.selected_year) return
      const { data } = await this.$axios.get(`data/np/${this.selected_indicator.id}/bubbles/${this.selected_year}`)
      const top5 = data.series
        .map((x) => x[0])
        .sort()
        .splice(-5)
      const series_b = {}
      series_b.msk = { name: this.selected_region ? this.selected_region.name : 'регион не указан', data: [] }
      series_b.top5 = { name: 'Top 5', data: [] }
      series_b.lt_mean = { name: '< ' + Math.round(data.mean * 100) / 100, data: [] }
      series_b.mean_median = { name: Math.round(data.mean * 100) / 100 + ' - ' + Math.round(data.median * 100) / 100, data: [] }
      series_b.gt_median = { name: '> ' + Math.round(data.median * 100) / 100, data: [] }

      data.series.forEach((x) => {
        const region = this.getRegionByName(x[3])
        if (region.name.includes('федерал')) return
        if (this.selected_region && this.selected_region.code == region.code) series_b.msk.data.push(x)
        else if (top5.includes(x[0])) series_b.top5.data.push(x)
        else if (x[0] < data.mean) series_b.lt_mean.data.push(x)
        else if (x[0] > data.median) series_b.gt_median.data.push(x)
        else series_b.mean_median.data.push(x)
      })
      this.series_b0 = Object.keys(series_b).map((x) => ({ name: series_b[x].name, data: series_b[x].data.map((z) => [-5.5, z[1], z[2], z[3]]) }))
      this.series_b1 = Object.keys(series_b).map((x) => series_b[x])
      this.series_b = this.series_b0
      this.series_b_mean = data.mean
      this.series_b_median = data.median
      this.$set(this.chartOptionsB.xaxis, 'min', data.min * 0.8)
      this.$set(this.chartOptionsB.xaxis, 'max', data.max * 1.2)
      this.$set(this.chartOptionsB, 'annotations', {
        xaxis: [
          {
            x: data.median,
            borderColor: '#999',
            yAxisIndex: 0,
            label: {
              show: true,
              text: 'Медиана (' + data.median + ')',
              style: {
                color: '#FFF',
                background: '#775DD0',
              },
            },
          },
          {
            x: series_b.top5.data.reduce((a, b) => a + b[1], 0),
            borderColor: '#999',
            yAxisIndex: 0,
            label: {
              show: true,
              text: 'Cредняя Top 5 (' + series_b.top5.data.reduce((a, b) => a + b[1], 0) + ')',
              style: {
                color: '#FFF',
                background: '#68d0aa',
              },
            },
          },
        ],
      })
      if (noAnimate) {
        this.series_b = this.series_b1
      } else {
        const self = this
        setTimeout(function() {
          self.series_b = self.series_b1
        }, 1500)
      }
    },
    updateMap() {
      const items = []
      const exists = []
      this.data.index.forEach((region_name, i) => {
        const region = this.getRegionByName(region_name)
        if (region && region.map_code) {
          exists.push(region.map_code)
          items.push({
            code: region.map_code,
            name: region.name,
            value: this.data.data[i][this.data.columns.indexOf(this.selected_year)],
          })
        }
      })
      if (items.length == 0) return
      const items2 = items
        .filter((x) => x.value !== null)
        .sort((a, b) => {
          if (a.value > b.value) return 1
          if (a.value < b.value) return -1
          return 0
        })
      const N = 4
      const dn = Math.round(items.length / N)
      window.zzz = items2
      // TODO сделать в виде цикла
      const series = [
        {
          name: '-',
          data: [], // this.regions.filter((x) => !exists.includes(x.map_code)).map((x) => ({ code: x.map_code, name: x.name, value: 0 })),
          allAreas: true,
        },
        {
          name: `${items2[0].value} — ${items2[dn].value}`,
          data: items2.slice(0, dn),
          allAreas: false,
        },
        {
          name: `${items2[dn + 1].value} — ${items2[dn * 2].value}`,
          data: items2.slice(dn + 1, dn * 2),
          allAreas: false,
        },
        {
          name: `${items2[dn * 2 + 1].value} — ${items2[dn * 3].value}`,
          data: items2.slice(dn * 2 + 1, dn * 3),
          allAreas: false,
        },
        {
          name: `${items2[dn * 3 + 1].value} — ${items2[items2.length - 1].value}`,
          data: items2.slice(dn * 3 + 1, items2.length),
          allAreas: false,
        },
      ]
      const self = this
      self.$set(
        self.mapOptions,
        'colors',
        ['#CCCCCC'].concat(self.selected_indicator.reversed ? self.mapOptions.defaultColors.slice().reverse() : self.mapOptions.defaultColors.slice())
      )
      if (items2[0].value === undefined) this.$set(this.mapOptions, 'series', [])
      else this.$set(this.mapOptions, 'series', series)
    },
    getMap(year) {
      const items = []
      const exists = []
      this.data.index.forEach((region_name, i) => {
        const region = this.getRegionByName(region_name)
        if (region && region.map_code) {
          exists.push(region.map_code)
          items.push({
            code: region.map_code,
            name: region.name,
            value: this.data.data[i][this.data.columns.indexOf(year)],
          })
        }
      })
      if (items.length == 0) return
      const items2 = items.sort((a, b) => {
        if (a.value > b.value) return 1
        if (a.value < b.value) return -1
        return 0
      })
      const N = 4
      const dn = Math.round(items.length / N)
      // TODO сделать в виде цикла
      const series = [
        {
          name: '-',
          data: [], // this.regions.filter((x) => !exists.includes(x.map_code)).map((x) => ({ code: x.map_code, name: x.name, value: 0 })),
          allAreas: true,
        },
        {
          name: 1,
          data: items2.slice(0, dn),
          allAreas: false,
        },
        {
          name: 2,
          data: items2.slice(dn + 1, dn * 2),
          allAreas: false,
        },
        {
          name: 3,
          data: items2.slice(dn * 2 + 1, dn * 3),
          allAreas: false,
        },
        {
          name: 4,
          data: items2.slice(dn * 3 + 1, items.length),
          allAreas: false,
        },
      ]
      const mapOptions = JSON.parse(JSON.stringify(this.mapOptions))
      mapOptions.series = series
      return mapOptions
    },
    handleClick(newTab) {
      this.selected_type = newTab
    },
    async fetchIndicatorData(indicator_id) {
      const { data } = await this.$axios.get(`data/indicator/${indicator_id}/data`)
      return data
    },
    updateSelectedYears(year) {
      const z = this.selected_years.indexOf(year)
      if (z !== -1) {
        this.selected_years.splice(z, 1)
      } else {
        this.selected_years.push(year)
      }
    },
    histogramClick(params) {
      this.histogramSelected = params
    },
  },
}
</script>
