<template>
  <div v-if="hasChartOptions">
    <div v-if="chartOptions2">
      <chart v-if="chartOptions2" :options="chartOptions2" height="600" />
      <remote-control :indicator-y="indicatorIdX" :indicator-x="indicatorIdX" :indicator-z="indicatorIdZ" :ts-y="tm" :ts-x="tmX" :ts-z="tmZ" chart-type="data-chart-xyz" />
      <p class="text-left mt-4 mb-2">Стандартизированные значения</p>
    </div>
    <chart v-if="chartOptions" :options="chartOptions" height="600" />
    <remote-control :indicator-y="indicatorIdX" :indicator-x="indicatorIdX" :indicator-z="indicatorIdZ" :ts-y="tm" :ts-x="tmX" :ts-z="tmZ" chart-type="data-chart-xyz-std" />
  </div>
</template>

<script>
import { Chart } from 'highcharts-vue'
import RemoteControl from '~/components/Remote/RemoteControl'
// import Highcharts from 'highcharts'
// import _highchartOptions from './DataChartXyzOptions'

export default {
  name: 'DataChartXyz',
  components: {
    RemoteControl,
    Chart,
  },
  props: {
    indicatorIdX: {
      type: Number,
      default: null,
    },
    indicatorIdY: {
      type: Number,
      default: null,
    },
    indicatorIdZ: {
      type: Number,
      default: null,
    },
    tm: {
      type: String,
      default: null,
    },
    tmX: {
      type: String,
      default: null,
    },
    tmZ: {
      type: String,
      default: null,
    },
    reversedY: {
      type: Boolean,
      default: null,
      required: false,
    },
    reversedX: {
      type: Boolean,
      default: null,
      required: false,
    },
    reversedZ: {
      type: Boolean,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      chartOptions: null,
      chartOptions2: null,
      regions: null,
      dataX: null,
      dataY: null,
      dataZ: null,
      stdDataX: null,
      stdDataY: null,
      stdDataZ: null,
      indicatorX: null,
      indicatorY: null,
      indicatorZ: null,
      series: null,
      series2: null,
      valueDecimalsX: 4,
      valueDecimalsY: 4,
      valueDecimalsZ: 4,
      // hcInstance: Highcharts,
    }
  },
  computed: {
    defaultChartOptions() {
      return {
        title: {
          text: undefined,
        },
        chart: {
          type: 'bubble',
          zoomType: 'xy',
        },
        // colors: ['#00e396', '#feb019', '#008ffb'],
        plotOptions: {
          bubble: {
            sizeByAbsoluteValue: false,
            maxSize: '25%',
            minSize: '1%',
          },
          series: {
            dataLabels: {
              enabled: false,
              format: `{y:.${this.valueDecimalsY}f}`,
            },
            softThreshold: true,
          },
        },
        tooltip: {
          pointFormat:
            '<strong>{point.name}</strong><br/>' +
            `{point.custom.yIndName}: <strong>{point.y:.${this.valueDecimalsY}f}</strong><br/>` +
            `{point.custom.xIndName}: <strong>{point.x:.${this.valueDecimalsX}f}</strong><br/>` +
            `{point.custom.zIndName}: <strong>{point.z:.${this.valueDecimalsZ}f}</strong><br/>` +
            '',
          valueDecimals: this.valueDecimalsY,
        },
        yAxis: {
          title: {
            text: '',
          },
        },
        series: [],
      }
    },
    hasChartOptions() {
      return (
        this.chartOptions &&
        this.chartOptions.series &&
        this.chartOptions.series.length > 0 &&
        this.chartOptions2 &&
        this.chartOptions2.series &&
        this.chartOptions2.series.length > 0
      )
    },
  },
  watch: {
    indicatorIdX() {
      this.fetchDataX()
    },
    indicatorIdY() {
      this.fetchDataY()
    },
    indicatorIdZ() {
      this.fetchDataZ()
    },
    tm() {
      this.updateCharts()
    },
    tmX() {
      this.updateCharts()
    },
    tmZ() {
      this.updateCharts()
    },
  },
  async mounted() {
    await this.fetchRegions()
    this.fetchData()
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },
    fetchData() {
      this.fetchDataX()
      this.fetchDataY()
      this.fetchDataZ()
    },
    async fetchDataX() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicatorIdX}/data`)
        this.dataX = data.data
        this.indicatorX = data.indicator
        this.stdDataX = data.standart_data
        this.valueDecimalsX = this.indicatorX.name.includes('Число') ? 0 : 4
        this.updateCharts()
      } catch {
        this.series = []
      }
    },
    async fetchDataY() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicatorIdY}/data`)
        this.dataY = data.data
        this.indicatorY = data.indicator
        this.stdDataY = data.standart_data
        this.valueDecimalsY = this.indicatorY.name.includes('Число') ? 0 : 4
        this.updateCharts()
      } catch {
        this.series = []
      }
    },
    async fetchDataZ() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicatorIdZ}/data`)
        this.dataZ = data.data
        this.stdDataZ = data.standart_data
        this.indicatorZ = data.indicator
        this.valueDecimalsZ = this.indicatorZ.name.includes('Число') ? 0 : 4
        this.updateCharts()
      } catch {
        this.series = []
      }
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      return this.getParentRegion(region.id)
    },
    updateCharts() {
      this.chartOptions = null
      this.$nextTick(function() {
        this.updateSeries()
        this.updateSeries2()
        this.updateChart()
      })
    },
    updateSeries() {
      if (!(this.dataX && this.dataY && this.dataZ)) return
      try {
        const series = []
        const colX = this.dataX.columns_hash.indexOf(this.tmX.toString())
        const colY = this.dataY.columns_hash.indexOf(this.tm.toString())
        const colZ = this.dataZ.columns_hash.indexOf(this.tmZ.toString())
        this.dataY.index.forEach((name, i) => {
          const region = this.getRegionByName(name)
          if (region) {
            if (!region.levels.includes('subject')) return
            let fo = this.getParentRegionBy(region.name)
            if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
            if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
            if (!(fo.name in series)) {
              series[fo.name] = {
                name: fo.name,
                data: [],
              }
            }
            try {
              const x = this.dataX.data[this.dataX.index.indexOf(name)][colX]
              const y = this.dataY.data[this.dataY.index.indexOf(name)][colY]
              const z = this.dataZ.data[this.dataZ.index.indexOf(name)][colZ]
              const item = {
                name,
                x,
                y,
                z,
                custom: {
                  xIndName: this.indicatorX.name,
                  yIndName: this.indicatorY.name,
                  zIndName: this.indicatorZ.name,
                },
              }
              if (this.$store.state.core.regName && name === this.$store.state.core.regName) {
                item.marker = {
                  fillColor: '#ff0000',
                  lineWidth: 4,
                  lineColor: '#ff0000',
                }
                item.dataLabels = {
                  enabled: true,
                  format: this.$store.state.core.regName,
                }
              }
              series[fo.name].data.push(item)
            } catch (e) {}
          }
        })
        this.series = Object.keys(series).map((x) => series[x])
      } catch (e) {
        window.console.error(e)
        this.series = []
      }
    },
    updateSeries2() {
      if (!(this.stdDataX && this.stdDataY && this.stdDataZ)) return
      const series = []
      try {
        const colX = this.stdDataX.columns_hash.indexOf(this.tmX.toString())
        const colY = this.stdDataY.columns_hash.indexOf(this.tm.toString())
        const colZ = this.stdDataZ.columns_hash.indexOf(this.tmZ.toString())
        this.stdDataY.index.forEach((name, i) => {
          const region = this.getRegionByName(name)
          if (region) {
            if (!region.levels.includes('subject')) return
            let fo = this.getParentRegionBy(region.name)
            if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
            if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
            if (!(fo.name in series)) {
              series[fo.name] = {
                name: fo.name,
                data: [],
              }
            }
            try {
              const x = this.stdDataX.data[this.dataX.index.indexOf(name)][colX]
              const y = this.stdDataY.data[this.dataY.index.indexOf(name)][colY]
              const z = this.stdDataZ.data[this.dataZ.index.indexOf(name)][colZ]
              const item = {
                name,
                x,
                y,
                z,
                custom: {
                  xIndName: this.indicatorX.name,
                  yIndName: this.indicatorY.name,
                  zIndName: this.indicatorZ.name,
                },
              }
              if (this.$store.state.core.regName && name === this.$store.state.core.regName) {
                item.marker = {
                  fillColor: '#ff0000',
                  lineWidth: 4,
                  lineColor: '#ff0000',
                }
                item.dataLabels = {
                  enabled: true,
                  format: this.$store.state.core.regName,
                }
              }
              series[fo.name].data.push(item)
            } catch (e) {}
          }
        })
        this.series2 = Object.keys(series).map((x) => series[x])
      } catch (e) {
        window.console.error(e)
        this.series2 = []
      }
    },
    updateChart() {
      try {
        const reversed = {
          xAxis: {
            reversed: this.reversedX === null || this.reversedX === undefined ? this.indicatorX.reversed : this.reversedX,
            title: { text: '' },
          },
          yAxis: {
            reversed: this.reversedY === null || this.reversedY === undefined ? this.indicatorY.reversed : this.reversedY,
            title: { text: '' },
          },
          zAxis: {
            reversed: this.reversedZ === null || this.reversedZ === undefined ? this.indicatorZ.reversed : this.reversedZ,
            title: { text: '' },
          },
        }
        const params = {
          series: [...this.series],
        }
        const params2 = {
          series: [...this.series2],
        }
        const chartOptions = { ...this.defaultChartOptions, ...params, ...reversed }
        const chartOptions2 = { ...this.defaultChartOptions, ...params2, ...reversed }

        try {
          const y = params.series.map((a) => a.data.map((a) => a.y)).reduce((p, c) => [...p, ...c], [])
          const minY = Math.min(...y)
          const maxY = Math.max(...y)
          chartOptions.yAxis.min = minY - (maxY - minY) * 0.01
        } catch {}
        try {
          const y = params2.series.map((a) => a.data.map((a) => a.y)).reduce((p, c) => [...p, ...c], [])
          const minY2 = Math.min(...y)
          const maxY2 = Math.max(...y)
          chartOptions2.yAxis.min = minY2 - (maxY2 - minY2) * 0.01
        } catch {}

        if (JSON.stringify(chartOptions) !== JSON.stringify(this.chartOptions)) {
          this.chartOptions = chartOptions
          this.chartOptions2 = chartOptions2
        }
      } catch (e) {
        window.console.error(e)
      }
    },
  },
}
</script>

<style scoped></style>
