<template>
  <div v-if="series">
    <b-card>
      <b-card-header class="mb-2">
        <slot name="header">
          <b-card-title class="text-uppercase font-size-lg font-weight-bold mr-2 mt-2">
            {{ heading }}
            <b-card-sub-title v-if="subheading" class="text-uppercase font-weight-normal font-size-md mt-2 mb-2">
              {{ subheading }}
            </b-card-sub-title>
          </b-card-title>
        </slot>
        <div v-if="data1" class="btn-actions-pane-right">
          <b-button
            v-b-tooltip.hover
            title="Включить/выключить режим Текущее значение к Предыдущему значению"
            tooltip
            :variant="isPercent ? 'focus' : 'outline-focus'"
            class="btn-wide btn-outline-2x ml-2 btn-sm"
            @click="isPercent = !isPercent"
            >%</b-button
          >
        </div>
      </b-card-header>

      <hightchart-base v-if="chartOptions" :options="chartOptions" height="600" />
      <remote-control :indicator-y="indicator_id" chart-type="data-chart" :region-y="region" />
      <div v-if="chartOptionsLog">
        <h5 class="text-center m-3">Логарифмическая шкала</h5>
        <hightchart-base :options="chartOptionsLog" height="600" />
        <remote-control :indicator-y="indicator_id" chart-type="data-chart-log" :region-y="region" />
      </div>
    </b-card>
  </div>
</template>

<script>
import Highcharts from 'highcharts'
import HightchartBase from '~/components/Chart/HighchartBase'
import RemoteControl from '~/components/Remote/RemoteControl'

const RF = 'Российская Федерация'
const BY = 'Республика Беларусь'

export default {
  name: 'DataChart',
  components: {
    RemoteControl,
    HightchartBase,
  },
  props: {
    indicator_id: Number,
    region: String,
    columnContains: {
      type: String,
      default: null,
    },
    colors: {
      type: Array,
      default: () => ['#afabd5', '#575193', '#4dc3cf'],
    },
  },
  data() {
    return {
      data: null,
      data1: null,
      chartOptions: null,
      chartOptionsLog: null,
      series: null,
      columns_i: [],
      columns_hash: [],
      isPercent: false,
      smart_name: '',
      valueDecimals: 2,
    }
  },
  computed: {
    heading() {
      try {
        return this.smart_name.split('/')[0]
      } catch (e) {
        return ''
      }
    },
    subheading() {
      try {
        return this.smart_name.split('/')[1]
      } catch (e) {
        return ''
      }
    },
    highchartOptions() {
      return {
        colors: this.colors,
        title: {
          text: undefined,
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              // format: `{y:.${this.valueDecimals}f}`,
              // format: `{y:.${this.valueDecimals}f}`,
              format: `{y}`,
              style: {
                fontSize: 20,
              },
            },
            softThreshold: true,
          },
          column: {
            color: this.colors[1],
            lineWidth: 4,
            dataLabels: {
              // color: '#fff',
              // backgroundColor: this.colors[1],
              borderColor: '#fff',
              backgroundColor: '#ffffffdd',
              color: '#000',
              padding: 3,
              borderWidth: 1,
              shadow: false,
              style: {
                fontWeight: 'bold',
                textOutline: '',
                fontSize: '12pt',
              },
            },
          },
          spline: {
            lineWidth: 4,
            color: this.colors[2],
            dataLabels: {
              color: '#fff',
              backgroundColor: this.colors[2],
              padding: 3,
              borderColor: '#fff',
              borderWidth: 1,
              shadow: false,
              style: {
                fontWeight: 'bold',
                textOutline: '',
              },
            },
          },
          area: {
            color: this.colors[0],
            lineColor: this.colors[0],
            dataLabels: {
              color: '#fff',
              backgroundColor: this.colors[0],
              padding: 3,
              borderColor: '#fff',
              borderWidth: 1,
              shadow: false,
              style: {
                fontWeight: 'bold',
                textOutline: '',
              },
            },
            fillColor: {
              linearGradient: {
                x1: 0,
                y1: 0,
                x2: 0,
                y2: 1,
              },
              stops: [
                [0, this.colors[0]],
                [
                  1,
                  Highcharts.color(this.colors[0])
                    .setOpacity(0)
                    .get('rgba'),
                ],
              ],
            },
          },
        },
        xAxis: {
          categories: [],
        },
        yAxis: {
          type: 'linear',
          title: { text: null },
        },
        tooltip: {
          shared: true,
        },
        labels: {},
        series: [],
      }
    },
  },
  watch: {
    indicator_id() {
      this.fetchData()
    },
    region() {
      this.updateCharts()
    },
    columnContains() {
      this.updateCharts()
    },
    isPercent() {
      window.console.log(this.isPercent)
      this.updateCharts()
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data`)
        this.data = data.data
        this.data1 = data.data1
        this.indicator = data.indicator
        this.smart_name = this.indicator.smart_name
        this.valueDecimals = this.indicator.name.includes('Число') ? 0 : 4
        this.updateCharts()
      } catch {
        this.series = null
      }
      if (!this.data1) this.isPercent = false
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      return this.getParentRegion(region.id)
    },
    updateCharts() {
      this.updateSeries()
      this.updateChart()
      this.updateChartLog()
    },
    updateSeries() {
      const data = this.isPercent && this.data1 ? this.data1 : this.data
      if (!data || !data.columns_hash) return
      const columns_i = []
      data.columns_hash.forEach((x, i) => {
        if (this.columnContains) {
          if (x.includes(this.columnContains)) {
            columns_i.push(i)
          }
        } else {
          columns_i.push(i)
        }
      })
      this.columns_i = columns_i
      const series = []
      // this.$set(this.chartOptions, 'labels', this.indicator.extra_json.df_columns_hash)
      let region_data = []
      let fo_data = []
      let country_data = []
      try {
        const row_i = data.index.indexOf(this.region)
        region_data = {
          name: this.region,
          type: 'column',
          data: columns_i.map((x) => Math.round(data.data[row_i][x] * 10000) / 10000),
        }
      } catch {
        region_data = null
      }
      try {
        let fo = this.getParentRegionBy(this.region)
        if (fo) {
          if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
          if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
          const row_i2 = data.index.indexOf(fo.name)
          fo_data = {
            name: fo.name,
            type: 'spline',
            data: columns_i.map((x) => Math.round(data.data[row_i2][x] * 10000) / 10000),
          }
        }
      } catch {
        fo_data = null
      }
      window.console.log(data.index)
      try {
        const row_i3 = data.index.indexOf(RF)
        country_data = {
          name: RF,
          type: 'area',
          data: columns_i.map((x) => Math.round(data.data[row_i3][x] * 10000) / 10000),
        }
      } catch (e) {
        country_data = null
      }
      if (!country_data) {
        try {
          const row_i3 = data.index.indexOf(BY)
          country_data = {
            name: BY,
            type: 'area',
            data: columns_i.map((x) => Math.round(data.data[row_i3][x] * 10000) / 10000),
          }
        } catch {
          country_data = null
        }
      }
      if (country_data) series.push(country_data)
      if (region_data) series.push(region_data)
      if (fo_data && (!country_data || (country_data && country_data.name == RF))) series.push(fo_data)
      // series = [country_data, region_data, fo_data]
      this.columns_hash = data.columns_hash
      this.series = series
    },
    updateChart() {
      // chartOptions = Object.assign(chartOptions, { series })
      const params = {
        xAxis: {
          categories: this.columns_i.map((i) => this.columns_hash[i]),
          labels: {
            style: {
              fontSize: '14pt',
              color: '#000',
            },
          },
        },
        series: [...this.series],
      }
      this.chartOptions = { ...this.highchartOptions, ...params }
    },
    updateChartLog() {
      // Логарифмическая шкала
      const params = {
        xAxis: {
          categories: this.columns_i.map((i) => this.columns_hash[i]),
        },
        yAxis: {
          type: 'logarithmic',
          title: { text: null },
        },
        series: [...this.series],
      }

      this.chartOptionsLog = { ...this.highchartOptions, ...params }
    },
  },
}
</script>

<style scoped></style>
