<template>
  <div>
    <histogram v-if="data" :data="data" :histogram-ts="histogram_ts" :tm="tm" :value-decimals="valueDecimals2" @click="histogramClick" />
    <remote-control :indicator-y="indicator_id" :ts-y="histogram_ts" chart-type="data-hist" />
    <b-card v-if="histogramSelected" class="mt-3">
      <b-card-title>Регионы</b-card-title>
      <b-card-sub-title>
        Перечень регионов, у которых значение показателя находится в дианазоне {{ histogramSelected.min.toFixed(2) }} — {{ histogramSelected.max.toFixed(2) }},
        {{ data.columns_hash[column_i] }}
      </b-card-sub-title>
      <b-card-body>
        <span v-for="x in histogramSelectedRows" :key="x.region" class="btn btn-secondary mt-1 ml-1">
          <span v-if="x.value !== null">
            {{ x.region }}
            <span class="badge badge-light">
              {{ x.value.toFixed(valueDecimals2) }}
            </span>
          </span>
        </span>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import Histogram from '~/components/Data/Histogram'
import { myRound } from '~/utils/math'
import RemoteControl from '~/components/Remote/RemoteControl'

export default {
  name: 'DataHist',
  components: {
    RemoteControl,
    Histogram,
  },
  props: {
    indicator_id: Number,
    tm: [Array, String, Number],
    valueDecimals: {
      type: Number,
      default: 4,
    },
  },
  data() {
    return {
      data: null,
      indicator: null,
      histogramSelected: null,
      chartData: null,
      histogram_ts: null,
      valueDecimals2: null,
    }
  },
  computed: {
    histogramSelectedRows() {
      const rows = []
      this.data.data.forEach((x, i) => {
        if (this.histogramSelected.min <= x[this.column_i] && x[this.column_i] <= this.histogramSelected.max) {
          rows.push({ region: this.data.index[i], value: x[this.column_i] })
        }
      })
      return rows
    },
    column_i() {
      return this.data.columns_hash.indexOf(this.tm.toString())
    },
  },
  watch: {
    indicator_id() {
      this.fetchData()
      this.histogramSelected = null
    },
    tm() {
      this.histogramSelected = null
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data?onlysubjects=1`)
      this.data = data.data
      this.indicator = data.indicator
      this.histogram_ts = data.histogram_ts
      this.valueDecimals2 = this.valueDecimals ? this.valueDecimals : this.indicator.name.includes('Число') ? 0 : 4
    },
    updateData() {},
    histogramClick(params) {
      this.histogramSelected = params
    },
    myRound,
  },
}
</script>

<style scoped></style>
