<template>
  <div v-if="options && tm && indicator">
    <div class="chart_title">
      <div v-if="tm" class="header">{{ tm }}</div>
      <!--      <div v-if="indicator" class="subheader">{{ indicator.name }}</div>-->
    </div>
    <highcharts :constructor-type="'mapChart'" :options="options" class="map" style="height: 600px"></highcharts>
    <div class="mt-3">
      <div v-for="(s, idx) in options.series" :key="idx">
        <b-row v-for="d in s.data" :key="d.code3">
          <b-col md="3">{{ d.name }}</b-col>
          <b-col md="9">{{ Math.round(d.z * 100) / 100 }}</b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
const code3 = {
  Armenia: 'ARM',
  Azerbaijan: 'AZE',
  Belarus: 'BLR',
  Kazakhstan: 'KAZ',
  'Kyrgyz Republic': 'KGZ',
  Moldova: 'MDA',
  'Russian Federation': 'RUS',
  Tajikistan: 'TJK',
  Ukraine: 'UKR',
  Uzbekistan: 'UZB',
}

export default {
  name: 'DataWorldMap',
  props: {
    indicator_id: Number,
    tm: {
      type: [String, Array],
    },
    selected_region: {
      type: Array,
    },
  },
  data() {
    return {
      data: null,
      regions: [],
      columns_hash: [],
      indicator: null,
      options: {},
    }
  },
  watch: {
    async indicator_id() {
      this.options = null
      await this.fetchData()
      this.updateMap()
    },
    tm() {
      this.updateMap()
    },
    selected_region() {
      this.updateMap()
    },
  },
  async mounted() {
    await this.fetchData()
    window.xmap = this
  },
  methods: {
    async fetchData() {
      const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data`)
      this.data = data.data
      this.indicator = data.indicator
      this.columns_hash = data.columns_hash
    },

    updateMap() {
      const mapOptions2 = {
        chart: {
          borderWidth: 1,
          map: 'world',
        },

        title: {
          text: '',
        },

        subtitle: {
          text: '',
        },

        legend: {
          enabled: false,
        },

        mapNavigation: {
          enabled: true,
          buttonOptions: {
            verticalAlign: 'bottom',
          },
        },
        colors: ['#2f7ed8', '#8bbc21', '#910000', '#1aadce', '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'],
      }
      const tm = this.tm

      const _series = {}
      const _series_name = 'Commonwealth of Independent States'

      this.data.index.forEach((region_name, i) => {
        const series_name = this.selected_region.includes(region_name) ? region_name : _series_name
        if (!(series_name in _series)) {
          _series[series_name] = {
            name: series_name,
            data: [],
          }
        }

        _series[series_name].data.push({
          code3: code3[region_name],
          name: region_name,
          z: this.data.data[i][this.columns_hash.indexOf(tm.toString())],
        })
      })

      const series = [
        {
          name: 'Countries',
          color: '#E0E0E0',
          enableMouseTracking: false,
        },
        ...Object.keys(_series)
          .map((x) => _series[x])
          .map((x) => ({
            type: 'mapbubble',
            name: this.indicator.name,
            joinBy: ['iso-a3', 'code3'],
            data: x.data,
            minSize: 4,
            maxSize: '12%',
            tooltip: {
              pointFormat: '{point.properties.name}: {point.z:.2f}',
            },
            dataLabels: {
              enabled: true,
              format: '{point.z:.2f}',
            },
          })),
      ]

      this.options = { ...mapOptions2, series }
    },
  },
}
</script>

<style scoped lang="scss">
.chart_title {
  position: absolute;
  z-index: 5;
  top: 6%;
  left: 6%;
  color: #000;
  opacity: 0.3;

  .header {
    font-size: 6em;
  }

  .subheader {
    font-size: 2em;
  }
}
</style>
