<template>
  <div v-if="series">
    <div class="my-chart-panel">
      <div class="my-chart-tm">{{ tm2 }}</div>
      <div class="my-chart-title">{{ indicator.smart_name }}</div>
      <div class="my-chart-regions">
        <span>
          <span v-if="region1" class="region1">{{ region1 }}</span>
          <span v-if="region2" class="region2">{{ region2 }}</span>
          <span v-if="region3" class="region3">{{ region3 }}</span>
        </span>
      </div>
    </div>
    <hightchart-base v-if="chartOptions" :options="chartOptions" height="100%" />
  </div>
</template>

<script>
import HightchartBase from '~/components/Chart/HighchartBase'

const RF = 'Российская Федерация'

const _highchartOptions = {
  // colors: ['#00e396', '#feb019', '#008ffb'],
  chart: {
    height: (9 / 16) * 95 + '%', // 16:9 ratio
  },
  plotOptions: {
    series: {
      dataLabels: {
        enabled: true,
        format: '{y:.2f}',
      },
      softThreshold: true,
    },
    column: {
      color: '#b3b3b3',
      // pointPadding: 0,
      // borderWidth: 0,
      groupPadding: 0.1,
      shadow: true,
      borderColor: '#797979',
      dataLabels: {
        enabled: false,
      },
    },
  },
  tooltip: {
    valueDecimals: 2,
    headerFormat: undefined,
    pointFormat: '{point.name}: <strong>{point.y}</strong><br/>',
  },
  series: [],
  legend: {
    enabled: false,
  },
  yAxis: {
    type: 'logarithmic',
    title: { text: '' },
  },
}

export default {
  name: 'DataChartRating',
  components: {
    HightchartBase,
  },
  props: {
    indicatorId: [Number, String],
    region1: {
      type: String,
      default: null,
    },
    region2: {
      type: String,
      default: null,
    },
    region3: {
      type: String,
      default: null,
    },
    tm: {
      type: [Number, String],
      default: null,
    },
  },
  data() {
    return {
      data: null,
      chartOptions: null,
      chartOptionsLog: null,
      series: null,
      tm2: null,
    }
  },
  computed: {},
  watch: {
    indicatorId() {
      this.fetchData()
    },
    region1() {
      this.updateCharts()
    },
    region2() {
      this.updateCharts()
    },
    region3() {
      this.updateCharts()
    },
    tm() {
      this.updateCharts()
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
    window.xcra = this
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicatorId}/data`)
        this.data = data.data
        this.indicator = data.indicator
        this.updateCharts()
      } catch {
        this.series = null
      }
    },
    updateCharts() {
      this.updateSeries()
      this.updateChart()
    },
    updateSeries() {
      let series = []
      this.tm2 = this.tm ? this.tm.toString() : this.data.columns_hash[this.data.columns_hash.length - 1].toString()
      const col = this.data.columns_hash.indexOf(this.tm2)
      const data = this.data.index.splice(0, 19).map((region_name, i) => ({
        name: region_name,
        y: this.data.data[i][col],
        color:
          region_name == RF
            ? '#ea5353'
            : region_name.includes('федеральный')
            ? '#024ea1'
            : region_name == this.region1
            ? '#FF7F00'
            : region_name == this.region2
            ? '#009427'
            : region_name == this.region3
            ? '#9B4E00'
            : undefined,
      }))
      data.sort((a, b) => (a.y > b.y ? -1 : a.y < b.y ? 1 : 0))
      series = [{ type: 'column', data }]
      this.series = series
    },
    updateChart() {
      if (!this.series) return
      window.xxr = this
      const params = {
        xAxis: {
          categories: this.series[0].data.map((x) => x.name),
          title: {
            text: '',
          },
        },
        // yAxis: {
        //   type: 'logarithmic',
        // },
        series: [...this.series],
      }
      this.chartOptions = { ..._highchartOptions, ...params }
    },
  },
}
</script>

<style scoped lang="scss">
.my-chart-panel {
  position: absolute;
  font-family: 'Noto Serif';
  top: 5px;
  right: 60px;
  z-index: 1000;
  text-align: right;
  width: 90%;
}

.my-chart-tm {
  font-size: 30pt;
  color: #1e3c72;
  font-weight: bold;
}
.my-chart-title {
  margin-top: 0.5em;
  font-size: 20pt;
  width: 50%;
  margin-left: auto;
  font-weight: bold;
}

.my-chart-regions {
  margin-top: 1.3em;
  font-size: 25pt;
  /*font-weight: bold;*/

  > span {
    color: white;
    display: inline-block;
    line-height: 1em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    > span {
      padding: 8px;
      color: white;
      text-align: left;
      display: block;
    }
  }

  .region1 {
    background-color: #ff7f00;
  }
  .region2 {
    background-color: #009427;
  }

  .region3 {
    background-color: #9b4e00;
  }
}
</style>
