<template>
  <div>
    <highcharts v-if="data" :constructor-type="'mapChart'" :options="getMap(tm)" class="map" style="height: 600px"></highcharts>
  </div>
</template>

<script>
import { myRound } from '~/utils/math'
export default {
  name: 'DataMap',
  props: {
    indicator_id: Number,
    tm: String || Array,
    mapId: {
      type: String,
      default: 'ru-ru',
    },
  },
  data() {
    return {
      data: null,
      regions: [],
      columns_hash: [],
      indicator: null,
      mapOptions: {
        defaultColors: ['#F73F00', '#F7A200', '#F7E300', '#50D800'],
        colors: ['#F73F00', '#F7A200', '#F7E300', '#50D800'],
        chart: {
          map: this.mapId,
          spacingBottom: 20,
          animation: false,
        },
        title: {
          text: '',
        },
        legend: {
          enabled: true,
        },
        plotOptions: {
          series: {
            allAreas: false,
          },
          map: {
            allAreas: false,
            joinBy: ['hasc', 'code'],
            dataLabels: {
              enabled: false,
              color: '#FFFFFF',
              style: {
                fontWeight: 'bold',
              },
              // Only show dataLabels for areas with high label rank
              format: null,
              // formatter() {
              //   if (this.point.properties && this.point.properties.labelrank.toString() < 5) {
              //     return this.point.properties['iso-a2']
              //   }
              // },
            },
            tooltip: {
              headerFormat: '',
              pointFormat: '{point.options.name}: <b>{point.value}</b>',
            },
          },
        },
        series: [],
      },
    }
  },
  watch: {
    indicator_id() {
      this.fetchData()
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
    window.xmap = this
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data`)
      this.data = data.data
      this.indicator = data.indicator
      this.columns_hash = data.columns_hash
    },

    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },

    setDataLabel(item, backgroundColorIndex) {
      if (this.$store.state.core.regName && item.name === this.$store.state.core.regName) {
        item.dataLabels = {
          enabled: true,
          format: this.$store.state.core.regName + ' {point.value}',
          backgroundColor: this.mapOptions.defaultColors[backgroundColorIndex] + 'C0',
          borderRadius: 4,
          padding: 4,
          style: {
            fontSize: 14,
          },
          shadow: {
            color: '#777',
            opacity: 0.3,
          },
        }
        item.color = '#8b00ff'
      } else {
        item.dataLabels = { enabled: false }
        item.color = undefined
      }
      return item
    },

    getMap(tm) {
      const items = []
      const exists = []
      this.data.index.forEach((region_name, i) => {
        const region = this.getRegionByName(region_name)
        if (region && region.map_code) {
          exists.push(region.map_code)
          const item = {
            code: region.map_code,
            name: region.name,
            value: parseInt(this.data.data[i][this.columns_hash.indexOf(tm.toString())] * 10000) / 10000,
          }
          items.push(item)
        } else {
          window.console.log('Не найден ', region_name)
        }
      })
      if (items.length == 0) return
      const items2 = items.sort((a, b) => {
        if (a.value > b.value) return 1
        if (a.value < b.value) return -1
        return 0
      })
      const N = 4
      const dn = Math.round(items.length / N)
      // TODO сделать в виде цикла
      const series = [
        {
          name: '-',
          data: [], // this.regions.filter((x) => !exists.includes(x.map_code)).map((x) => ({ code: x.map_code, name: x.name, value: 0 })),
          allAreas: true,
        },
        {
          name: `${myRound(items2[0].value)} — ${myRound(items2[dn - 1].value)}`,
          data: items2.slice(0, dn).map((x) => this.setDataLabel(x, 0)),
          allAreas: false,
        },
        {
          name: `${myRound(items2[dn].value)} — ${myRound(items2[dn * 2 - 1].value)}`,
          data: items2.slice(dn, dn * 2).map((x) => this.setDataLabel(x, 1)),
          allAreas: false,
        },
        {
          name: `${myRound(items2[dn * 2].value)} — ${myRound(items2[dn * 3 - 1].value)}`,
          data: items2.slice(dn * 2, dn * 3).map((x) => this.setDataLabel(x, 2)),
          allAreas: false,
        },
        {
          name: `${myRound(items2[dn * 3].value)} — ${myRound(items2[items2.length - 1].value)}`,
          data: items2.slice(dn * 3, items2.length).map((x) => this.setDataLabel(x, 3)),
          allAreas: false,
        },
      ]
      this.series = series
      const mapOptions = Object.assign(this.mapOptions, {
        series,
        colors: ['#CCCCCC'].concat(this.indicator.reversed ? this.mapOptions.defaultColors.slice().reverse() : this.mapOptions.defaultColors.slice()),
      })
      return mapOptions
    },
  },
}
</script>

<style scoped></style>
