<template>
  <div v-if="hasChartOptions">
    <chart-title v-if="indicatorY" :title="tm" :subtitle="indicatorY.name" />
    <hightchart-base :options="chartOptions" height="600" />
  </div>
</template>

<script>
import _highchartOptions from './DataChartXyzPlainOptions'
import HightchartBase from '~/components/Chart/HighchartBase'
import ChartTitle from '~/components/Chart/ChartTitle'

export default {
  name: 'DataChartXyzPlain',
  components: {
    ChartTitle,
    HightchartBase,
  },
  props: {
    indicatorIdX: {
      type: Number,
      default: null,
    },
    indicatorIdY: {
      type: Number,
      default: null,
    },
    indicatorIdZ: {
      type: Number,
      default: null,
    },
    tm: {
      type: String,
      default: null,
    },
    tmX: {
      type: String,
      default: null,
    },
    tmZ: {
      type: String,
      default: null,
    },
    selectedRegion: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      chartOptions: null,
      series: [],
      regions: null,
      dataX: null,
      dataY: null,
      dataZ: null,
      stdDataX: null,
      stdDataY: null,
      stdDataZ: null,
      indicatorX: null,
      indicatorY: null,
      indicatorZ: null,
      doFullUpdate: true,
      doAnimation: false,
    }
  },
  computed: {
    hasChartOptions() {
      return this.chartOptions && this.chartOptions.series && this.chartOptions.series.length > 0
    },
  },
  watch: {
    indicatorIdX() {
      this.fetchData()
    },
    indicatorIdY() {
      this.fetchData()
    },
    indicatorIdZ() {
      this.fetchData()
    },
    tm() {
      this.updateCharts()
    },
    tmX() {
      this.updateCharts()
    },
    tmZ() {
      this.updateCharts()
    },
    selectedRegion() {
      this.doFullUpdate = true

      this.updateCharts()
      this.$nextTick(() => {
        this.updateCharts()
      })
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
  },
  methods: {
    cleanData() {
      this.series = []
      this.chartOptions = null
      this.doFullUpdate = true
    },
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },
    async fetchData() {
      this.doFullUpdate = true
      this.chartOptions = null
      this.series = []
      await this.fetchDataX()
      await this.fetchDataY()
      await this.fetchDataZ()
      this.updateCharts()
    },
    async fetchDataX() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicatorIdX}/data`)
        this.dataX = data.data
        this.indicatorX = data.indicator
      } catch (e) {
        window.console.error(e)
        this.cleanData()
      }
    },
    async fetchDataY() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicatorIdY}/data`)
        this.dataY = data.data
        this.indicatorY = data.indicator
      } catch (e) {
        window.console.error(e)
        this.cleanData()
      }
    },
    async fetchDataZ() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicatorIdZ}/data`)
        this.dataZ = data.data
        this.indicatorZ = data.indicator
      } catch (e) {
        window.console.error(e)
        this.cleanData()
      }
    },
    updateCharts() {
      this.chartOptions = { ..._highchartOptions }
      this.$nextTick(function() {
        this.updateSeries()
        this.updateChart()
      })
    },
    canUpdate() {
      return this.tmX && this.tm && this.tmZ && this.dataX && this.dataY && this.dataZ
    },
    updateSeries() {
      const _series_name = 'Commonwealth of Independent States'
      const series = {
        [_series_name]: {
          name: _series_name,
          data: [],
        },
      }
      try {
        const colX = this.dataX.columns_hash.indexOf(this.tmX.toString())
        const colY = this.dataY.columns_hash.indexOf(this.tm.toString())
        const colZ = this.dataZ.columns_hash.indexOf(this.tmZ.toString())

        this.dataY.index.forEach((name, i) => {
          try {
            const x = this.dataX.data[this.dataX.index.indexOf(name)][colX]
            const y = this.dataY.data[this.dataY.index.indexOf(name)][colY]
            const z = this.dataZ.data[this.dataZ.index.indexOf(name)][colZ]
            const item = {
              name,
              x,
              y,
              z,
              custom: {
                xIndName: this.indicatorX.name,
                yIndName: this.indicatorY.name,
                zIndName: this.indicatorZ.name,
              },
            }
            const seriesName = this.selectedRegion.includes(name) ? name : _series_name
            if (!(seriesName in series)) {
              series[seriesName] = {
                name: seriesName,
                data: [],
              }
            }
            series[seriesName].data.push(item)
          } catch (e) {}
        })
        this.series = Object.keys(series).map((x) => series[x])
      } catch (e) {
        this.series = []
      }
    },
    updateChart() {
      try {
        if (this.doFullUpdate) {
          const colX = this.dataX.columns_hash.indexOf('2000')
          const colY = this.dataY.columns_hash.indexOf('2000')
          const colZ = this.dataZ.columns_hash.indexOf('2000')
          const axis = {
            xAxis: {
              startOnTick: false,
              endOnTick: false,
              reversed: this.indicatorX.reversed,
              min: Math.min(...this.dataX.data.map((x) => Math.min(...x.filter((y, i) => y && i >= colX)))) - 1,
              max: Math.max(...this.dataX.data.map((x) => Math.max(...x.filter((y, i) => y && i >= colX)))) + 1,
              title: { text: this.indicatorX.name },
            },
            yAxis: {
              startOnTick: false,
              endOnTick: false,
              reversed: this.indicatorY.reversed,
              min: Math.min(...this.dataY.data.map((x) => Math.min(...x.filter((y, i) => y && i >= colY)))) - 1,
              max: Math.max(...this.dataY.data.map((x) => Math.max(...x.filter((y, i) => y && i >= colY)))) + 1,
              title: { text: this.indicatorY.name },
            },
            zAxis: {
              reversed: this.indicatorZ.reversed,
              min: Math.min(...this.dataZ.data.map((x) => Math.min(...x.filter((y, i) => y && i >= colZ)))) - 1,
              max: Math.max(...this.dataZ.data.map((x) => Math.max(...x.filter((y, i) => y && i >= colZ)))) + 1,
              title: { text: this.indicatorZ.name },
            },
          }
          const params = {
            series: [], // this.series,
            colors: ['#3B97B2', '#ff0000', '#67BC42', '#E6D605', '#BC36FE', '#000'],
          }
          this.chartOptions = { ..._highchartOptions, ...params, ...axis }
          this.doFullUpdate = false
        } else {
          setTimeout(this.runAnimation(0), 300)
        }
      } catch (e) {
        window.console.error(e)
        this.chartOptions = null
      }
    },
    runAnimation(n) {
      if (this.doFullUpdate) return
      if (n === 10) {
        this.$set(this.chartOptions, 'series', this.series)
      } else {
        setTimeout(this.runAnimation(n + 1), 300)
      }
    },
  },
  renderError(h, err) {
    window.console.log(err)
    return h('pre', { style: { color: 'red' } }, err.stack)
  },
}
</script>
