<template>
  <div>
    <hightchart-base v-if="chartOptions" :options="chartOptions" :style="{ height: height }"></hightchart-base>
  </div>
</template>

<script>
import { myRound } from '~/utils/math'
import HightchartBase from '@/components/Chart/HighchartBase'

const _chartOptions = {
  chart: {
    polar: true,
    type: 'line',
    backgroundColor: 'none',
  },

  colors: ['#ce1720'],

  title: {
    text: null,
  },

  legend: {
    enabled: false,
  },

  pane: {
    size: '80%',
  },

  xAxis: {
    // categories: ['Sales', 'Marketing', 'Development', 'Customer Support', 'Information Technology', 'Administration'],
    tickmarkPlacement: 'on',
    lineWidth: 0,
    labels: {
      style: {
        color: '#0002f8f',
        cursor: 'default',
        fontSize: '16px',
      },
    },
  },

  yAxis: {
    gridLineInterpolation: 'polygon',
    lineWidth: 0,
    min: 0,
    labels: {
      style: {
        color: '#afabd5',
        cursor: 'default',
        fontSize: '16px',
      },
    },
    gridLineWidth: 2,
    gridLineColor: '#c4c5c5',
  },

  series: [],

  plotOptions: {
    series: {
      lineWidth: 5,
      color: '#afabd5',
      marker: {
        radius: 10,
        fillColor: {
          radialGradient: { cx: 0.5, cy: 0.2, r: 0.5 },
          stops: [
            [0, '#05d09bff'], // start
            [1, '#47ece9ff'], // end
          ],
        },
        lineWidth: 3,
        lineColor: '#475d8a',
      },
    },
    dataLabels: {
      color: 'blue',
    },
  },

  responsive: {
    rules: [
      {
        condition: {
          maxWidth: 500,
        },
        chartOptions: {
          legend: {
            align: 'center',
            verticalAlign: 'bottom',
            layout: 'horizontal',
          },
          pane: {
            size: '70%',
          },
        },
      },
    ],
  },
}

export default {
  name: 'DataSpider',
  components: {
    HightchartBase,
  },
  props: {
    indicator_id: Number,
    histogramTs: {
      type: Object,
      default: null,
    },
    tm: {
      type: [String, Number],
      default: null,
    },
    height: {
      type: String,
      default: '400px',
    },
  },
  data() {
    return {
      data: null,
      indicator: null,
      histogramSelected: null,
      chartData: null,
      histogram_ts: null,
      column_i: null,
      chartOptions: null,
    }
  },
  computed: {},
  watch: {
    indicator_id() {
      this.fetchData()
      this.updateData()
    },
    tm() {
      this.updateData()
    },
  },
  async mounted() {
    await this.fetchData()
  },
  methods: {
    async fetchRegions() {},

    async fetchData() {
      const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data?onlysubjects=1`)
      this.regions = data.data.index
      this.data = data.data
      this.indicator = data.indicator
      this.histogram_ts = data.histogram_ts
      this.column_i = data.columns_hash.indexOf(this.tm.toString())
      this.updateData()
    },
    updateData() {
      this.updateChartOptions()
    },
    updateChartOptions() {
      if (!this.data || !this.data.columns_hash.indexOf(this.tm.toString())) return
      const column_i = this.data.columns_hash.indexOf(this.tm.toString())

      // const self = this
      // const data = this.data.data
      const params = {
        xAxis: {
          categories: this.data.index,
          tickmarkPlacement: 'on',
          lineWidth: 0,
          labels: {
            style: {
              color: '#0000ff',
              cursor: 'default',
              fontSize: '24px',
            },
          },
          gridLineWidth: 2,
          gridLineColor: '#c4c5c5',
        },
        series: [
          {
            data: this.data.data.map((x) => x[column_i]),
            pointPlacement: 'on',
            name: 'Факт',
          },
        ],
      }
      this.chartOptions = { ..._chartOptions, ...params }
      window.console.log(this.chartOptions)
    },
    myRound,
  },
}
</script>

<style scoped></style>
