<template>
  <b-table v-if="df" sticky-header="100%" striped hover :items="tableItems" :fields="tableFields" :tbody-tr-class="rowClass" />
</template>

<script>
export default {
  name: 'DataForgeTableWidget',
  props: {
    df: {
      type: Object,
      default: null,
    },
    indexField: {
      type: String,
      default: () => 'Регион',
    },
    exceptFields: {
      type: Array,
      default: () => ['Регион'],
    },
    selectedIndex: {
      type: String,
      default: null,
    },
  },
  computed: {
    tableFields() {
      return [{ key: this.indexField, stickyColumn: true, isRowHeader: true }, ...this.df.getColumnNames().filter((x) => !this.exceptFields.includes(x))]
    },
    tableItems() {
      return this.df.toArray().map((x) => (x[this.indexField] === this.selectedIndex ? { status: 'awesome', ...x } : x))
    },
  },
  methods: {
    rowClass(item, type) {
      if (!item || type !== 'row') return
      if (this.region) {
        if (item[this.indexField] === this.selectedIndex) return 'table-success'
      }
    },
  },
}
</script>

<style scoped></style>
