<template>
  <div>
    <highcharts v-if="data" constructor-type="mapChart" :options="getMap(tm)" class="map" style="height: 600px"></highcharts>
  </div>
</template>

<script>
import { myRound } from '~/utils/math'

const barData = {
  min: null,
  max: null,
}

export default {
  name: 'DataMapBar',
  props: {
    indicator_id: Number,
    tm: String || Array,
    mapId: {
      type: String,
      default: 'ru-ru',
    },
  },
  data() {
    return {
      data: null,
      regions: [],
      columns_hash: [],
      indicator: null,
      mapOptions: {
        defaultColors: ['#F73F0033', '#F7A20033', '#F7E30033', '#50D80033'],
        colors: ['#F73F0033', '#F7A20033', '#F7E30033', '#50D80033'],
        chart: {
          map: this.mapId,
          spacingBottom: 20,
        },
        title: {
          text: '',
        },
        legend: {
          enabled: true,
        },
        plotOptions: {
          series: {
            allAreas: false,
          },
          map: {
            allAreas: false,
            joinBy: ['hasc', 'code'],
            dataLabels: {
              useHTML: true,
              enabled: true,
              color: '#FFFFFF',
              allowOverlap: true,
              style: {
                fontWeight: 'bold',
              },
              // Only show dataLabels for areas with high label rank
              format: null,
              formatter() {
                const point = this.point
                const v = point.value
                window.console.log(point)
                if (v) {
                  // return ``
                  const p = ((v - barData.min) / (barData.max - barData.min) + 0.1) * 200
                  const back0 = point.color.substring(0, 7)
                  const html =
                    '<div style="text-align: center">' +
                    `<div style="margin: 0 auto;width:40px;border-bottom:2px solid ${back0};display:block">` +
                    `<div style="margin: 0 auto;background:${back0};height:${p}px;width:30px;display:block;text-align:center;">&nbsp;</div>` +
                    '</div>' +
                    `<div style="color:#333;text-align: center">${v}</div>` +
                    '</div>'
                  window.setTimeout(function() {
                    if (point.options.code == 'BY.HM')
                      point.dataLabel.attr({
                        x: point.plotX + 30,
                      })
                  })
                  return html
                }
              },
            },
            tooltip: {
              headerFormat: '',
              pointFormat: '{point.options.name}: <b>{point.value:.2f}</b>',
            },
          },
        },
        series: [],
      },
    }
  },
  watch: {
    indicator_id() {
      this.fetchData()
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
    window.xmap = this
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data`)
      this.data = data.data
      this.indicator = data.indicator
      this.columns_hash = data.columns_hash
    },

    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },

    getMap(tm) {
      const items = []
      const exists = []
      this.data.index.forEach((region_name, i) => {
        const region = this.getRegionByName(region_name)
        if (region && region.map_code) {
          exists.push(region.map_code)
          items.push({
            code: region.map_code,
            name: region.name,
            value: this.data.data[i][this.columns_hash.indexOf(tm.toString())],
          })
        } else {
          window.console.log('Не найден ', region_name)
        }
      })
      barData.min = Math.min(...items.map((x) => x.value))
      barData.max = Math.max(...items.map((x) => x.value))
      if (items.length == 0) return
      const items2 = items.sort((a, b) => {
        if (a.value > b.value) return 1
        if (a.value < b.value) return -1
        return 0
      })
      const N = 4
      const dn = Math.round(items.length / N)
      // TODO сделать в виде цикла
      let series = [
        {
          name: '-',
          data: [], // this.regions.filter((x) => !exists.includes(x.map_code)).map((x) => ({ code: x.map_code, name: x.name, value: 0 })),
          allAreas: true,
        },
        {
          name: `${myRound(items2[0].value)} — ${myRound(items2[dn - 1].value)}`,
          data: items2.slice(0, dn),
          allAreas: false,
        },
        {
          name: `${myRound(items2[dn].value)} — ${myRound(items2[dn * 2 - 1].value)}`,
          data: items2.slice(dn, dn * 2),
          allAreas: false,
        },
        {
          name: `${myRound(items2[dn * 2].value)} — ${myRound(items2[dn * 3 - 1].value)}`,
          data: items2.slice(dn * 2, dn * 3),
          allAreas: false,
        },
        {
          name: `${myRound(items2[dn * 3].value)} — ${myRound(items2[items2.length - 1].value)}`,
          data: items2.slice(dn * 3, items2.length),
          allAreas: false,
        },
      ]
      series = {
        data: items2,
      }
      this.series = series
      const mapOptions = Object.assign(this.mapOptions, {
        series,
        colors: ['#CCCCCC'].concat(this.indicator.reversed ? this.mapOptions.defaultColors.slice().reverse() : this.mapOptions.defaultColors.slice()),
      })
      return mapOptions
    },
  },
}
</script>

<style scoped></style>
