<template>
  <div>
    <highcharts v-if="mapOptions" :constructor-type="'mapChart'" :options="mapOptions" class="map" style="height: 600px"></highcharts>
  </div>
</template>

<script>
import perGeoJson from '~/assets/maps/mo/per.geo.json'
import ivaGeoJson from '~/assets/maps/mo/iva.geo.json'

const mapOptions = {
  defaultColors: ['#F73F00', '#F7A200', '#F7E300', '#50D800'],
  colors: ['#F73F00', '#F7A200', '#F7E300', '#50D800'],
  title: {
    text: '',
  },
  legend: {
    enabled: true,
  },
  plotOptions: {
    series: {
      allAreas: true,
    },
    map: {
      allAreas: true,
      dataLabels: {
        enabled: false,
        color: '#FFFFFF',
        style: {
          fontWeight: 'bold',
        },
      },
      tooltip: {
        headerFormat: '',
        pointFormat: '{point.options.name}: <b>{point.value:.2f}</b>',
      },
    },
  },
  series: [{ name: 'aaaa' }],
}

export default {
  name: 'DataMapMo',
  props: {
    indicator_id: Number,
    tm: String || Array,
    mapId: {
      type: String,
      default: 'ru-ru',
    },
    mapName: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      data: null,
      mapJson: null,
      regions: [],
      columns_hash: [],
      indicator: null,
      mapOptions: null,
    }
  },
  watch: {
    indicator_id() {},
  },
  mounted() {
    this.updateMap()
  },
  methods: {
    updateMap() {
      this.updateMapJson()
      const series = { series: [{ name: 'aaa' }] }
      const chart = {
        chart: {
          map: this.mapJson,
          spacingBottom: 20,
          animation: false,
        },
      }
      const opt = { ...mapOptions, ...chart, ...series }
      this.mapOptions = opt
    },
    updateMapJson() {
      switch (this.mapName) {
        case 'Ивановская область':
          this.mapJson = ivaGeoJson
          break
        case 'Пермский край':
          this.mapJson = perGeoJson
          break
        default:
          this.mapJson = null
          break
      }
    },
  },
}
</script>

<style scoped></style>
