<template>
  <div>
    <highcharts v-if="data && data2" constructor-type="mapChart" :options="getMap(tm)" class="map" style="height: 600px"></highcharts>
  </div>
</template>

<script>
// import { myRound } from '~/utils/math'

const barData = {
  min: null,
  max: null,
}

export default {
  name: 'DataMapBarMany',
  props: {
    indicator_id: Number,
    indicator2_id: Number,
    tm: String || Array,
    mapId: {
      type: String,
      default: 'ru-ru',
    },
  },
  data() {
    return {
      data: null,
      data2: null,
      regions: [],
      columns_hash: [],
      columns_hash2: [],
      indicator: null,
      indicator2: null,
      mapOptions: {
        // defaultColors: ['#F73F0033', '#F7A20033', '#F7E30033', '#50D80033'],
        colors: ['#c5d6bb'],
        chart: {
          map: this.mapId,
          spacingBottom: 20,
        },
        title: {
          text: '',
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
          series: {
            allAreas: false,
          },
          map: {
            borderColor: '#AAA',
            borderWidth: 2,
            allAreas: false,
            joinBy: ['hasc', 'code'],
            dataLabels: {
              useHTML: true,
              enabled: true,
              color: '#FFFFFF',
              allowOverlap: true,
              style: {
                fontWeight: 'bold',
              },
              // Only show dataLabels for areas with high label rank
              format: null,
              formatter() {
                const point = this.point
                const v = point.value
                const v2 = point.options.value2
                window.console.log(point)
                if (v) {
                  // return ``
                  const p = ((v - barData.min) / (barData.max - barData.min) + 0.1) * 200
                  const p2 = ((v2 - barData.min) / (barData.max - barData.min) + 0.1) * 200
                  const back0 = '#DC4128'
                  const back2 = '#dc28be'
                  // const back0 = point.color.substring(0, 7)
                  const html = [
                    '<div style="height:200px;display: flex;align-items: flex-end;margin-top:-100px">',
                    '<div style="display:flex;align-items:flex-end"><div style="text-align:center">',
                    `<div style="margin: 0 auto;width:40px;border-bottom:2px solid ${back0};display:block">`,
                    `<div style="margin: 0 auto;background:${back0};height:${p}px;width:30px;display:block;text-align:center;">&nbsp;</div>`,
                    '</div>',
                    `<div style="color:#333;text-align: center">${v}</div>`,
                    '</div>',
                    '<div style="text-align:center">',
                    `<div style="margin: 0 auto;width:40px;border-bottom:2px solid ${back2};display:block">`,
                    `<div style="margin: 0 auto;background:${back2};height:${p2}px;width:30px;display:block;text-align:center;">&nbsp;</div>`,
                    '</div>',
                    `<div style="color:#333;text-align: center">${v2}</div>`,
                    '</div></div>',
                    '</div>',
                    `<div style="color: black;text-align: center">${point.options.name.replace(' ', '<br/>')}</div>`,
                  ]
                  window.setTimeout(function() {
                    switch (point.options.code) {
                      case 'BY.HM':
                        point.dataLabel.attr({ x: point.plotX + 30 })
                        break
                      case 'BY.HR':
                        point.dataLabel.attr({ x: point.plotX - 120 })
                        break
                      case 'BY.BR':
                        point.dataLabel.attr({ x: point.plotX + 5 })
                        break
                      case 'BY.VI':
                        point.dataLabel.attr({ x: point.plotX + 60 })
                        break
                    }
                  })
                  return html.join('')
                }
              },
            },
            tooltip: {
              headerFormat: '',
              pointFormat: '{point.options.name}: <b>{point.value:.2f}</b>',
            },
          },
        },
        series: [],
      },
    }
  },
  watch: {
    indicator_id() {
      this.fetchData()
    },
    indicator2_id() {
      this.fetchData2()
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
    await this.fetchData2()
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data?onlysubjects=1`)
      this.data = data.data
      this.indicator = data.indicator
      this.columns_hash = data.columns_hash
    },
    async fetchData2() {
      const { data } = await this.$axios.get(`/data/indicator/${this.indicator2_id}/data?onlysubjects=1`)
      this.data2 = data.data
      this.indicator2 = data.indicator
      this.columns_hash2 = data.columns_hash
    },

    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },

    getMap(tm) {
      const items = []
      const exists = []
      this.data.index.forEach((region_name, i) => {
        const region = this.getRegionByName(region_name)
        if (region && region.map_code) {
          exists.push(region.map_code)
          items.push({
            code: region.map_code,
            name: region.name.replace('г. ', ''),
            value: this.data.data[i][this.columns_hash.indexOf(tm.toString())],
            value2: this.data2.data[i][this.columns_hash2.indexOf(tm.toString())],
          })
        } else {
          window.console.log('Не найден ', region_name)
        }
      })
      barData.min = Math.min(...items.map((x) => x.value), ...items.map((x) => x.value2))
      barData.max = Math.max(...items.map((x) => x.value), ...items.map((x) => x.value2))
      const series = {
        data: items,
        dataLabels: {
          enabled: true,
          color: '#FFFFFF',
          format: '{point.code}',
        },
      }
      this.series = series
      const mapOptions = Object.assign(this.mapOptions, {
        series,
        // colors: ['#CCCCCC'].concat(this.indicator.reversed ? this.mapOptions.defaultColors.slice().reverse() : this.mapOptions.defaultColors.slice()),
      })
      return mapOptions
    },
  },
}
</script>

<style scoped></style>
