<template>
  <div>
    <b-table v-if="data" striped hover :items="items" :fields="fields" class="text-right" :tbody-tr-class="rowClass"></b-table>
    <div style="display: flex; justify-content: space-between">
      <div>
        <b-button :href="exportUrl" target="_blank" variant="outline-secondary">Экспорт в Excel</b-button>
      </div>
      <remote-control :indicator-y="indicator_id" chart-type="data-table" />
    </div>
  </div>
</template>

<script>
import DataMixin from '~/components/Widgets/DataMixin'
import RemoteControl from '~/components/Remote/RemoteControl'

export default {
  name: 'DataTable',
  components: { RemoteControl },
  mixins: [DataMixin],
  props: {
    ...DataMixin.props,
  },
  computed: {
    fields() {
      return [{ key: 'REGION', label: 'Регион' }].concat(
        this.columns_hash.map((x, i) => ({
          key: 'c' + i,
          label: x,
          // variant: parseInt(x) > 2019 ? 'danger' : undefined,
        }))
      )
    },
    items() {
      return this.data.data.map((x, i) => Object.assign({ REGION: this.data.index[i] }, ...x.map((y, i) => ({ ['c' + i]: y === null ? null : Math.round(y * 10000) / 10000 }))))
    },
    exportUrl() {
      return this.$axios.defaults.baseURL + `data/indicator/${this.indicator_id}/data/export/excel`
    },
  },
  mounted() {
    window.xxt = this
  },
  methods: {
    rowClass(item, type) {
      if (!item || type !== 'row') return
      if (this.$store.state.core.regName) {
        if (item.REGION === this.$store.state.core.regName) return 'table-success'
      }
    },
  },
}
</script>

<style scoped></style>
