<template>
  <div>
    <div v-if="el.options.type == 'Таблица'" class="border-top p-3" style="overflow-x: scroll">
      <data-table :indicator_id="el.indicator.id" />
    </div>
    <div v-if="el.options.type == 'График (динамика)'" class="border-top p-3">
      <data-chart :indicator_id="el.indicator.id" :region="el.options.region" />
    </div>
    <div v-if="el.options.type == 'Картограмма'" class="border-top p-3">
      <data-map :indicator_id="el.indicator.id" :tm="el.options.tm" :map-id="el.indicator.tree_name.includes('Беларусь') ? 'by-ru' : 'ru-ru'" />
    </div>
    <div v-if="el.options.type == 'Гистограмма'" class="border-top p-3">
      <data-hist :indicator_id="el.indicator.id" :tm="el.options.tm" />
    </div>
  </div>
</template>

<script>
import DataTable from '~/components/Widgets/DataTable'
import DataMap from '~/components/Widgets/DataMap'
import DataChart from '~/components/Widgets/DataChart'
import DataHist from '~/components/Widgets/DataHist'

export default {
  name: 'DataWidget',
  components: {
    DataHist,
    DataTable,
    DataMap,
    DataChart,
  },
  props: {
    el: Object,
  },
}
</script>

<style scoped></style>
