<template>
  <div v-if="series">
    <b-card>
      <b-card-header class="mb-2">
        <slot name="header">
          <b-card-title class="text-uppercase font-size-lg font-weight-bold mr-2 mt-2">
            {{ heading }}
            <b-card-sub-title v-if="subheading" class="text-uppercase font-weight-normal font-size-md mt-2 mb-2">
              {{ subheading }}
            </b-card-sub-title>
          </b-card-title>
        </slot>
        <div v-if="data1" class="btn-actions-pane-right">
          <b-button :variant="isPercent ? 'focus' : 'outline-focus'" class="btn-wide btn-outline-2x ml-2 btn-sm" @click="isPercent = !isPercent">%</b-button>
        </div>
      </b-card-header>
      <apexchart :series="series" :height="400" :options="chartOptions" />
    </b-card>
  </div>
</template>

<script>
import Apexchart from 'vue-apexcharts'

const RF = 'Российская Федерация'

const _chartOptions = {
  chart: {
    type: 'area',
    stacked: true,
    // events: {
    //   selection(chart, e) {
    //     console.log(new Date(e.xaxis.min))
    //   },
    // },
  },
  colors: ['#fe5000', '#0077c8', '#008eaa', '#84bd00', '#9a4cda', '#005670', '#0085ad', '#efdf00'],
  dataLabels: {
    enabled: false,
  },
  stroke: {
    curve: 'smooth',
  },
  fill: {
    type: 'gradient',
    gradient: {
      opacityFrom: 0.6,
      opacityTo: 0.8,
    },
  },
  legend: {
    position: 'right',
    horizontalAlign: 'center',
  },
}

export default {
  name: 'DataStackedFo',
  components: {
    Apexchart,
  },
  props: {
    indicator_id: Number,
    columnContains: {
      type: String,
      default: null,
    },
    tm: String,
  },
  data() {
    return {
      data: null,
      data1: null,
      chartOptions: null,
      series: null,
      columns_i: [],
      columns_hash: [],
      isPercent: false,
      isRemoveCountry: false,
      smart_name: '',
    }
  },
  computed: {
    heading() {
      try {
        return this.smart_name.split('/')[0]
      } catch (e) {
        return ''
      }
    },
    subheading() {
      try {
        return this.smart_name.split('/')[1]
      } catch (e) {
        return ''
      }
    },
  },
  watch: {
    indicator_id() {
      this.fetchData()
    },
    region() {
      this.updateCharts()
    },
    columnContains() {
      this.updateCharts()
    },
    isPercent() {
      window.console.log(this.isPercent)
      this.updateCharts()
    },
    tm() {
      this.updateCharts()
    },
  },
  async mounted() {
    window.xyy = this
    await this.fetchRegions()
    await this.fetchData()
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data`)
        this.data = data.data
        this.data1 = data.data1
        this.indicator = data.indicator
        this.smart_name = this.indicator.smart_name
        this.updateCharts()
      } catch {
        this.series = null
      }
      if (!this.data1) this.isPercent = false
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      return this.getParentRegion(region.id)
    },
    updateCharts() {
      this.updateSeries()
      this.updateChart()
    },
    updateSeries() {
      const data = this.isPercent && this.data1 ? this.data1 : this.data
      if (!data || !data.columns_hash) return
      const series = {}
      const ru_data = data.data.map((x) => x[data.columns_hash.indexOf(this.tm)])
      let min = null
      let max = null
      data.index.forEach((x, i) => {
        if (!x.includes('едера')) {
          const v = ru_data[i]
          min = min === null ? v : Math.min(min, ru_data[i])
          max = max === null ? v : Math.max(max, ru_data[i])
        }
      })
      // const min = Math.min.apply(Math, ru_data)
      // const max = Math.max.apply(Math, ru_data)
      const dx = (max - min) / 10

      series[RF] = {
        type: 'line',
        name: RF,
        limits: Array(10)
          .fill(0)
          .map((_, idx) => min + idx * dx),
        data: Array(10).fill(0),
        regions: [],
      }

      data.index.forEach((region_name, i) => {
        const region = this.getRegionByName(region_name)
        if (!region) return
        if (!region.levels.includes('subject')) return
        let fo = this.getParentRegionBy(region.name)
        if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
        if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
        if (!(fo.name in series)) {
          series[fo.name] = {
            type: 'area',
            name: fo.short_name,
            limits: Array(10)
              .fill(0)
              .map((_, idx) => min + idx * dx),
            data: Array(10).fill(0),
            regions: [],
          }
        }
        const x = data.data[i][data.columns_hash.indexOf(this.tm)]
        ;[fo.name, RF].forEach((z) => {
          for (let j = 9; j >= 0; j--)
            if (x > series[z].limits[j]) {
              series[z].data[j]++
              series[z].regions.push(region.short_name)
              break
            }
        })
      })
      const series2 = Object.keys(series)
        .filter((x) => x != RF)
        .map((x) => ({
          name: series[x].name,
          data: series[x].data.map((_, idx) => ({ x: series[RF].limits[idx], y: series[x].data[idx] })),
        }))

      const params = {
        xaxis: {
          type: 'numeric',
          decimalsInFloat: max <= 10 ? 4 : undefined,
        },
      }
      this.series = series2
      this.chartOptions = { ...{}, ..._chartOptions, ...params }
    },
    updateChart() {
      // // chartOptions = Object.assign(chartOptions, { series })
      // const params = {
      //   xAxis: {
      //     categories: this.columns_i.map((i) => this.columns_hash[i]),
      //   },
      //   series: [...this.series],
      // }
      // this.chartOptions = { ..._chartOptions, ...params }
    },
  },
}
</script>

<style scoped></style>
