<template>
  <div class="card widget-content" :class="backClass" @click="$emit('click', $event.target)">
    <div class="widget-content-wrapper text-white">
      <div class="widget-content-left">
        <div class="widget-heading" v-html="title"></div>
        <div class="widget-subheading" v-html="subtitle"></div>
      </div>
      <div class="widget-content-right">
        <div class="widget-numbers text-white">
          <span>{{ displayNumber }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NumberWidget',
  props: {
    backClass: {
      type: String,
      default: 'bg-primary',
    },
    title: {
      type: String,
      default: null,
    },
    subtitle: {
      type: String,
      default: null,
    },
    num: {
      type: [Number, String],
      default: 0,
    },
    timeout: {
      type: Number,
      default: 20,
    },
  },
  data() {
    return {
      displayNumber: 0,
      interval: false,
    }
  },
  watch: {
    num() {
      this.nextStep()
    },
  },
  mounted() {
    this.nextStep()
  },
  methods: {
    nextStep() {
      const remainder = this.num - parseInt(this.num)
      if (remainder || typeof this.num === 'string') {
        this.displayNumber = this.num
        return
      }
      if (this.displayNumber === this.num) return

      let change = (this.num - this.displayNumber) / 10
      change = change > 0 ? Math.ceil(change) : Math.floor(change)
      this.displayNumber = this.displayNumber + change

      window.setTimeout(this.nextStep, this.timeout)
    },
  },
}
</script>

<style scoped>
.widget-heading,
.widget-subheading {
  text-align: left;
}
</style>
