<template>
  <div>
    <Header />
    <Sidebar2 v-if="indicators && parent_indicator" :menu="sidebarMenuItems" :title="parent_indicator.name" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title v-if="parent_indicator" :heading="heading" :subheading="subheading"></page-title>
        <b-button
          v-for="tab in tabs"
          :key="tab.value"
          :variant="selected_tab == tab.value ? 'primary' : ''"
          class="mr-2 btn-shadow mb-3"
          @click="selected_tab = tab.value"
          v-text="tab.text || tab.title"
        />
        <div v-if="selected_indicator && data">
          <div v-if="selected_tab == 'hist'">
            <year :selected_year.sync="selected_tm" :years="data.columns_hash" class="mb-3" />
            <b-card v-if="selected_tm">
              <b-card-title>{{ selected_indicator.smart_name }}</b-card-title>
              <b-card-body>
                <data-hist :indicator_id="selected_indicator_id" :tm="selected_tm" />
                <remote-control :indicator-y="selected_indicator_id" :ts-y="selected_tm" chart-type="data-hist" />
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_tab == 'rating'">
            <year :selected_year.sync="selected_tm" :years="data.columns_hash" class="mb-3" />
            <b-card class="mb-3">
              <b-card-title>Выберите регион</b-card-title>
              <b-card-body>
                <b-select v-model="selected_region" name="select_region" size="lg" :options="regions" />
              </b-card-body>
            </b-card>
            <b-card class="mb-3">
              <b-card-title v-if="selected_indicator">{{ selected_indicator.smart_name }}</b-card-title>
              <b-card-body class="no-border">
                <data-chart-rating-rf :indicator-id="selected_indicator_id" :tm="selected_tm" :region1="selected_region" />
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_tab == 'chart'">
            <b-card>
              <b-card-title>Выберите регион</b-card-title>
              <b-card-body>
                <b-select v-model="selected_region" name="select_region" size="lg" :options="regions" />
              </b-card-body>
            </b-card>
            <b-card v-if="selected_region">
              <data-chart :indicator_id="selected_indicator_id" :region="selected_region">
                <template v-slot:header>
                  <b-card-title>{{ selected_indicator.smart_name }}</b-card-title>
                </template>
              </data-chart>
            </b-card>
          </div>
          <div v-if="selected_tab == 'map'">
            <year :selected_year.sync="selected_tm" :years="data.columns_hash" />
            <b-card v-if="selected_tm">
              <b-card-title>{{ selected_indicator.smart_name }}</b-card-title>
              <b-card-body>
                <data-map :indicator_id="selected_indicator_id" :tm="selected_tm" />
                <remote-control :indicator-y="selected_indicator_id" :ts-y="selected_tm" chart-type="data-map" />
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_tab == 'table'">
            <b-card>
              <b-card-title>{{ selected_indicator.smart_name }}</b-card-title>
              <b-card-body style="overflow-x: scroll">
                <data-table :indicator_id="selected_indicator.id" />
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_tab == 'calc'">
            <calc-widget :indicator="selected_indicator" />
          </div>
          <div v-if="selected_tab == 'relative'">
            <relative-widget :indicator="selected_indicator" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import PageTitle from '~/components/Components/PageTitle.vue'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import DataTable from '~/components/Widgets/DataTable'
import DataMap from '~/components/Widgets/DataMap'
import DataHist from '~/components/Widgets/DataHist'
import DataChart from '~/components/Widgets/DataChart'
import Year from '~/components/Filter/Year'
import DataChartRatingRf from '~/components/Widgets/DataChartRatingRf'
import CalcWidget from '~/components/Calc/CalcWidget'
import RelativeWidget from '~/components/Calc/RelativeWidget'
import RemoteControl from '~/components/Remote/RemoteControl'

const TABS = [
  {
    title: 'Рейтинг',
    value: 'rating',
  },
  {
    title: 'Гистограмма',
    value: 'hist',
  },
  {
    title: 'График',
    value: 'chart',
  },
  {
    title: 'Картограмма',
    value: 'map',
  },
  {
    title: 'Таблица',
    value: 'table',
  },
  {
    title: 'Кастомизация',
    value: 'calc',
  },
  {
    title: 'Отношение',
    value: 'relative',
  },
]

export default {
  auth: false,
  layout: 'page2',
  components: {
    RemoteControl,
    RelativeWidget,
    CalcWidget,
    DataChartRatingRf,
    Year,
    DataMap,
    DataTable,
    DataChart,
    DataHist,
    Header,
    PageTitle,
    Sidebar2,
  },
  asyncData({ params, $axios }) {
    return {
      parent_indicator_id: params.id,
    }
  },
  data() {
    return {
      indicators: null,
      parent_indicator: null,
      tabs: TABS,
      selected_tab: 'table',
      selected_indicator: null,
      selected_region: null,
      selected_tm: null,
      indicator: null,
      data: null,
      columns_hash: null,
      fetchedResult: null,
      selected_indicator_id: null,
    }
  },

  computed: {
    heading() {
      return this.parent_indicator.tree_name
    },
    subheading() {
      return this.indicator ? this.indicator.name : ''
    },
    sidebarMenuItems() {
      if (!this.indicators) return []
      const self = this
      return this.indicators.map((x, i) => ({
        title: `${i + 1}. ${x.smart_name}`,
        // click: () => self.$router.push(`/indicator/${x.id}/data`),
        click: () => (self.selected_indicator = x),
      }))
    },
    regions() {
      try {
        return this.data.index.filter((x) => !x.includes('федеральный') && !x.includes('Федерация'))
      } catch (e) {
        window.console.error(e)
        return []
      }
    },
  },

  watch: {
    selected_indicator() {
      this.fetchData()
    },
  },

  mounted() {
    this.fetchParentIndicator()
    this.fetchIndicators()

    if (this.$store.state.core.regName) {
      this.selected_region = this.$store.state.core.regName
    }
  },

  methods: {
    async fetchParentIndicator() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.parent_indicator_id}`)
        this.parent_indicator = data
      } catch (e) {
        window.console.error(e)
      }
    },
    async fetchIndicators() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/parent/${this.parent_indicator_id}/withdata`)
        this.indicators = data
      } catch (e) {
        window.console.error(e)
      }
    },
    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.selected_indicator.id}/data`)
        this.fetchedResult = data
        this.data = null
        this.data = data.data
        this.columns_hash = data.columns_hash
        this.selected_indicator_id = this.selected_indicator.id
        this.selected_tm = data.columns_hash[data.columns_hash.length - 1]
      } catch (e) {
        window.console.error(e)
      }
    },
  },
}
</script>
