<template>
  <div>
    <Header :personal="false" />
    <Sidebar2 title="Интеллектуальная миграция" sidebar-bg="#CCCCCC77" :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <b-row>
          <page-title :heading="heading" subheading="Интеллектуальная миграция" :disable-history="false" width="100%" style="color: #0b2d50" :home-button="true" />
        </b-row>
        <div v-if="selectedIndicator && isShowCharts">
          <b-row>
            <b-col md="12" class="mb-3">
              <b-card>
                <b-card-title>Выберите годы</b-card-title>
                <b-card-body>
                  <b-button v-for="year in yearList" :key="year" :variant="yearSelected.includes(year) ? 'primary' : 'outline-primary'" class="mr-2 mb-2" @click="toggleYear(year)">
                    {{ year }}
                  </b-button>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col v-for="mapOption in mapOptions" :key="mapOption.year" md="6" class="mb-3">
              <b-card>
                <b-card-body>
                  <tm-label :tm="mapOption.year" style="position: absolute; z-index: 999; top: 10%; right: 2%" />
                  <highcharts constructor-type="mapChart" :options="mapOption" style="height: 400px"></highcharts>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="12" class="mb-3">
              <b-card class="card-shadow-danger border">
                <b-card-header>Таблица данных</b-card-header>
                <b-card-body class="card-body-data-table" v-html="tableHTML"></b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import PageTitle from '~/components/Components/PageTitle'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
// import NumberWidget from '~/components/Widgets/NumberWidget'
import sideBarMenu from '~/pages/mig/sideBarMenu'
import TmLabel from '~/components/Filter/TmLabel'

export default {
  components: {
    TmLabel,
    PageTitle,
    Header,
    Sidebar2,
    // NumberWidget,
  },
  layout: 'mig',
  data() {
    return {
      df: new dataForge.DataFrame(),
      isShowCharts: false,
      yearList: [],
      yearSelected: [],
      tmSelected: null,
      mapData: null,
      selectedIndicator: null,
      variantList: [
        { value: 1, text: 'Число выбывших (чел.)' },
        { value: 2, text: 'Доля в общей численности всех выбывших (%) по категориям' },
        { value: 3, text: 'Соотношение числа выбывших к общей численности лиц с высшим образованием' },
        { value: 4, text: 'Соотношение числа выбывших к занятому населению' },
        { value: 5, text: 'Соотношение числа выбывших к численности рабочей силы' },
      ],
      variantSelected: 1,
      indicatorList: [
        {
          title: 'Число докторов наук, выезжающих на постоянное место жительства в страны СНГ, чел.',
          click: () => this.selectIndicator('mig_2_d2', 1),
          variant: 'primary',
          id: 210,
        },
        {
          title: 'Число докторов наук, выезжающих на постоянное место жительства в страны дальнего зарубежья, чел.',
          click: () => this.selectIndicator('mig_2_d2', 2),
          variant: 'primary',
          id: 220,
        },
        {
          title: 'Число кандидатов наук, выезжающих на постоянное место жительства в страны СНГ, чел.',
          click: () => this.selectIndicator('mig_2_k2', 1),
          variant: 'primary',
          id: 310,
        },
        {
          title: 'Число кандидатов наук, выезжающих на постоянное место жительства в страны дальнего зарубежья, чел.',
          click: () => this.selectIndicator('mig_2_k2', 2),
          variant: 'primary',
          id: 320,
        },
        // {
        //   title: 'Число докторов наук, выезжающих на постоянное место жительства в страны СНГ в связи с работой, чел.',
        //   click: () => this.selectIndicator('mig_2_d', 1),
        //   variant: 'info',
        //   id: 214,
        // },
        // {
        //   title: 'Число докторов наук, выезжающих на постоянное место жительства в страны дальнего зарубежья в связи с работой, чел.',
        //   click: () => this.selectIndicator('mig_2_d', 2),
        //   variant: 'info',
        //   id: 224,
        // },
        // {
        //   title: 'Число кандидатов наук, выезжающих на постоянное место жительства в страны СНГ в связи с работой, чел.',
        //   click: () => this.selectIndicator('mig_2_k', 1),
        //   variant: 'info',
        //   id: 314,
        // },
        // {
        //   title: 'Число кандидатов наук, выезжающих на постоянное место жительства в страны дальнего зарубежья в связи с работой, чел.',
        //   click: () => this.selectIndicator('mig_2_k', 2),
        //   variant: 'info',
        //   id: 324,
        // },
      ],
      myWorldMap: {},
    }
  },
  computed: {
    heading() {
      try {
        const s = this.selectedIndicator.src + ',' + this.selectedIndicator.cat
        return {
          'mig_2_d2,1': 'Число докторов наук, выезжающих на постоянное место жительства в страны СНГ, чел.',
          'mig_2_d2,2': 'Число докторов наук, выезжающих на постоянное место жительства в страны дальнего зарубежья, чел.',
          'mig_2_k2,1': 'Число кандидатов наук, выезжающих на постоянное место жительства в страны СНГ, чел.',
          'mig_2_k2,2': 'Число кандидатов наук, выезжающих на постоянное место жительства в страны дальнего зарубежья, чел.',
          // 'mig_2_d,1': 'Число докторов наук, выезжающих на постоянное место жительства в страны СНГ в связи с работой, чел.',
          // 'mig_2_d,2': 'Число докторов наук, выезжающих на постоянное место жительства в страны дальнего зарубежья в связи с работой, чел.',
          // 'mig_2_k,1': 'Число кандидатов наук, выезжающих на постоянное место жительства в страны СНГ в связи с работой, чел.',
          // 'mig_2_k,2': 'Число кандидатов наук, выезжающих на постоянное место жительства в страны дальнего зарубежья в связи с работой, чел.',
        }[s]
      } catch {
        return 'Выезд из РФ на постоянное место жительство докторов, кандидатов наук с целью работы по странам'
      }
    },
    indicatorDict() {
      return this.indicatorList.reduce((result, curr, index, array) => ({ ...result, [curr.id]: curr.title }), {})
    },
    menu() {
      return [
        ...this.indicatorList.map((x) => ({ ...x, title: (x.id === this.selectedIndicator ? '✔ ' : '') + x.title })),
        {
          title: '---',
        },
        ...sideBarMenu(this.$router),
      ]
    },
    dfFilter() {
      return this.df.filter((x) => x.CAT === this.selectedIndicator.cat)
    },
    mapOptions() {
      return this.yearSelected.map((x) => {
        const map = {
          data: this.dfFilter
            .select((row) => ({
              name: row.NAME,
              value: row[x],
            }))
            .toArray(),
          joinBy: 'name',
          name: 'Данные по странам',
        }

        const series = [map]

        return {
          year: x,
          chart: {
            map: this.mapData,
          },
          title: {
            text: null,
          },

          mapNavigation: {
            enabled: true,
          },

          colorAxis: {
            min: 0,
            stops: [
              [0, '#EFEFFF'],
              [0.33, '#3e5eff'],
              [0.66, '#f7ff00'],
              [1, '#ad0000'],
            ],
          },

          legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'bottom',
          },
          series,
        }
      })
    },
    tableOptions() {
      return this.dfFilter.round(4).subset(['REGION', ...this.yearList])
    },
    tableHTML() {
      const summarize = this.tableOptions.summarize()
      return (
        this.tableOptions
          .toHTML()
          .replaceAll('null', '')
          .replaceAll('REGION', 'Страна')
          .replaceAll('</table>', '') +
        '<tr><td style="font-weight:bold">ИТОГО</td>' +
        this.yearList.map((year) => `<td style="font-weight: bold">${summarize[year + '_sum']}</td>`).join('') +
        '</tr></table>'
      )
    },
  },
  methods: {
    async fetchData() {
      const mapFileName = this.selectedIndicator.cat === 2 ? 'world.geojson' : 'sng.geojson'
      const mapData = await this.$axios.get(`/static/data/map/${mapFileName}`)
      const { data } = await this.$axios.get(`/static/data/mig/${this.selectedIndicator.src}.json?v=${Math.random()}`)
      const df = dataForge.fromJSON(JSON.stringify(data))
      this.df = df.filter((x) => x.CAT > 0).filter((x) => x.CAT === this.selectedIndicator.cat)
      this.mapData = mapData.data
      this.yearList = df.getColumnNames().filter((x) => !['CODE', 'REGION', 'NAME', 'CAT'].includes(x))
    },
    selectIndicator(src, cat) {
      this.selectedIndicator = { src, cat }
      this.isShowCharts = false
      this.$nextTick(async () => {
        await this.fetchData()
        this.isShowCharts = true
      })
    },
    toggleYear(year) {
      if (this.yearSelected.includes(year)) {
        this.$delete(this.yearSelected, this.yearSelected.indexOf(year))
      } else {
        this.yearSelected.push(year)
      }
    },
  },
}
</script>

<style lang="scss">
.card-body-data-table {
  table.dataframe {
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
    width: 100%;

    tbody,
    thead {
      th:first-child {
        display: none;
      }

      td,
      th {
        padding: 3px;
        border: 1px solid #777;
        text-align: center;
      }
    }
  }
}
</style>
