<template>
  <div>
    <Header :personal="false" />
    <Sidebar2 title="Интеллектуальная миграция" sidebar-bg="#CCCCCC77" :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <b-row>
          <page-title :heading="heading" subheading="Интеллектуальная миграция" :disable-history="false" width="100%" style="color: #0b2d50" :home-button="false" />
        </b-row>
        <div v-if="selectedIndicator">
          <b-row>
            <b-col md="9" class="mb-3">
              <b-card>
                <b-card-title>Выберите целевой показатель интеллектуальной миграции</b-card-title>
                <b-card-body>
                  <div v-for="v in forecastVars" :key="v">
                    <b-button :variant="forecastSelected.includes(v) ? 'danger' : 'outline-danger'" class="mr-2 mb-2" @click="forecastSelected = [v]">
                      {{ v }}
                    </b-button>
                  </div>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="3" class="mb-3">
              <b-card>
                <b-card-title>Выберите год прогнозного периода</b-card-title>
                <b-card-body>
                  <b-button
                    v-for="year in forecastYearList"
                    :key="year"
                    :variant="forecastYearSelected.includes(year) ? 'primary' : 'outline-primary'"
                    class="mr-2 mb-2"
                    @click="toggleYear(year)"
                  >
                    {{ year }}
                  </b-button>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="9" class="mb-3">
              <b-card>
                <b-card-title>Выберите факторные показатели</b-card-title>
                <b-card-body>
                  <div v-for="v in factorVars" :key="v">
                    <b-button :variant="factorSelected.includes(v) ? 'primary' : 'outline-primary'" class="mr-2 mb-2" @click="toggleFactor(v)">
                      {{ v }}
                    </b-button>
                  </div>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="3" class="mb-3">
              <b-card>
                <b-card-title>Управление графиками</b-card-title>
                <b-card-body>
                  <b-button class="mr-2 mb-2" :variant="play ? 'info' : 'outline-info'" @click="runAnimation"> <i class="pe-7s-play"> </i> включить анимацию </b-button>
                  <b-button class="mr-2 mb-2" variant="outline-primary" @click="toLastIter"> <i class="pe-7s-next"> </i> МОДЕЛЬ </b-button>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="12" class="mb-3">
              <div v-for="(v, idx) in forecastSelected" :key="idx">
                <b-card class="mb-3">
                  <b-card-title>
                    <h3 style="color: #ad0000">ЦЕЛЕВОЙ ПОКАЗАТЕЛЬ: {{ v }}</h3>
                  </b-card-title>
                  <b-card-body>
                    <hightchart-base :options="forecastChartOptions[idx]" />
                    <div>
                      <strong style="font-size:large;color:#960c1c">Среднее значение ({{ forecastChartOptions[idx].meanValue }})</strong>
                    </div>
                  </b-card-body>
                </b-card>
              </div>
              <div v-for="(v, idx) in factorSelected" :key="idx">
                <b-card class="mb-3">
                  <b-card-title>
                    <h3>{{ v }}</h3>
                  </b-card-title>
                  <b-card-body>
                    <hightchart-base :options="factorChartOptions[idx]" />
                    <div>
                      <strong style="font-size:large;color:#960c1c">Среднее значение ({{ factorChartOptions[idx].meanValue }})</strong>
                    </div>
                  </b-card-body>
                </b-card>
              </div>
            </b-col>
            <b-col md="12" class="mb-3">
              <div v-for="(year, idx) in forecastYearSelected" :key="year">
                <b-card class="mb-3">
                  <b-card-header>
                    <h3>Год {{ year }}</h3>
                  </b-card-header>
                  <b-card-body>
                    <b-row>
                      <b-col md="12" class="mb-1">
                        <number-widget v-for="(v, k) in forecastValues[idx]" :key="k" :title="k" :back-class="getBackClass(year, k, v)" :num="v" />
                      </b-col>
                      <b-col v-for="(v, k) in factorValues[idx]" :key="k" md="6" class="mb-1">
                        <number-widget v-if="v" :title="k" :num="v" />
                      </b-col>
                    </b-row>
                  </b-card-body>
                </b-card>
              </div>
            </b-col>
            <b-col md="12" class="mb-3">
              <b-card class="card-shadow-danger border">
                <b-card-header>Интгерированная таблица данных</b-card-header>
                <b-card-body class="card-body-data-table" v-html="tableHTML"></b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import ColumnChartOptions from './ColumnChartOptions'
import PageTitle from '~/components/Components/PageTitle'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import sideBarMenu from '~/pages/mig/sideBarMenu'
import NumberWidget from '~/components/Widgets/NumberWidget'
import HightchartBase from '~/components/Chart/HighchartBase'
import SplineChartOptions from '~/pages/mig/m2/SplineChartOptions'

export default {
  components: {
    HightchartBase,
    NumberWidget,
    PageTitle,
    Header,
    Sidebar2,
  },
  layout: 'mig',
  data() {
    return {
      // Отображение графиков
      isShowCharts: false,
      // Массив данных
      df: new dataForge.DataFrame(),
      // Прогноз
      forecastYearList: [],
      forecastYearSelected: [],
      // Факт
      factYearList: [],
      factYearSelected: [],
      selectedFactYearList: [],
      // Предикторы
      factorVars: [],
      factorSelected: [],
      // Целевые
      forecastSelected: [],
      forecastVars: [],
      // Показатели
      selectedIndicator: null,
      indicatorList: [
        {
          title: 'Число выбывших докторов наук из России со сменой постоянного места жительства, чел.',
          click: () => this.selectIndicator('mig_2_f_d', 1),
          variant: 'info',
          id: 210,
        },
        {
          title: 'Число выбывших кандидатов наук из России со сменой постоянного места жительства, чел.',
          click: () => this.selectIndicator('mig_2_f_k', 1),
          variant: 'info',
          id: 220,
        },
      ],
      // Анимация
      iterIdx: 0,
      iterCnt: 0,
      play: false,
      playTimeout: 1000,
    }
  },
  computed: {
    heading() {
      try {
        const s = this.selectedIndicator.src + ',' + this.selectedIndicator.cat
        return {
          'mig_2_f_d,1': 'Число выбывших докторов наук из России со сменой постоянного места жительства, чел.',
          'mig_2_f_k,1': 'Число выбывших кандидатов наук из России со сменой постоянного места жительства, чел.',
        }[s]
      } catch {
        return 'Выберите показатель слева'
      }
    },
    indicatorDict() {
      return this.indicatorList.reduce((result, curr, index, array) => ({ ...result, [curr.id]: curr.title }), {})
    },
    menu() {
      return [
        ...this.indicatorList.map((x) => ({ ...x, title: (x.id === this.selectedIndicator ? '✔ ' : '') + x.title })),
        {
          title: '---',
        },
        ...sideBarMenu(this.$router),
      ]
    },
    dfFilter() {
      return this.df
    },
    forecastValues() {
      return this.df
        .filter((x) => this.forecastYearSelected.includes(x.ГОД))
        .subset(this.forecastSelected)
        .toArray()
    },
    factorValues() {
      return this.df
        .filter((x) => this.forecastYearSelected.includes(x.ГОД))
        .subset(this.factorVars)
        .toArray()
    },
    forecastChartOptions() {
      return this.forecastSelected.map((factor) => {
        const factYearList = [...this.factYearList]
        const forecastYearList = [...this.forecastYearList]
        const selectedFactYearList = [...factYearList.slice(0, this.iterIdx)]
        const selectedForecastYearList = this.iterIdx >= factYearList.length ? [...forecastYearList.slice(0, this.iterIdx - factYearList.length)] : []
        const df = this.df.filter((x) => selectedFactYearList.includes(x.ГОД) || (selectedForecastYearList.includes(x.ГОД) && this.forecastYearSelected.includes(x.ГОД)))
        // const df = this.df.filter((x) => selectedFactYearList.includes(x.ГОД) || this.forecastYearSelected.includes(x.ГОД))
        // const df = this.df.filter((x) => selectedFactYearList.includes(x.ГОД) || (this.forecastYearSelected.includes(x.ГОД) && this.iterIdx > this.factYearList.length - 1))
        // const df = this.df.filter(
        //   (x) => selectedFactYearList.includes(x.ГОД) || selectedForecastYearList.includes(x.ГОД) || (this.forecastYearSelected.includes(x.ГОД) && !this.play)
        // )
        const mean = this.df
          .filter((x) => this.factYearList.includes(x.ГОД))
          .getSeries(factor)
          .average()
        const chart = {
          data: df.toArray().map((x) => ({ y: x[factor], value: x.ГОД, x: x.ГОД, color: x.ГОД > 2020 ? '#5b91f5' : x[factor] < mean ? 'green' : 'red' })),
        }
        const series = [chart]
        const xAxis = {
          labels: {
            allowOverlap: true,
            style: {
              color: '#000000',
              cursor: 'default',
              fontSize: '16px',
              fontWeight: 'bold',
            },
          },
          plotBands: [
            {
              label: {
                text: 'ПРОГНОЗ',
                style: {
                  color: '#DC4128',
                  fontSize: '16pt',
                  fontWeight: 'bold',
                },
              },
              color: '#fcffda',
              from: this.forecastYearList[0] - 0.5,
              to: this.forecastYearList.slice(-1) + 0.5,
            },
          ],
        }
        const yAxis = {
          // plotLines: [
          //   {
          //     label: {
          //       text: `средняя величина (${Math.round(mean)}) `,
          //       style: {
          //         color: '#544d4c',
          //         fontSize: '12pt',
          //         fontWeight: 'bold',
          //       },
          //     },
          //     color: '#DC4128',
          //     value: mean,
          //     dashStyle: 'dot',
          //   },
          // ],
          title: {
            text: '',
          },
        }
        const meanValue = Math.round(mean)
        return {
          cardTitle: factor,
          ...ColumnChartOptions,
          meanValue,
          xAxis,
          yAxis,
          series,
        }
      })
    },
    factorChartOptions() {
      return this.factorSelected.map((factor) => {
        const factYearList = [...this.factYearList]
        const forecastYearList = [...this.forecastYearList]
        const selectedFactYearList = [...factYearList.slice(0, this.iterIdx)]
        const selectedForecastYearList = this.iterIdx >= factYearList.length ? [...forecastYearList.slice(0, this.iterIdx - factYearList.length)] : []
        const df = this.df.filter((x) => selectedFactYearList.includes(x.ГОД) || (selectedForecastYearList.includes(x.ГОД) && this.forecastYearSelected.includes(x.ГОД)))
        // const factYearList = [...this.factYearList]
        // const selectedFactYearList = [...factYearList.slice(0, this.iterIdx)]
        // const df = this.df.filter((x) => selectedFactYearList.includes(x.ГОД) || (this.forecastYearSelected.includes(x.ГОД) && this.iterIdx > this.factYearList.length - 1))
        const mean = this.df
          .filter((x) => this.factYearList.includes(x.ГОД))
          .getSeries(factor)
          .average()
        const chart = {
          data: df.toArray().map((x) => ({ y: x[factor], value: x.ГОД.toString(), x: x.ГОД, color: x.ГОД > 2020 ? '#5b91f5' : x[factor] < mean ? 'green' : 'red' })),
        }
        const series = [chart]
        const xAxis = {
          labels: {
            allowOverlap: true,
            format: '{value}',
            style: {
              color: '#000000',
              cursor: 'default',
              fontSize: '16px',
              fontWeight: 'bold',
            },
          },
          plotBands: [
            {
              label: {
                text: 'ПРОГНОЗ',
                style: {
                  color: '#DC4128',
                  fontSize: '16pt',
                  fontWeight: 'bold',
                },
              },
              color: '#fcffda',
              from: this.forecastYearList[0] - 0.5,
              to: this.forecastYearList.slice(-1) + 0.5,
            },
          ],
        }
        const yAxis = {
          // plotLines: [
          //   {
          //     label: {
          //       text: `средняя величина (${Math.round(mean * 100) / 100}) `,
          //       style: {
          //         color: '#544d4c',
          //         fontSize: '12pt',
          //         fontWeight: 'bold',
          //       },
          //     },
          //     color: '#DC4128',
          //     value: mean,
          //     dashStyle: 'dot',
          //   },
          // ],
          title: {
            text: '',
          },
        }
        const meanValue = Math.round(mean * 100) / 100
        return {
          cardTitle: factor,
          ...SplineChartOptions,
          meanValue,
          xAxis,
          yAxis,
          series,
        }
      })
    },
    tableOptions() {
      return this.dfFilter
    },
    tableHTML() {
      return this.tableOptions
        .round(4)
        .toHTML()
        .replaceAll('null', '')
    },
  },
  watch: {
    yearSelected() {
      this.play = false
    },
  },
  mounted() {
    this.nextIter()
  },
  methods: {
    nextIter() {
      if (this.play) {
        // this.setOpIdx(this.iterIdx + 1)
        // this.$nextTick(() => this.updateCharts())

        this.$nextTick(() => this.setIterIdx(this.iterIdx + 1))
      }
      setTimeout(this.nextIter, this.playTimeout)
    },
    setIterIdx(idx) {
      this.iterIdx = idx
      if (this.iterIdx > this.iterCnt - 1) this.play = false
    },
    async fetchData() {
      this.forecastSelected = []
      const { data } = await this.$axios.get(`/static/data/mig/${this.selectedIndicator.src}.json?v=${Math.random()}`)
      const df = dataForge.fromJSON(JSON.stringify(data)).round(4)
      this.df = df
      this.forecastVars = df.getColumnNames().slice(-1)
      this.factorVars = df.getColumnNames().slice(1, df.getColumnNames().length - 1)
      this.forecastYearList = df
        .getSeries('ГОД')
        .toArray()
        .slice(-4)
      this.factYearList = df
        .getSeries('ГОД')
        .toArray()
        .slice(0, df.count() - 4)
      this.forecastYearList = df
        .getSeries('ГОД')
        .toArray()
        .slice(-4)
      this.iterCnt = this.factYearList.length + 4
    },
    selectIndicator(src, cat) {
      this.selectedIndicator = { src, cat }
      this.isShowCharts = false
      this.forecastYearList = []
      this.forecastYearSelected = []
      // Факт
      this.factYearList = []
      this.factYearSelected = []
      this.selectedFactYearList = []
      // Предикторы
      this.factorVars = []
      this.factorSelected = []
      // Целевые
      this.forecastSelected = []
      this.forecastVars = []

      this.$nextTick(async () => {
        await this.fetchData()
        //   this.isShowCharts = true
      })
    },
    toggleYear(year) {
      if (this.forecastYearSelected.includes(year)) {
        this.$delete(this.forecastYearSelected, this.forecastYearSelected.indexOf(year))
      } else {
        this.forecastYearSelected.push(year)
      }
    },
    toggleFactor(factor) {
      if (this.factorSelected.includes(factor)) {
        this.$delete(this.factorSelected, this.factorSelected.indexOf(factor))
      } else {
        this.factorSelected.push(factor)
      }
    },
    toLastIter() {
      this.play = false
      this.iterIdx = this.iterCnt
    },

    getBackClass(year, k, v) {
      const avg = this.df
        .filter((x) => x.ГОД < 2021)
        .getSeries(k)
        .average()
      window.console.log(avg)
      return v < avg ? 'btn btn-success' : 'btn btn-danger'
    },
    runAnimation() {
      this.iterIdx = 0
      this.play = true
    },
  },
}
</script>

<style lang="scss">
.card-body-data-table {
  table.dataframe {
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
    width: 100%;

    tbody,
    thead {
      th:first-child {
        display: none;
      }
      td,
      th {
        padding: 3px;
        border: 1px solid #777;
        text-align: center;
      }
    }
  }
}
</style>
