<template>
  <div>
    <Header :personal="false" />
    <Sidebar2 title="Интеллектуальная миграция" sidebar-bg="#CCCCCC77" :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <b-row>
          <page-title :heading="heading" :subheading="subheading" :disable-history="false" width="100%" style="color: #0b2d50" :home-button="false" />
        </b-row>
        <b-row>
          <b-col md="12" class="mb-3">
            <b-card class="card-shadow-danger border">
              <b-card-title>
                Выберите характеристики
                <b-button
                  style="float:right"
                  @click="
                    sexSelected = null
                    vozrSelected = null
                    sexSelected = null
                    nokcmSelected = null
                    okrSelected = null
                    obrSelected = null
                    occasSelected = null
                  "
                  >Снять фильтры</b-button
                >
              </b-card-title>
              <b-card-body>
                <b-row>
                  <b-col md="2">
                    <b-form-group label="Образование">
                      <b-form-select v-model="obrSelected" :options="obrList"></b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col md="2">
                    <b-form-group label="Место нахождения">
                      <b-form-select v-model="okrSelected" :options="okrList"></b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col md="2">
                    <b-form-group label="Возрастная группа">
                      <b-form-select v-model="vozrSelected" :options="vozrList"></b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col md="2">
                    <b-form-group label="Пол">
                      <b-form-select v-model="sexSelected" :options="sexList"></b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col md="2">
                    <b-form-group label="Новое место прибытия">
                      <b-form-select v-model="nokcmSelected" :options="nokcmList"></b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col md="2">
                    <b-form-group label="Основное обстоятельство переселения">
                      <b-form-select v-model="occasSelected" :options="occasList"></b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col md="12">
            <b-tabs pills class="bg-light p-3 mb-3">
              <b-tab title="Выбор года">
                <year :years="yearList" :selected_year.sync="tmSelected" has-all-button />
              </b-tab>
              <b-tab title="Выбор месяца">
                <year :years="tmList" :selected_year.sync="tmSelected" title="Выберите месяц" has-all-button />
              </b-tab>
            </b-tabs>
          </b-col>
          <b-col v-if="false" md="12" class="mb-3">
            <b-card class="card-shadow-danger border">
              <b-card-title>Выберите вариант</b-card-title>
              <b-card-body>
                <b-form-radio-group
                  id="radio-group-1"
                  v-model="varSelected"
                  :options="varList"
                  name="radio-options"
                  button-variant="outline-primary"
                  size="lg"
                  buttons
                ></b-form-radio-group>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <div v-if="varSelected === 1">
          <b-row>
            <b-col md="12" class="mb-3">
              <b-row>
                <b-col md="4">
                  <number-widget :num="parseInt(dfFilter.count())" title="ЧИСЛО ЛИЦ" back-class="btn btn-focus"></number-widget>
                </b-col>
                <b-col v-if="dfFilter.count() > 0" md="4">
                  <number-widget
                    back-class="btn btn-primary"
                    :num="
                      dfFilter
                        .getSeries('vozr')
                        .mean()
                        .toFixed(2)
                    "
                    title="СРЕДНИЙ ВОЗРАСТ"
                  ></number-widget>
                </b-col>
                <b-col v-if="dfFilter.count() > 0" md="4">
                  <number-widget
                    back-class="btn btn-info"
                    :num="
                      dfFilter
                        .getSeries('vozr')
                        .median()
                        .toFixed(2)
                    "
                    title="МЕДИАННЫЙ ВОЗРАСТ"
                  ></number-widget>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-card class="mb-3">
            <div v-if="tmSelected">
              <h3>{{ tmSelected }}</h3>
            </div>
            <highcharts v-if="chartOptionsBarByVidzan" :options="chartOptionsBarByVidzan" style="height: 600px"></highcharts>
          </b-card>
          <b-card class="mb-3">
            <div v-if="tmSelected">
              <h3>{{ tmSelected }}</h3>
            </div>
            <highcharts constructor-type="mapChart" :options="mapOptions" style="height: 600px"></highcharts>
          </b-card>
          <!--          <b-row>-->
          <!--            <b-col md="12" class="mb-3">-->
          <!--              <b-card class="card-shadow-danger border">-->
          <!--                <b-card-header>Таблица данных</b-card-header>-->
          <!--                <b-card-body style="overflow: auto; height: 50vh" class="card-body-data-table" v-html="dfFilter.toHTML()"></b-card-body>-->
          <!--              </b-card>-->
          <!--            </b-col>-->
          <!--          </b-row>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import PageTitle from '~/components/Components/PageTitle'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import Year from '~/components/Filter/Year'
import NumberWidget from '~/components/Widgets/NumberWidget'
import sideBarMenu from '~/pages/mig/sideBarMenu'
import m2Regions from '~/pages/mig/m2/m2Regions'

function selectNull(x) {
  return [{ value: null, text: '---' }, ...x]
}

function selectNull2(x) {
  return [{ value: null, text: 'Российская Федерация' }, ...x]
}

function hashGodMes(x) {
  return x.god + '-' + (x.mes < 10 ? '0' : '') + x.mes
}

export default {
  components: {
    Year,
    PageTitle,
    Header,
    Sidebar2,
    NumberWidget,
  },
  layout: 'mig',
  async asyncData({ $axios }) {
    const mapData = await $axios.get(`/static/data/map/world.geo2.json?v=${Math.random()}`)
    const { data } = await $axios.get(`/static/data/mig/mig_2.json?v=${Math.random()}`)
    const df = dataForge.fromJSON(JSON.stringify(data))
    const yearList = df
      .getSeries('god')
      .distinct()
      .toArray()
    const tmList = df
      .subset(['god', 'mes'])
      .distinct((x) => `${x.god}${x.mes}`)
      .toArray()
      .map((x) => hashGodMes(x))
      .sort()
    // const okrList = selectNull2(
    //   df
    //     .subset(['pokr', 'pokr_Регоин Выбытия'])
    //     .orderBy((x) => x['pokr_Регоин Выбытия'])
    //     .distinct((x) => x.pokr)
    //     .toArray()
    //     .map((x) => ({ value: x.pokr, text: x['pokr_Регоин Выбытия'] }))
    // )
    const okrList = selectNull2(m2Regions.map((x, i) => ({ value: x, text: `${i + 1}. ${x}` })))
    const vozrList = selectNull(
      df
        .subset(['vozr_групп'])
        .orderBy((x) => x['vozr_групп'])
        .distinct((x) => x['vozr_групп'])
        .toArray()
        .map((x) => ({ value: x['vozr_групп'], text: x['vozr_групп'] }))
    )
    const sexList = selectNull(
      df
        .subset(['sex', 'sex_Пол'])
        .orderBy((x) => x['sex_Пол'])
        .distinct((x) => x.sex)
        .toArray()
        .map((x) => ({ value: x.sex, text: x['sex_Пол'] }))
    )
    const nokcmList = selectNull(
      df
        .subset(['nokcm', 'nokcm_Страна прибытия'])
        .orderBy((x) => x['nokcm_Страна прибытия'])
        .distinct((x) => x.nokcm)
        .toArray()
        .map((x) => ({ value: x.nokcm, text: x['nokcm_Страна прибытия'] }))
    )
    const obrList = selectNull(
      df
        .subset(['obr', 'obr_Образование'])
        .orderBy((x) => x['obr_Образование'])
        .distinct((x) => x.obr)
        .toArray()
        .map((x) => ({ value: x.obr, text: x['obr_Образование'] }))
    )

    const occasList = selectNull(
      df
        .subset(['occas', 'occas_Основное обстоятельство переселения'])
        .orderBy((x) => x['occas_Основное обстоятельство переселения'])
        .distinct((x) => x.occas)
        .toArray()
        .map((x) => ({ value: x.occas, text: x['occas_Основное обстоятельство переселения'] }))
    )
    return { df, yearList, tmList, okrList, vozrList, sexList, nokcmList, myWorldMap: mapData.data, obrList, occasList }
  },
  data() {
    return {
      df: new dataForge.DataFrame(),
      yearList: [],
      tmList: [],
      tmSelected: null,
      okrList: [],
      okrSelected: null,
      obrList: [],
      obrSelected: null,
      occasList: [],
      occasSelected: null,
      vozrList: [],
      vozrSelected: null,
      sexList: [],
      sexSelected: null,
      nokcmList: [],
      nokcmSelected: null,
      vidzanSelected: 0,
      varList: [
        { value: 1, text: 'Число выбывших (чел.)' },
        { value: 2, text: 'Доля в общей численности всех выбывших (%) по категориям' },
        { value: 3, text: 'Соотношение числа выбывших к общей численности лиц с высшим образованием' },
        { value: 4, text: 'Соотношение числа выбывших к занятому населению' },
        { value: 5, text: 'Соотношение числа выбывших к численности рабочей силы' },
      ],
      varSelected: 1,
      vidzanList: [
        { title: 'ВСЕ', click: () => this.selectVidzan(0), variant: 'success', id: 0 },
        { title: 'РУКОВОДИТЕЛИ', click: () => this.selectVidzan(1), variant: 'primary', id: 1 },
        { title: 'СПЕЦИАЛИСТЫ ВЫСШЕГО УРОВНЯ КВАЛИФИКАЦИИ', click: () => this.selectVidzan(2), variant: 'info', id: 2 },
        { title: 'Специалисты в области науки и техники', click: () => this.selectVidzan(21), variant: 'info', id: 21 },
        { title: 'Специалисты в области здравоохранения', click: () => this.selectVidzan(22), variant: 'info', id: 22 },
        { title: 'Специалисты в области образования', click: () => this.selectVidzan(23), variant: 'info', id: 23 },
        { title: 'Специалисты в сфере бизнеса и администрирования', click: () => this.selectVidzan(24), variant: 'info', id: 24 },
        { title: 'Специалисты по информационно-коммуникационным технологиям (ИКТ)', click: () => this.selectVidzan(25), variant: 'info', id: 25 },
        { title: 'Специалисты в области права, гуманитарных областей и культуры', click: () => this.selectVidzan(26), variant: 'info', id: 26 },
        // { title: 'Другие специалисты высшего уровня квалификации', click: () => this.selectVidzan(29), variant: 'info', id: 29 },
        // { title: 'СПЕЦИАЛИСТЫ СРЕДНЕГО УРОВНЯ КВАЛИФИКАЦИИ', click: () => this.selectVidzan(3), variant: 'primary', id: 3 },
        // { title: 'Специалисты-техники в области науки и техники', click: () => this.selectVidzan(31), variant: 'primary', id: 31 },
        // { title: 'Средний медицинский персонал здравоохранения', click: () => this.selectVidzan(32), variant: 'primary', id: 32 },
        // { title: 'Средний специальный персонал по экономической и административной деятельности', click: () => this.selectVidzan(33), variant: 'primary', id: 33 },
        // {
        //   title: 'Средний специальный персонал в области правовой, социальной работы, культуры, спорта и родственных занятий',
        //   click: () => this.selectVidzan(34),
        //   variant: 'primary',
        //   id: 34,
        // },
        // { title: 'Специалисты-техники в области информационно-коммуникационных технологий (ИКТ)', click: () => this.selectVidzan(35), variant: 'primary', id: 35 },
        // { title: 'Другие специалисты среднего уровня квалификации', click: () => this.selectVidzan(39), variant: 'primary', id: 39 },
      ],
      myWorldMap: {},
    }
  },
  computed: {
    heading() {
      try {
        return this.vidzanSelected ? this.vidzanDict[this.vidzanSelected] : 'Международная миграция'
      } catch {
        return 'Международная миграция'
      }
    },
    subheading() {
      return this.vidzanSelected ? 'Международная миграция' : 'Портал'
    },

    vidzanDict() {
      return this.vidzanList.reduce((result, curr, index, array) => ({ ...result, [curr.id]: curr.title }), {})
    },
    menu() {
      return [
        ...this.vidzanList.map((x) => ({ ...x, title: (x.id === this.vidzanSelected ? '✔ ' : '') + x.title })),
        {
          title: 'Доктора наук',
          variant: 'primary',
          click: () => {
            this.selectVidzan(0)
            this.obrSelected = 2
          },
        },
        {
          title: 'Кандидаты наук',
          variant: 'primary',
          click: () => {
            this.selectVidzan(0)
            this.obrSelected = 3
          },
        },
        {
          title: '---',
        },
        ...sideBarMenu(this.$router),
      ]
    },
    dfFilter() {
      try {
        let _df = this.df
        if (this.vidzanSelected)
          _df = _df.filter((x) =>
            this.vidzanSelected === 2
              ? x.vidzan === 2 || (x.vidzan > 20 && x.vidzan < 30)
              : this.vidzanSelected === 3
              ? x.vidzan > 30 && x.vidzan < 40
              : x.vidzan === this.vidzanSelected
          )
        if (this.tmSelected) _df = _df.filter((x) => x.god === this.tmSelected || hashGodMes(x) === this.tmSelected)
        if (this.okrSelected) _df = _df.filter((x) => x['pokr_Регоин Выбытия'] === this.okrSelected)
        if (this.obrSelected) _df = _df.filter((x) => x.obr === this.obrSelected || (this.obrSelected === 1 && [2, 3].includes(x.obr)))
        if (this.vozrSelected) _df = _df.filter((x) => x['vozr_групп'] === this.vozrSelected)
        if (this.sexSelected) _df = _df.filter((x) => x.sex === this.sexSelected)
        if (this.nokcmSelected) _df = _df.filter((x) => x.nokcm === this.nokcmSelected)
        if (this.occasSelected) _df = _df.filter((x) => x.occas === this.occasSelected)

        return _df
      } catch (e) {
        window.console.log(e)
        return new dataForge.DataFrame()
      }
    },
    mapOptions() {
      const mappoint = {
        type: 'mappoint',
        color: '#333',
        // name: 'Cities',
        dataLabels: {
          format: '{point.id}',
        },
        toolTip: {
          style: {
            fontSize: '20pt',
          },
        },
        data: this.df
          .subset(['iso-a2', 'x', 'y', 'hc-middle-x', 'hc-middle-y'])
          .distinct((row) => row['iso-a2'])
          .toArray()
          .map((row) => ({
            id: row['iso-a2'],
            // geometry: {
            //   type: 'Point',
            //   coordinates: [row['hc-middle-x'] * 360 - 180, row['hc-middle-y'] * 360 - 180],
            coordinates: [-30.139337, 38.722252],
            // },
            // lon: row['hc-middle-x'],
            // lat: row['hc-middle-y'],
            // lat: 51.507222,
            // lon: -0.1275,
            lon: row['hc-middle-x'] * 360 - 180,
            lat: row['hc-middle-y'] * 360 - 180,
          })),
      }
      const map = {
        data: this.dfFilter
          .filter((row) => row['iso-a2'] !== 'RU')
          .groupBy((row) => row['iso-a2'])
          .select((group) => ({
            'iso-a2': group.first()['iso-a2'],
            value: group.count(),
          }))
          .toArray(),
        joinBy: 'iso-a2',
        name: 'Данные по странам',
      }

      const mapbubble = {
        data: this.dfFilter
          .filter((row) => row['iso-a2'] !== 'RU')
          .groupBy((row) => row['iso-a2'])
          .select((group) => ({
            'iso-a2': group.first()['iso-a2'],
            value: group.count(),
            z: group.getSeries('vozr').average(),
          }))
          .toArray(),
        joinBy: 'iso-a2',
        name: 'Данные по странам',
        type: 'mapbubble',
      }

      window.console.log(mapbubble)

      const series = [map, mappoint]

      return {
        chart: {
          map: 'world',
        },
        title: {
          text: null,
        },

        mapNavigation: {
          enabled: true,
        },

        colorAxis: {
          min: 0,
          stops: [
            [0, '#EFEFFF'],
            // [0.5, '#82b2f5'],
            // [1, '#00aeff'],
            [1, '#6ea2da'],
          ],
        },

        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'bottom',
        },
        series,
      }
    },
    chartOptionsBarByVidzan() {
      const series = [
        {
          // name: '',
          data: this.dfFilter
            .groupBy((row) => row.vidzan)
            .select((group) => ({
              vidzan: group.first().vidzan,
              name: group.first().vidzan_NAIM,
              y: group.count(),
            }))
            .orderBy((row) => row.vidzan)
            .toArray(),
        },
      ]
      const categories = series[0].data.map((x) => x.name)
      return {
        chart: {
          type: 'bar',
        },
        title: {
          text: '',
        },
        xAxis: {
          categories,
          title: {
            text: null,
          },
          labels: {
            style: {
              color: '#000033',
              cursor: 'default',
              fontSize: '16px',
            },
          },
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
          bar: {
            dataLabels: {
              enabled: true,
              style: {
                cursor: 'default',
                fontSize: '16px',
              },
            },
          },
        },
        series,
      }
    },
  },
  methods: {
    selectVidzan(vidzan) {
      this.vidzanSelected = vidzan
    },
  },
}
</script>

<style lang="scss">
.card-body-data-table {
  table.dataframe {
    border-spacing: 0;
    border-collapse: collapse;
    border: none;

    tbody {
      td {
        padding: 3px;
        border: 1px solid #777;
      }
    }
  }
}
</style>
