<template>
  <span>
    <b-button v-if="selectedIndicator" :variant="selectVariant" class="text-left" @click="showModal">
      {{ selectedIndicator[selectedIndicatorProp] }}
    </b-button>
    <b-button v-else :variant="selectVariant" @click="showModal">{{ linkTitle }}</b-button>
    <b-modal :id="`select-indicator-modal--${modalId}`" size="xl" scrollable>
      <template #modal-title>
        <span v-html="title"></span>
      </template>
      <indicator-select :root-indicators="rootIndicators" :filter-eq="filterEq" :filter-contains="filterContains" @select="mySelectIndicator" />
    </b-modal>
  </span>
</template>

<script>
import IndicatorSelect from '@/components/Indicator/IndicatorSelect'
export default {
  name: 'IndicatorSelectLink',
  components: { IndicatorSelect },
  props: {
    selectVariant: {
      type: String,
      default: 'outline-primary',
    },
    selectedVariant: {
      type: String,
      default: 'outline-primary',
    },
    title: {
      type: String,
      default: 'Выбор показателя',
    },
    linkTitle: {
      type: String,
      default: 'Выберите показатель',
    },
    modalId: {
      type: String,
      default: '100',
    },
    selectedIndicator: {
      type: Object,
      default: null,
    },
    selectedIndicatorProp: {
      type: String,
      default: 'smart_name',
    },
    rootIndicators: {
      type: Array,
      default: () => ['natproj2', 'rusreg2', 'gksmon'],
    },
    filterEq: {
      type: String,
      default: null,
    },
    // TODO сделать
    filterContains: {
      type: String,
      default: null,
    },
  },
  methods: {
    showModal() {
      this.$bvModal.show(`select-indicator-modal--${this.modalId}`)
    },
    mySelectIndicator(ind) {
      this.$bvModal.hide(`select-indicator-modal--${this.modalId}`)
      this.$emit('select', ind)
    },
  },
}
</script>

<style scoped></style>
