<template>
  <table class="col-12">
    <tr v-for="(ind, idx) in indicators" :key="ind.id" class="mb-3">
      <td class="mb-3">
        <strong>{{ variablePrefix }}{{ idx + 1 }},</strong> {{ ind.tree_name }}
      </td>
      <td style="width: 6em"><b-form-select v-if="ind.extra_json" v-model="tm[idx]" :options="ind.extra_json.df_columns_hash" class="mb-2 mr-sm-2 mb-sm-0" /></td>
      <td style="width: 3em">
        <b-button variant="danger" @click="$emit('remove', idx)">&cross;</b-button>
      </td>
    </tr>
  </table>
</template>

<script>
export default {
  name: 'IndicatorList',
  props: {
    indicators: {
      type: Array,
      default: () => [],
    },
    tm: {
      type: Array,
      default: () => [],
    },
    variablePrefix: {
      type: String,
      default: 'x',
    },
  },
}
</script>

<style scoped>
table > tr {
  border-bottom: 1px solid #cccccc;
}
table > tr > td {
  padding: 6px 3px 6px 0;
}
table > tr > td:last-child {
  padding: 6px 0px 6px 0;
}
</style>
