<template>
  <div>
    <b-row v-if="title">
      <b-col md="12" class="text-left">
        {{ title }}
      </b-col>
    </b-row>
    <b-row v-if="selected_indicators.length > 0" class="mt-3">
      <b-col md="12" class="text-center">
        <b-button variant="outline-light" class="text-center" @click="fetchRoot">Вернуться к выбору</b-button>
      </b-col>
    </b-row>
    <b-row v-for="(ind, idx) in selected_indicators" :key="ind.id" class="mt-2">
      <b-col md="12">{{ idx + 1 }}. {{ ind.name }}</b-col>
      <!--      <b-col md="6" class="mt-3 text-right">-->
      <!--        <b-button variant="outline-success" class="text-left" @click="returnToIndicator(ind)">&larr; Вернуться к выбору</b-button>-->
      <!--      </b-col>-->
    </b-row>
    <div v-if="indicator">
      <b-row class="mt-2">
        <b-col md="12">
          <strong>{{ indicator.indicator.name }}</strong>
        </b-col>
      </b-row>
    </div>
    <div v-else>
      <b-row v-for="(ind, idx) in indicators" :key="ind.id" md="6" class="mt-3">
        <b-col>
          <b-button v-if="ind.children.length" variant="outline-primary" class="text-left" @click="selectIndicator(ind)"> {{ idx + 1 }}. {{ ind.name }}</b-button>
          <b-button v-if="isDataFilled(ind)" variant="primary" @click="$emit('select', ind)"><strong>&plus;</strong> {{ ind.name }}</b-button>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndicatorSelect',
  props: {
    rootIndicators: {
      type: Array,
      default: () => ['natproj2', 'rusreg2', 'gksmon', 'belarus.years'],
    },
    filterEq: {
      type: String,
      default: null,
    },
    // TODO сделать
    filterContains: {
      type: String,
      default: null,
    },
    title: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      indicators: [],
      selected_indicators: [],
      indicator: null,
    }
  },
  mounted() {
    this.fetchRoot()
  },
  methods: {
    isDataFilled(ind) {
      return ind.df_data_count && ind.df_data_count > (ind.df_index_count * ind.df_column_count) / 4
    },
    isFilter(ind) {
      // TODO Дополнить это проферкой на другие фильтры, см. filterContains
      if (this.filterEq) {
        return ind.extra_json.columns.includes(this.filterEq)
      }
      return false
    },

    async fetchRoot() {
      this.indicator = null
      this.selected_indicators = []
      this.indicators = []
      // TODO заменить на .forEach
      for (const x in this.rootIndicators) {
        const { data } = await this.$axios.get(`/data/indicator/${this.rootIndicators[x]}`)
        this.indicators.push(data)
      }
    },
    async returnToIndicator(ind) {
      this.indicator = null
      const selected_indicators = []
      for (const x in this.selected_indicators) {
        if (this.selected_indicators[x] === ind) {
          this.selected_indicators = selected_indicators
          break
        }
        selected_indicators.push(this.selected_indicators[x])
      }
      await this.selectIndicator(ind)
    },
    async selectIndicator(ind) {
      if (this.isDataFilled(ind)) {
        const { data } = await this.$axios.get(`/data/indicator/${ind.id}/data`)
        this.indicator = data
      }
      this.selected_indicators.push(ind)
      const { data } = await this.$axios.get(`/data/indicator/parent/${ind.id}`)
      this.indicators = data
    },
  },
}
</script>

<style scoped></style>
