<template>
  <div class="app-footer">
    <div class="app-footer__inner text-center">
      <nuxt-link class="mr-3" to="/patent" v-if="false"> Свидетельства интеллектуальной собственности </nuxt-link>
      2022 &copy; Зарова Е.В., Борисов В.В.
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faEllipsisV } from '@fortawesome/free-solid-svg-icons'
// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faEllipsisV)
export default {
  name: 'Footer',
  components: {},
}
</script>
