<template>
  <div class="app-header header-shadow">
    <div class="logo-src" />
    <div class="app-header__content">
      <div class="app-header-left">
        <nuxt-link class="mr-3 btn btn-shadow btn-primary p-2" :to="$store.state.core.homePath">
          <font-awesome-icon icon="home" />
        </nuxt-link>
        <SearchBox />
      </div>
      <div v-if="personal" class="app-header-right">
        <header-user-area />
      </div>
    </div>
    <div class="app-header__mobile-menu">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" :class="{ 'is-active': isOpen }" @click="toggleMobile('closed-sidebar-open')">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-header__menu">
      <span>
        <b-button class="btn-icon btn-icon-only" variant="primary" size="sm" :class="{ active: isOpenMobileMenu }" @click="toggleMobile2('header-menu-open')">
          <div class="btn-icon-wrapper">
            <font-awesome-icon icon="ellipsis-v" />
          </div>
        </b-button>
      </span>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faEllipsisV } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import SearchBox from './Header/SearchBox'
import HeaderUserArea from './Header/HeaderUserArea'

library.add(faEllipsisV)
export default {
  name: 'Header',
  components: {
    HeaderUserArea,
    SearchBox,
    'font-awesome-icon': FontAwesomeIcon,
  },
  props: {
    personal: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      isOpen: false,
      isOpenMobileMenu: false,
    }
  },
  methods: {
    toggleMobile(className) {
      const el = document.body
      this.isOpen = !this.isOpen

      if (this.isOpen) {
        el.classList.add(className)
      } else {
        el.classList.remove(className)
      }
    },

    toggleMobile2(className) {
      const el = document.body
      this.isOpenMobileMenu = !this.isOpenMobileMenu

      if (this.isOpenMobileMenu) {
        el.classList.add(className)
      } else {
        el.classList.remove(className)
      }
    },
  },
}
</script>
