<template>
  <div class="grid-menu overflow-hidden" :class="items.length % 3 == 0 ? 'grid-menu-3col' : 'grid-menu-2col'">
    <div class="no-gutters row">
      <div v-for="(item, idx) in items" :key="idx" :class="item.class ? item.class : 'col-sm-3'">
        <div class="p-1">
          <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-focus">
            <i class="text-primary opacity-7 btn-icon-wrapper mb-2" :class="item.icon"></i>{{ item.txt }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IconMenu',
  props: { items: Array },
}
</script>

<style scoped>
.grid-menu div {
  border-right: #dee2e6 solid 1px;
  border-bottom: #dee2e6 solid 1px;
}
</style>
