<template>
  <div class="app-page-title" style="width:100%">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <slot name="heading"></slot>
        <div v-if="icon" class="page-title-icon">
          <i :class="icon" />
        </div>
        <div>
          {{ heading }}
          <div class="page-title-subheading">
            <slot name="subheading">
              {{ subheading }}
            </slot>
          </div>
        </div>
      </div>
      <div class="page-title-actions">
        <slot name="actions"></slot>
        <b-button v-if="hasHistory" class="btn-shadow mr-2 btn" @click="$router.go(-1)">
          <font-awesome-icon icon="arrow-left" />
        </b-button>
        <b-button v-if="homeButton" class="btn btn-dark btn-shadow mr-2" :to="$store.state.core.homePath">
          <font-awesome-icon icon="home" />
        </b-button>
        <nuxt-link v-if="false" type="button" class="btn-shadow mr-3 btn btn-dark" to="">
          <font-awesome-icon icon="star" />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faStar, faPlus, faArrowLeft, faHome } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faStar, faPlus, faArrowLeft, faHome)

export default {
  components: {
    'font-awesome-icon': FontAwesomeIcon,
  },
  props: {
    homeButton: {
      type: Boolean,
      default: false,
    },
    icon: String,
    heading: String,
    subheading: String,
    disableHistory: {
      type: Boolean,
      default: () => false,
    },
  },
  computed: {
    hasHistory() {
      return window.history.length > 2 && !this.disableHistory
    },
  },
}
</script>
