<template>
  <div
    class="app-sidebar sidebar-shadow"
    :style="{ background: sidebarBg }"
    @mouseover="toggleSidebarHover('add', 'closed-sidebar-open')"
    @mouseleave="toggleSidebarHover('remove', 'closed-sidebar-open')"
  >
    <div class="app-header__logo">
      <div data-v-text="title" class="mt-3" style="font-weight: bold; font-size: medium; margin-left: -10px; width: calc(100% + 40px); margin-right: -5px">
        <!--
        <b-input-group size="sm">
                   <template #append>
                      <b-input-group-text><strong class="text-danger">»</strong></b-input-group-text>
                    </template>
        </b-input-group>
              -->
        <b-form-input v-model="search" debounce="200" placeholder="найти ..." size="sm"></b-form-input>
      </div>
      <div class="header__pane ml-auto">
        <!--        <button type="button" class="hamburger close-sidebar-btn hamburger&#45;&#45;elastic" :class="{ 'is-active': isOpen }" @click="toggleBodyClass('closed-sidebar')">-->
        <!--          <span class="hamburger-box">-->
        <!--            <span class="hamburger-inner"></span>-->
        <!--          </span>-->
        <!--        </button>-->
      </div>
    </div>
    <div v-if="menuItems" class="app-sidebar-content pt-3">
      <VuePerfectScrollbar class="app-sidebar-scroll">
        <b-col class="mr-2">
          <b-button
            v-for="(item, idx) in menuItems"
            :key="idx"
            :variant="getVariant(item)"
            :style="getStyle(item)"
            class="text-left"
            block
            @click="item.click ? item.click() : () => false"
          >
            <div v-if="item.img" style="display: flex">
              <div class="btn-icon-wrapper mr-2 mb-1" style="display: inline-block; flex: 0 0 auto">
                <img :src="item.img" width="32px" />
              </div>
              <div style="display: inline-block; flex: 1 1 auto">
                <span>{{ item.title }}</span>
                <span v-if="item.id">{{ item.id }}</span>
              </div>
            </div>
            <div v-else>
              {{ item.title }}
            </div>
          </b-button>
        </b-col>
        <slot name="footer">
          {{ footer }}
        </slot>
      </VuePerfectScrollbar>
      <div>&nbsp;</div>
    </div>
  </div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
  components: {
    VuePerfectScrollbar,
  },
  props: {
    sidebarBg: {
      type: String,
      default: 'inherit',
    },
    footer: {
      type: String,
      default: null,
    },
    menu: Array,
    selected_title: String,
    title: {
      default: 'Информационные блоки',
      type: String,
    },
  },
  data: () => ({
    isOpen: false,
    sidebarActive: false,
    collapsed: true,
    windowWidth: 0,
    search: '',
    searchMenuItems: undefined,
  }),
  computed: {
    menuItems() {
      window.console.log('search', this.search)
      let menuItems = this.menu
      if (this.search) menuItems = menuItems.filter((x) => x.title.toUpperCase().includes(this.search.toUpperCase()))
      return menuItems
    },
    hasMenuItems() {
      return this.menu && this.menu.length > 0
    },
  },
  watch: {
    search(x) {
      window.console.log(this.search)
    },
  },
  mounted() {
    // Получение пунктов меню
    this.$nextTick(function() {
      window.addEventListener('resize', this.getWindowWidth)

      // Init
      this.getWindowWidth()
    })
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.getWindowWidth)
  },
  methods: {
    toggleBodyClass(className) {
      const el = document.body
      this.isOpen = !this.isOpen

      if (this.isOpen) {
        el.classList.add(className)
      } else {
        el.classList.remove(className)
      }
    },
    toggleSidebarHover(add, className) {
      const el = document.body
      this.sidebarActive = !this.sidebarActive

      this.windowWidth = document.documentElement.clientWidth

      if (this.windowWidth > '992') {
        if (add === 'add') {
          el.classList.add(className)
        } else {
          el.classList.remove(className)
        }
      }
    },
    getWindowWidth() {
      const el = document.body

      this.windowWidth = document.documentElement.clientWidth

      if (this.windowWidth < '1350') {
        el.classList.add('closed-sidebar', 'closed-sidebar-md')
      } else {
        el.classList.remove('closed-sidebar', 'closed-sidebar-md')
      }
    },
    getVariant(item) {
      return item.variant ? item.variant : item.active ? 'primary' : item.click ? 'outline-primary' : 'outline-secondary'
      // return (item.active ? '' : 'outline-') + (item.click ? 'primary' : 'secondary')
    },
    getStyle(item) {
      return { color: item.color, 'font-weight': item.fontWeight, border: item.border }
    },
  },
}
</script>

<style scoped>
.item-id {
  font-size: x-small;
  color: #ccc;
}

.item-id:before {
  display: '#';
}

.app-sidebar-content {
  padding-bottom: 80px;
}
</style>
