<template>
  <div class="app-sidebar sidebar-shadow" @mouseover="toggleSidebarHover('add', 'closed-sidebar-open')" @mouseleave="toggleSidebarHover('remove', 'closed-sidebar-open')">
    <div class="app-header__logo">
      <div class="" style="font-weight: bold; font-size: medium; margin-left: -10px">Информационные блоки2</div>
      <div class="header__pane ml-auto">
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" :class="{ 'is-active': isOpen }" @click="toggleBodyClass('closed-sidebar')">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div v-if="menu" class="app-sidebar-content">
      <VuePerfectScrollbar v-once class="app-sidebar-scroll">
        <sidebar-menu :menu="menu" />
      </VuePerfectScrollbar>
    </div>
  </div>
</template>

<script>
import { SidebarMenu } from 'vue-sidebar-menu'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
  components: {
    SidebarMenu,
    VuePerfectScrollbar,
  },
  props: {
    sidebarbg: String,
  },
  data() {
    return {
      isOpen: false,
      sidebarActive: false,

      menu: null,
      collapsed: true,

      windowWidth: 0,
    }
  },
  computed: {
    // menu() {
    //   return this.menu_
    // },
  },
  mounted() {
    // Получение пунктов меню
    this.$nextTick(function() {
      window.addEventListener('resize', this.getWindowWidth)

      // Init
      this.getWindowWidth()

      this.fetchMenu()
    })
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.getWindowWidth)
  },
  methods: {
    toggleBodyClass(className) {
      const el = document.body
      this.isOpen = !this.isOpen

      if (this.isOpen) {
        el.classList.add(className)
      } else {
        el.classList.remove(className)
      }
    },
    toggleSidebarHover(add, className) {
      const el = document.body
      this.sidebarActive = !this.sidebarActive

      this.windowWidth = document.documentElement.clientWidth

      if (this.windowWidth > '992') {
        if (add === 'add') {
          el.classList.add(className)
        } else {
          el.classList.remove(className)
        }
      }
    },
    getWindowWidth() {
      const el = document.body

      this.windowWidth = document.documentElement.clientWidth

      if (this.windowWidth < '1350') {
        el.classList.add('closed-sidebar', 'closed-sidebar-md')
      } else {
        el.classList.remove('closed-sidebar', 'closed-sidebar-md')
      }
    },
    async fetchMenu() {
      const { data } = await this.$axios.get('core/navigation')
      this.menu = data.menu
    },
  },
}
</script>
