<template>
  <div class="video_bg">
    <div class="post_title entry_post" style="display:flex;height:200px;align-items:center">
      <img src="/img/home/reu_logo.png" height="144" style="flex: 0 0 auto" />
      <h3 style="flex: 1 1 auto;text-align: center; color:white;font-weight: bold;text-shadow: 1px 1px 2px black">
        Ситуационный центр<br />социально-экономического развития<br />регионов Российской Федерации
      </h3>
    </div>
    <div class="video_wrap">
      <video loop autoplay muted>
        <source type="video/mp4" src="video/video0.mp4" />
      </video>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VideoHeader',
}
</script>

<style scoped>
video {
  position: absolute;
  left: 50%;
  top: 50%;
  /* The following will size the video to fit the full container. Not necessary, just nice.*/
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}
.video_bg {
  height: 200px;
}
.video_bg h1 {
  font-size: 52px;
}
.video_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 200px; /*100vh;*/
  overflow: hidden;
}
.video_wrap video {
  min-height: 200px;
  min-width: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.video_bg .post_title {
  display: block;
  width: 100%;
  height: auto;
  background: transparent;
  vertical-align: bottom;
  margin: auto;
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 149px;
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #fff;
}
.video_bg .post_title .contact {
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 90px;
  display: inline-block;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .video_bg h1 {
    font-size: 38px;
  }
  .video_bg .post_title {
    top: 5%;
  }
}
</style>
