<template>
  <div style="margin: 5px 20px 5px 20px">
    <!--    <Sidebar2 title="Международная миграция" sidebar-bg="#CCCCCC77" :menu="menu" />-->
    <!--    <div class="app-main__outer">-->
    <b-row>
      <b-col md="12">
        <div style="display: flex">
          <div>
            <img src="https://regstat.rea.ru/img/home/reu_logo_blue.png" style="max-width: 150px" />
          </div>
          <div style="text-align: center; width:100%;">
            <h1>Российский экономический университет имени Г.В.Плеханова</h1>
            <h2>
              Информационно-аналитическая система<br />
              "Интеллектуальная миграция"
            </h2>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row class="mb-5"></b-row>
    <b-row class="mb-2"></b-row>
    <b-row class="mb-3">
      <b-col md="3">
        <nuxt-link to="/mig/m1">
          <div class="my-card mb-3" style="background: #5075a5;  height: 100%">
            <b-card-title class="text-white">Миграция</b-card-title>
            <b-card-body>
              <b-button variant="info" to="/mig/m1" style="font-size: x-large;">Миграция населения Российской Федерации</b-button>
            </b-card-body>
          </div>
        </nuxt-link>
      </b-col>
      <b-col md="6">
        <div class="my-card mb-3" style="background: #0b2d50; height: 100%">
          <b-card-title class="text-white">Интеллектуальная миграция</b-card-title>
          <b-card-body>
            <b-row>
              <b-col md="12" class="mb-3">
                <div class="text-white">выезд из Российской Федерации докторов и кандидатов наук на постоянное место жительства</div>
              </b-col>
              <b-col md="6">
                <b-button to="/mig/m2" block class="mb-3" variant="info" size="lg" style="font-size:large">
                  по регионам РФ
                </b-button>
              </b-col>
              <b-col md="6">
                <b-button to="/mig/m2/dk" block class="mb-3" variant="danger" size="lg" style="font-size:large">
                  по странам
                </b-button>
              </b-col>
              <b-col md="6">
                <b-button to="/mig/m2/rel_c" block class="mb-3" variant="danger" style="background: #9e2c1a;font-size:large" size="lg">
                  структура
                </b-button>
              </b-col>
              <b-col md="6">
                <b-button to="/mig/m2/rel_w" block class="mb-3" variant="danger" style="background: #9e391a;font-size:large">
                  динамика
                </b-button>
              </b-col>
            </b-row>
          </b-card-body>
        </div>
      </b-col>
      <b-col md="3">
        <div class="mb-3 my-card" style="background: #5075a5; height: 100%">
          <b-card-title class="text-white">Большие данные (научная аффиляция)</b-card-title>
          <b-card-body>
            <div class="mb-3 card text-white bg-light">
              <b-button to="/mig/m3" variant="info" style="font-size: x-large;">Перейти</b-button>
            </div>
          </b-card-body>
        </div>
      </b-col>
    </b-row>
    <b-row class="mb-3"></b-row>
    <b-row>
      <b-col md="6">
        <b-button to="/mig/m2/forecast" variant="danger" style="font-size: x-large; width: 100%; text-align: center;padding: 20px 10px;">
          Прогноз<br />интеллектуальной миграции
        </b-button>
      </b-col>
      <b-col md="6">
        <b-card class="card-shadow-danger border mb-3 card-danger">
          <b-card-header>Информационные ресурсы</b-card-header>
          <b-card-body>
            <div class="mb-3 card text-white bg-light">
              <b-button href="/mig/doc/Методология.pdf" class="mb-3">Методология</b-button>
              <b-button href="/mig/doc/Нормативно-правовое_обеспечение.pdf" class="mb-3">Нормативно-правовое обеспечение</b-button>
              <b-button href="/mig/doc/Источники_данных.pdf" class="mb-3">Источники данных</b-button>
            </div>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
// import PageTitle from '~/components/Components/PageTitle'
// import Header from '~/components/Components/Header'
// import Sidebar2 from '~/components/Components/Sidebar2'
import sideBarMenu from '~/pages/mig/sideBarMenu'

export default {
  components: {
    // Sidebar2,
    // Header,
    // PageTitle,
  },
  layout: 'mig',
  computed: {
    menu() {
      return [...sideBarMenu(this.$router)]
    },
  },
}
</script>

<style scoped></style>
