<template>
  <div>
    <b-card class="mb-3">
      <b-card-title>Параметры кастомизации</b-card-title>
      <b-card-body>
        <div class="mb-2">
          <indicator-select-link :root-indicators="['rusreg2']" :selected-indicator="selectedIndicator" modal-id="selectIndicator" @select="selectIndicator" />
        </div>
        <div class="mb-2">
          <b-form inline>
            <label class="mr-3">Операция:</label>
            <b-form-select v-model="operator" :options="operators" />
          </b-form>
        </div>
        <div class="mb-2">
          <indicator-select-link :root-indicators="['rusreg2']" :selected-indicator="selectedIndicator2" modal-id="selectIndicator2" @select="selectIndicator2" />
        </div>
        <div class="mb-2">
          <b-form-checkbox v-model="percent" name="checkbox-1" value="1" unchecked-value="0">
            Преобразование процентов в доли (/100)
          </b-form-checkbox>
        </div>
      </b-card-body>
    </b-card>
    <b-card v-if="df" class="mb-3">
      <b-card-title>Результат</b-card-title>
      <b-card-body>
        <b-table sticky-header="100%" striped hover :items="tableItems" :fields="tableFields" />
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import IndicatorSelectLink from '~/components/Indicator/IndicatorSelectLink'

export default {
  name: 'CalcWidget',
  components: { IndicatorSelectLink },
  props: {
    indicator: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      selectedIndicator: null,
      selectedIndicator2: null,
      operator: 'div',
      operators: [
        { value: 'div', text: 'Разделить' },
        { value: 'mul', text: 'Умножить' },
        { value: 'sub', text: 'Вычесть' },
        { value: 'add', text: 'Сложить' },
      ],
      percent: 0,
      result: [],
      df: null,
      tableFields: [],
      tableItems: [],
    }
  },
  watch: {
    indicator() {
      this.selectedIndicator = this.indicator
      this.calc()
    },
    operator() {
      this.calc()
    },
    selectedIndicator() {
      this.calc()
    },
    selectedIndicator2() {
      this.calc()
    },
    percent() {
      this.calc()
    },
  },
  mounted() {
    this.selectIndicator(this.indicator)
  },
  methods: {
    selectIndicator(ind) {
      this.selectedIndicator = { ...ind }
    },
    selectIndicator2(ind) {
      this.selectedIndicator2 = { ...ind }
    },
    async calc() {
      try {
        const params = {
          indicators: `${this.selectedIndicator.id},${this.selectedIndicator2.id}`,
          operator: this.operator,
          percent: this.percent,
        }
        const url = '/data/indicator/data/calc'
        const { data } = await this.$axios.get(url, { params })
        const df = dataForge.fromJSON(JSON.stringify(data))
        this.df = df
        this.tableFields = [{ key: 'Регион', stickyColumn: true, isRowHeader: true }, ...df.getColumnNames().filter((x) => x !== 'Регион')]
        this.tableItems = data

        window.xxx = this
      } catch (e) {
        this.df = null
        this.tableFields = []
        this.tableItems = []
        window.console.log(`Ошибка ${e}`)
      }
    },
  },
}
</script>

<style lang="scss"></style>
