<template>
  <div v-if="indicator">
    <b-row>
      <b-col md="6">
        <b-card class="mb-3">
          <b-card-title>Выберите регион</b-card-title>
          <b-card-body>
            <div class="mb-2">
              <b-form inline>
                <label class="mr-3">Операция:</label>
                <b-form-select v-model="region" :options="regions" />
              </b-form>
            </div>
            <div class="mb-2">
              <b-form-checkbox v-model="percent" name="checkbox-1" value="1" unchecked-value="0">
                Преобразование в проценты (&times;100%)
              </b-form-checkbox>
            </div>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col md="6">
        <b-card class="mb-3">
          <b-card-title>Выберите год</b-card-title>
          <b-card-body>
            <div class="mb-2">
              <b-form inline>
                <label class="mr-3">Операция:</label>
                <b-form-select v-model="year" :options="years" />
              </b-form>
            </div>
            <div class="mb-2">
              <b-form-checkbox v-model="percent" name="checkbox-1" value="1" unchecked-value="0">
                Преобразование в проценты (&times;100%)
              </b-form-checkbox>
            </div>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <b-card v-if="df" class="mb-3">
      <b-card-title>{{ indicator.smart_name }}</b-card-title>
      <b-card-body>
        <b-table sticky-header="100%" striped hover :items="tableItems" :fields="tableFields" :tbody-tr-class="rowClass" />
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'

export default {
  name: 'RelativeWidget',
  components: {},
  props: {
    indicator: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      region: null,
      regions: [],
      tableItems: [],
      tableFields: [],
      df: null,
      percent: 0,
      year: null,
      years: [],
    }
  },
  watch: {
    indicator() {
      this.calc()
    },
    percent() {
      this.calc()
    },
    region() {
      this.year = null
      this.calc()
    },
    year() {
      this.region = null
      this.calc()
    },
  },
  async mounted() {
    await this.calc()
  },
  methods: {
    async calc() {
      try {
        const url = `/data/indicator/${this.indicator.id}/relative`
        const params = { percent: this.percent }
        if (this.region) params.target = this.region
        if (this.year) params.year = this.year
        const { data } = await this.$axios.get(url, { params })
        const df = dataForge.fromJSON(JSON.stringify(data))
        this.df = df
        this.regions = df.getSeries('Регион').toArray()
        this.years = df.getColumnNames()
        this.tableFields = [{ key: 'Регион', stickyColumn: true, isRowHeader: true }, ...df.getColumnNames().filter((x) => x !== 'Регион')]
        this.tableItems = data.map((x) => (x['Регион'] === this.region ? { status: 'awesome', ...x } : x))
      } catch (e) {
        window.console.error(e)
      }
    },
    rowClass(item, type) {
      if (!item || type !== 'row') return
      if (this.region) {
        if (item['Регион'] === this.region) return 'table-success'
      }
    },
  },
}
</script>

<style scoped></style>
