<template>
  <div>
    <Header />
    <Sidebar2 title="Миграция населения" sidebar-bg="#CCCCCC77" :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading" style="color:white"></page-title>
        <div v-if="selected_indicator">
          <b-row>
            <b-col md="12" class="text-center">
              <b-button
                v-for="tab in tabs"
                :key="tab.value"
                :variant="selected_type == tab.value ? 'primary' : 'info'"
                class="mr-1 btn-shadow mb-1"
                @click="selected_type = tab.value"
                v-text="tab.text || tab.title"
              />
            </b-col>
          </b-row>
          <div v-if="selected_type == 'chart'">
            <b-row class="mt-3">
              <!--              <b-col md="12">-->
              <!--                <b-card class="mt-3">-->
              <!--                  <b-card-header>Выберите регион</b-card-header>-->
              <!--                  <b-card-body>-->
              <!--                    <b-select v-if="data.index" v-model="selected_region2" size="lg" :options="regions_only" />-->
              <!--                  </b-card-body>-->
              <!--                </b-card>-->
              <!--              </b-col>-->
              <b-col md="12">
                <data-chart :indicator_id="selected_indicator_id" region="Российская Федерация" class="mt-3">
                  <template v-slot:header>
                    <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
                  </template>
                </data-chart>
              </b-col>
            </b-row>
          </div>
          <div v-if="selected_type == 'chart_xyz'">
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" />
            <b-card class="mt-3">
              <b-card-header>
                Выберите дополнительные показатели
                <!-- div class="btn-actions-pane-right">
                  <b-button size="sm" variant="light" @click="updateCharts">Обновить</b-button>
                </div -->
              </b-card-header>
              <b-card-body>
                <b-row class="mt-2">
                  <b-col md="4">Дополнительный показатель 2 (ось X)</b-col>
                  <b-col md="8">
                    <div class="grp">
                      <b-form-radio-group v-model="selectedYear2" :options="years2" buttons button-variant="outline-primary" class="mr-1" />
                      <indicator-select-link
                        v-if="selectedYear2"
                        :filter-eq="selectedYear2"
                        :root-indicators="['migration', 'natproj2', 'rusreg2']"
                        :selected-indicator="selected_indicator2"
                        modal-id="selectIndicator2"
                        @select="selectIndicator2"
                      />
                    </div>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col md="4">Дополнительный показатель 3 (ось Z)</b-col>
                  <b-col md="8">
                    <div class="grp">
                      <b-form-radio-group v-model="selectedYear3" :options="years3" buttons button-variant="outline-primary" class="mr-1" />
                      <indicator-select-link
                        v-if="selectedYear3"
                        :filter-eq="selectedYear3"
                        :root-indicators="['migration', 'natproj2', 'rusreg2']"
                        :selected-indicator="selected_indicator3"
                        modal-id="selectIndicator3"
                        @select="selectIndicator3"
                      />
                    </div>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
            <b-card class="mt-3">
              <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
              <b-card-body v-if="selected_indicator && selected_indicator2 && selected_indicator3">
                <data-chart-xyz
                  :indicator-id-x="selected_indicator2.id"
                  :indicator-id-y="selected_indicator.id"
                  :indicator-id-z="selected_indicator3.id"
                  :tm="selected_year"
                  :tm-x="selectedYear2"
                  :tm-z="selectedYear3"
                />
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_type == 'stacked_area'">
            <div v-if="parent_indicator.id === 2525">
              <data-fo2 :indicator_id="selected_indicator.id" />
            </div>
            <div>
              <year class="mt-3" :years="years" :selected_year.sync="selected_year" />
              <data-stacked-fo :indicator_id="selected_indicator.id" :tm="selected_year" class="mt-3">
                <template v-slot:header>
                  <b-card-title class="mr-3">{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
                </template>
              </data-stacked-fo>
            </div>
          </div>
          <div v-if="selected_type == 'grp'">
            <div v-if="parent_indicator.id === 2525" class="mb-3">
              <data-reg2 :indicator_id="selected_indicator_id" />
            </div>
            <div>
              <year class="mb-3" :years="years" :selected_year.sync="selected_year" />
              <b-row>
                <b-col md="12" class="mb-3">
                  <b-card>
                    <b-card-header>Выберите регион</b-card-header>
                    <b-card-body>
                      <!--                    <b-select v-if="data.index" v-model="selected_region" size="lg" :options="data.index" />-->
                      <b-select v-model="selected_region">
                        <b-select-option v-for="(region, idx) in regions_only" :key="idx" :value="region">{{ region }}</b-select-option>
                      </b-select>
                    </b-card-body>
                  </b-card>
                </b-col>
                <b-col md="12" class="mb-3">
                  <b-card>
                    <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
                    <b-card-sub-title>Распределение относительно медианы</b-card-sub-title>
                    <b-card-body>
                      <apexchart height="400" type="bubble" :options="chartOptionsB" :series="series_b"></apexchart>
                    </b-card-body>
                  </b-card>
                </b-col>
              </b-row>
            </div>
          </div>
          <div v-if="selected_type == 'map'">
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" :interval="3500" />
            <b-card v-if="selected_year" class="mt-3">
              <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
              <b-card-sub-title>Картограмма</b-card-sub-title>
              <b-card-body>
                <data-map :indicator_id="selected_indicator.id" :tm="selected_year" />
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_type == 'map2'">
            <b-row>
              <b-col md="12">
                <b-card>
                  <b-card-header>
                    Выберите точки
                    <!--      <div class="btn-actions-pane-right">-->
                    <!--        <b-button size="sm" variant="light" @click="updateCharts">Обновить</b-button>-->
                    <!--      </div>-->
                  </b-card-header>
                  <b-card-body>
                    <b-row>
                      <b-col md="12">
                        <b-button
                          v-for="year in years"
                          :key="year"
                          :variant="selected_years.includes(year) ? 'primary' : 'transition outline-focus'"
                          class="ml-2 mr-2"
                          @click="updateSelectedYears(year)"
                        >
                          {{ year }}
                          <span v-if="selected_years.includes(year)" class="badge badge-pill badge-warning">{{ selected_years.indexOf(year) + 1 }}</span>
                        </b-button>
                      </b-col>
                    </b-row>
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
            <b-row>
              <b-col v-for="year in selected_years" :key="year" md="6">
                <b-card class="mt-3">
                  <b-card-body>
                    {{ year }}
                    <data-map :indicator_id="selected_indicator.id" :tm="year" />
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
            <!--            <b-card class="mt-3">-->
            <!--              <b-card-header>Картограмма</b-card-header>-->
            <!--              <b-card-body>-->
            <!--                <highcharts :constructor-type="'mapChart'" :options="mapOptions" class="map" width="100%"></highcharts>-->
            <!--              </b-card-body>-->
            <!--            </b-card>-->
          </div>
          <div v-if="selected_type == 'histogram'">
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" :interval="3500" />
            <b-card class="mt-3">
              <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
              <b-card-sub-title>Гистограмма</b-card-sub-title>
              <b-card-body>
                <data-hist v-if="selected_year" :indicator_id="selected_indicator_id" :tm="selected_year" />
                <!--                <data-hist :data="data" :tm="selected_year" @click="histogramClick" />-->
              </b-card-body>
            </b-card>
            <b-card v-if="histogramSelected" class="mt-3">
              <b-card-title>Регионы</b-card-title>
              <b-card-sub-title>Перечень регионов, у которых значение показателя находится в дианазоне {{ histogramSelected.min }} — {{ histogramSelected.max }}</b-card-sub-title>
              <b-card-body>
                <span v-for="i in histogramSelected.rows" :key="i" class="btn btn-secondary mt-1 ml-1">
                  {{ data.index[i.row] }}<span class="badge badge-light">{{ i.value }}</span>
                </span>
              </b-card-body>
            </b-card>
          </div>
          <div v-if="selected_type == 'table'">
            <b-card class="mt-3">
              <b-card-title>{{ selected_indicator.name }}</b-card-title>
              <b-card-sub-title>Таблица данных</b-card-sub-title>
              <b-card-body>
                <data-table :indicator_id="selected_indicator.id" />
              </b-card-body>
            </b-card>
          </div>
        </div>
        <b-row class="mt-3">
          <b-col v-for="ind in indicators" :key="ind.ind" md="3" class="mt-3">
            <b-card>
              <b-card-title>{{ ind.name }}</b-card-title>
              <b-card-body>
                <b-row>
                  <b-col md="12" class="mb-1">
                    <b-button block class="btn-icon btn-shadow btn-outline-2x btn-info" @click="selectIndicator(ind, 'chart')">
                      <i class="lnr-chart-bars"></i>
                      График
                    </b-button>
                  </b-col>
                  <b-col md="12" class="mb-1">
                    <b-button block class="btn-icon btn-shadow btn-outline-2x btn-info" @click="selectIndicator(ind, 'map')">
                      <i class="lnr-map"></i>
                      Картограмма
                    </b-button>
                  </b-col>
                  <b-col md="12" class="mb-1">
                    <b-button block class="btn-icon btn-shadow btn-outline-2x btn-info" @click="selectIndicator(ind, 'table')">
                      <i class="lnr-text-align-justify"></i>Таблица</b-button
                    >
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh, faChartArea } from '@fortawesome/free-solid-svg-icons'
import VueApexCharts from 'vue-apexcharts'
import _ from 'lodash'

import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
import Year from '~/components/Filter/Year'
import DataChart from '~/components/Widgets/DataChart'
import DataChartXyz from '~/components/Widgets/DataChartXyz'
import DataHist from '~/components/Widgets/DataHist'
import DataMap from '~/components/Widgets/DataMap'
import DataStackedFo from '~/components/Widgets/DataStackedFo'
import IndicatorSelectLink from '~/components/Indicator/IndicatorSelectLink'
// import DataChart2 from '~/components/Widgets2/DataChart2'
import DataFo2 from '~/components/Widgets2/DataFo2'
import DataReg2 from '~/components/Widgets2/DataReg2'
import DataTable from '~/components/Widgets/DataTable'
import sideBarMenu from '~/pages/mig/sideBarMenu'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt, faChartArea)

const TABS = [
  {
    text: 'График (динамика)',
    title: 'График (динамика)',
    value: 'chart',
  },
  {
    text: 'Распределение по федеральным округам',
    title: 'Распределение по федеральным округам',
    value: 'stacked_area',
  },
  {
    text: 'Картограмма',
    title: 'Картограмма',
    value: 'map',
  },
  {
    text: 'Сопоставление картограмм',
    title: 'Сопоставление картограмм',
    value: 'map2',
  },
  {
    text: 'Таблица',
    title: 'Таблица',
    value: 'table',
  },
]

const defaultYears = ['2018', '2019', '2020']

export default {
  auth: false,
  layout: 'mig',
  components: {
    DataFo2,
    DataReg2,
    // DataChart2,
    IndicatorSelectLink,
    DataStackedFo,
    DataMap,
    DataChartXyz,
    DataChart,
    DataHist,
    PageTitle,
    Header,
    Sidebar2,
    Year,
    DataTable,
    // StackedChart,
    apexchart: VueApexCharts,
  },
  async asyncData({ $axios }) {
    const parentIndicatorCode = 'migration'
    let years
    years = await $axios.get('/data/region')
    const regions = years.data
    years = await $axios.get(`/data/indicator/${parentIndicatorCode}`)
    const parent_indicator = years.data
    years = await $axios.get(`/data/indicator/parent/${parentIndicatorCode}/withdata`)
    const indicators = years.data
    let indicator_list = []
    years = await $axios.get(`/data/indicator/parent/natproj2/withdata`)
    indicator_list = indicator_list.concat(years.data)
    years = await $axios.get(`/data/indicator/parent/years/withdata`)
    indicator_list = indicator_list.concat(years.data)
    return { parent_indicator, indicators, indicator_list, regions, yearsIndicators: years.data }
  },

  data: () => ({
    histogramSelected: null,
    selectedIndicatorId: null,
    selected_indicator: null,
    selected_indicator2: null,
    selected_indicator3: null,
    selected_type: null,
    selected_year: null,
    selectedYear2: null,
    selectedYear3: null,
    selected_years: [],
    selected_region2: null,
    indicators: [],
    parent_indicator: null,
    data: {},
    data2: {},
    data3: {},
    standart_data: {},
    standart_data2: {},
    standart_data3: {},
    table_fields: [],
    table_items: [],
    tabs: TABS,
    regions: [],
    currentTab: 'chart',
    indicator_list: [],
    map_data: [],
    series2: [],
    series_b: [],
    series_b0: [],
    series_b1: [],
    localChartOptions: {
      chart: {
        type: 'area',
        stacked: true,
        // events: {
        //   selection(chart, e) {
        //     console.log(new Date(e.xaxis.min))
        //   },
        // },
      },
      colors: ['#fe5000', '#0077c8', '#008eaa', '#84bd00', '#9a4cda', '#005670', '#0085ad', '#efdf00'],
      dataLabels: {
        enabled: false,
      },
      stroke: {
        curve: 'smooth',
      },
      fill: {
        type: 'gradient',
        gradient: {
          opacityFrom: 0.6,
          opacityTo: 0.8,
        },
      },
      legend: {
        position: 'right',
        horizontalAlign: 'center',
      },
      xaxis: {
        type: 'numeric',
        categories: [],
      },
    },
    chartOptionsB: {
      dataLabels: {
        enabled: false,
      },
      colors: ['#fe5000', '#00B462', '#003E6A', '#359fa7', '#2972a1'],
      tooltip: {
        custom({ series, seriesIndex, dataPointIndex, w }) {
          return '<div class="arrow_box">' + '<span>' + w.config.series[seriesIndex].data[dataPointIndex][3] + '</span>' + '</div>'
        },
      },
      fill: {
        opacity: 0.8,
        gradient: {
          enabled: false,
        },
      },
      title: {
        show: false,
        text: '',
      },
      xaxis: {
        // tickAmount: 12,
        type: 'numeric',
        min: -4,
        max: 3,
      },
      yaxis: {
        max: 4,
        min: -4,
        show: false,
        borderType: 'dotted',
      },
    },
    selected_region: null,
    indicatorList2: null,
    indicatorList3: null,
  }),

  computed: {
    years2() {
      try {
        return defaultYears.map((x) => ({
          text: !this.selected_indicator2 || this.selected_indicator2.extra_json.df_columns.map((x) => x.toString()).includes(x) ? x : x + '*',
          value: x,
          variant: 'danger',
        }))
      } catch {
        return defaultYears
      }
    },
    years3() {
      try {
        return defaultYears.map((x) => ({
          text: !this.selected_indicator3 || this.selected_indicator3.extra_json.df_columns.map((x) => x.toString()).includes(x) ? x : x + '*',
          value: x,
        }))
      } catch {
        return defaultYears
      }
    },

    subheading() {
      return this.parent_indicator.name
    },
    short_subheading() {
      return this.parent_indicator.short_name
    },
    heading() {
      return (this.selected_indicator ? this.selected_indicator.name : this.parent_indicator.name) + ' (Россия)'
    },
    short_heading() {
      return this.selected_indicator ? this.selected_indicator.short_name : this.parent_indicator.short_name
    },
    icon() {
      return 'pe-7s-plane icon-gradient bg-tempting-azure'
    },
    regions_only() {
      // return this.regions.filter((x) => x.levels.includes('region'))

      return _.uniq(this.data.index.filter((x) => !x.includes('федеральный')))
    },
    years() {
      try {
        return this.data.columns_hash
      } catch {
        return []
      }
    },
    menu() {
      const topIndicatorsId = []
      // const indicators = [...[], ...this.indicators]
      // indicators.sort((a, b) => {
      //   if (a.extra_json.df_columns_hash[a.extra_json.df_columns_hash.length - 1] < b.extra_json.df_columns_hash[b.extra_json.df_columns_hash.length - 1]) return 1
      //   if (a.extra_json.df_columns_hash[a.extra_json.df_columns_hash.length - 1] > b.extra_json.df_columns_hash[b.extra_json.df_columns_hash.length - 1]) return -1
      //   return 0
      // })
      const indicators2 = [...this.indicators.filter((x) => topIndicatorsId.includes(x.id)), ...this.indicators.filter((x) => !topIndicatorsId.includes(x.id))]
      return [
        ...indicators2.map((x, i) => ({
          title: `${i + 1}. ${x.name}`,
          id: x.id,
          click: () => this.selectIndicator(x),
          variant: 'info',
        })),
        {
          title: '---',
        },
        ...sideBarMenu(this.$router),
      ]
    },
    fo() {
      return this.data.index.filter((x) => x.name.includes('федераль')).map((x) => x.name)
    },
  },

  watch: {
    selected_year() {
      this.updateCharts2()
      if (this.selected_type == 'grp') this.updateBubble()
    },
    selected_indicator() {},
    async selected_indicator2() {
      this.data2 = this.selected_indicator2 ? (await this.fetchIndicatorData(this.selected_indicator2.id)).data : null
      this.standart_data2 = this.selected_indicator2 ? (await this.fetchIndicatorData(this.selected_indicator2.id)).standart_data : null
      // this.updateCharts()
    },
    async selected_indicator3() {
      this.data3 = this.selected_indicator3 ? (await this.fetchIndicatorData(this.selected_indicator3.id)).data : null
      this.standart_data3 = this.selected_indicator3 ? (await this.fetchIndicatorData(this.selected_indicator3.id)).standart_data : null
      // this.updateCharts()
    },
    selected_type() {
      if (this.selected_type == 'grp') this.updateBubble()
    },
    selected_region() {
      this.updateBubble(true)
    },
    selectedYear2() {
      this.updateIndicatorList2()
    },
    selectedYear3() {
      this.updateIndicatorList3()
    },
  },

  mounted() {
    if (this.$store.state.core.regName) {
      try {
        this.selected_region = this.regions_only.filter((x) => x.name == this.$store.state.core.regName)[0]
      } catch {}
      this.selected_region2 = this.$store.state.core.regName
    }
  },

  methods: {
    async selectIndicator(indicator, type) {
      this.selected_indicator = indicator
      this.selected_indicator_id = indicator.id
      if (type !== undefined) {
        this.selected_type = type
      }
      if (!this.selected_type) {
        this.selected_type = 'chart_xyz'
      }
      const { data, standart_data } = await this.fetchIndicatorData(indicator.id)
      this.data = data
      this.standart_data = standart_data
      if (!this.data.columns_hash || !this.data.columns_hash.includes(this.selected_year)) {
        this.selected_year = null
      }
      this.updateCharts2()
    },
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      return this.getParentRegion(region.id)
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    hasColumns(ind, selected_indicator) {
      return ind.extra_json.df_columns_hash.filter((y) => selected_indicator.extra_json.df_columns_hash.includes(y)).length > 0
    },
    // getColumns(indicator_list, main_indicator) {
    //   return indicator_list.filter((x) => x.extra_json.df_columns_hash.filter((y) => main_indicator.extra_json.df_columns_hash.includes(y)).length > 0)
    // },
    updateCharts2() {
      if (this.selected_year && this.data.index) {
        const series = {}
        const ru_data = this.data.data.map((x) => x[this.data.columns_hash.indexOf(this.selected_year)])
        const min = Math.min.apply(Math, ru_data)
        const max = Math.max.apply(Math, ru_data)
        const dx = (max - min) / 10
        const RF = 'Российская Федерация'
        window.console.log(min, max, RF)

        series[RF] = {
          type: 'line',
          name: RF,
          limits: Array(10)
            .fill()
            .map((_, idx) => min + idx * dx),
          data: Array(10).fill(0),
          regions: [],
        }

        this.data.index.forEach((region_name, i) => {
          const region = this.getRegionByName(region_name)
          if (!region) return
          if (!region.levels.includes('subject')) return
          let fo = this.getParentRegionBy(region.name)
          if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
          if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
          if (!(fo.name in series)) {
            series[fo.name] = {
              type: 'area',
              name: fo.short_name,
              limits: Array(10)
                .fill(undefined)
                .map((_, idx) => min + idx * dx),
              data: Array(10).fill(0),
              regions: [],
            }
          }
          const x = this.data.data[i][this.data.columns_hash.indexOf(this.selected_year)]
          ;[fo.name, RF].forEach((z) => {
            for (let j = 9; j >= 0; j--)
              if (x > series[z].limits[j]) {
                series[z].data[j]++
                series[z].regions.push(region.short_name)
                break
              }
          })
        })
        this.series2 = Object.keys(series)
          .filter((x) => x != RF)
          .map((x) => ({
            name: series[x].name,
            data: series[x].data.map((_, idx) => ({ x: series[RF].limits[idx], y: series[x].data[idx] })),
          }))
        this.$set(this.localChartOptions.xaxis, 'categories', series[RF].limits)
      }
    },
    async updateBubble(noAnimate) {
      if (!this.selected_year) return
      const { data } = await this.$axios.get(`data/np/${this.selected_indicator.id}/bubbles/${this.selected_year}`)
      data.series = data.series.filter((x) => !x[3].includes('Российская'))
      window.console.log(data.series)
      const top5 = data.series
        .map((x) => x[0])
        .sort()
        .splice(-5)
      const series_b = {}
      series_b.msk = { name: this.selected_region ? this.selected_region : 'регион не указан', data: [] }
      series_b.top5 = { name: 'Top 5', data: [] }
      series_b.lt_mean = { name: '< ' + Math.round(data.mean * 100) / 100, data: [] }
      series_b.mean_median = { name: Math.round(data.mean * 100) / 100 + ' - ' + Math.round(data.median * 100) / 100, data: [] }
      series_b.gt_median = { name: '> ' + Math.round(data.median * 100) / 100, data: [] }

      data.series.forEach((x) => {
        const region = this.getRegionByName(x[3])
        if (region.name.toLowerCase().includes('федерал')) return
        if (this.selected_region && this.selected_region == region.name) series_b.msk.data.push(x)
        else if (top5.includes(x[0])) series_b.top5.data.push(x)
        else if (x[0] < data.mean) series_b.lt_mean.data.push(x)
        else if (x[0] > data.median) series_b.gt_median.data.push(x)
        else series_b.mean_median.data.push(x)
      })
      this.series_b0 = Object.keys(series_b).map((x) => ({ name: series_b[x].name, data: series_b[x].data.map((z) => [-5.5, z[1], z[2], z[3]]) }))
      this.series_b1 = Object.keys(series_b).map((x) => series_b[x])
      this.series_b = this.series_b0
      this.series_b_mean = data.mean
      this.series_b_median = data.median
      this.$set(this.chartOptionsB.xaxis, 'min', data.min * 0.8)
      this.$set(this.chartOptionsB.xaxis, 'max', data.max * 1.2)
      this.$set(this.chartOptionsB, 'annotations', {
        xaxis: [
          {
            x: data.median,
            borderColor: '#999',
            yAxisIndex: 0,
            label: {
              show: true,
              text: 'Медиана (' + data.median + ')',
              style: {
                color: '#FFF',
                background: '#775DD0',
              },
            },
          },
          {
            x: series_b.top5.data.reduce((a, b) => a + b[1], 0),
            borderColor: '#999',
            yAxisIndex: 0,
            label: {
              show: true,
              text: 'Cредняя Top 5 (' + series_b.top5.data.reduce((a, b) => a + b[1], 0) + ')',
              style: {
                color: '#FFF',
                background: '#68d0aa',
              },
            },
          },
        ],
      })
      if (noAnimate) {
        this.series_b = this.series_b1
      } else {
        const self = this
        setTimeout(function() {
          self.series_b = self.series_b1
        }, 1500)
      }
    },
    handleClick(newTab) {
      this.selected_type = newTab
    },
    async fetchIndicatorData(indicator_id) {
      const { data } = await this.$axios.get(`data/indicator/${indicator_id}/data`)
      return data
    },
    updateSelectedYears(year) {
      const z = this.selected_years.indexOf(year)
      if (z !== -1) {
        this.selected_years.splice(z, 1)
      } else {
        this.selected_years.push(year)
      }
    },
    histogramClick(params) {
      this.histogramSelected = params
    },
    async updateIndicatorList2() {
      if (this.selectedYear2) {
        const { data } = await this.$axios.get(`/data/indicator/parent/migration/withdata?tm=${this.selectedYear2}`)
        this.yearsIndicators.forEach((x) => {
          if (x.extra_json.df_columns_hash.includes(this.selectedYear2)) data.push(x)
        })
        this.indicatorList2 = data
      } else {
        this.indicatorList2 = null
      }
    },
    async updateIndicatorList3() {
      if (this.selectedYear3) {
        const { data } = await this.$axios.get(`/data/indicator/parent/migration/withdata?tm=${this.selectedYear3}`)
        this.yearsIndicators.forEach((x) => {
          if (x.extra_json.df_columns_hash.includes(this.selectedYear3)) data.push(x)
        })
        this.indicatorList3 = data
      } else {
        this.indicatorList3 = null
      }
    },
    selectIndicator2(ind) {
      // TODO заменть на v-model в indicator-selectlink
      window.console.log('selected_indicator2 = ', ind)
      this.selected_indicator2 = { ...ind }
    },
    selectIndicator3(ind) {
      window.console.log('selected_indicator3 = ', ind)
      this.selected_indicator3 = { ...ind }
    },
  },
}
</script>

<style scoped @lang="scss">
.grp {
  display: flex;
  flex-direction: row;

  > div {
    flex: 0 0 auto;
  }

  > select {
    flex: 1 1 auto;
    width: 100%;
  }
}
</style>
