<template>
  <div>
    <Header :personal="true" />
    <sidebar-index />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title>
          <template v-slot:heading>
            <div style="color:red;font-size:larger;font-weight: bold;text-transform: uppercase">Мои проекты</div>
          </template>
          <template v-slot:actions>
            <b-button v-if="access_request" variant="danger" class="btn-shadow" @click="showAccessRequest">
              Внимание! <span style="border-bottom: 1px solid white;border-top: 1px solid white">{{ access_request.user.email }}</span> запрашивает доступ к проектам
            </b-button>
          </template>
        </page-title>
        <b-row class="mb-3">
          <b-col md="12">
            <b-button variant="info" class="mr-3 btn-shadow btn-lg" @click="createProject">Создать проект</b-button>
          </b-col>
        </b-row>
        <lk-projects :projects="projects" @dropProject="dropProject" @editProject="editProject" @shareProject="shareProject" />
        <div v-if="$auth.user.category == USER_CATEGORY_TEACHER && projects_by_access">
          <page-title class="mt-3">
            <template v-slot:heading>
              <div style="color:red;font-size:larger;font-weight: bold;text-transform: uppercase">Студенческие проекты</div>
            </template>
            <template v-slot:actions>
              <b-button variant="primary" class="btn-shadow btn-lg" @click="requestAccess">Запросить доступ к проектам студента</b-button>
            </template>
          </page-title>
          <lk-projects :projects="projects_by_access" />
        </div>
      </div>
    </div>
    <b-modal id="edit-project-modal" cancel-title="Отмена" title="Изменение проекта" @ok="saveProject">
      <b-form-group>
        <label for="project_kafedra" class="">Кафедра:</label>
        <b-select id="project_kafedra" v-model="project.kafedra" :options="kafedras" />
      </b-form-group>
      <b-form-group>
        <label for="project_name" class="">Название проекта:</label>
        <b-input id="project_name" v-model="project.name" type="text" placeholder="Введите название проекта" />
      </b-form-group>
      <b-form-group>
        <label for="project_comment" class="">Цель:</label>
        <b-textarea id="project_comment" v-model="project.comment" placeholder="Введите цель" />
      </b-form-group>
      <b-form-group>
        <label for="project_comment2" class="">Задачи:</label>
        <b-textarea id="project_comment2" v-model="project.comment2" placeholder="Введите задачи" />
      </b-form-group>
    </b-modal>
    <b-modal id="share-project-modal" cancel-title="Отмена" title="Доступ к проекту" @ok="accessProject">
      <b-alert v-if="share_to_error" show variant="danger">
        {{ share_to_error }}
      </b-alert>
      <p>Введите идентификатор преподавателя, например, <strong>teacher1@res.rea.ru</strong>, для которого предоставляется доступ</p>
      <b-form-group>
        <label for="project_share_to_email" class="">Иденификатор преподавателя в формате email:</label>
        <b-input id="project_share_to_email" v-model="share_to.email" placeholder="Введите идентификатор преподавателя"></b-input>
      </b-form-group>
      <b-form-checkbox v-model="share_to.can_edit">
        разрешить редактирование?
      </b-form-checkbox>
    </b-modal>
    <b-modal id="request-project-modal" cancel-title="Отмена" title="Запрос на доступ к проектам" @ok="sendRequestAccess">
      <b-alert v-if="request_to_error" show variant="danger">
        {{ request_to_error }}
      </b-alert>
      <p>Введите идентификатор студента, например <strong>student1@edu.rea.ru</strong>, у коротого вы запрашиваете доступ к его проектам</p>
      <b-form-group>
        <label for="project_request_to_email" class="">Идентификатор студента в формате email:</label>
        <b-input id="project_request_to_email" v-model="request_to.email" placeholder="Введите идентификатор студента"></b-input>
      </b-form-group>
    </b-modal>
    <b-modal
      v-if="access_request && access_request.user && access_request_projects.length > 0"
      id="access-request-modal"
      cancel-title="Отмена"
      :title="`${access_request.user.email} запрашивает доступ`"
      @ok="saveAccessRequest"
    >
      <b-alert v-if="share_to_error" show variant="danger">
        {{ share_to_error }}
      </b-alert>
      <h3>Укажите тип доступа для каждого проекта</h3>
      <b-row v-for="project in access_request_projects" :key="project.id" class="mt-2" style="border-top: 1px solid gray">
        <b-col>
          <h5>{{ project.name }}</h5>
        </b-col>
        <b-col>
          <b-radio-group v-model="project.status" :options="access_request_options" />
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faAngleDown, faAngleUp, faCalendarAlt, faChartArea, faCheck, faTh, faTrashAlt } from '@fortawesome/free-solid-svg-icons'

import kafedras from './KafedraList'
import Header from '~/components/Components/Header'
import PageTitle from '~/components/Components/PageTitle.vue'
import SidebarIndex from '@/components/Section/SidebarIndex'
import LkProjects from '@/components/Lk/LkProjects'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt, faChartArea)

// const USER_CATEGORY_STUDENT = 1
const USER_CATEGORY_TEACHER = 2
// const USER_CATEGORY_ASPIRANT = 3
// const USER_CATEGORY_OTHER = 0

const PROJECT_ACCESS_STATUS_REQUEST = 1
const PROJECT_ACCESS_STATUS_ALLOW = 2
const PROJECT_ACCESS_STATUS_ALLOW_READ_ONLY = 4
const PROJECT_ACCESS_STATUS_DENY = 3

const share_to = {
  project: null,
  email: '',
  can_edit: false,
  status: PROJECT_ACCESS_STATUS_ALLOW,
}

const request_to = {
  project: null,
  email: '',
  can_edit: false,
  status: PROJECT_ACCESS_STATUS_REQUEST,
}

export default {
  middleware: 'auth',
  layout: 'page_lk',
  components: {
    LkProjects,
    SidebarIndex,
    PageTitle,
    Header,
  },
  data: () => ({
    USER_CATEGORY_TEACHER,
    projects: [],
    projects_by_access: null,
    new_project: {
      name: '',
      comment: '',
    },
    share_to: { ...share_to },
    request_to: { ...request_to },
    share_to_error: null,
    request_to_error: null,
    project: {
      id: null,
      name: '',
      comment: '',
    },
    access_request: null,
    access_request_projects: [],
    access_request_options: [
      { text: 'запретить', value: PROJECT_ACCESS_STATUS_DENY },
      { text: 'просматривать', value: PROJECT_ACCESS_STATUS_ALLOW_READ_ONLY },
      { text: 'редактировать', value: PROJECT_ACCESS_STATUS_ALLOW },
    ],
    kafedras,
  }),

  watch: {},

  mounted() {
    window.xxx = this
    this.fetchProjects()
    this.fetchProjectsAccess()
    this.fetchAccessRequests()
  },

  methods: {
    async fetchProjects() {
      const { data } = await this.$axios.get('/user/project')
      this.projects = data
    },
    async fetchProjectsAccess() {
      const { data } = await this.$axios.get('/user/project/by/access')
      this.projects_by_access = data
    },
    async fetchAccessRequests() {
      const { data } = await this.$axios.get('/user/project/access/request')
      this.access_request = data.length > 0 ? data[0] : null
    },
    createProject() {
      this.project = { id: null, name: '', comment: '', comment2: '' }
      this.$bvModal.show('edit-project-modal')
    },

    async dropProject(project) {
      if (confirm(`Удалить проект "${project.name}"?`)) {
        await this.$axios.delete(`/user/project/${project.id}`)
        await this.fetchProjects()
      }
    },

    editProject(project) {
      this.project = project
      this.$bvModal.show('edit-project-modal')
    },
    shareProject(project) {
      this.share_to.project = project.id
      this.$bvModal.show('share-project-modal')
    },
    requestAccess() {
      this.request_to.project = null
      this.$bvModal.show('request-project-modal')
    },
    async saveProject() {
      if (this.project.id) {
        await this.$axios.put(`/user/project/${this.project.id}`, this.project)
      } else {
        await this.$axios.post('/user/project', this.project)
      }
      await this.fetchProjects()
    },
    accessProject(bvModalEvt) {
      bvModalEvt.preventDefault()
      this.$axios
        .post('/user/project/access/create', this.share_to)
        .then(() => {
          this.share_to = { ...share_to }
          this.share_to_error = null
          this.hideModalNextTick('share-project-modal')
        })
        .catch((e) => {
          this.share_to_error = e.response.data
        })
    },
    sendRequestAccess(bvModalEvt) {
      bvModalEvt.preventDefault()
      this.$axios
        .post('/user/project/access/create', this.request_to)
        .then(() => {
          this.request_to = { ...request_to }
          this.request_to_error = null
          this.hideModalNextTick('request-project-modal')
        })
        .catch((e) => {
          this.request_to_error = e.response.data
        })
    },
    hideModalNextTick(modalName) {
      this.$nextTick(() => {
        this.$bvModal.hide(modalName)
      })
    },
    showAccessRequest() {
      this.access_request_projects = [...this.projects.map((x) => ({ ...x, status: PROJECT_ACCESS_STATUS_DENY }))]
      this.$bvModal.show('access-request-modal')
    },
    saveAccessRequest(bvModalEvt) {
      bvModalEvt.preventDefault()
      this.access_request_projects.forEach((project) => {
        const _share_to = { ...share_to }
        _share_to.project = project.id
        _share_to.email = this.access_request.user.email
        switch (project.status) {
          case PROJECT_ACCESS_STATUS_ALLOW:
            _share_to.can_edit = true
            _share_to.status = PROJECT_ACCESS_STATUS_ALLOW
            break
          case PROJECT_ACCESS_STATUS_ALLOW_READ_ONLY:
            _share_to.can_edit = false
            _share_to.status = PROJECT_ACCESS_STATUS_ALLOW
            break
          case PROJECT_ACCESS_STATUS_DENY:
            _share_to.can_edit = false
            _share_to.status = PROJECT_ACCESS_STATUS_DENY
            break
          default:
            _share_to.status = null
        }
        if (_share_to.status && !this.share_to_error)
          this.$axios
            .post('/user/project/access/create', _share_to)
            .then(() => {
              this.share_to = { ...share_to }
              this.share_to_error = null
              this.hideModalNextTick('request-project-modal')
            })
            .catch((e) => {
              this.share_to_error = e.response.data
            })
      })
      if (!this.share_to_error)
        this.$axios
          .delete(`/user/project/access/${this.access_request.id}`)
          .then(() => {
            this.hideModalNextTick()
            this.fetchAccessRequests()
          })
          .catch((e) => {
            this.share_to_error = e.response.data
          })
    },
  },
}
</script>
