<template>
  <div class="ml-3 mr-3">
    <!--    <Header />-->
    <!--    <Sidebar2 :menu="menu" />-->
    <!--    <div class="app-main__outer">-->
    <!--      <div class="app-main__inner">-->
    <page-title :heading="heading" :subheading="subheading" class="mb-10"></page-title>
    <b-row class="mt-3">
      <b-col md="6">
        <b-card>
          <b-card-header>
            Выберите год
            <div class="btn-actions-pane-right">
              <b-button size="sm" variant="light" @click="updateCharts">Обновить</b-button>
            </div>
          </b-card-header>
          <b-card-body>
            <b-row>
              <b-col md="12">
                <b-button class="ml-2 mr-2" :variant="play ? 'info' : 'transition outline-focus'" @click="play = !play"><i class="pe-7s-play btn-icon-wrapper"> </i></b-button>
                <b-button
                  v-for="year in years"
                  :key="year"
                  :variant="year == selected_year ? 'primary' : 'transition outline-focus'"
                  class="ml-2 mr-2"
                  @click="selected_year = year"
                >
                  {{ year }}
                </b-button>
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col md="6">
        <b-card>
          <b-card-header>
            Выбор уровня административное деление
          </b-card-header>
          <b-card-body>
            <b-row>
              <b-col md="12">
                <b-button class="ml-2 mr-2" :variant="!fo ? 'primary' : 'transition outline-focus'" @click="fo = !fo">Регионы</b-button>
                <b-button class="ml-2 mr-2" :variant="fo ? 'primary' : 'transition outline-focus'" @click="fo = !fo">Федеральные округа</b-button>
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <b-card class="mt-3">
      <b-card-header>Тепловая карта</b-card-header>
      <b-card-body>
        <apexchart height="1000" type="heatmap" :options="chartOptions" :series="series"></apexchart>
      </b-card-body>
    </b-card>
    <!--      </div>-->
    <!--    </div>-->
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh, faChartArea } from '@fortawesome/free-solid-svg-icons'
// import Tabs from 'vue-tabs-with-active-line'
import VueApexCharts from 'vue-apexcharts'

// import Header from '~/components/Components/Header'
// import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt, faChartArea)

const TABS = [
  {
    title: 'График',
    value: 'chart',
  },
  {
    title: 'Картограмма',
    value: 'map',
  },
  {
    title: 'Таблица',
    value: 'table',
  },
]

export default {
  layout: 'page2',
  components: {
    PageTitle,
    // Header,
    // Sidebar2,
    // Tabs,
    apexchart: VueApexCharts,
  },
  async asyncData({ params, $axios }) {
    let res
    res = null
    res = await $axios.get('/data/region')
    const regions = res.data
    // res = await $axios.get(`/data/indicator/${params.id}`)
    // const parent_indicator = res.data
    // res = await $axios.get(`/data/indicator/parent/${params.id}/withdata`)
    // const indicators = res.data
    // let indicator_list = []
    // res = await $axios.get(`/data/indicator/parent/natproj/withdata`)
    // indicator_list = indicator_list.concat(res.data)
    // res = await $axios.get(`/data/indicator/parent/years/withdata`)
    // indicator_list = indicator_list.concat(res.data)
    return { regions }
    // return { parent_indicator, indicators, indicator_list, regions }
  },

  data: () => ({
    selected_indicator: null,
    selected_indicator2: null,
    selected_indicator3: null,
    selected_type: null,
    selected_year: null,
    indicators: [],
    parent_indicator: null,
    play: false,
    data: {},
    data2: {},
    data3: {},
    table_fields: [],
    table_items: [],
    tabs: TABS,
    regions: [],
    currentTab: 'chart',
    indicator_list: [],
    map_data: [],
    fo: false,
    chartOptions: {
      theme: {
        palette: 'palette1', // upto palette10
      },
      plotOptions: {
        heatmap: {
          radius: 0,
          enableShades: true,
          distributed: true,
        },
      },
      dataLabels: {
        enabled: false,
      },
      colors: ['#024ea1'],
      xaxis: {
        type: 'category',
        // categories: [],
        // labels: {
        //   show: true,
        //   rotate: -90,
        //   hideOverlappingLabels: false,
        //   trim: false,
        //   showDuplicates: true,
        // },
      },
      title: {
        show: false,
      },
    },
    series: [],
  }),

  computed: {
    heading() {
      return 'Тепловая карта'
    },
    subheading() {
      return ' ' + this.selected_year + ' '
    },
    short_heading() {
      return 'По всем показателям'
    },
    icon() {
      return 'pe-7s-plane icon-gradient bg-tempting-azure'
    },
    regions_only() {
      return this.regions.filter((x) => x.levels.includes('region'))
    },
    years() {
      return [2016, 2017, 2018, 2019]
    },
    menu() {
      if (!this.indicators) return []
      return this.indicators.map((x) => ({
        title: x.name,
        click: () => this.selectIndicator(x, 'chart'),
      }))
    },
  },

  watch: {
    selected_year() {
      this.updateCharts()
    },
    fo() {
      this.updateCharts()
    },
  },

  mounted() {
    const self = this
    this.interval1 = setInterval(function() {
      if (!self.play) return
      self.nextSelectedYear()
    }, 2000)
  },

  methods: {
    nextSelectedYear() {
      if (!this.play) return
      const i = this.years.indexOf(this.selected_year)
      this.selected_year = !this.selected_year || i < 0 || i + 1 >= this.years.length ? this.years[0] : (this.selected_year = this.years[i + 1])
    },
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      return this.getParentRegion(region.id)
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    async updateCharts() {
      if (!this.selected_year) return

      const { data } = await this.fetchData(this.selected_year)

      const series = []
      window.console.log(this.regions_only.map((x) => x.name))
      const regions = this.fo ? this.regions.map((x) => x.name).filter((x) => x.includes('федерал')) : this.regions_only.map((x) => x.name)
      data.index.forEach((region_name, i) => {
        if (regions.includes(region_name)) {
          series.push({
            name: region_name,
            data: data.data[i].map((x, j) => ({ x: data.columns[j], y: Math.round(x * 100) / 100 })),
          })
        }
      })
      // const chartOptions = this.chartOptions
      // chartOptions.xaxis.categories = data.columns
      // this.$set(
      //   this.chartOptions.xaxis,
      //   'categories',
      //   data.columns.map((x) => x)
      // )
      // this.chartOptions = chartOptions
      this.series = series
    },
    handleClick(newTab) {
      this.selected_type = newTab
    },
    async fetchData(year) {
      const { data } = await this.$axios.get(`/data/np/${year}/heatmap`)
      return data
    },
  },
}
</script>
