<template>
  <div>TOKEN AUTH</div>
</template>

<script>
export default {
  name: 'Token',
  auth: false,
  mounted() {
    this.$auth
      .loginWith('local', {
        data: {
          email: this.$route.params.token,
          password: this.$route.params.token,
        },
      })
      .then((response) => {
        if (this.$auth.$state.loggedIn) {
          this.$router.push('/lk/project')
        }
      })
      .catch((e) => {
        this.error = e.response.data
      })
  },
}
</script>

<style scoped></style>
