<template>
  <div>
    <Header :personal="false" />
    <Sidebar2 title="Интеллектуальная миграция" sidebar-bg="#CCCCCC77" :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <b-row>
          <page-title :heading="heading" subheading="Интеллектуальная миграция" :disable-history="false" width="100%" style="color: #0b2d50" :home-button="true" />
        </b-row>
        <div v-if="selectedIndicator && isShowCharts">
          <b-row>
            <b-col v-if="false" md="12" class="mb-3">
              <b-card>
                <b-card-title>Выберите показатели для сравнения</b-card-title>
                <b-card-body>
                  <!--                  <b-button v-for="year in yearList" :key="year" :variant="yearSelected.includes(year) ? 'primary' : 'outline-primary'" class="mr-2 mb-2" @click="toggleYear(year)">-->
                  <!--                    {{ year }}-->
                  <!--                  </b-button>-->
                </b-card-body>
              </b-card>
            </b-col>
            <b-col v-for="chartOption in chartOptions" :key="chartOption.indicator" md="6" class="mb-3">
              <b-card class="card-shadow-danger border">
                <b-card-title v-if="chartOption.cardTitle" v-text="chartOption.cardTitle.src" />
                <b-card-body>
                  <hightchart-base :options="chartOption" />
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="12" class="mb-3">
              <b-card class="card-shadow-danger border">
                <b-card-header>Таблица данных</b-card-header>
                <b-card-body class="card-body-data-table" v-html="tableOptions.toHTML().replaceAll('undefined', '')"></b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import SplineChartOptions from './SplineChartOptions'
import PieChartOptions from './PieChartOptions'
import PageTitle from '~/components/Components/PageTitle'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
// import NumberWidget from '~/components/Widgets/NumberWidget'
import sideBarMenu from '~/pages/migration/sideBarMenu'
import HightchartBase from '~/components/Chart/HighchartBase'

export default {
  components: {
    HightchartBase,
    PageTitle,
    Header,
    Sidebar2,
    // NumberWidget,
  },
  layout: 'migration',
  async fetch() {
    const { data } = await this.$axios.get(`/static/data/migration/migration_2_rel_w.json?v=${Math.random()}`)
    const df = dataForge.fromJSON(JSON.stringify(data))
    this.df = df
    this.yearList = df.getColumnNames().filter((x) => parseInt(x) > 1900)
  },
  data() {
    return {
      df: new dataForge.DataFrame(),
      isShowCharts: false,
      yearList: [],
      yearSelected: [],
      tmSelected: null,
      mapData: null,
      selectedIndicator: null,
      variantSelected: 1,
      myWorldMap: {},
    }
  },
  computed: {
    indicatorList() {
      const a = this.df
        .getSeries('GRP')
        .distinct()
        .toArray()
        .map((x, idx) => [
          {
            title: `${x}`,
            click: () => this.selectIndicator(x),
            variant: idx < 6 ? 'primary' : 'info',
          },
        ])
        .reduce((p, c) => [...p, ...c], [])
      return a
    },
    heading() {
      return this.selectedIndicator ? this.selectedIndicator.src : 'Выберите показатель '
    },
    indicatorDict() {
      return this.indicatorList.reduce((result, curr, index, array) => ({ ...result, [curr.id]: curr.title }), {})
    },
    menu() {
      return [
        ...this.indicatorList.map((x, idx) => ({ ...x, title: (x.id === this.selectedIndicator ? '✔ ' : '') + (idx + 1) + '. ' + x.title })),
        {
          title: '---',
        },
        ...sideBarMenu(this.$router),
      ]
    },
    dfFilter() {
      return this.df.filter((x) => x.GRP === this.selectedIndicator.src)
      // return this.df
    },
    chartOptions() {
      const indList = [this.selectedIndicator]
      return [
        ...indList.map((x) => {
          let chart = {}
          try {
            chart = {
              data: this.yearList.map((year) => {
                try {
                  return this.dfFilter.toArray()[0][year]
                } catch (e) {
                  window.console.error(e)
                  return null
                }
              }),
            }
          } catch (e) {
            window.console.error(e)
          }

          const series = [chart]

          const options = SplineChartOptions
          options.plotOptions.series.pointStart = parseInt(this.yearList[0])

          return {
            cardTitle: x,
            indicator: x,
            ...options,
            series,
          }
        }),
        ...indList.map((x) => {
          let chart = {}
          try {
            chart = {
              data: this.yearList.map((year) => {
                try {
                  return { name: year, y: this.dfFilter.toArray()[0][year] }
                } catch (e) {
                  window.console.error(e)
                  return null
                }
              }),
            }
          } catch (e) {
            window.console.error(e)
          }

          const series = [chart]

          return {
            cardTitle: 'Детализация потока интеллектуальной миграции по 2012-2020 годам',
            indicator: x,
            ...PieChartOptions,
            series,
          }
        }),
      ]
    },
    tableOptions() {
      return this.dfFilter.subset([...this.yearList])
    },
  },
  methods: {
    async fetchMap() {
      const mapFileName = this.selectedIndicator.cat === 'SNG' ? 'sng.geojson' : 'world.geojson'
      const { data } = await this.$axios.get(`/static/data/map/${mapFileName}`)
      this.mapData = data
    },
    selectIndicator(src, cat) {
      this.selectedIndicator = { src, cat }
      this.isShowCharts = false
      this.$nextTick(async () => {
        await this.fetchMap()
        this.isShowCharts = true
      })
    },
    toggleYear(year) {
      if (this.yearSelected.includes(year)) {
        this.$delete(this.yearSelected, this.yearSelected.indexOf(year))
      } else {
        this.yearSelected.push(year)
      }
    },
    isSng(name) {
      return ['Азербайджан', 'Армения', 'Белоруссия', 'Казахстан', 'Киргизия', 'Республика Молдова', 'Таджикистан', 'Туркмения', 'Узбекистан', 'Украина'].includes(name)
    },
  },
}
</script>

<style lang="scss">
.card-body-data-table {
  table.dataframe {
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
    width: 100%;

    tbody,
    thead {
      th:first-child {
        display: none;
      }
      td,
      th {
        padding: 3px;
        border: 1px solid #777;
        text-align: center;
      }
    }
  }
}
</style>
