<template>
  <div>
    <Header :personal="false" />
    <Sidebar2 title="Интеллектуальная миграция" sidebar-bg="#CCCCCC77" :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <b-row>
          <page-title :heading="heading" subheading="Интеллектуальная миграция" :disable-history="false" width="100%" style="color: #0b2d50" :home-button="true" />
        </b-row>
        <div v-if="selectedIndicator && isShowCharts">
          <b-row>
            <b-col md="12" class="mb-3">
              <b-card>
                <b-card-title>Выберите годы</b-card-title>
                <b-card-body>
                  <b-button v-for="year in yearList" :key="year" :variant="yearSelected.includes(year) ? 'primary' : 'outline-primary'" class="mr-2 mb-2" @click="toggleYear(year)">
                    {{ year }}
                  </b-button>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col v-for="mapOption in mapOptions" :key="mapOption.year" md="6" class="mb-3">
              <b-card>
                <b-card-body>
                  <tm-label :tm="mapOption.year" style="position: absolute; z-index: 999; top: 10%; right: 2%" />
                  <highcharts constructor-type="mapChart" :options="mapOption" style="height: 400px"></highcharts>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="12" class="mb-3">
              <b-card class="card-shadow-danger border">
                <b-card-header>Таблица данных</b-card-header>
                <b-card-body class="card-body-data-table" v-html="tableOptions.toHTML()"></b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import PageTitle from '~/components/Components/PageTitle'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
// import NumberWidget from '~/components/Widgets/NumberWidget'
import sideBarMenu from '~/pages/migration/sideBarMenu'
import TmLabel from '~/components/Filter/TmLabel'

export default {
  components: {
    TmLabel,
    PageTitle,
    Header,
    Sidebar2,
    // NumberWidget,
  },
  layout: 'migration',
  async fetch() {
    const { data } = await this.$axios.get(`/static/data/migration/migration_2_rel_c.json?v=${Math.random()}`)
    const df = dataForge.fromJSON(JSON.stringify(data))
    this.df = df
    this.yearList = df.getColumnNames().filter((x) => parseInt(x) > 1900)
  },
  data() {
    return {
      df: new dataForge.DataFrame(),
      isShowCharts: false,
      yearList: [],
      yearSelected: [],
      tmSelected: null,
      mapData: null,
      selectedIndicator: null,
      variantSelected: 1,
      myWorldMap: {},
    }
  },
  computed: {
    indicatorList() {
      const a = this.df
        .getSeries('GRP')
        .distinct()
        .toArray()
        .map((x) => [
          {
            title: `${x} в страны СНГ`,
            click: () => this.selectIndicator(x, 'SNG'),
            variant: x.includes(14) ? 'info' : 'primary',
          },
          {
            title: `${x} в страны дальнего зарубежья`,
            click: () => this.selectIndicator(x, 'WORLD'),
            variant: x.includes(14) ? 'info' : 'primary',
          },
        ])
        .reduce((p, c) => [...p, ...c], [])
      return a
    },
    heading() {
      return this.selectedIndicator ? this.selectedIndicator.src : 'Выберите показатель '
    },
    indicatorDict() {
      return this.indicatorList.reduce((result, curr, index, array) => ({ ...result, [curr.id]: curr.title }), {})
    },
    menu() {
      return [
        ...this.indicatorList.map((x, idx) => ({ ...x, title: (x.id === this.selectedIndicator ? '✔ ' : '') + (idx + 1) + '. ' + x.title })),
        {
          title: '---',
        },
        ...sideBarMenu(this.$router),
      ]
    },
    dfFilter() {
      return this.df.filter((x) => x.GRP === this.selectedIndicator.src && (this.selectedIndicator.cat === 'SNG' ? this.isSng(x.REGION) : !this.isSng(x.REGION)))
      // return this.df
    },
    mapOptions() {
      return this.yearSelected.map((x) => {
        const map = {
          data: this.dfFilter
            .select((row) => ({
              name: row.REGION_MAP,
              value: row[x],
            }))
            .toArray(),
          joinBy: 'name',
          name: 'Данные по странам',
        }

        const series = [map]

        return {
          year: x,
          chart: {
            map: this.mapData,
          },
          title: {
            text: null,
          },

          mapNavigation: {
            enabled: true,
          },

          colorAxis: {
            min: 0,
            stops: [
              [0, '#EFEFFF'],
              [0.33, '#3e5eff'],
              [0.66, '#f7ff00'],
              [1, '#ad0000'],
            ],
          },

          legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'bottom',
          },
          series,
        }
      })
    },
    tableOptions() {
      return this.dfFilter.where((x) => x.REGION).subset(['REGION', ...this.yearList])
    },
  },
  methods: {
    async fetchMap() {
      const mapFileName = this.selectedIndicator.cat === 'SNG' ? 'sng.geojson' : 'world.geojson'
      const { data } = await this.$axios.get(`/static/data/map/${mapFileName}`)
      this.mapData = data
    },
    selectIndicator(src, cat) {
      this.selectedIndicator = { src, cat }
      this.isShowCharts = false
      this.$nextTick(async () => {
        await this.fetchMap()
        this.isShowCharts = true
      })
    },
    toggleYear(year) {
      if (this.yearSelected.includes(year)) {
        this.$delete(this.yearSelected, this.yearSelected.indexOf(year))
      } else {
        this.yearSelected.push(year)
      }
    },
    isSng(name) {
      return ['Азербайджан', 'Армения', 'Белоруссия', 'Казахстан', 'Киргизия', 'Республика Молдова', 'Таджикистан', 'Туркмения', 'Узбекистан', 'Украина'].includes(name)
    },
  },
}
</script>

<style lang="scss">
.card-body-data-table {
  table.dataframe {
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
    width: 100%;

    tbody,
    thead {
      th:first-child {
        display: none;
      }
      td,
      th {
        padding: 3px;
        border: 1px solid #777;
        text-align: center;
      }
    }
  }
}
</style>
