<template>
  <div>
    <number-widget
      :back-class="`btn ${variant}`"
      title="ЧИСЛО РОССИЙСКИЙ АВТОРОВ"
      :subtitle="`в публикациях с иностранными авторами ${suffix}`"
      :num="value.rf_author_cnt"
      @click="$emit('click', 'rf_author_cnt', value.rf_author_cnt)"
    />
    <number-widget
      :back-class="`btn ${variant}`"
      title="ЧИСЛО ИНОСТРАННЫХ АВТОРОВ"
      :subtitle="`в публикациях с российскими авторами ${suffix}`"
      :num="value.not_rf_author_cnt"
      @click="$emit('click', 'not_rf_author_cnt', value.not_rf_author_cnt)"
    />
    <number-widget
      :back-class="`btn ${variant}`"
      style="cursor: default"
      title="ЧИСЛО ПУБЛИКАЦИЙ"
      :subtitle="`с российскими авторами ${suffix}`"
      :num="value.not_rf_article_cnt"
      @click="$emit('click', 'not_rf_article_cnt', value.not_rf_article_cnt)"
    />
    <number-widget
      :back-class="`btn ${variant}`"
      style="cursor: default"
      title="ЧИСЛО ЖУРНАЛОВ"
      :subtitle="`с публикациями российских авторов ${suffix}`"
      :num="value.not_rf_source_cnt"
      @click="$emit('click', 'not_rf_source_cnt', value.not_rf_source_cnt)"
    />
    <number-widget
      :back-class="`btn ${variant}`"
      style="cursor: default"
      title="ЧИСЛО СТРАН АФФИЛИАЦИИ"
      :subtitle="`с публикациями российских авторов ${suffix}`"
      :num="value.not_rf_country_cnt"
      @click="$emit('click', 'not_rf_country_cnt', value.not_rf_country_cnt)"
    />
  </div>
</template>

<script>
import NumberWidget from '~/components/Widgets/NumberWidget'

export default {
  name: 'CountDataWidget',
  components: { NumberWidget },
  props: {
    value: {
      type: Object,
      default: null,
    },
    country: {
      type: String,
      default: null,
    },
    year: {
      type: String,
      default: null,
    },
    variant: {
      type: String,
      default: 'btn-primary',
    },
  },

  computed: {
    suffix() {
      return (this.country ? ` по стране ${this.country}` : '') + (this.year ? ` за ${this.year} год` : '')
    },
  },
}
</script>

<style scoped></style>
