<template>
  <div>
    <Header :personal="false" />
    <Sidebar2 title="Большие данные (научная аффилиация)" sidebar-bg="#CCCCCC77" :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <b-row>
          <page-title heading="Большие данные (научная аффилиация)" subheading="Портал" :disable-history="false" width="100%" style="color: #0b2d50" :home-button="true" />
        </b-row>
        <b-row v-if="isAuthorArticleData">
          <b-col md="12">
            <b-card class="mb-3">
              <b-card-title style="display: flex">
                <div style="width:100%" v-html="authorArticleListTitle"></div>
                <div>
                  <b-button variant="primary" @click="authorArticleData = []">Закрыть&nbsp;список</b-button>
                </div>
              </b-card-title>
              <table v-if="authorArticleListTitle.includes('двойн')" class="table">
                <tr>
                  <th>Автор</th>
                  <th>Российская аффилиация</th>
                  <th>Иностранная аффилиация</th>
                </tr>
                <tr v-for="row in authorArticleDataPagination" :key="row.author_uid">
                  <td style="font-size: large">
                    <strong style="color: #5075a5">{{ row.author_name }}</strong>
                  </td>
                  <td>
                    <div v-for="row2 in row.rf_aff" :key="row2[0]">
                      {{ row2[0] }} //
                      <strong style="color: #5075a5">{{ row2[1] }}</strong>
                    </div>
                  </td>
                  <td>
                    <div v-for="row2 in row.not_rf_aff" :key="row2[0]">
                      {{ row2[0] }} //
                      <strong style="color: #5075a5">{{ row2[1] }}</strong>
                    </div>
                  </td>
                </tr>
              </table>

              <table v-else class="table">
                <tr>
                  <th>Автор</th>
                  <th>Соавторы</th>
                </tr>
                <tr v-for="row in authorArticleDataPagination" :key="row.author_uid">
                  <td style="font-size: large">
                    <strong style="color: #5075a5">{{ row.author_name }}</strong>
                    / {{ row.aff_dispname }} //
                    <strong style="color: #960c1c">{{ row.country_name }}</strong>
                  </td>
                  <td>
                    <div v-for="row2 in row.coauthors" :key="row2[0]">
                      <strong style="color: #5075a5">{{ row2[1] }}</strong>
                      / {{ row2[2] }} //
                      <strong style="color: #960c1c">{{ row2[3] }}</strong>
                    </div>
                  </td>
                </tr>
              </table>

              <b-pagination v-model="currentPage" :total-rows="authorArticleData.length" :per-page="perPage" align="center" first-number last-number limit="7" />
            </b-card>
          </b-col>
        </b-row>
        <b-row v-if="stats && stats.authors">
          <b-col v-for="(n, t) in stats.authors" :key="t" md="3" class="mb-3">
            <NumberWidget :num="n" :title="t" subtitle="информация об авторах" back-class="bg-info" />
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6">
            <b-card class="mb-3">
              <b-row>
                <b-col md="12">
                  <b-form-group>
                    <b-form-radio-group
                      v-model="canYearSelect"
                      buttons
                      :options="[
                        { text: 'Все года', value: false },
                        { text: 'Указать год', value: true },
                      ]"
                      button-variant="outline-primary"
                    />
                  </b-form-group>
                </b-col>
              </b-row>
            </b-card>
            <year v-if="canYearSelect" class="mb-3" :years="yearList" :selected_year.sync="tmSelected" :interval="3500" />
            <b-card class="mb-3">
              <b-card-title>Страны аффилиации</b-card-title>
              <b-card-body>
                <b-button class="btn-sm mb-2 mr-2" :variant="!selectedCountry ? 'danger' : 'outline-danger'" @click="selectedCountry = null"> Все страны</b-button>
                <b-button
                  v-for="country in countryData"
                  :key="country.country_name"
                  class="btn-sm mb-2 mr-2"
                  :variant="country.country_name === selectedCountry ? 'info' : 'outline-info'"
                  @click="selectedCountry = country.country_name"
                >
                  {{ country.country_name }}
                </b-button>
              </b-card-body>
            </b-card>
            <b-row>
              <b-col md="12" class="mb-3">
                <b-card>
                  <b-card-title>Регистрационный журнал робота парсинга данных SCOPUS</b-card-title>
                  <table class="table">
                    <tr v-for="log in logs" :key="log.id">
                      <td>{{ log.create_datetime }}</td>
                      <td style="white-space: normal">{{ log.msg.replaceAll(',', ', ') }}</td>
                    </tr>
                  </table>
                </b-card>
              </b-col>
            </b-row>
          </b-col>
          <b-col md="6">
            <b-row>
              <b-col :md="isFiltered ? 6 : 12">
                <div v-if="countData">
                  <b-card class="mb-2 bg-danger" style="text-align: center">
                    <h3 class="text-white">Данные с&nbsp;2011&nbsp;года</h3>
                  </b-card>
                  <CountDataWidget v-model="countData" variant="btn-primary mb-2" @click="onClickFiltered" />
                  <NumberWidget
                    v-if="authorCountryTwice"
                    back-class="btn btn-primary mb-2"
                    :num="authorCountryTwice.author_count"
                    title="АВТОРЫ, ПРЕДСТАВЛЯЮЩИЕ РОССИЙСКИЕ И&nbsp;ЗАРУБЕЖНЫЕ ОРГАНИЗАЦИИ"
                  />
                </div>
              </b-col>
              <b-col v-if="isFiltered" md="6">
                <div v-if="countDataFiltered">
                  <b-card class="mb-2 bg-info" style="text-align: center">
                    <h3 class="text-white" v-html="`Данные ${suffixFiltered}`"></h3>
                  </b-card>
                  <CountDataWidget v-model="countDataFiltered" variant="btn-info mb-2" @click="onClickFiltered" />
                  <NumberWidget
                    v-if="authorCountryTwiceFiltered"
                    back-class="btn-info mb-2"
                    :num="authorCountryTwiceFiltered.author_count"
                    title="АВТОРЫ, ПРЕДСТАВЛЯЮЩИЕ РОССИЙСКИЕ И&nbsp;ЗАРУБЕЖНЫЕ ОРГАНИЗАЦИИ"
                    @click="onClickFiltered('author_twice', authorCountryTwiceFiltered.author_count)"
                  />
                </div>
              </b-col>
              <b-col md="12">
                <b-card class="mb-3">
                  <b-card-title v-html="`Журналы, в которых публикуются Российские авторы ${suffixFiltered}`"></b-card-title>
                  <table v-if="isFiltered" class="table">
                    <tr>
                      <th>Название</th>
                      <th>Число статей</th>
                    </tr>
                    <tr v-for="source in sourceDataFiltered" :key="source.article_source">
                      <td>
                        {{ source.article_source }}
                      </td>
                      <td>
                        {{ source.not_rf_article_cnt }}
                      </td>
                    </tr>
                  </table>

                  <table v-else class="table">
                    <tr>
                      <th>Название</th>
                      <th>Число статей</th>
                    </tr>
                    <tr v-for="source in sourceData" :key="source.article_source">
                      <td>
                        {{ source.article_source }}
                      </td>
                      <td>
                        {{ source.not_rf_article_cnt }}
                      </td>
                    </tr>
                  </table>
                </b-card>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import PageTitle from '~/components/Components/PageTitle'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import Year from '~/components/Filter/Year'
import sideBarMenu from '~/pages/mig/sideBarMenu'
import CountDataWidget from '~/pages/mig/m3/CountDataWidget'
import NumberWidget from '~/components/Widgets/NumberWidget'

export default {
  components: {
    NumberWidget,
    CountDataWidget,
    Year,
    PageTitle,
    Header,
    Sidebar2,
  },
  layout: 'mig',
  async fetch() {
    await this.updateData()
  },
  data() {
    return {
      countData: null,
      countDataFiltered: null,
      yearData: [],
      yearDataFiltered: [],
      countryData: [],
      countryDataFiltered: [],
      sourceData: [],
      sourceDataFiltered: [],
      authorArticleData: [],
      authorArticleListTitle: '',
      authorCountryTwice: null,
      authorCountryTwiceFiltered: null,

      stats: { authors: {} },

      perPage: 20,
      currentPage: 1,

      logs: [],

      selectedCountry: null,

      canYearSelect: false,
      tmSelected: null,
      fileId: parseInt(localStorage.getItem('mig.big-data-fileId')) || 0,
      status: 1,
      nextTimeout: 5000,
      nextTimeoutLog: 20000,
      nextTimeoutUpdate: 1 * 60 * 1000,
    }
  },
  computed: {
    menu() {
      return [...sideBarMenu(this.$router)]
    },
    yearList() {
      return this.yearData.map((x) => x.article_year).filter((x) => x > 2010)
    },
    selectedYear() {
      return this.tmSelected && this.canYearSelect ? this.tmSelected : null
    },
    suffixFiltered() {
      return (this.selectedCountry ? ` по стране ${this.selectedCountry}` : '') + (this.selectedYear ? ` за ${this.selectedYear}&nbsp;год` : '')
    },
    isFiltered() {
      return this.selectedYear || this.selectedCountry
    },
    isAuthorArticleData() {
      return this.authorArticleData.length > 0
    },
    authorArticleDataPagination() {
      return this.authorArticleData.slice((this.currentPage - 1) * this.perPage, this.currentPage * this.perPage)
    },
  },

  watch: {
    selectedYear() {
      this.updateData(true)
    },
    selectedCountry() {
      this.updateData(true)
    },
  },

  mounted() {
    this.nextStep()
    this.nextStepLog()
    this.nextStepUpdate()
  },
  methods: {
    async nextStepUpdate() {
      await this.updateData()
      this.$nextTick(() => setTimeout(this.nextStepUpdate, this.nextTimeoutUpdate))
    },
    async nextStep() {
      const { data } = await this.$axios.get('/scopus/stats/')
      this.stats = data
      this.$nextTick(() => setTimeout(this.nextStep, this.nextTimeout))
    },
    async nextStepLog() {
      const { data } = await this.$axios.get('/scopus/logs/')
      this.logs = data
      this.$nextTick(() => setTimeout(this.nextStepLog, this.nextTimeoutLog))
    },

    getFilterQuery(filtered) {
      if (!filtered) return ''
      return [
        // Год
        this.selectedYear ? `year=${this.selectedYear}` : '',
        // Страна
        this.selectedCountry ? `country=${this.selectedCountry}` : '',
      ]
        .filter((x) => x)
        .join('&')
    },

    async updateData(filtered) {
      await this.updateCountData(filtered)
      await this.updateYearData(filtered)
      await this.updateCountryData(filtered)
      await this.updateSourceData(filtered)
      await this.updateAuthorCountryTwice(filtered)
    },

    async updateCountData(filtered) {
      try {
        const { data } = await this.$axios.get(`/scopus/count?${this.getFilterQuery(filtered)}`)
        const field = 'countData'
        this.$set(this.$data, filtered ? field + 'Filtered' : field, data[0])
      } catch (e) {
        window.console.error(e)
      }
    },

    async updateYearData(filtered) {
      try {
        const { data } = await this.$axios.get(`/scopus/year?${this.getFilterQuery(filtered)}`)
        const field = 'yearData'
        this.$data[filtered ? field + 'Filtered' : field] = data
      } catch (e) {
        window.console.error(e)
      }
    },
    async updateCountryData(filtered) {
      try {
        const { data } = await this.$axios.get(`/scopus/country?${this.getFilterQuery(filtered)}`)
        const field = 'countryData'
        this.$data[filtered ? field + 'Filtered' : field] = data
      } catch (e) {
        window.console.error(e)
      }
    },

    async updateSourceData(filtered) {
      try {
        const { data } = await this.$axios.get(`/scopus/source?${this.getFilterQuery(filtered)}`)
        const field = 'sourceData'
        this.$data[filtered ? field + 'Filtered' : field] = data
      } catch (e) {
        window.console.error(e)
      }
    },

    async updateAuthorCountryTwice(filtered) {
      try {
        const { data } = await this.$axios.get(`/scopus/author/country/twice?${this.getFilterQuery(filtered)}`)
        const field = 'authorCountryTwice'
        this.$data[filtered ? field + 'Filtered' : field] = data[0]
      } catch (e) {
        window.console.error(e)
      }
    },

    async onClickFiltered(e, n) {
      if (n > 1500) {
        this.$bvToast.toast(`Слишком больший список ${n}>1500`, {
          title: 'Превышено ограничение',
          autoHideDelay: 5000,
        })
        this.authorArticleListTitle = ''
        this.authorArticleData = []
        return
      }
      if (e === 'rf_author_cnt') {
        const { data } = await this.$axios.get(`/scopus/author/article?src=rf&${this.getFilterQuery(true)}`)
        this.authorArticleListTitle = `Список российских авторов ${this.suffixFiltered}`
        this.authorArticleData = data
      } else if (e === 'not_rf_author_cnt') {
        const { data } = await this.$axios.get(`/scopus/author/article?src=not_rf&${this.getFilterQuery(true)}`)
        this.authorArticleListTitle = `Список иностранных авторов ${this.suffixFiltered}`
        this.authorArticleData = data
      } else if (e === 'author_twice') {
        const { data } = await this.$axios.get(`/scopus/author/country/twice/list/?${this.getFilterQuery(true)}`)
        this.authorArticleListTitle = `Список авторов с двойной аффилиацией ${this.suffixFiltered}`
        this.authorArticleData = data
      } else {
        this.authorArticleListTitle = ''
        this.authorArticleData = []
      }
    },
  },
}
</script>
