<template>
  <div class="f-container">
    <div v-if="!params" class="f-container2">
      <div class="f-centered">
        <h3>ожидаем данные</h3>
      </div>
    </div>
    <wall-title v-else-if="params.type == 'title'" :params="params" />
    <wall-chart-rating v-else-if="params.type == 'rating'" :params="params" />
    <wall-chart-map v-else-if="params.type == 'map'" :params="params" />
    <wall-map-year v-else-if="params.type == 'map-year-by'" :params="params" map-id="by-ru" />
    <wall-chart-rating-by v-else-if="params.type == 'rating-year-by'" :params="params" />
  </div>
</template>

<script>
import WallTitle from '~/components/Wall/WallTitle'
import WallChartRating from '~/components/Wall/WallChartRating'
import WallChartMap from '~/components/Wall/WallMap'
import WallMapYear from '@/components/Wall/WallMapYear'
import WallChartRatingBy from '~/components/Wall/WallChartRatingBy'

export default {
  auth: false,
  components: { WallChartRatingBy, WallMapYear, WallChartMap, WallChartRating, WallTitle },
  layout: 'empty',
  asyncData({ params, $axios }) {
    return { wallId: params.id }
  },

  data() {
    return {
      wallId: null,
      modified: null,
      processing: false,
      params: null,
    }
  },
  mounted() {
    setTimeout(this.tick, 10000)
  },
  methods: {
    async fetchData() {
      const { data } = await this.$axios.get(`/wall/screen/${this.wallId}`)
      if (this.modified == data.modified) return
      this.modified = data.modified
      this.params = data.params
    },
    async tick() {
      if (this.processing) return
      this.processing = true
      try {
        await this.fetchData()
      } catch (e) {
        // TODO sentry.io
        window.console.error(e)
      }
      this.processing = false
      setTimeout(this.tick, 10000)
    },
  },
}
</script>

<style>
body,
html,
#__nuxt,
#__layout,
.f-container,
.f-container2 {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.f-container2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: black;
}
.f-centered {
  color: #ccc;
}
</style>
