<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" title="Виртуальные стены" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" subheading="Управление виртуальными стенами"></page-title>
        <div v-if="wall">
          <b-row>
            <b-col md="6" class="mb-3">
              <b-card v-if="wall.params.groups[0].type" class="mb-3">
                <b-card-header>Варианты виртуальной стены</b-card-header>
                <b-card-body>
                  <b-form-select v-model="wall.params.groups[0].type" :options="type_options" />
                </b-card-body>
              </b-card>
              <b-card v-if="wall.params.groups[0].indicators" class="mb-3">
                <b-card-header>Выбранные показатели</b-card-header>
                <ul class="todo-list-wrapper list-group list-group-flush">
                  <li v-for="(indicator, idx) in wall.params.groups[0].indicators" :key="indicator.id" class="list-group-item">
                    <div class="todo-indicator" :style="{ background: indicator_colors[idx] }"></div>
                    <div v-if="indicators[indicator.id]" class="widget-content p-0 ml-3">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                          <div class="widget-heading" :style="{ color: indicator_colors[idx] }">
                            {{ indicators[indicator.id].smart_name }}
                            <!--                              <div class="badge badge-danger ml-2">Rejected</div>-->
                          </div>
                          <div class="widget-subheading">
                            <i>{{ indicators[indicator.id].tree_name }}</i>
                          </div>
                        </div>
                        <div class="widget-content-right widget-content-actions ml-3">
                          <b-button variant="outline-danger" @click="removeIndicator(0, idx)">
                            <i class="pe-7s-trash" />
                          </b-button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </b-card>
              <b-card v-if="regions" class="mb-3">
                <b-card-header>Выберите регионы</b-card-header>
                <b-card-body>
                  <b-row v-for="(color, i) in colors" :key="i">
                    <b-col md="12" class="mb-1">
                      <b-input-group>
                        <b-input-group-prepend>
                          <span class="input-group-text text-white" :style="{ background: color }">{{ i + 1 }}</span>
                        </b-input-group-prepend>
                        <b-select v-model="wall.params.groups[0].regions[i]" :options="regionsNames"></b-select>
                      </b-input-group>
                    </b-col>
                  </b-row>
                </b-card-body>
              </b-card>
              <b-card class="mb-3">
                <b-card-body>
                  <b-button class="ml-2 btn-icon" variant="primary" @click="save"><i class="pe-7s-diskette btn-icon-wrapper btn-icon-lg"> </i> Только сохранить</b-button>
                  <b-button v-if="wall.animation" class="ml-2 btn-icon" variant="info" @click="startAnimation">
                    <run-icon />
                    Остановить анимацию
                  </b-button>
                  <b-button v-else class="ml-2 btn-icon" variant="info" @click="startAnimation">
                    <i class="btn-icon-wrapper  btn-icon-lg  pe-7s-play"> </i>
                    Сохранить и запустить анимацию
                  </b-button>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="6" class="mb-3">
              <b-card class="mb-3">
                <b-card-header>Выберите показатель</b-card-header>
                <b-card-body>
                  <indicator-select @select="selectIndicator" />
                </b-card-body>
              </b-card>
              <b-card class="mb-3">
                <b-card-header>
                  Ссылки на виртуальные экраны
                </b-card-header>
                <b-card-body>
                  <ul>
                    <li v-for="screen in wall.screens" :key="screen.id">
                      <nuxt-link :to="`/w/${screen.id}`" v-text="`${origin}/w/${screen.id}`" />
                    </li>
                  </ul>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
import IndicatorSelect from '~/components/Indicator/IndicatorSelect'
import RunIcon from '@/components/Icon/RunIcon'

const defaultWall = {
  groups: [
    {
      type: 'rating',
      region_scope: 'district',
      title: 'Первая группа',
      regions: [null, null, null],
      indicators: [],
    },
  ],
}

export default {
  auth: false,
  layout: 'page2',
  components: {
    RunIcon,
    IndicatorSelect,
    PageTitle,
    Header,
    Sidebar2,
    // StackedChart,
  },
  async asyncData({ $axios }) {
    const { data } = await $axios.get(`/wall/list`)
    const _data = data.map((x) => {
      x.params = x.params ? { ...defaultWall, ...x.params } : { ...defaultWall, ...{} }

      return x
    })
    const _indicators = {}
    // TODO добавить поддержку нескольких групп, когда это будет нужно
    _data.forEach((x) => {
      x.params.groups[0].indicators.forEach((indicator) => {
        $axios.get(`/data/indicator/${indicator.id}/data`).then((res) => {
          _indicators[indicator.id] = res.data.indicator
        })
      })
    })
    return {
      indicators: _indicators,
      walls: _data,
      wall: _data[0],
    }
  },

  data() {
    return {
      walls: [],
      wall: null,
      regions: null,
      colors: ['#FF7F00', '#009427', '#9B4E00'],
      indicator_colors: ['#ed7d31', '#cc9900', '#70ad47', '#5b9bd5', '#2f5496', '#7030a0'],
      indicators: {},
      type_options: [
        { value: 'rating', text: 'Рейтинг по субъектам РФ' },
        { value: 'map', text: 'Картограммы по федеральным округам' },
        { value: 'map-year-by', text: 'Картограммы годовых данных Республики Беларусь' },
        { value: 'rating-year-by', text: 'Рейтинги по годовым данным Республики Беларусь' },
      ],
    }
  },

  computed: {
    origin() {
      return window.document.location.origin
    },
    menu() {
      const m = this.walls.map((x) => ({
        title: x.name,
        click: () => {
          this.wall = x
        },
      }))
      return m
    },
    heading() {
      try {
        return this.wall.name
      } catch {
        return 'Выберите виртуальную стену для управления'
      }
    },
    regionsNames() {
      try {
        return ['', ...this.regions.map((x) => x.name)]
      } catch {
        return ''
      }
    },
  },

  watch: {},
  mounted() {
    this.fetchRegions()
    window.xxx = this
  },

  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },
    async startAnimation() {
      this.wall.animation = !this.wall.animation
      await this.save()
    },
    async save() {
      try {
        await this.$axios.put(`/wall/${this.wall.id}`, this.wall)
      } catch (e) {
        window.console.error(e)
      }
    },
    selectIndicator(ind) {
      this.wall.params.groups[0].indicators.push({ color: null, id: ind.id })
      this.indicators[ind.id] = ind
    },
    removeIndicator(grp, idx) {
      this.$delete(this.wall.params.groups[grp].indicators, idx)
    },
  },
}
</script>
