<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" title="Национальные проекты" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" subheading="Паспорт"></page-title>

        <b-row>
          <b-col class="text-center" md="5" offset-md="7">
            Паспорт национального проекта "Здравоохранение"<br />(утв. президиумом Совета при Президенте Российской Федерации по стратегическому развитию и национальным
            проектам,<br />протокол от 24 декабря 2018&nbsp;г. N&nbsp;16)
          </b-col>
        </b-row>
        <p>...</p>
        <div>
          <h3>2. Цели, целевые и дополнительные показатели национального проекта</h3>
          <table>
            <thead>
              <tr>
                <th rowspan="2">N п/п</th>
                <th rowspan="2" width="100%">Цель, целевой показатель, дополнительный показатель</th>
                <th rowspan="2">Уровень контроля</th>
                <th colspan="2">Базовое значение</th>
                <th colspan="7">Период, год</th>
              </tr>
              <tr>
                <th>Значение</th>
                <th>Дата</th>
                <th>2018</th>
                <th>2019</th>
                <th>2020</th>
                <th>2021</th>
                <th>2022</th>
                <th>2023</th>
                <th>2024</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td>Целевой показатель: снижение смертности населения трудоспособного возраста (до 350 случаев на 100 тыс. населения)</td>
                <td>Совет</td>
                <td>484,5</td>
                <td>31 декабря 2017 г.</td>
                <td><progress-year :year="2018" :indicator="2533" :goal="455" /></td>
                <td><progress-year :year="2019" :indicator="2533" :goal="437" /></td>
                <td><progress-year :year="2020" :indicator="2533" :goal="419" /></td>
                <td>401</td>
                <td>383</td>
                <td>365</td>
                <td>350</td>
              </tr>
              <tr>
                <td>2.</td>
                <td>Целевой показатель: снижение смертности от болезней системы кровообращения (до 450 случаев на 100 тыс. населения)</td>
                <td>Совет</td>
                <td>587,6</td>
                <td>31 декабря 2017 г.</td>
                <td><progress-year :year="2018" :indicator="2538" :goal="565" /></td>
                <td><progress-year :year="2019" :indicator="2538" :goal="545" /></td>
                <td><progress-year :year="2020" :indicator="2538" :goal="525" /></td>
                <td>505</td>
                <td>485</td>
                <td>465</td>
                <td>450</td>
              </tr>
              <tr>
                <td>3.</td>
                <td>Целевой показатель: снижение смертности от новообразований, в том числе от злокачественных (до 185 случаев на 100 тыс. населения)</td>
                <td>Совет</td>
                <td>200,6</td>
                <td>31 декабря 2017 г.</td>
                <td><progress-year :year="2018" :indicator="2543" :goal="199.9" /></td>
                <td><progress-year :year="2019" :indicator="2543" :goal="199.5" /></td>
                <td><progress-year :year="2020" :indicator="2543" :goal="197.0" /></td>
                <td>193,5</td>
                <td>189,5</td>
                <td>187</td>
                <td>185</td>
              </tr>
              <tr>
                <td>4.</td>
                <td>Целевой показатель: снижение младенческой смертности (до 4,5 случая на 1 тыс. родившихся детей)</td>
                <td>Совет</td>
                <td>5,6</td>
                <td>31 декабря 2017 г.</td>
                <td><progress-year :year="2018" :indicator="2548" :goal="5.5" /></td>
                <td><progress-year :year="2019" :indicator="2548" :goal="5.4" /></td>
                <td><progress-year :year="2020" :indicator="2548" :goal="5.2" /></td>
                <td>5,0</td>
                <td>4,8</td>
                <td>4,6</td>
                <td>4,5</td>
              </tr>
              <tr>
                <td>5.</td>
                <td>Цель: ликвидация кадрового дефицита в медицинских организациях, оказывающих первичную медико-санитарную помощь</td>
                <td>Совет</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>5.1.</td>
                <td>
                  <p>
                    Целевой показатель: укомплектованность врачебных должностей в подразделениях, оказывающих медицинскую помощь в амбулаторных условиях (физическими лицами при
                    коэффициенте совместительства 1,2),%
                  </p>
                </td>
                <td>&nbsp;</td>
                <td>79,7</td>
                <td>31 декабря 2017 г.</td>
                <td><progress-year :year="2018" :indicator="2551" :goal="80" /></td>
                <td><progress-year :year="2019" :indicator="2551" :goal="81" /></td>
                <td><progress-year :year="2020" :indicator="2551" :goal="83" /></td>
                <td>86</td>
                <td>89</td>
                <td>92</td>
                <td>95</td>
              </tr>
              <tr>
                <td>5.2.</td>
                <td>
                  <p>Целевой показатель:</p>
                  <p>
                    укомплектованность должностей среднего медицинского персонала в подразделениях оказывающих медицинскую помощь в амбулаторных условиях (физическими лицами при
                    коэффициенте совместительства 1,2),%
                  </p>
                </td>
                <td>&nbsp;</td>
                <td>88,8</td>
                <td>31 декабря 2017 г.</td>
                <td><progress-year :year="2018" :indicator="2555" :goal="89" /></td>
                <td><progress-year :year="2019" :indicator="2555" :goal="90" /></td>
                <td><progress-year :year="2020" :indicator="2555" :goal="91" /></td>
                <td>92</td>
                <td>93</td>
                <td>94</td>
                <td>95</td>
              </tr>
              <tr>
                <td>5.3.</td>
                <td>
                  <p>
                    Целевой показатель: число специалистов, вовлеченных в систему непрерывного образования медицинских работников, в том числе с использованием дистанционных
                    образовательных технологий (тыс. чел.)
                  </p>
                </td>
                <td>&nbsp;</td>
                <td>109</td>
                <td>31 декабря 2017 г.</td>
                <td>240</td>
                <td>350</td>
                <td>560</td>
                <td>850</td>
                <td>1 170</td>
                <td>1 500</td>
                <td>1 880</td>
              </tr>
              <tr>
                <td>6.</td>
                <td>Цель: обеспечение охвата всех граждан профилактическими медицинскими осмотрами не реже одного раза в год</td>
                <td>Совет</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>6.1.</td>
                <td>Целевой показатель: охват всех граждан профилактическими медицинскими осмотрами,%</td>
                <td>&nbsp;</td>
                <td>39,7</td>
                <td>31 декабря 2017 г.</td>
                <td><progress-year :year="2018" :indicator="2563" :goal="39.7" /></td>
                <td><progress-year :year="2019" :indicator="2563" :goal="41.8" /></td>
                <td><progress-year :year="2020" :indicator="2563" :goal="43.4" /></td>
                <td>45,0</td>
                <td>53,5</td>
                <td>59,7</td>
                <td>70,0</td>
              </tr>
              <tr>
                <td>6.2.</td>
                <td>
                  <p>
                    Дополнительный показатель: увеличен охват детей в возрасте 15-17 лет профилактическими медицинскими осмотрами с целью сохранения их репродуктивного здоровья
                    (доля от общего числа детей подлежащих осмотрам),%
                  </p>
                </td>
                <td>&nbsp;</td>
                <td>38,7</td>
                <td>31 декабря 2017 г.</td>
                <td><progress-year :year="2018" :indicator="2567" :goal="50" /></td>
                <td><progress-year :year="2019" :indicator="2567" :goal="60" /></td>
                <td><progress-year :year="2020" :indicator="2567" :goal="65" /></td>
                <td>70</td>
                <td>73</td>
                <td>75</td>
                <td>80</td>
              </tr>
              <tr>
                <td>7.</td>
                <td>
                  <p>
                    Цель: обеспечение оптимальной доступности для населения (в том числе для жителей населенных пунктов, расположенных в отдаленных местностях) медицинских
                    организаций, оказывающих первичную медико-санитарную помощь
                  </p>
                </td>
                <td>Совет</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>7.1.</td>
                <td>
                  <p>
                    Целевой показатель: число населенных пунктов с численностью населения свыше 100 человек до 2&nbsp;000 человек, по данным геоинформационной системы Минздрава
                    России, находящихся вне зоны доступности<a>*</a> от медицинской организации или ее структурного подразделения, оказывающих первичную медико-санитарную помощь,
                    единиц<a>**</a>
                  </p>
                </td>
                <td>&nbsp;</td>
                <td>788</td>
                <td>2 июля 2018 г.</td>
                <td>499</td>
                <td>144</td>
                <td>30</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>8.</td>
                <td>
                  <p>
                    Цель: оптимизация работы медицинских организаций, оказывающих первичную медико-санитарную помощь, сокращение времени ожидания в очереди при обращении граждан в
                    указанные медицинские организации, упрощение процедуры записи на прием к врачу
                  </p>
                </td>
                <td>Совет</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>8.1.</td>
                <td>
                  <p>
                    Целевой показатель: доля медицинских организаций, участвующих в создании и тиражировании "Новой модели медицинской организации, оказывающей первичную
                    медико-санитарную помощь" от общего количества медицинских организаций, оказывающих данный вид помощи,%
                  </p>
                </td>
                <td>&nbsp;</td>
                <td>3</td>
                <td>31 декабря 2017 г.</td>
                <td>5,2</td>
                <td>9,2</td>
                <td>54,7</td>
                <td>59,8</td>
                <td>63,8</td>
                <td>68,0</td>
                <td>72,3</td>
              </tr>
              <tr>
                <td>9.</td>
                <td>Целевой показатель: увеличение объема экспорта медицинских услуг не менее чем в четыре раза по сравнению с 2017 годом (до 1 млрд долларов США в год)</td>
                <td>Совет</td>
                <td>250</td>
                <td>31 декабря 2017 г.</td>
                <td>360</td>
                <td>470</td>
                <td>580</td>
                <td>690</td>
                <td>800</td>
                <td>900</td>
                <td>1000</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>...</p>
      </div>
    </div>
  </div>
</template>
<script>
import progressYear from '~/components/NatProj/progressYear'
import PageTitle from '~/components/Components/PageTitle'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'

export default {
  auth: false,
  name: 'Vue',
  layout: 'page2',
  components: {
    progressYear,
    PageTitle,
    Header,
    Sidebar2,
  },
  data() {
    return {
      natproj_list: [
        ['Здравоохранение', 'zdrav.svg', 2519],
        ['Демография', 'demography.svg', 2521],
        ['Образование', 'digital.svg', 2520],
        ['Наука', 'science.svg', 2526],
        ['Культура', 'kultura.svg', 2522],
        ['Жилье и городская среда', 'urban.svg', 2524],
        ['Безопасные и качественные автомобильные дороги', 'bkad.svg', 2523],
        ['Малое и среднее предпринимательство и поддержка индивидуальной предпринимательской инициативы', 'predprinimatelstvo.svg', 2527],
        ['Производительность труда и поддержка занятости', 'proizvod.svg', 2529],
        ['Цифровая экономика Российской Федерации', 'digital.svg', 2528],
        ['Международная кооперация и экспорт', 'cooperation.svg', 2530],
        ['Экология', 'ecology.svg', 2525],
        ['Транспортная часть комплексного плана модернизации и расширения магистральной инфраструктуры на период до 2024 года', '', 2531],
      ],
    }
  },
  computed: {
    menu() {
      return this.natproj_list.map((x) => {
        const item = { title: x[0] }
        if (x[1]) item.img = `/img/natpro/${x[1]}`
        if (x[2] == 2519) item.click = () => this.$router.push(`/np/passport/${x[2]}`)
        return item
      })
    },
    heading() {
      return 'Национальный проект "Здравоохранение"'
    },
  },
}
</script>

<style scoped>
.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c4d3f6;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

table {
  width: 100%;
  dsplay: table;
  margin: 0;
}

tr {
  display: table-row;
  background: #fff;
}

thead tr {
  color: #fff;
  background: #024ea1;
}

tr td {
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding: 20px 10px;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

tr th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding: 19px 10px;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
  min-width: 85px;
}

tr td {
  text-align: center;
}
tr th:nth-child(2) {
  width: auto;
}
tr th:nth-child(3) {
  width: auto;
}
tr th:nth-child(5) {
  width: auto;
}

tr td:nth-child(2) {
  text-align: left;
}

tr td:nth-child(3) {
  text-align: center;
}

tr td:nth-child(5) {
  text-align: center;
  font-size: smaller;
}

.table,
tr {
  width: 100% !important;
}

tbody tr:hover {
  background-color: #024ea110;
  cursor: pointer;
}
</style>
