<template>
  <div>
    <hightchart-base v-if="chartOptions && chartOptions.series.length > 0" :options="chartOptions" height="600" />
    <div v-if="false">{{ chartOptions }}</div>
  </div>
</template>

<script>
import _highchartOptions from './MoChartXyzOptions'
import HightchartBase from '~/components/Chart/HighchartBase'

export default {
  name: 'MoChartXyz',
  components: {
    HightchartBase,
  },
  props: {
    series: {
      type: Array,
      default: () => [],
    },
    options: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {}
  },
  computed: {
    chartOptions() {
      const _chartOptions = {
        ...{},
        ..._highchartOptions,
        ...this.options,
      }
      window.xyzChartOptions = _chartOptions
      return _chartOptions
    },
  },
  watch: {},
}
</script>

<style scoped></style>
