<template>
  <div>
    <hightchart-base v-if="chartOptions && chartOptions.series.length > 0" :options="chartOptions" height="600" />
    <!--    <div v-if="true">{{ chartOptions }}</div>-->
  </div>
</template>

<script>
import _highchartOptions from './MoChartLinesOptions'
import HightchartBase from '~/components/Chart/HighchartBase'

export default {
  name: 'MoChartLines',
  components: {
    HightchartBase,
  },
  props: {
    series: {
      type: Array,
      default: null,
    },
    options: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {}
  },
  computed: {
    chartOptions() {
      const _series = this.series ? { series: this.series } : {}
      const _chartOptions = {
        ...{},
        ..._highchartOptions,
        ...this.options,
        ..._series,
      }
      return _chartOptions
    },
  },
  watch: {},
}
</script>

<style scoped></style>
