<template>
  <div>
    <highcharts v-if="mapOptions" :constructor-type="'mapChart'" :options="mapOptions" class="map" style="height: 650px"></highcharts>
  </div>
</template>

<script>
import moDataList from './data/reg'
import perGeoJson from '~/assets/maps/mo/ru-per.geo.json'
import ivaGeoJson from '~/assets/maps/mo/ru-iva.geo.json'

const mapOptions = {
  defaultColors: ['#F73F00', '#F7A200', '#F7E300', '#50D800'],
  colors: ['#F73F00', '#F7A200', '#F7E300', '#50D800'],
  title: {
    text: '',
  },
  legend: {
    enabled: true,
  },
  plotOptions: {
    series: {
      allAreas: false,
      joinBy: ['NAME', 'name'],
      // joinBy: ['OKTMO', 'oktmo'],
    },
    map: {
      // allAreas: true,
      dataLabels: {
        enabled: false,
        color: '#FFFFFF',
        style: {
          fontWeight: 'bold',
        },
      },
      tooltip: {
        // headerFormat: '',
        pointFormat: '{point.options.name}: <b>{point.value:.2f}</b>',
      },
    },
    mapbubble: {
      dataLabels: {
        enabled: false,
        color: '#FFFFFF',
        style: {
          fontWeight: 'bold',
        },
      },
      tooltip: {
        headerFormat: '',
        pointFormat: '{point.options.name}: <b>{point.value:.2f}</b>',
      },
    },
  },
  series: [],
}

export default {
  name: 'MoMap',
  props: {
    tm: {
      type: String,
      default: () => '',
    },
    mapId: {
      type: String,
      default: 'Пермская область',
    },
    mapName: {
      type: String,
      default: null,
    },
    series: {
      type: Array,
      default: () => [{ name: 'По-умолчанию' }],
    },
  },
  data() {
    return {
      data: null,
      mapJson: null,
      regions: [],
      columns_hash: [],
      indicator: null,
      mapOptions: null,
    }
  },
  computed: {
    mapFile() {
      try {
        return moDataList.reg.filter((x) => x.name == this.mapName)[0].file
      } catch {
        return ''
      }
    },
  },
  watch: {
    indicator_id() {},
    series() {
      this.updateMap()
    },
  },
  async mounted() {
    await this.fetchMapJson()
    // this.updateMapJson()
    this.updateMap()
  },
  methods: {
    async fetchMapJson() {
      try {
        const { data } = await this.$axios.get(`/static/data/mo/map/${this.mapFile}.geojson`)
        this.mapJson = data
      } catch {
        window.console.error(`Ошибка загрузки карты ${this.mapFile}`)
        return {}
      }
    },
    updateMap() {
      const series = { series: this.series }
      const chart = {
        chart: {
          map: this.mapJson,
          spacingBottom: 20,
          animation: false,
        },
      }
      // const opt = { ...mapOptions, ...chart, ...series }
      const opt = { ...mapOptions, ...chart, ...series }
      this.mapOptions = opt
    },
    updateMapJson() {
      switch (this.mapName) {
        case 'Ивановская область':
          this.mapJson = ivaGeoJson
          break
        case 'Пермский край':
          this.mapJson = perGeoJson
          break
        default:
          this.mapJson = null
          break
      }
    },
  },
}
</script>

<style scoped></style>
