<template>
  <div>
    <b-row class="mb-3">
      <b-col md="3">
        <div class="accordion" role="tablist">
          <b-card v-for="(x, i) in indTree" :key="x[0]" no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button v-b-toggle="`accordion-${i}`" block variant="info" class="text-left">{{ x[0] }}</b-button>
            </b-card-header>
            <b-collapse :id="`accordion-${i}`" role="tabpanel">
              <b-card-body>
                <div v-for="(y, j) in x[1]" :key="x[0] + y">
                  <b-button
                    block
                    class="mb-3 text-left"
                    :variant="y.toLowerCase().includes('дорог') ? (indSelected.includes(y) ? 'danger' : 'outline-danger') : indSelected.includes(y) ? 'primary' : 'outline-primary'"
                    @click="toggleInd(y)"
                  >
                    {{ j + 1 }}. {{ y }}
                  </b-button>
                </div>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </b-col>
      <b-col md="9">
        <b-row>
          <b-col md="12">
            <b-card class="mb-3">
              <b-card-title>Выбранные показатели</b-card-title>
              <b-card-sub-title v-if="indSelected.length < 4">Выберите четыре показателя из списка слева </b-card-sub-title>
              <b-card-body>
                <b-button v-for="(x, i) in indSelected" :key="x" variant="primary" class="mb-3" block @click="toggleInd(x)">
                  <b-badge variant="light" style="float: left">{{ i + 1 }}</b-badge>
                  {{ x }}
                </b-button>
              </b-card-body>
              <b-card-footer v-if="indSelected.length > 0">
                Для того чтобы убрать показатель из выбранных нажмите на него в списке выше
              </b-card-footer>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12">
            <div v-if="selectedData">
              <year :years="tmList" :selected_year.sync="tmSelected" class="mb-3" />
              <b-row>
                <b-col v-for="(indName, i) in indSelected" :key="i" md="6" class="mb-3">
                  <div class="card">
                    <div class="card-title p-2 mb-1">{{ indName }}, {{ tmSelected }}</div>
                    <div class="card-body p-0">
                      <mo-map :map-name="region" :series="seriesMap[i]" />
                    </div>
                  </div>
                </b-col>
              </b-row>
              <b-row>
                <b-col v-for="(indName, i) in indSelected" :key="i" md="6" class="mb-3">
                  <div class="card">
                    <div class="card-title p-2 mb-1">{{ indName }}, {{ tmSelected }}</div>
                    <div class="card-body p-0">
                      <div class="donut-perm" :style="{ 'background-image': `url(${donutBackgroundImg})` }">
                        <mo-chart-bar :series="seriesDonut[i]" />
                        <mo-chart-donut v-if="false" :series="seriesDonut[i]" />
                      </div>
                    </div>
                  </div>
                </b-col>
              </b-row>
              <b-row v-if="indSelectedOptions.length > 1">
                <b-col md="12" class="mb-3">
                  <b-card>
                    <b-card-title>График XYZ</b-card-title>
                    <b-card-title>
                      <div class="text-center">
                        <b-dropdown
                          id="oy-dropdown"
                          ref="dropdownOy"
                          :text="indSelectedY ? indSelectedY : 'Выберите показатель по оси Oy'"
                          class="m-2"
                          style="max-width: 40%; width: 40%"
                          variant="primary"
                        >
                          <b-dropdown-form>
                            <b-button v-for="(ind, i) in indSelectedOptions" :key="i" class="mb-2" variant="outline-primary" @click="selectOy(ind)"
                              >{{ i + 1 }}. {{ ind }}
                            </b-button>
                          </b-dropdown-form>
                        </b-dropdown>
                        <b-dropdown
                          id="ox-dropdown"
                          ref="dropdownOx"
                          :text="indSelectedX ? indSelectedX : 'Выберите показатель по оси Ox'"
                          class="m-2"
                          style="max-width: 40%; width: 40%"
                          variant="primary"
                        >
                          <b-dropdown-form>
                            <b-button v-for="(ind, i) in indSelectedOptions" :key="i" class="mb-2" variant="outline-primary" @click="selectOx(ind)"
                              >{{ i + 1 }}. {{ ind }}
                            </b-button>
                          </b-dropdown-form>
                        </b-dropdown>
                        <b-dropdown
                          id="ox-dropdown"
                          ref="dropdownOz"
                          :text="indSelectedZ ? indSelectedZ : 'Выберите показатель по оси Oz'"
                          class="m-2"
                          style="max-width: 40%; width: 40%"
                          variant="primary"
                        >
                          <b-dropdown-form>
                            <b-button v-for="(ind, i) in indSelectedOptions" :key="i" class="mb-2" variant="outline-primary" @click="selectOz(ind)"
                              >{{ i + 1 }}. {{ ind }}
                            </b-button>
                          </b-dropdown-form>
                        </b-dropdown>
                      </div>
                    </b-card-title>
                    <b-card-body v-if="indSelectedY && indSelectedX && indSelectedZ">
                      <tm-label :tm="tmSelected" />
                      <mo-chart-xyz :options="optionsXyz" />
                    </b-card-body>
                  </b-card>
                </b-col>
              </b-row>
              <b-row v-if="indSelectedOptions.length > 0">
                <b-col md="12" class="mb-3">
                  <b-card>
                    <b-card-title>Сопоставление данным</b-card-title>
                    <b-card-body>
                      <div>
                        <b-dropdown
                          id="ox-dropdown"
                          ref="dropdownIndLines"
                          :text="indSelectedLines ? indSelectedLines : 'Выберите показатель'"
                          class="m-2"
                          style="max-width: 40%; width: 40%"
                          variant="primary"
                        >
                          <b-dropdown-form>
                            <b-button v-for="(ind, i) in indSelectedOptions" :key="i" class="mb-2" variant="outline-primary" @click="selectLines(ind)">
                              {{ i + 1 }}. {{ ind }}
                            </b-button>
                          </b-dropdown-form>
                        </b-dropdown>
                        <b-form-group label-cols="2" label="Выберите регион:" label-for="regionSelect">
                          <b-select id="regionSelect" v-model="regionSelected" :options="regionSelectOptions"></b-select>
                        </b-form-group>
                        <b-form-group label-cols="2" label="Выберите регион 2:" label-for="regionSelect">
                          <b-select id="regionSelect2" v-model="regionSelected2" :options="regionSelectOptions"></b-select>
                        </b-form-group>
                      </div>
                    </b-card-body>
                    <b-card-body>
                      <mo-chart-lines :options="optionsLines" />
                    </b-card-body>
                  </b-card>
                </b-col>
              </b-row>
              <b-row v-if="false">
                <b-col md="12">
                  <b-card>
                    <b-card-title>Данные</b-card-title>
                    <b-card-body>
                      {{ seriesMap }}
                    </b-card-body>
                  </b-card>
                </b-col>
              </b-row>
            </div>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import moDataFiles from './data/reg'
import MoMap from './MoMap'
import MoChartXyz from './MoChartXyz'
import MoChartDonut from './MoChartDonut'
import MoChartLines from './MoChartLines'

import mo_msk from './data/mo_msk.json'
import TmLabel from '~/components/Filter/TmLabel'
import Year from '~/components/Filter/Year'
import MoChartBar from '~/components/Reg/MoChartBar'

// const FIELD.REGION = 'Субъект РФ'
// const FIELD.ADM6 = 'Муниципальный уровень'
// const FIELD.IND = 'Показатели'
// const FIELD.GRP = 'Раздел'
// const FIELD.MEASURE = 'Ед. измерения'
// const FIELD.COMMENT = 'Справка'
//
const FIELD = {
  REGION: 'Субъект РФ',
  OKTMO: 'ОКТМО',
  ADM6SRC: 'Муниципальный уровень',
  ADM6: 'Наименование для карт',
  GRP: 'Раздел',
  IND: 'Показатели',
  OKEI: 'ОКЕИ',
  MEASURE: 'Ед. измерения',
  MEAS: 'Ед. изм.',
  COMMENT: 'Справка',
}

function myRound(x) {
  try {
    return Math.round(x * 10) / 10
  } catch {
    return null
  }
}

export default {
  name: 'MoSection',
  components: { MoChartBar, MoChartLines, MoChartDonut, MoChartXyz, TmLabel, Year, MoMap },
  props: {
    region: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      data: null,
      df: null,
      indTree: null,
      indTreeCollapsed: null,
      indSelected: [],
      tm: Array(4).fill('2019'),
      tmList: [],
      tmSelected: '2019',
      indSelectedY: null,
      indSelectedX: null,
      indSelectedZ: null,
      indSelectedLines: null,
      polygonSeries: [],
      regionSelected: '',
      regionSelected2: '',
      adm6List: [],
      // mo_msk,
    }
  },
  computed: {
    dataFilePrefix() {
      try {
        return moDataFiles.filter((x) => this.region)[0].file
      } catch {
        return ''
      }
    },
    dataUrl() {
      return `/static/data/mo/data.json`
      // try {
      //   return `/static/data/mo/${this.file}.data.json`
      // } catch {
      //   return null
      // }
    },
    donutBackgroundImg() {
      return `/img/map/${this.dataFilePrefix}.svg` ? this.dataFilePrefix : ''
    },
    selectedData() {
      try {
        return this.df.where((x) => this.indSelected.includes(x[FIELD.IND])).toArray()
      } catch {
        return null
      }
    },
    seriesMap() {
      return this.indSelected.map((indName, i) => {
        try {
          const _tm = this.tmSelected
          const _df = this.df
            .where((row) => row[FIELD.IND] == indName && !row[FIELD.ADM6].toUpperCase().includes('ВСЕГО'))
            // Заменить row[FIELD.ADM6] на соответствующее сопоставление
            // .select((row) => ({ name: this.dataData && this.dataData[row[FIELD.ADM6]] ? this.dataData[row[FIELD.ADM6]] : row[FIELD.ADM6], value: row[_tm], z: row[_tm] }))
            .select((row) => ({ name: row[FIELD.ADM6], oktmo: row[FIELD.OKTMO], value: row[_tm], z: row[_tm] }))
            .orderBy((row) => row.value)
            .resetIndex()
          // const _median = _df.getSeries('value').median()
          const _len = _df.count()
          const _step = Math.round(_len / 4)
          const _series = []
          const _adm6List = [...this.adm6List]
          for (let i = 0; i < 4; i++) {
            const _df1 = _df.between(i * _step, i === _len - 1 ? _len : (i + 1) * _step - 1)
            const _min = _df1.getSeries('value').min()
            const _max = _df1.getSeries('value').max()
            const _idxAdm6List = _adm6List.indexOf(name)
            if (_idxAdm6List > -1) {
              _adm6List.splice(_idxAdm6List)
            }
            if (_df1.count()) {
              _series.push({
                name: `${_min}-${_max}`,
                data: _df1.toArray(),
              })
            }
          }
          _series.splice(0, 0, {
            name: 'нет данных',
            data: _adm6List.map((x) => ({ name: x, value: null, z: null })),
            color: '#CCCCCC',
          })
          return _series

          // const o1 = _df.where((row) => row.value > _median)
          // const o2 = _df.where((row) => row.value == _median)
          // const o3 = _df.where((row) => row.value < _median)
          // return [
          //   { name: 'Выше медианы', data: o1.toArray(), color: 'green' },
          //   { name: 'Медианное значение', data: o2.toArray(), color: '#164dab' },
          //   { name: 'Ниже медианы', data: o3.toArray(), color: '#ffff33' },
          // ]
        } catch {
          return [{ name: 'нет данных' }]
        }
      })
    },
    seriesDonut() {
      return this.indSelected.map((indName, i) => {
        try {
          const _tm = this.tmSelected
          const _df = this.df
            .where((row) => row[FIELD.IND] === indName && !row[FIELD.ADM6].toUpperCase().includes('ВСЕГО'))
            .select((row) => ({ name: row[FIELD.ADM6], value: row[_tm], y: row[_tm] }))
          const _series = [
            {
              innerSize: '50%',
              name: '',
              data: _df.toArray(),
              pointPlacement: 'on',
            },
          ]
          window._series = _series
          return _series
        } catch {
          return [{ name: 'нет данных' }]
        }
      })
    },
    optionsXyz() {
      const _tm = this.tmSelected
      const _dfX = this.df
        .where((row) => row[FIELD.IND] == this.indSelectedX && !row[FIELD.ADM6].toUpperCase().includes('ВСЕГО'))
        .select((row) => ({ ind: row[FIELD.IND], name: row[FIELD.ADM6], x: row[_tm] }))
      const _dfY = this.df
        .where((row) => row[FIELD.IND] == this.indSelectedY && !row[FIELD.ADM6].toUpperCase().includes('ВСЕГО'))
        .select((row) => ({ ind: row[FIELD.IND], name: row[FIELD.ADM6], y: row[_tm] }))
      const _dfZ = this.df
        .where((row) => row[FIELD.IND] == this.indSelectedZ && !row[FIELD.ADM6].toUpperCase().includes('ВСЕГО'))
        .select((row) => ({ ind: row[FIELD.IND], name: row[FIELD.ADM6], z: row[_tm] }))
      const _medianX = _dfX.getSeries('x').median()
      const _medianY = _dfY.getSeries('y').median()

      const _dfXyz = _dfX
        .join(
          _dfY,
          (left) => left.name,
          (right) => right.name,
          (left, right) => {
            return { name: left.name, x: left.x, y: right.y }
          }
        )
        .join(
          _dfZ,
          (left) => left.name,
          (right) => right.name,
          (left, right) => {
            return {
              name: left.name,
              x: left.x,
              y: left.y,
              z: right.z,
              custom: { xIndName: this.indSelectedX, yIndName: this.indSelectedY, zIndName: this.indSelectedZ },
            }
          }
        )
        .where((row) => row.x !== null && row.y !== null && row.z !== null)

      if (_dfXyz.count() == 0) return { series: [] }

      const _minX = _dfXyz.getSeries('x').min()
      const _maxX = _dfXyz.getSeries('x').max()
      const _minY = _dfXyz.getSeries('y').min()
      const _maxY = _dfXyz.getSeries('y').max()

      const _deltaX = (_maxX - _minX) / 10
      const _deltaY = (_maxY - _minY) / 10

      const minX = _minX - _deltaX / 10
      const minY = _minY - _deltaY / 10
      const maxX = _maxX + _deltaX / 10
      const maxY = _maxY + _deltaY / 10

      // let series = [
      //   {
      //     name: '+,+',
      //     type: 'polygon',
      //     color: '#00FF0033',
      //     data: [
      //       [_medianX, _medianY],
      //       [maxX, _medianY],
      //       [maxX, maxY],
      //       [_medianX, maxY],
      //     ],
      //   },
      //   {
      //     name: '-,-',
      //     type: 'polygon',
      //     color: '#FF000033',
      //     data: [
      //       [_medianX, _medianY],
      //       [minX, _medianY],
      //       [minX, minY],
      //       [_medianX, minY],
      //     ],
      //   },
      //   {
      //     name: '+,-',
      //     type: 'polygon',
      //     color: '#FFFF0033',
      //     data: [
      //       [_medianX, _medianY],
      //       [maxX, _medianY],
      //       [maxX, minY],
      //       [_medianX, minY],
      //     ],
      //   },
      //   {
      //     name: '-,+',
      //     type: 'polygon',
      //     color: '#ff6f0033',
      //     data: [
      //       [_medianX, _medianY],
      //       [minX, _medianY],
      //       [minX, maxY],
      //       [_medianX, maxY],
      //     ],
      //   },
      // ]
      // // DEBUG
      // this.$set(this, 'polygonSeries', series)
      // series = []
      // series.push({ data: _dfXyz.toArray() })
      const series = [
        {
          name: '+,+',
          // color: '#00FF0033',
          marker: {
            fillColor: {
              radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
              stops: [
                [0, '#007700AA'],
                [1, '#00FF0033'],
              ],
            },
          },
          data: _dfXyz.where((row) => row.x >= _medianX && row.y >= _medianY).toArray(),
        },
        {
          name: '-,-',
          // color: '#FF000033',
          marker: {
            fillColor: {
              radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
              stops: [
                [0, '#FF0000AA'],
                [1, '#FF000033'],
              ],
            },
          },
          data: _dfXyz.where((row) => row.x < _medianX && row.y < _medianY).toArray(),
        },
        {
          name: '+,-',
          // color: '#FFFF0033',
          marker: {
            fillColor: {
              radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
              stops: [
                [0, '#FFFF00AA'],
                [1, '#FFFF0033'],
              ],
            },
          },
          data: _dfXyz.where((row) => row.x >= _medianX && row.y < _medianY).toArray(),
        },
        {
          name: '-,+',
          // color: '#ff6f0033',
          marker: {
            fillColor: {
              radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
              stops: [
                [0, '#ff6f00AA'],
                [1, '#ff6f0033'],
              ],
            },
          },
          data: _dfXyz.where((row) => row.x < _medianX && row.y >= _medianY).toArray(),
        },
      ]
      const xAxis = {
        title: {
          text: '',
        },
        min: minX,
        max: maxX,
        maxPadding: 0.01,
        plotLines: [
          {
            color: 'black',
            dashStyle: 'dot',
            width: 2,
            value: _medianX,
            zIndex: 3,
            label: {
              rotation: -0.5,
              text: `Медиана X (${myRound(_medianX)})`,
              style: {
                fontWeight: 'bold',
                fontSize: 18,
              },
            },
          },
        ],
      }
      const yAxis = {
        title: {
          text: '',
        },
        min: minY,
        max: maxY,
        maxPadding: 0.01,
        plotLines: [
          {
            color: 'black',
            dashStyle: 'dot',
            width: 2,
            value: _medianY,
            zIndex: 3,
            label: {
              text: `Медиана Y (${myRound(_medianY)})`,
              style: {
                fontWeight: 'bold',
                fontSize: 18,
              },
            },
          },
        ],
      }
      window.xyAxis = [xAxis, yAxis]
      // return { ...{ series } }
      return { ...{ xAxis }, ...{ yAxis }, ...{ series } }
    },
    indSelectedOptions() {
      return this.indSelected.filter((x) => x !== this.indSelectedZ)
    },
    regionSelectOptions() {
      return this.df
        .getSeries(FIELD.ADM6)
        .distinct()
        .toArray()
        .sort()
      // .filter((x) => x != 'ВСЕГО')
    },
    optionsLines() {
      function c(df, columns) {
        try {
          return df.subset(columns).toRows()[0]
        } catch {
          return []
        }
      }

      const _df = this.df.where((x) => x[FIELD.IND] === this.indSelectedLines)
      const xAxis = {
        categories: this.tmList,
      }
      const series = []
      const dataMo2 = c(
        _df.where((row) => row[FIELD.ADM6] === this.regionSelected2),
        this.tmList
      )
      const dataMo = c(
        _df.where((row) => row[FIELD.ADM6] === this.regionSelected),
        this.tmList
      )
      if (dataMo2) {
        series.push({
          name: this.regionSelected2,
          data: dataMo2,
          color: '#b00000',
        })
      }
      if (dataMo) {
        series.push({
          name: this.regionSelected,
          data: dataMo,
          color: '#2d8d2d',
        })
      }
      const options = {
        xAxis,
        series,
      }
      return options
    },
  },
  watch: {
    tmSelected() {
      this.tm = Array(4).fill(this.tmSelected)
    },
  },
  mounted() {
    this.fetchData()
    window.mo = this
  },
  methods: {
    async fetchData() {
      let df = null
      if (this.region.toLowerCase().includes('москва')) {
        // df = dataForge.fromObject(mo_msk)
        this.data = mo_msk
      } else {
        const { data } = await this.$axios.get(`${this.dataUrl}?v=${Math.random()}`)
        this.data = data
        // df = dataForge.fromJSON(JSON.stringify(data))
      }
      // df = dataForge.fromObject(this.data)
      df = dataForge.fromJSON(JSON.stringify(this.data))
      df = df.where((row) => row[FIELD.REGION] === this.region && row[FIELD.ADM6])
      this.tmList = df.getColumnNames().filter((columnName) => !Object.values(FIELD).includes(columnName))
      this.adm6List = df
        .getSeries(FIELD.ADM6)
        .distinct()
        .toArray()
      this.df = df
      this.indTree = df
        .getSeries(FIELD.GRP)
        .distinct()
        .toArray()
        .sort()
        .reduce((a, c) => {
          a.push([
            c,
            df
              .where((x) => x[FIELD.GRP] == c)
              .getSeries(FIELD.IND)
              .distinct()
              .toArray()
              .sort(),
            false,
          ])
          return a
        }, [])
      this.indTreeCollapsed = Array(this.indTree.length).fill(true)
    },
    toggleInd(indName) {
      if (this.indSelected.includes(indName)) {
        this.indSelected = this.indSelected.filter(function(item) {
          return item !== indName
        })
      } else if (this.indSelected.length < 4) {
        this.indSelected.push(indName)
      } else {
        this.$bvToast.toast('Вы не можете выбрать более 4-х показателей', {
          title: 'Достигнуто максимальное число выбранных показателей',
          variant: 'danger',
          solid: true,
          timeout: 5000,
        })
      }
    },
    selectOz(indName) {
      this.indSelectedZ = indName
      this.$refs.dropdownOz.hide(true)
    },
    selectOy(indName) {
      this.indSelectedY = indName
      this.$refs.dropdownOy.hide(true)
    },
    selectOx(indName) {
      this.indSelectedX = indName
      this.$refs.dropdownOx.hide(true)
    },
    selectRegion(indName) {
      this.regionSelected = indName
      this.$refs.dropdownRegionLines.hide(true)
    },
    selectLines(indName) {
      this.indSelectedLines = indName
      this.$refs.dropdownIndLines.hide(true)
    },
  },
}
</script>

<style>
.dropdown-toggle {
  white-space: normal;
  text-align: left;
}

.donut-perm {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
</style>
