<template>
  <b-row>
    <b-col v-for="x in lst" :key="x.name" cols="6" class="p-3">
      <b-button size="lg" block style="font-size: x-large; text-transform: uppercase; text-align: left;" class="p-2" :variant="variant" :to="x.to ? x.to : `/reg/${x.name}`">
        <span style="min-width: 128px;display: inline-block;text-align: center">
          <img :src="x.img" height="64" />
        </span>
        {{ x.name.replace('г.', '') }}
      </b-button>
    </b-col>
  </b-row>
</template>

<script>
import reglist from './data/reg'

export default {
  name: 'RegList',
  props: {
    variant: {
      type: String,
      default: () => 'primary',
    },
    scope: {
      type: String,
      default: () => 'reg',
    },
  },
  data() {
    return {}
  },
  computed: {
    lst() {
      return reglist[this.scope]
    },
  },
}
</script>

<style scoped></style>
