<template>
  <div>
    <section-count-users class="mb-2"></section-count-users>
    <b-button variant="success" block to="/lk/project" class="mb-2" style="text-transform: uppercase">
      Профиль студента, аспиранта
    </b-button>
    <b-button variant="info" block to="/dep" class="mb-2" style="text-transform: uppercase">
      Кафедры
    </b-button>
    <b-button to="/lk/project" class="mb-4 btn btn-block btn-success" style="text-transform: uppercase">
      Профиль преподавателя
    </b-button>
    <b-button variant="secondary" block to="/international" class="mb-2 mt-4" style="text-transform: uppercase">
      Международное сотрудничество
    </b-button>
    <b-button variant="primary" block to="/w/manage" class="mb-2 mt-4" style="text-transform: uppercase">
      Управление виртуальной стеной
    </b-button>
    <b-button variant="danger" block to="/edu" class="mb-2" style="text-transform: uppercase">
      Образовательные проекты
    </b-button>
  </div>
</template>

<script>
import SectionIndexQuartCharts from '~/components/Section/Index/SectionIndexQuartCharts'
import SectionCountUsers from '~/components/Section/Index/SectionCountUsers'

export default {
  name: 'SectionIndexRight',
  // eslint-disable-next-line vue/no-unused-components
  components: { SectionIndexQuartCharts, SectionCountUsers },
}
</script>

<style scoped></style>
