<template>
  <b-row v-if="indicators">
    <b-col v-for="ind in indicators" :key="ind.id" md="12" xl="6" class="mt-2">
      <b-button variant="success" block :to="`/belarus/year/parent/${ind.id}/data`" class="btn-outline-2x item text-left">{{ ind.name }}</b-button>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'SectionIndexYear',
  data() {
    return {
      indicators: null,
    }
  },
  mounted() {
    this.fetchIndicators()
  },
  methods: {
    async fetchIndicators() {
      const { data } = await this.$axios.get('/data/indicator/belarus.years')
      this.indicators = data.children
    },
  },
}
</script>

<style scoped lang="scss">
.item {
  text-transform: lowercase;
  &:first-letter {
    text-transform: capitalize;
  }
}
</style>
