<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <b-row>
          <b-col md="8">
            <b-card class="mb-3">
              <b-card-title>Выберите показатели</b-card-title>
              <b-card-body>
                <b-button
                  v-for="indicator in indicators"
                  :key="indicator"
                  class="mr-2 mb-2 text-left"
                  :variant="indicatorSelected.includes(indicator) ? 'primary' : 'transition outline-primary'"
                  @click="onSelectIndicator(indicator)"
                >
                  {{ indicator }}
                </b-button>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col md="4">
            <b-card class="mb-3">
              <b-card-title>Выберите период</b-card-title>
              <b-card-body>
                <b-form>
                  <label>Начало:</label>
                  <b-select v-model="tsBegin" :options="ts" />
                </b-form>
                <b-form>
                  <label>Окончание:</label>
                  <b-select v-model="tsEnd" :options="ts" />
                </b-form>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col v-for="indicator in indicatorSelected" :key="indicator" md="12">
            <b-card v-if="Object.keys(chartOptionsList).includes(indicator)" class="mb-2">
              <b-card-title>
                <h5>{{ indicator }}, {{ tsBegin }} - {{ tsEnd }}</h5>
              </b-card-title>
              <b-card-body>
                <highcharts :options="chartOptionsList[indicator]" />
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import mtpData from '~/content/data/mtp/mtp_msk_razv.json'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import PageTitle from '~/components/Components/PageTitle'

function sum(arr) {
  let len = arr.length
  let num = 0
  while (len--) num += Number(arr[len])
  return num
}

function avg(arr, idx, range) {
  return sum(arr.slice(idx - range, idx)) / range
}

function sma(arr, range) {
  if (!Array.isArray(arr)) {
    throw new TypeError('expected first argument to be an array')
  }

  const num = range || arr.length
  const res = []
  const len = arr.length + 1
  let idx = num - 1
  while (++idx < len) {
    res.push(avg(arr, idx, num))
  }
  return res
}

export default {
  name: 'MtpMskRfPage',
  layout: 'page2',
  components: {
    Sidebar2,
    Header,
    PageTitle,
  },
  data() {
    return {
      mtpData,
      indicatorSelected: [],
      tsSelected: null,
      tsBegin: null, // mtpData[0].filter((x) => x.includes('20'))[0],
      tsEnd: null, // mtpData[0].filter((x) => x.includes('20')).slice(-1),
    }
  },
  computed: {
    heading() {
      return 'Опережающее развитие транспорта Москвы'
    },
    subheading() {
      return null
    },
    indicators() {
      return this.mtpData.map((x) => x.INDICATOR)
    },
    ts() {
      return [...Object.keys(this.mtpData[0])].filter((x) => x.includes('20'))
    },
    menu() {
      return [
        { title: `${this.heading}:`, variant: 'info' },
        ...this.indicators.map((x) => ({
          active: this.indicatorSelected.includes(x),
          title: `- ${x}`,
          click: () => this.onSelectIndicator(x),
        })),
      ]
    },
    chartOptionsList() {
      const options = {}
      if (!this.tsBegin || !this.tsEnd) return options
      const begin = Math.min(parseInt(this.tsBegin), parseInt(this.tsEnd))
      const end = Math.max(parseInt(this.tsBegin), parseInt(this.tsEnd))
      const ts = Object.keys([...new Array(end - begin + 1)]).map((_, x) => (x + begin).toString())
      const ts0 = ['2022', '2023', '2024']
      const defaultChartOptions = {
        chart: {
          type: 'spline',
        },
        title: { text: '' },
        subtitle: { text: '' },
        xAxis: {
          type: 'category',
          categories: [...ts, ...ts0],
          labels: {
            style: {
              fontSize: '14pt',
            },
          },
        },
        yAxis: {
          title: { text: '' },
          labels: {
            style: {
              fontSize: '14pt',
            },
          },
        },
        legend: {
          enabled: false,
        },
        series: [],
      }
      for (const indicator of this.indicatorSelected) {
        const data = this.mtpData.filter((x) => x.INDICATOR === indicator)[0]
        window.console.log(ts)
        const factData = ts.map((x) => data[x])
        let forecastData = []
        if (factData.slice(-1)[0] !== null && end === 2021) {
          forecastData = sma(factData, 4)
        }
        options[indicator] = { ...defaultChartOptions }
        options[indicator] = {
          ...options[indicator],
          series: [
            {
              color: '#DC4128',
              name: 'Прогноз',
              dashStyle: 'Dash',
              data: [
                // Фактические данные
                ...factData.map((y) => (y === null ? null : Math.round(y * 1000) / 1000)),
                // Прогнозные данные
                ...forecastData.map((y) => (y === null ? null : Math.round(y * 1000) / 1000)),
              ],
            },
            {
              color: '#575193',
              name: 'Факт',
              data: factData.map((y) => (y === null ? null : Math.round(y * 1000) / 1000)),
            },
          ],
        }
      }

      return options
    },
  },
  methods: {
    onSelectIndicator(x) {
      if (this.indicatorSelected.includes(x)) {
        this.$delete(this.indicatorSelected, this.indicatorSelected.indexOf(x))
      } else {
        this.indicatorSelected.push(x)
      }
    },
    onSelectTs(x) {
      this.tsSelected = x
    },
  },
}
</script>

<style scoped></style>
