<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <b-row>
          <b-col md="8">
            <b-card class="mb-3">
              <b-card-title>Выберите показатели</b-card-title>
              <b-card-body>
                <b-button
                  v-for="indicator in indicators"
                  :key="indicator"
                  class="mr-2 mb-2 text-left"
                  :variant="indicatorSelected.includes(indicator) ? 'primary' : 'transition outline-primary'"
                  @click="onSelectIndicator(indicator)"
                >
                  {{ indicator }}
                </b-button>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col md="4">
            <b-card class="mb-3">
              <b-card-title>Выберите год</b-card-title>
              <b-card-body>
                <b-button v-for="x in ts" :key="x" class="mr-2 mb-2 text-left" :variant="tsSelected === x ? 'primary' : 'transition outline-primary'" @click="onSelectTs(x)">
                  {{ x }}
                </b-button>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" v-for="indicator in indicatorSelected" :key="indicator">
            <b-card class="mb-2">
              <b-card-title>
                <h5>{{ indicator }}, {{ tsSelected }}</h5>
              </b-card-title>
              <b-card-body>
                <highcharts :options="chartOptionsList[indicator]" />
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import mtpData from '~/content/data/mtp/mtp_msk_rf.json'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import PageTitle from '~/components/Components/PageTitle'

export default {
  name: 'mtpMskRfPage',
  layout: 'page2',
  components: {
    Sidebar2,
    Header,
    PageTitle,
  },
  data() {
    return {
      mtpData,
      indicatorSelected: [],
      tsSelected: null,
    }
  },
  computed: {
    heading() {
      return 'Транспортный комплекс Москвы в показателях Российской Федерации'
    },
    subheading() {
      return null
    },
    indicators() {
      return this.mtpData.map((x) => x.INDICATOR)
    },
    ts() {
      return [...Object.keys(this.mtpData[0])].filter((x) => x.includes('20'))
    },
    menu() {
      return [
        { title: `${this.heading}:`, variant: 'info' },
        ...this.indicators.map((x) => ({
          active: this.indicatorSelected.includes(x),
          title: `- ${x}`,
          click: () => this.onSelectIndicator(x),
        })),
      ]
    },
    chartOptionsList() {
      const options = {}
      const defaultChartOptions = {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
        },
        title: { text: '' },
        subtitle: { text: '' },
        xAxis: {
          labels: {
            enabled: false,
          },
        },
        yAxis: {
          title: { text: '' },
          labels: {
            style: {
              fontSize: '14pt',
            },
          },
        },
        legend: {
          enabled: false,
        },
        series: [],
      }
      const defaultChartOptions2 = {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'column',
        },
        title: { text: '' },
        subtitle: { text: '' },
        xAxis: {
          labels: {
            enabled: false,
          },
        },
        yAxis: {
          title: { text: '' },
          labels: {
            style: {
              fontSize: '12pt',
            },
          },
          plotLines: [
            {
              color: '#DC4128',
              dashStyle: 'solid',
              width: 2,
              value: 100,
              label: { text: '' },
              zIndex: 3,
            },
          ],
        },
        legend: {
          enabled: false,
        },
        series: [],
      }

      for (const indicator of this.indicatorSelected) {
        const data = this.mtpData.filter((x) => x.INDICATOR === indicator)[0]
        if (indicator.includes('заработной')) {
          options[indicator] = { ...defaultChartOptions2 }
          if (data[this.tsSelected]) {
            options[indicator] = {
              ...defaultChartOptions2,
              series: [
                {
                  name: indicator,
                  data: [
                    {
                      color: '#575193',
                      name: 'Москва',
                      y: Math.round(data[this.tsSelected] * 1000) / 1000,
                    },
                  ],
                },
              ],
            }
          }
        } else {
          options[indicator] = { ...defaultChartOptions }
          if (data[this.tsSelected]) {
            options[indicator] = {
              ...defaultChartOptions,
              series: [
                {
                  name: indicator,
                  data: [
                    {
                      color: '#575193',
                      name: 'Москва',
                      y: Math.round(data[this.tsSelected] * 1000) / 1000,
                    },
                    {
                      color: '#afabd5',
                      name: 'Остальная Россия',
                      y: Math.round((100 - data[this.tsSelected]) * 1000) / 1000,
                    },
                  ],
                },
              ],
            }
          }
        }
      }

      return { ...options }
    },
  },
  methods: {
    onSelectIndicator(x) {
      if (this.indicatorSelected.includes(x)) {
        this.$delete(this.indicatorSelected, this.indicatorSelected.indexOf(x))
      } else {
        this.indicatorSelected.push(x)
      }
    },
    onSelectTs(x) {
      this.tsSelected = x
    },
  },
}
</script>

<style scoped></style>
