<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <div v-if="indicatorSelected">
          <b-row class="mb-2">
            <b-col md="12">
              <b-card>
                <b-card-title>
                  <h4>{{ indicatorSelected.title }} ({{ indicatorSelected.code }})</h4>
                </b-card-title>
              </b-card>
            </b-col>
          </b-row>
          <b-row v-for="chartOptions in chartOptionsList" :key="chartOptions.indicator.code">
            <b-col md="12">
              <b-card class="mb-2">
                <b-card-title>
                  {{ chartOptions.indicator.title }}
                  <div style="float:right">
                    <b-check v-model="chartOptions.enabled"><p>Отображать</p></b-check>
                  </div>
                </b-card-title>
                <b-card-sub-title>
                  {{ indicatorSelected.title }}
                </b-card-sub-title>
                <b-card-body>
                  <highcharts :options="chartOptions" v-if="chartOptions.enabled" />
                </b-card-body>
                <b-card-footer> R<sup>2</sup>={{ chartOptions.summary['r.squared'][0] }} </b-card-footer>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-card>
                <b-card-body class="text-center">
                  <img src="/img/mtp/mtp_m_h.jpg" />
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
          <div v-if="false">
            <b-row class="mb-2">
              <b-col md="12">
                <b-card>
                  <b-card-body>
                    {{ data }}
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col md="12">
                <b-card>
                  <b-card-body>
                    {{ summary }}
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col md="12">
                <b-card>
                  <b-card-body>
                    {{ predict }}
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mtpIndicator from '~/content/data/mtp_m/mtp_m_indicator.json'
import mtpTs from '~/content/data/mtp_m/mtp_m_ts.json'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import PageTitle from '~/components/Components/PageTitle'
import defaultChartOptions from '~/content/data/mtp_m/IndicatorChartOptions'

export default {
  name: 'mtpMskMonthVarPage',
  layout: 'page2',
  components: {
    Sidebar2,
    Header,
    PageTitle,
  },
  data() {
    return {
      mtpIndicator,
      mtpTs,
      indicatorSelected: null,
      tsSelected: [],
      data: null,
      predict: null,
      summary: null,
      chartOptionsList: [],
    }
  },
  computed: {
    heading() {
      // return 'Вклад траспорта в экономику Москвы'
      return 'VAR-прогноз'
    },
    subheading() {
      return 'Данные МТП (месячный отчёт)'
    },
    indicators() {
      return this.mtpIndicator.map((x) => x)
    },
    ts() {
      return [...Object.keys(this.mtpIndicator[0])].filter((x) => x.includes('20'))
    },
    menu() {
      return [
        ...this.indicators.map((x) => ({
          active: this.indicatorSelected === x,
          title: x.title,
          click: () => this.onSelectIndicator(x),
        })),
      ]
    },
    names() {
      if (this.indicatorSelected)
        return this.indicatorSelected.items.reduce(
          (a, c) => ({
            ...a,
            [c.code]: c.title,
          }),
          {}
        )
      else return {}
    },
  },
  methods: {
    async onSelectIndicator(x) {
      this.indicatorSelected = x
      if (x) {
        let res
        res = await this.$axios.get(`/static/data/mtp_m/${x.code}-data.json`)
        this.data = res.data
        res = await this.$axios.get(`/static/data/mtp_m/${x.code}-summary.json`)
        this.summary = res.data
        res = await this.$axios.get(`/static/data/mtp_m/${x.code}-predict.json`)
        this.predict = res.data
        const chartOptionsList = []
        this.$nextTick(() => {
          for (const item of x.items) {
            chartOptionsList.push(this.getChartOptions(item))
          }
          this.chartOptionsList = chartOptionsList
        })
      }
    },

    getChartOptions(x) {
      const chartOptions = { ...defaultChartOptions }
      const v = x.code
      chartOptions.indicator = x
      chartOptions.enabled = true
      chartOptions.summary = this.summary[v]

      const series = []
      const fact = {
        name: 'Факт',
        data: this.data.map((x) => x[v]),
      }
      const predictedMedium = {
        name: 'Прогноз (medium)',
        color: '#DC4128',
        data: [...this.data.map((x) => x[`${v}.fitted`]), ...this.predict[v].map((x) => (x[0] < 0 ? 0 : x[0]))].map((x) => Math.round(x * 100) / 100),
      }
      // const predictedLower = {
      //   name: 'Прогноз (lower)',
      //   color: '#DC4128',
      //   lineWidth: 1,
      //   dashStyle: 'Dash',
      //   data: [...this.data.map((x) => x[`${v}.fitted`]), ...this.predict[v].map((x) => (x[1] < 0 ? 0 : x[1]))].map((x) => Math.round(x * 100) / 100),
      // }
      // const predictedUpper = {
      //   name: 'Прогноз (upper)',
      //   color: '#DC4128',
      //   lineWidth: 1,
      //   dashStyle: 'LongDash',
      //   data: [...this.data.map((x) => x[`${v}.fitted`]), ...this.predict[v].map((x) => (x[2] < 0 ? 0 : x[2]))].map((x) => Math.round(x * 100) / 100),
      // }
      // series.push(predictedLower)
      // series.push(predictedUpper)

      series.push(predictedMedium)
      series.push(fact)
      chartOptions.series = series
      return chartOptions
    },
  },
}
</script>

<style scoped></style>
