<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <b-row>
          <b-col md="8">
            <b-card class="mb-3">
              <b-card-title>Выберите показатели</b-card-title>
              <b-card-body>
                <b-button
                  v-for="indicator in indicators"
                  :key="indicator"
                  class="mr-2 mb-2 text-left"
                  :variant="indicatorSelected.includes(indicator) ? 'primary' : 'transition outline-primary'"
                  @click="onSelectIndicator(indicator)"
                >
                  {{ indicator }}
                </b-button>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col md="4">
            <b-card class="mb-3">
              <b-card-title>Выберите год</b-card-title>
              <b-card-body>
                <b-button v-for="x in ts" :key="x" class="mr-2 mb-2 text-left" :variant="tsSelected.includes(x) ? 'primary' : 'transition outline-primary'" @click="onSelectTs(x)">
                  <b-badge v-if="false && tsSelected.includes(x)" class="ml-0" variant="warning">{{ tsSelected.indexOf(x) + 1 }}</b-badge>
                  {{ x }}
                </b-button>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12">
            <b-card class="mb-2">
              <b-card-body>
                <highcharts :options="chartOptions" />
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row v-if="false">
          <b-col md="12" v-for="ts in tsSelected" :key="ts">
            <b-card class="mb-2">
              <b-card-title>
                <h3>{{ ts }}</h3>
              </b-card-title>
              <b-card-body>
                <highcharts :options="chartOptionsList[ts]" />
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import mtpData from '~/content/data/mtp/mtp_msk.json'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import PageTitle from '~/components/Components/PageTitle'

export default {
  name: 'mtpMskPage',
  layout: 'page2',
  components: {
    Sidebar2,
    Header,
    PageTitle,
  },
  data() {
    return {
      mtpData,
      indicatorSelected: [],
      tsSelected: [],
    }
  },
  computed: {
    heading() {
      // return 'Вклад траспорта в экономику Москвы'
      return 'Вклад траспорта в экономику Москвы'
    },
    subheading() {
      return null
    },
    indicators() {
      return this.mtpData.map((x) => x.INDICATOR)
    },
    ts() {
      return [...Object.keys(this.mtpData[0])].filter((x) => x.includes('20'))
    },
    menu() {
      return [
        { title: `${this.heading}:`, variant: 'info' },
        ...this.indicators.map((x) => ({
          active: this.indicatorSelected.includes(x),
          title: `- ${x}`,
          click: () => this.onSelectIndicator(x),
        })),
      ]
    },
    chartOptionsList() {
      const options = {}
      const defaultChartOptions = {
        chart: {
          type: 'column',
        },
        title: { text: '' },
        subtitle: { text: '' },
        xAxis: {
          type: 'category',
          categories: this.indicatorSelected,
          labels: {
            style: {
              fontSize: '14pt',
            },
          },
        },
        yAxis: {
          title: { text: '' },
          max: 100,
          min: 0,
          labels: {
            style: {
              fontSize: '14pt',
            },
          },
          plotLines: [
            {
              color: '#DC4128',
              dashStyle: 'solid',
              width: 2,
              value: 100,
              label: { text: '' },
              zIndex: 3,
            },
          ],
        },
        legend: {
          enabled: false,
        },
        series: [],
      }
      for (const ts of this.tsSelected) {
        const data = this.indicatorSelected.map((indicator) => this.mtpData.filter((x) => x.INDICATOR === indicator)[0])
        options[ts] = { ...defaultChartOptions, series: [{ data: data.map((x) => Math.round(x[ts] * 1000) / 1000) }] }
      }

      return options
    },
    chartOptions() {
      const defaultChartOptions = {
        chart: {
          type: 'column',
          height: 600,
        },
        title: { text: '' },
        subtitle: { text: '' },
        xAxis: {
          type: 'category',
          categories: this.indicatorSelected,
          labels: {
            style: {
              fontSize: '14pt',
            },
          },
        },
        yAxis: {
          title: { text: '' },
          max: 100,
          min: 0,
          labels: {
            style: {
              fontSize: '14pt',
            },
          },
          plotLines: [
            {
              color: '#DC4128',
              dashStyle: 'solid',
              width: 2,
              value: 100,
              label: { text: '' },
              zIndex: 3,
            },
          ],
        },
        legend: {
          enabled: true,
          itemStyle: {
            fontSize: '13pt',
          },
        },
        series: [],
      }
      const options = { ...defaultChartOptions }
      for (const ts of this.tsSelected) {
        const data = this.indicatorSelected.map((indicator) => this.mtpData.filter((x) => x.INDICATOR === indicator)[0])
        options.series.push({ name: ts, data: data.map((x) => Math.round(x[ts] * 1000) / 1000) })
      }

      return options
    },
  },
  methods: {
    onSelectIndicator(x) {
      if (this.indicatorSelected.includes(x)) {
        this.$delete(this.indicatorSelected, this.indicatorSelected.indexOf(x))
      } else {
        this.indicatorSelected.push(x)
      }
    },
    onSelectTs(x) {
      if (this.tsSelected.includes(x)) {
        this.$delete(this.tsSelected, this.tsSelected.indexOf(x))
      } else {
        this.tsSelected.push(x)
      }
    },
  },
}
</script>

<style scoped></style>
