<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <div v-if="indicatorSelected">
          <b-row class="mb-2">
            <b-col md="6">
              <b-card>
                <b-card-title>
                  Выберите индикаторы
                </b-card-title>
                <b-card-sub-title>
                  Нажмите чтобы добавить в список
                </b-card-sub-title>
                <b-card-body>
                  <h4>{{ indicatorSelected.title }}</h4>
                  <b-button v-for="x in indicatorSelected.items" :key="x.code" block class="m-1" variant="outline-primary" @click="onSelectIndicator2(indicatorSelected, x)">
                    {{ x.title }}
                  </b-button>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col md="6">
              <b-card>
                <b-card-title>
                  Список индикаторов
                </b-card-title>
                <b-card-sub-title>
                  Нажмите чтобы убрать из списка
                </b-card-sub-title>
                <b-card-body>
                  <b-button v-for="(x, code, i) in indicatorsSelected" :key="code" block variant="primary" @click="onRemoveIndicator(code)" class="lnr-text-align-left">
                    {{ i + 1 }}. {{ x.parent.title }} / <span class="text-warning">{{ x.title }}</span>
                  </b-button>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6" v-for="chartOptions in chartOptionsList" :key="chartOptions.indicator.code">
              <b-card class="mb-2">
                <b-card-title>
                  {{ chartOptions.indicator.title }}
                  <div style="float:right">
                    <b-check v-model="chartOptions.enabled"><p>Отображать</p></b-check>
                  </div>
                </b-card-title>
                <b-card-sub-title>
                  {{ chartOptions.indicator.parent.title }}
                </b-card-sub-title>
                <b-card-body style="display:flex; flex-direction: row">
                  <highcharts v-if="chartOptions.enabled" :options="chartOptions" style="flex: 1 1 auto" class="mr-1" />
                  <table>
                    <tr v-for="(x, i) in chartOptions.series[0].data" :key="i" :class="i > 18 ? 'text-danger' : ''">
                      <td>{{ chartOptions.xAxis.categories[i] }}</td>
                      <td class="text-right">{{ x }}</td>
                    </tr>
                  </table>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-card>
                <b-card-body class="text-center">
                  <img src="/img/mtp/mtp_m_h.jpg" />
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mtpIndicator from '~/content/data/mtp_m/mtp_m_indicator.json'
import mtpTs from '~/content/data/mtp_m/mtp_m_ts.json'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import PageTitle from '~/components/Components/PageTitle'
import defaultChartOptions from '~/content/data/mtp_m/FreqChartOptions'

export default {
  name: 'MtpMskMonthFreqPage',
  layout: 'page2',
  components: {
    Sidebar2,
    Header,
    PageTitle,
  },
  async asyncData({ $axios }) {
    const { data } = await $axios.get('/static/data/mtp_m/pgm.json')
    return { data }
  },
  data() {
    return {
      mtpIndicator,
      mtpTs,
      indicatorSelected: null,
      indicatorsSelected: {},
      tsSelected: [],
      data: null,
      predict: null,
      summary: null,
      chartOptionsList: [],
    }
  },
  computed: {
    heading() {
      // return 'Вклад траспорта в экономику Москвы'
      return 'Анализ циклов'
    },
    subheading() {
      return 'Данные МТП (месячный отчёт)'
    },
    indicators() {
      return this.mtpIndicator.map((x) => x)
    },
    ts() {
      return [...Object.keys(this.mtpIndicator[0])].filter((x) => x.includes('20'))
    },
    menu() {
      return [
        ...this.indicators.map((x) => ({
          active: this.indicatorSelected === x,
          title: x.title,
          click: () => this.onSelectIndicator(x),
        })),
      ]
    },
    names() {
      if (this.indicatorSelected)
        return this.indicatorSelected.items.reduce(
          (a, c) => ({
            ...a,
            [c.code]: c.title,
          }),
          {}
        )
      else return {}
    },
  },
  methods: {
    onSelectIndicator(x) {
      this.indicatorSelected = x
    },
    onSelectIndicator2(p, x) {
      this.$set(this.indicatorsSelected, x.code, { ...x, parent: p })
      this.updateChartOptionsList()
    },
    onRemoveIndicator(code) {
      this.$delete(this.indicatorsSelected, code)
      this.updateChartOptionsList()
    },
    updateChartOptionsList() {
      const chartOptionsList = []
      for (const x in this.indicatorsSelected) {
        const indicator = this.indicatorsSelected[x]
        const chartOptions = this.getChartOptions(indicator)
        chartOptionsList.push(chartOptions)
      }
      this.chartOptionsList = chartOptionsList
    },

    getChartOptions(x) {
      const chartOptions = { ...defaultChartOptions }
      const v = x.code
      chartOptions.indicator = x
      chartOptions.enabled = true

      const series = []
      const fact = {
        name: '',
        data: this.data.map((x) => x[v]).map((x) => Math.round(x * 100) / 100),
      }
      series.push(fact)
      chartOptions.series = series
      return chartOptions
    },
  },
}
</script>

<style scoped lang="scss">
table {
  td {
    border: 1px solid #ccc;
  }
}
</style>
