<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" title="Национальные цели" />
    <!--    <sidebar-index />-->
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading" :disable-history="false" />
        <div v-if="proposals">
          <b-row v-if="!proposal">
            <b-col v-for="(proposal_, idx) in proposals" :key="idx" md="12" class="mb-3">
              <b-card>
                <b-card-header>{{ idx + 1 }}. {{ proposal_.title }}</b-card-header>
                <b-card-body v-if="proposal_.children">
                  <b-row>
                    <b-col v-for="(sub, idx2) in proposal_.children" :key="idx2" md="6" class="mb-1">
                      <b-button block variant="outline-primary" class="text-left" :to="sub.ind ? `/cr/${sub.ind}` : ''" :class="{ disabled: !sub.ind }">
                        {{ sub.title }}
                      </b-button>
                    </b-col>
                  </b-row>
                </b-card-body>
                <b-card-footer>
                  <b-button variant="primary" @click="proposal = proposal_">Выбрать</b-button>
                </b-card-footer>
              </b-card>
            </b-col>
          </b-row>
          <b-row v-else>
            <b-col cols="12">
              <b-card class="mb-3">
                <b-card-header>Выберите регион и год</b-card-header>
                <b-card-body>
                  <b-form inline>
                    <b-select v-if="data" v-model="region">
                      <b-select-option v-for="region in data.index" :key="region" :value="region">{{ region }}</b-select-option>
                    </b-select>
                    <b-form-select v-model="year" :options="years"></b-form-select>
                  </b-form>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col col="8">
              <b-card class="mb-3">
                <b-card-header>Укажите значения показателей</b-card-header>
                <b-card-body>
                  <b-row>
                    <b-col cols="12">
                      <div style="display: flex" class="mb-3">
                        <label class="mr-3">
                          Название показателя 1:
                          <strong style="border: 1px grey dotted" class="p-1">{{ value1 }}%</strong>
                        </label>
                        <vue-slider v-model="value1" v-bind="sliderOptions" style="flex: 1 1 auto" />
                      </div>
                      <div style="display: flex" class="mb-3">
                        <label class="mr-3">
                          Название показателя 2:
                          <strong style="border: 1px grey dotted" class="p-1">{{ value2 }}%</strong>
                        </label>
                        <vue-slider v-model="value2" v-bind="sliderOptions" style="flex: 1 1 auto" />
                      </div>
                      <div style="display: flex" class="mb-3">
                        <label class="mr-3">
                          Название показателя 3:
                          <strong style="border: 1px grey dotted" class="p-1">{{ value3 }}%</strong>
                        </label>
                        <vue-slider v-model="value3" v-bind="sliderOptions" style="flex: 1 1 auto" />
                      </div>
                      <div style="display: flex" class="mb-3">
                        <label class="mr-3">
                          Название показателя 4:
                          <strong style="border: 1px grey dotted" class="p-1">{{ value4 }}%</strong>
                        </label>
                        <vue-slider v-model="value4" v-bind="sliderOptions" style="flex: 1 1 auto" />
                      </div>
                    </b-col>
                  </b-row>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col cols="4">
              <b-card class="mb-3">
                <b-card-body style="display: flex">
                  <div id="container33">
                    <div class="circle">
                      <div id="small-circle"></div>
                    </div>
                  </div>
                  <span>&nbsp;</span>
                  <div class="container33">
                    <div class="circle">
                      <div id="small-circle2"></div>
                    </div>
                  </div>
                </b-card-body>
                <b-card-footer>
                  Вот такое вот значение
                </b-card-footer>
              </b-card>
            </b-col>
            <b-col cols="12">
              <b-card>
                <b-card-header>График</b-card-header>
                <b-card-body>...</b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import ForecastData from './ForecastData'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'

import 'vue-slider-component/theme/default.css'

export default {
  auth: false,
  layout: 'green',
  components: {
    PageTitle,
    Header,
    Sidebar2,
    VueSlider,
  },
  async asyncData({ $axios }) {},

  data() {
    return {
      proposal: null,
      proposals: ForecastData,
      year: null,
      data: null,
      indicator: null,
      region: null,
      value1: 0,
      value2: 0,
      value3: 0,
      value4: 0,
      sliderOptions: {
        dotSize: 14,
        width: 'auto',
        height: 4,
        contained: false,
        direction: 'ltr',
        data: null,
        min: -10,
        max: 10,
        interval: 0.1,
        disabled: false,
        clickable: true,
        duration: 0.5,
        adsorb: false,
        lazy: false,
        tooltip: 'active',
        tooltipPlacement: 'top',
        useKeyboard: false,
        keydownHook: null,
        dragOnClick: false,
        enableCross: true,
        fixed: false,
        minRange: 0,
        maxRange: 0,
        order: true,
        marks: false,
        dotOptions: 0,
        process: true,
        dotStyle: 0,
        railStyle: 0,
        processStyle: 0,
        tooltipStyle: 0,
        stepStyle: 0,
        stepActiveStyle: 0,
        labelStyle: 0,
        labelActiveStyle: 0,
      },
    }
  },

  computed: {
    years() {
      return Array.from(Array(10), (_, x) => x + 2021)
    },
    heading() {
      return this.proposal ? this.proposal.title : 'Активный прогноз национальных целей развития до 2030 года'
    },
    subheading() {
      return this.proposal ? 'Активный прогноз национальных целей развития до 2030 года' : 'Выбор национальной цели'
    },
    menu() {
      const m = this.proposals.map((x) => ({
        title: x.title,
        click: () => {
          this.proposal = x
        },
      }))
      return m
    },
  },

  watch: {
    async proposal() {
      const { data } = await this.$axios.get(`/data/indicator/${this.proposal.ind}/data`)
      this.data = data.data
      this.indicator = data.indicator
    },
  },
  mounted() {},

  methods: {},
}
</script>

<style scoped>
#container33 {
  height: 190px;
}

.circle {
  width: 170px;
  height: 170px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid gray;
  display: inline-block;
}

#small-circle {
  margin-top: 25%;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  background-color: #00ff00;
  border-radius: 50%;
  border: none;
}

#small-circle2 {
  margin-top: 16%;
  margin-left: 16%;
  width: 68%;
  height: 68%;
  background-color: #ff0000;
  border-radius: 68%;
  border: none;
}
</style>
