<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" title="Национальные цели" />
    <!--    <sidebar-index />-->
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading" :disable-history="false" />
        <b-row>
          <b-col cols="12">
            <b-card class="mb-3">
              <hightchart-base v-if="chartOptions" :options="chartOptions" height="600" />
            </b-card>
          </b-col>
          <b-col cols="12">
            <b-card class="mb-3">
              <b-tabs content-class="mt-3">
                <template #tabs-end>
                  <b-button variant="outline-primary" size="sm" class="ml-3 mb-1" @click.prevent="clearParams">&times; Очистить</b-button>
                </template>
                <b-tab v-for="(values, year) in params" :key="year" class="mb-3 params" :title="year">
                  <b-row>
                    <b-col md="12" xl="6">
                      <div v-for="(t, i) in paramTitles" :key="i" style="display: flex" class="mb-3">
                        <label class="mr-3 params-title">
                          {{ t }}
                        </label>
                        <label class="params-value">
                          <strong style="border: 1px grey dotted" class="p-1">{{ values[i] }}%</strong>
                        </label>
                        <vue-slider v-model="values[i]" v-bind="sliderOptions" style="flex: 1 1 auto" />
                        <label>
                          <b-button size="sm" class="ml-1" variant="outline-primary" @click="$set(values, i, 0)">&times;</b-button>
                        </label>
                      </div>
                    </b-col>
                    <b-col v-if="series" md="12" xl="6">
                      <color-circle :base="base[year]" :forecast="forecast[year]" />
                    </b-col>
                    <b-col>
                      <table cellpadding="3" cellspacing="0" border="1">
                        <tr>
                          <th rowspan="2">Показатели</th>
                          <th colspan="4" style="text-align: center">Года</th>
                        </tr>
                        <tr>
                          <td v-for="(values, year) in params" :key="year" style="text-align: center" :style="{ background: paramsColors[year - 2020] + '77' }">{{ year }}</td>
                        </tr>
                        <tr>
                          <td style="font-weight: bold; font-style: italic">Темп роста ВРП, % (г. Москва):</td>
                          <td
                            v-for="(x, j) in forecastValues.filter((_, i) => i > 0)"
                            :key="j"
                            style="text-align: right; font-weight: bold;  font-style: italic"
                            :style="{ background: paramsColors[j] + '77' }"
                          >
                            {{ x }}
                          </td>
                        </tr>
                        <tr v-for="(t, i) in paramTitles" :key="i">
                          <td>{{ t }}</td>
                          <td v-for="(_, year) in params" :key="year" style="text-align: right" :style="{ background: paramsColors[year - 2020] + '77' }">
                            {{ params[year][i] }}%
                          </td>
                        </tr>
                      </table>
                    </b-col>
                  </b-row>
                </b-tab>
              </b-tabs>
            </b-card>
          </b-col>
          <b-col cols="12">
            <b-card class="mb-3">
              <b-card-header>Выберите регион</b-card-header>
              <b-card-body>
                <b-form inline>
                  <b-select v-if="data" v-model="region">
                    <b-select-option v-for="region in regions" :key="region" :value="region">{{ region }}</b-select-option>
                  </b-select>
                  <!--                  <b-form-select v-model="year" :options="years"></b-form-select>-->
                </b-form>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import colorbrewer from 'colorbrewer'

import VueSlider from 'vue-slider-component'
import ForecastData from './ForecastData'
import ForecastData2 from './ForecastData2'
import highchartOptions from './HighchartOptions'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
import HightchartBase from '~/components/Chart/HighchartBase'

import 'vue-slider-component/theme/default.css'
import ColorCircle from '@/components/Forecast/ColorCircle'

export default {
  auth: false,
  layout: 'green',
  components: {
    ColorCircle,
    PageTitle,
    Header,
    Sidebar2,
    VueSlider,
    HightchartBase,
  },
  data() {
    return {
      paramsColors: colorbrewer.Set3[5],
      series: null,
      chartOptions: null,
      chartOptions2: null,
      proposal: null,
      proposals: ForecastData,
      year: null,
      data: ForecastData2[2].data,
      indicator: null,
      region: 'Москва',
      value1: 0,
      value2: 0,
      value3: 0,
      value4: 0,
      base: {
        2020: 0,
        2021: 0,
        2022: 0,
        2023: 0,
      },
      forecast: {
        2020: 0,
        2021: 0,
        2022: 0,
        2023: 0,
      },
      params: {
        2020: [0, 0, 0],
        2021: [0, 0, 0],
        2022: [0, 0, 0],
        2023: [0, 0, 0],
      },
      paramTitles: [
        'Индекс промышленного производства по виду экономической деятельности "Обрабатывающие производства"',
        'Реальная начисленная заработная плата',
        'Уровень бедности',
      ],
      sliderOptions: {
        dotSize: 14,
        width: 'auto',
        height: 4,
        contained: false,
        direction: 'ltr',
        data: null,
        min: -10,
        max: 10,
        interval: 0.1,
        disabled: false,
        clickable: true,
        duration: 0.5,
        adsorb: false,
        lazy: false,
        tooltip: 'active',
        tooltipPlacement: 'top',
        useKeyboard: false,
        keydownHook: null,
        dragOnClick: false,
        enableCross: true,
        fixed: false,
        minRange: 0,
        maxRange: 0,
        order: true,
        marks: false,
        dotOptions: 0,
        process: true,
        dotStyle: 0,
        railStyle: 0,
        processStyle: 0,
        tooltipStyle: 0,
        stepStyle: 0,
        stepActiveStyle: 0,
        labelStyle: 0,
        labelActiveStyle: 0,
      },
    }
  },

  computed: {
    forecastValues() {
      try {
        return this.chartOptions.series.filter((x) => x.name == 'Активный прогноз')[0].data.map((x) => x.name)
      } catch {
        return []
      }
    },
    regions() {
      return ['Москва']
    },
    years() {
      return Array.from(Array(10), (_, x) => x + 2021)
    },
    heading() {
      return 'Темп роста ВРП, % (г. Москва)'
    },
    subheading() {
      return 'Активный прогноз национальных целей развития (экспериментальный пример)'
    },
    menu() {
      const m = this.proposals.map((x) => ({
        title: x.title,
        click: () => {
          this.proposal = x
        },
      }))
      return m
    },
  },

  watch: {
    params: {
      deep: true,
      handler() {
        this.updateSeries()
        localStorage.msk_ivrp_params = JSON.stringify(this.params)
      },
    },
  },
  mounted() {
    this.updateSeries()
    if (localStorage.msk_ivrp_params) {
      this.params = JSON.parse(localStorage.msk_ivrp_params)
    }
  },

  methods: {
    updateSeries() {
      // Базовый прогноз
      const baseSeries = {
        name: 'База',
        type: 'spline',
        // dashStyle: 'ShortDot',
        dataLabels: {
          enabled: true,
          format: '{point.name}',
        },
        marker: {
          enabled: false,
        },
        lineWidth: 2,
        toolTip: {
          enabled: false,
        },
        data: null,
      }
      baseSeries.data = []
      let baseValue = 1
      for (const year in this.data.values) {
        const x = this.data.values[year][0]
        baseValue *= x / 100
        this.$set(this.base, year, baseValue * 100)
        baseSeries.data.push({ y: baseValue * 100, name: this.data.values[year][0].toString() + '%' })
      }

      // Активный прогноз
      const forecastSeries = {
        name: 'Активный прогноз',
        type: 'spline',
        dashStyle: 'ShortDot',
        dataLabels: {
          enabled: true,
          format: '{point.name}',
        },
        marker: {
          enabled: false,
        },
        // lineWidth: 2,
        toolTip: {
          enabled: false,
        },
        data: null,
      }
      forecastSeries.data = []
      let forecastValue = 1
      let x = 1
      for (const year in this.data.values) {
        if (year == '2019') {
          x = this.data.values[year][0]
          forecastValue *= x / 100
          forecastSeries.data.push({ y: forecastValue * 100, name: Math.round(x * 10) / 10 + '%' })
        } else {
          const b = this.data.b
          const v = this.data.values[year]
          const p = this.params[year]
          x = Math.exp(b[0] + b[1] * Math.log(v[1]) * (p[0] / 100 + 1) + b[2] * Math.log(v[2]) * (p[1] / 100 + 1) + b[3] * Math.log(v[3]) * (1 - p[2] / 100)) - 5
          forecastValue *= x / 100
          this.$set(this.forecast, year, forecastValue * 100)
          forecastSeries.data.push({ y: forecastValue * 100, name: Math.round(x * 10) / 10 + '%' })
        }
      }

      this.series = [baseSeries, forecastSeries]
      this.updateChart()
    },
    updateChart() {
      // chartOptions = Object.assign(chartOptions, { series })
      const params = {
        xAxis: {
          categories: Object.entries(this.data.values).map((x) => x[0]),
        },
        series: [...this.series],
      }
      this.chartOptions = { ...highchartOptions, ...params }
    },
    clearParams() {
      this.params = {
        2020: [0, 0, 0],
        2021: [0, 0, 0],
        2022: [0, 0, 0],
        2023: [0, 0, 0],
      }
    },
  },
}
</script>

<style scoped lang="scss">
.params {
  .params-title {
    width: 300px;
    flex: 0 0 auto;
  }

  .params-value {
    width: 50px;
    text-align: right;
  }
}
</style>
