<template>
  <div>
    <Header />
    <sidebar-index />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title heading="Вход" subheading="Личный кабинет" />
        <b-alert v-if="error" show variant="danger">
          {{ error }}
        </b-alert>
        <b-card style="width: 600px; margin: 0 auto">
          <b-card-body>
            <b-form-group label="Email">
              <b-input ref="username" v-model="email" placeholder="Введите email" />
            </b-form-group>

            <b-form-group label="Пароль">
              <b-input v-model="password" type="password" placeholder="Введите пароль" />
            </b-form-group>

            <div class="text-center">
              <b-btn variant="primary" block @click="login">Войти</b-btn>
            </div>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '~/components/Components/Header'
import PageTitle from '~/components/Components/PageTitle.vue'
import SidebarIndex from '@/components/Section/SidebarIndex'

export default {
  auth: false,
  layout: 'page2',
  components: {
    SidebarIndex,
    PageTitle,
    Header,
  },
  data() {
    return {
      email: 'student1@edu.rea.ru',
      password: 'Student1',
      error: null,
    }
  },

  computed: {
    menu() {
      return []
    },
    errorMessage() {
      const { error } = this
      if (!error || typeof error === 'string') {
        return error
      }
      let msg = ''
      if (error.message) {
        msg += error.message
      }
      if (error.errors) {
        msg += `(${JSON.stringify(error.errors)
          .replace(/[{}"[\]]/g, '')
          .replace(/:/g, ': ')
          .replace(/,/g, ' ')})`
      }
      return msg
    },
  },

  watch: {},

  mounted() {},

  methods: {
    login() {
      this.error = null
      return this.$auth
        .loginWith('local', {
          data: {
            email: this.email,
            password: this.password,
          },
        })
        .then(() => {
          this.$router.push('/lk/project')
        })
        .catch((e) => {
          this.error = e.response.data
        })
    },
  },
}
</script>
