<template>
  <div v-if="data">
    <b-card class="mt-3">
      <b-row>
        <b-col cols="3">
          <label>Выберите федеральный округ</label>
        </b-col>
        <b-col cols="9">
          <b-form-select v-model="selectFo" :options="foList" />
        </b-col>
      </b-row>
    </b-card>
    <b-card class="mt-3">
      <b-row>
        <b-col cols="3">
          <label>Выберите годы</label>
        </b-col>
        <b-col cols="9">
          <b-form-checkbox-group v-model="selectTm" :options="data.columns" buttons button-variant="outline-primary mr-3" style="flex-wrap:  wrap" />
        </b-col>
      </b-row>
    </b-card>
    <div>
      <b-card class="mt-3">
        <b-card-title>Распределение "{{ selectFo }}"</b-card-title>
        <b-row>
          <b-col v-for="tm in selectTmSorted" :key="tm" cols="3">
            <div v-if="chartOptions && chartOptions[tm]">
              <chart :options="chartOptions[tm]" />
            </div>
          </b-col>
        </b-row>
      </b-card>
    </div>
  </div>
</template>

<script>
import { Chart } from 'highcharts-vue'
import Highcharts from 'highcharts'
import Highchart3d from 'highcharts/highcharts-3d'
import HighchartCylinder from 'highcharts/modules/cylinder'
import HighchartFunnel3d from 'highcharts/modules/funnel3d'
import _ from 'lodash'

Highchart3d(Highcharts)
HighchartCylinder(Highcharts)
HighchartFunnel3d(Highcharts)

// const RF = 'Российская Федерация'
// const BY = 'Республика Беларусь'

export default {
  name: 'DataFo2',
  components: {
    Chart,
  },
  props: {
    indicator_id: Number,
    region: String,
    columnContains: {
      type: String,
      default: null,
    },
    colors: {
      type: Array,
      default: () => ['#00e396', '#feb019', '#008ffb'],
    },
  },
  data() {
    return {
      data: null,
      data1: null,
      data2: null,
      chartOptions: {},
      chartOptionsLog: null,
      columns_i: [],
      columns_hash: [],
      isPercent: false,
      smart_name: '',
      regions: [],
      selectFo: null,
      selectTm: [],
      series: [],
    }
  },
  computed: {
    heading() {
      try {
        return this.smart_name.split('/')[0]
      } catch (e) {
        return ''
      }
    },
    subheading() {
      try {
        return this.smart_name.split('/')[1]
      } catch (e) {
        return ''
      }
    },
    foList() {
      return _.uniq(this.data.index.filter((x) => x.toLowerCase().includes('федераль')))
    },
    selectTmSorted() {
      const _ = [...this.selectTm]
      return _.sort()
    },
  },
  watch: {
    indicator_id() {
      this.fetchData()
    },
    columnContains() {
      this.updateCharts()
    },
    selectFo() {
      this.updateCharts()
    },
    selectTm() {
      this.updateCharts()
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
    window.xxx = this
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data`)
        this.data = data.data
        this.data1 = data.data1
        this.indicator = data.indicator
        this.smart_name = this.indicator.smart_name
        this.selectTm = []
        this.selectFo = null
        this.updateCharts()
      } catch {
        this.series = null
      }
      if (!this.data1) this.isPercent = false
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      return this.getParentRegion(region.id)
    },
    updateCharts() {
      this.updateSeries()
      this.updateChart()
    },
    updateSeries() {
      try {
        const _data = this.isPercent && this.data1 ? this.data1 : this.data
        if (!_data || !_data.columns_hash) return
        const columns_i = _.sortBy(this.selectTm).map((x) => _data.columns.indexOf(x)) || []
        const selectedFo_i = _data.index.indexOf(this.selectFo)
        let selectedFo_i2 = _data.index.indexOf(this.foList[this.foList.indexOf(this.selectFo) + 1])
        if (selectedFo_i2 < 0) selectedFo_i2 = this.data.index.length

        // const series = []

        const data2 = {
          columns_i,
          selectedFo_i,
          selectedFo_i2,
          // data: _data,
          // foList: this.foList,
          // data: this.data.data.map((x) => x[columns_i[0]]),
          names: Array.from({ length: selectedFo_i2 - selectedFo_i }, (v, k) => k + selectedFo_i),
          // series: columns_i.map((x) => x),
          // series: columns_i.map((x) => this.data.data.map((y) => y[x].slice(selectedFo_i, selectedFo_i2))),
          // _data: data,
        }
        const index = Array.from({ length: selectedFo_i2 - selectedFo_i }, (v, k) => k + selectedFo_i)
        window.console.log(index)

        this.data2 = data2

        const chartOptions = {}
        for (const col of columns_i) {
          const tm = this.data.columns[col]

          chartOptions[tm] = {
            // data: this.data.filter((x, idx) => idx == x),
            credits: {
              enabled: false,
            },
            chart: {
              type: 'funnel3d',
              options3d: {
                enabled: true,
                alpha: 20,
                depth: 50,
                viewDistance: 50,
              },
            },
            title: {
              text: tm,
            },
            plotOptions: {
              series: {
                // dataLabels: {
                //   enabled: true,
                //   format: '<b>{point.name}</b> ({point.y:,.0f})',
                //   allowOverlap: true,
                //   y: 10,
                // },
                neckWidth: '30%',
                neckHeight: '25%',
                width: '80%',
                height: '80%',
              },
            },

            series: [
              {
                data: _data.data.filter((_, idx) => index.includes(idx)).map((z, i) => [_data.index[index[i]], z[col]]),
                name: tm,
              },
            ],
          }
        }
        let ii = 0
        let fo1Value = 0
        const firstYear = Object.keys(chartOptions)[0]
        for (const tm in chartOptions) {
          const foValue = chartOptions[tm].series[0].data[0][1]
          if (ii === 0) {
            fo1Value = foValue
            for (let j = 1; j < chartOptions[tm].series[0].data.length; j++) {
              chartOptions[tm].series[0].data[j][1] /= foValue
              chartOptions[tm].series[0].data[j][1] *= 100
              chartOptions[tm].series[0].data[j][1] = Math.round(chartOptions[tm].series[0].data[j][1] * 100) / 100
            }
            chartOptions[tm].series[0].data[0][1] = 100
            chartOptions[tm].plotOptions.series.width = chartOptions[tm].series[0].data[0][1]
            chartOptions[tm].subtitle = {
              text: `${chartOptions[tm].series[0].data[0][1]}%`,
              style: {
                fontSize: '1rem',
                color: '#ff0000',
                fontWeight: 'bold',
              },
            }
          } else {
            for (let j = 1; j < chartOptions[tm].series[0].data.length; j++) {
              chartOptions[tm].series[0].data[j][1] /= foValue
              chartOptions[tm].series[0].data[j][1] *= 100
              chartOptions[tm].series[0].data[j][1] = Math.round(chartOptions[tm].series[0].data[j][1] * 100) / 100
            }
            chartOptions[tm].series[0].data[0][1] = Math.round((chartOptions[tm].series[0].data[0][1] / fo1Value) * 100 * 100) / 100
            chartOptions[tm].subtitle = {
              text: `${chartOptions[tm].series[0].data[0][1]}% к ${firstYear}`,
              style: {
                fontSize: '1rem',
                color: '#ff0000',
                fontWeight: 'bold',
              },
            }
            chartOptions[tm].plotOptions.series.width = chartOptions[tm].series[0].data[0][1]
          }
          chartOptions[tm].series[0].data = chartOptions[tm].series[0].data.slice(1)
          ii++
        }
        const maxWidth = Math.max(...Object.keys(chartOptions).map((tm) => chartOptions[tm].plotOptions.series.width)) || 100
        window.console.log(maxWidth)
        for (const tm in chartOptions) {
          chartOptions[tm].plotOptions.series.width = `${Math.round((chartOptions[tm].plotOptions.series.width / maxWidth) * 100)}%`
        }
        this.chartOptions = chartOptions

        // this.columns_hash = _data.columns_hash
        // this.series = series
        // this.series = series
      } catch (e) {
        window.console.log(e)
      }
    },
    updateChart() {
      // chartOptions = Object.assign(chartOptions, { series })
    },
  },
}
</script>

<style scoped></style>
