<template>
  <div v-if="data">
    <b-card class="mt-3">
      <b-row>
        <b-col cols="3">
          <label class="text-uppercase">Выберите регион</label>
        </b-col>
        <b-col v-if="regions" cols="9">
          <b-form-select v-model="selectReg" :options="regionsOnly" />
        </b-col>
      </b-row>
    </b-card>
    <div>
      <b-card class="mt-3">
        <b-card-title>{{ selectReg }}</b-card-title>
        <b-card-body>
          <chart v-if="chartOptions" :options="chartOptions" />
        </b-card-body>
      </b-card>
    </div>
  </div>
</template>

<script>
import { Chart } from 'highcharts-vue'
// import Highcharts from 'highcharts'
// import Highchart3d from 'highcharts/highcharts-3d'
import _ from 'lodash'

// Highchart3d(Highcharts)

// const RF = 'Российская Федерация'
// const BY = 'Республика Беларусь'

export default {
  name: 'DataReg2',
  components: {
    Chart,
  },
  props: {
    indicator_id: Number,
    region: String,
    columnContains: {
      type: String,
      default: null,
    },
    colors: {
      type: Array,
      default: () => ['#00e396', '#feb019', '#008ffb'],
    },
  },
  data() {
    return {
      selectReg: null,
      data: null,
      data1: null,
      data2: null,
      chartOptions: {},
      chartOptionsLog: null,
      series: null,
      columns_i: [],
      columns_hash: [],
      isPercent: false,
      smart_name: '',
      selectFo: null,
      selectTm: [],
      selectedTm: null,
    }
  },
  computed: {
    heading() {
      try {
        return this.smart_name.split('/')[0]
      } catch (e) {
        return ''
      }
    },
    subheading() {
      try {
        return this.smart_name.split('/')[1]
      } catch (e) {
        return ''
      }
    },
    foList() {
      return this.regions.filter((x) => x.toLowerCase().includes('федераль'))
    },
    regions() {
      return this.data.index
    },
    regionsOnly() {
      return this.regions.filter((x) => !x.toLowerCase().includes('федераль'))
    },
  },
  watch: {
    indicator_id() {
      this.fetchData()
    },
    region() {
      this.updateCharts()
    },
    columnContains() {
      this.updateCharts()
    },
    selectFo() {
      this.updateCharts()
    },
    selectTm() {
      this.updateCharts()
    },
    selectReg() {
      this.updateCharts()
    },
    isPercent() {
      this.updateCharts()
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
    window.xxx = this
    window._ = _
  },
  methods: {
    async fetchRegions() {
      // const { data } = await this.$axios.get('/data/region')
      // this.regions = data
    },

    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data`)
        this.data = data.data
        this.data1 = data.data1
        this.indicator = data.indicator
        this.smart_name = this.indicator.smart_name
        this.updateCharts()
      } catch {
        this.series = null
      }
      if (!this.data1) this.isPercent = false
    },
    updateCharts() {
      this.updateSeries()
      this.updateChart()
    },
    updateSeries() {
      // const self = this
      try {
        const data = this.isPercent && this.data1 ? this.data1 : this.data
        if (!data || !data.columns_hash) return
        // const columns_i = _.sortBy(this.selectTm).map((x) => data.columns.indexOf(x)) || []
        // const selectedFo_i = this.data.index.indexOf(this.selectFo)
        window.console.log(this.selectReg)
        const selectedReg = data.index.indexOf(this.selectReg)
        let selectedFo = 0
        for (let i = selectedReg; i > 0; i--) {
          if (data.index[i].toLowerCase().includes('федерал')) {
            selectedFo = i
            break
          }
        }

        const series = [
          {
            tooltip: {
              useHTML: true,
              headerFormat: '<table>',
              pointFormat: '<tr><th>Год:</th><td>{point.x}</td></tr><tr><th>Отношение к ФО:</th><td>{point.y:.2f}%</td></tr><tr><th>Значение:</th><td>{point.z}</td></tr>',
              footerFormat: '</table>',
              followPointer: true,
            },
            name: this.selectReg,
            data: data.data[selectedReg].map((z, i) => ({
              x: data.columns[i],
              y: (data.data[selectedReg][i] / data.data[selectedFo][i]) * 100,
              z,
            })),
          },
        ]

        const chartOptions = {
          chart: {
            type: 'bubble',
            plotBorderWidth: 1,
            zoomType: 'xy',
          },
          colors: ['#00aeff'],
          legend: {
            enabled: false,
          },

          title: {
            text: '',
          },

          subtitle: {
            text: '',
          },

          xAxis: {
            gridLineWidth: 1,
            title: {
              text: 'Годы',
            },
            labels: {
              format: '<strong>{value}</strong>',
              style: {
                fontSize: '14px',
              },
            },
            categories: data.columns,
          },

          yAxis: {
            startOnTick: false,
            endOnTick: false,
            title: {
              text: 'Отношение к ФО, %',
            },
            labels: {
              format: '<strong>{value:.2f}</strong>',
            },
            maxPadding: 0.2,
          },

          tooltip: {
            useHTML: true,
            headerFormat: '<table>',
            pointFormat: '<tr><th>Год:</th><td>{point.x}</td></tr><tr><th>Отношение к ФО:</th><td>{point.y}%</td></tr><tr><th>Значение:</th><td>{point.z}</td></tr>',
            footerFormat: '</table>',
            followPointer: true,
          },

          plotOptions: {
            series: {
              dataLabels: {
                enabled: true,
                format: '{point.name}',
              },
            },
          },

          series: [],
        }
        chartOptions.series = [...series]

        this.chartOptions = chartOptions

        this.columns_hash = data.columns_hash
        this.series = series
        // this.series = series
      } catch (e) {
        window.console.log(e)
      }
    },
    updateChart() {
      // chartOptions = Object.assign(chartOptions, { series })
      // const params = {
      //   chart: {
      //     type: 'funnel3d',
      //     options3d: {
      //       enabled: true,
      //       alpha: 10,
      //       depth: 50,
      //       viewDistance: 50,
      //     },
      //   },
      //   title: {
      //     text: 'Highcharts Funnel3D Chart',
      //   },
      //   plotOptions: {
      //     series: {
      //       dataLabels: {
      //         enabled: true,
      //         format: '<b>{point.name}</b> ({point.y:,.0f})',
      //         allowOverlap: true,
      //         y: 10,
      //       },
      //       neckWidth: '30%',
      //       neckHeight: '25%',
      //       width: '80%',
      //       height: '80%',
      //     },
      //   },
      //   series: [
      //     {
      //       name: 'Unique users',
      //       data: [
      //         ['Website visits', 15654],
      //         ['Downloads', 4064],
      //         ['Requested price list', 1987],
      //         ['Invoice sent', 976],
      //         ['Finalized', 846],
      //       ],
      //     },
      //   ],
      // }
      // window.console.log(chartOptions)
      // // this.chartOptions = { ...params }
    },
  },
}
</script>

<style scoped></style>
