<template>
  <div v-if="series">
    <b-card>
      <b-card-header class="mb-2">
        <slot name="header">
          <b-card-title class="text-uppercase font-size-lg font-weight-bold mr-2 mt-2">
            {{ heading }}
            <b-card-sub-title v-if="subheading" class="text-uppercase font-weight-normal font-size-md mt-2 mb-2">
              {{ subheading }}
            </b-card-sub-title>
          </b-card-title>
        </slot>
        <div v-if="data1" class="btn-actions-pane-right">
          <b-button
            v-b-tooltip.hover
            title="Включить/выключить режим Текущее значение к Предыдущему значению"
            tooltip
            :variant="isPercent ? 'focus' : 'outline-focus'"
            class="btn-wide btn-outline-2x ml-2 btn-sm"
            @click="isPercent = !isPercent"
            >%
          </b-button>
        </div>
      </b-card-header>
      <div>
        {{ chartOptions }}
        <chart v-if="chartOptions" :options="chartOptions" />
      </div>
    </b-card>
  </div>
</template>

<script>
import { Chart } from 'highcharts-vue'
import Highcharts from 'highcharts'
import init3D from 'highcharts/highcharts-3d'

init3D(Highcharts)

const RF = 'Российская Федерация'
const BY = 'Республика Беларусь'

export default {
  name: 'DataChart2',
  components: {
    Chart,
  },
  props: {
    indicator_id: Number,
    region: String,
    columnContains: {
      type: String,
      default: null,
    },
    colors: {
      type: Array,
      default: () => ['#00e396', '#feb019', '#008ffb'],
    },
  },
  data() {
    return {
      data: null,
      data1: null,
      chartOptions: null,
      chartOptionsLog: null,
      series: null,
      columns_i: [],
      columns_hash: [],
      isPercent: false,
      smart_name: '',
    }
  },
  computed: {
    heading() {
      try {
        return this.smart_name.split('/')[0]
      } catch (e) {
        return ''
      }
    },
    subheading() {
      try {
        return this.smart_name.split('/')[1]
      } catch (e) {
        return ''
      }
    },
    highchartOptions() {
      return {
        chart: {
          type: 'area',
          options3d: {
            enabled: true,
            alpha: 15,
            beta: 30,
            depth: 200,
          },
        },
        colors: this.colors,
        title: {
          text: undefined,
        },
        tooltip: {
          shared: true,
          valueDecimals: 4,
        },
        labels: {},
        series: [],
      }
    },
  },
  watch: {
    indicator_id() {
      this.fetchData()
    },
    region() {
      this.updateCharts()
    },
    columnContains() {
      this.updateCharts()
    },
    isPercent() {
      window.console.log(this.isPercent)
      this.updateCharts()
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicator_id}/data`)
        this.data = data.data
        this.data1 = data.data1
        this.indicator = data.indicator
        this.smart_name = this.indicator.smart_name
        this.updateCharts()
      } catch {
        this.series = null
      }
      if (!this.data1) this.isPercent = false
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      return this.getParentRegion(region.id)
    },
    updateCharts() {
      this.updateSeries()
      this.updateChart()
    },
    updateSeries() {
      const data = this.isPercent && this.data1 ? this.data1 : this.data
      if (!data || !data.columns_hash) return
      const columns_i = []
      data.columns_hash.forEach((x, i) => {
        if (this.columnContains) {
          if (x.includes(this.columnContains)) {
            columns_i.push(i)
          }
        } else {
          columns_i.push(i)
        }
      })
      this.columns_i = columns_i
      const series = []
      // this.$set(this.chartOptions, 'labels', this.indicator.extra_json.df_columns_hash)
      let region_data = []
      let fo_data = []
      let country_data = []
      try {
        const row_i = data.index.indexOf(this.region)
        region_data = {
          name: this.region,
          data: columns_i.map((x) => data.data[row_i][x]),
          lineColor: 'rgb(180,90,50)',
          color: 'rgb(200,110,50)',
          fillColor: 'rgb(200,110,50)',
          xAxis: 2,
        }
      } catch {
        region_data = null
      }
      try {
        let fo = this.getParentRegionBy(this.region)
        if (fo) {
          if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
          if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
          const row_i2 = data.index.indexOf(fo.name)
          fo_data = {
            name: fo.name,
            data: columns_i.map((x) => data.data[row_i2][x]),
            lineColor: 'rgb(120,160,180)',
            color: 'rgb(140,180,200)',
            fillColor: 'rgb(140,180,200)',
            xAxis: 1,
          }
        }
      } catch {
        fo_data = null
      }
      try {
        const row_i3 = data.index.indexOf(RF)
        country_data = {
          name: RF,
          data: columns_i.map((x) => data.data[row_i3][x]),
          yAxis: 1,
          lineColor: 'rgb(200, 190, 140)',
          color: 'rgb(200, 190, 140)',
          fillColor: 'rgb(230, 220, 180)',
          xAxis: 0,
        }
      } catch (e) {
        country_data = null
      }
      if (!country_data) {
        try {
          const row_i3 = data.index.indexOf(BY)
          country_data = {
            name: BY,
            type: 'area',
            data: columns_i.map((x) => data.data[row_i3][x]),
            lineColor: 'rgb(200, 190, 140)',
            color: 'rgb(200, 190, 140)',
            fillColor: 'rgb(230, 220, 180)',
          }
        } catch {
          country_data = null
        }
      }
      window.console.log(fo_data, country_data, region_data)
      if (region_data) series.push(region_data)
      if (fo_data && (!country_data || (country_data && country_data.name == RF))) series.push(fo_data)
      if (country_data) series.push(country_data)
      // series = [country_data, region_data, fo_data]
      this.columns_hash = data.columns_hash
      this.series = series
    },
    updateChart() {
      // chartOptions = Object.assign(chartOptions, { series })
      const params = {
        chart: {
          type: 'area',
          options3d: {
            enabled: true,
            alpha: 15,
            beta: 30,
            depth: 200,
          },
        },
        colors: this.colors,
        title: {
          text: undefined,
        },
        tooltip: {
          shared: true,
          valueDecimals: 4,
        },
        plotOptions: {
          area: {
            depth: 100,
            marker: {
              enabled: false,
            },
            states: {
              inactive: {
                enabled: false,
              },
            },
          },
        },
        xAxis: [
          {
            categories: this.columns_i.map((i) => this.columns_hash[i]),
            labels: {
              style: {
                fontSize: '14pt',
                color: '#000',
              },
            },
          },
          {
            visible: false,
          },
        ],
        yAxis: [
          {
            title: {
              text: 'Регион & ФО',
              x: -40,
            },
            labels: {
              format: '{value:,.4f}',
            },
            gridLineDashStyle: 'Dash',
          },
          {
            title: {
              text: 'Российская Федерация',
              x: 50,
            },
            labels: {
              format: '{value:,.4f}',
            },
            gridLineDashStyle: 'Dash',
            opposite: true,
          },
        ],
        series: [...this.series],
      }
      this.chartOptions = { ...params }
    },
  },
}
</script>

<style scoped></style>
