<template>
  <div @click="onClickPage">
    <div>
      <Header :personal="false" />
      <sidebar-index />
      <div class="app-main__outer">
        <div class="app-main__inner">
          <page-title heading="3. Data Science в системе пакетов R" subheading="Образовательные проекты РЭУ им.Г.В.Плеханова" />
          <b-row>
            <b-col md="12">
              <b-card class="card-shadow-danger border">
                <b-card-header>3. Data Science в системе пакетов R</b-card-header>
                <b-card-body> </b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import IconMenu from '~/components/Components/IconMenu'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
import SidebarIndex from '@/components/Section/SidebarIndex'
import Header from '@/components/Components/Header'
import PageTitle from '@/components/Components/PageTitle'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

export default {
  auth: false,
  components: { PageTitle, Header, SidebarIndex },
  layout: 'page2',
  data() {
    return {
      borderDanger: false,
    }
  },
  methods: {
    onClickPage() {
      // this.borderDanger = true
    },
  },
}
</script>

<style scoped>
.border-danger {
  border-width: 6px !important;
  border-style: dashed !important;
}
</style>
