<template>
  <div @click="onClickPage">
    <div>
      <Header :personal="false" />
      <sidebar-index />
      <div class="app-main__outer">
        <div class="app-main__inner">
          <page-title>
            <template v-slot:heading>
              <div style="color:red;font-size:larger;font-weight: bold;text-transform: uppercase">Национальыне проекты</div>
              <br />
            </template>
          </page-title>
          <b-row>
            <b-col md="12">
              <b-card class="card-shadow-danger border" :class="{ 'border-danger': borderDanger }">
                <b-card-header>Образовательные проекты РЭУ им.Г.В.Плеханова</b-card-header>
                <b-card-body>
                  <div class="mb-3 card text-white bg-light">
                    <b-card-header style="background: #aa0c4e">1. Методы Data Mining в исследованиях доходов населения и уровня бедности</b-card-header>
                  </div>
                  <div class="mb-3 card text-white bg-light">
                    <b-card-header style="background: #ac0c5c">
                      <a href="http://dm.reu.zarova.ru" style="text-decoration: none; color: #FFF"
                        >2. Методы Data Mining в исследованиях трудовых отношений, занятости и безработицы</a
                      >
                    </b-card-header>
                  </div>
                  <div class="mb-3 card text-white bg-light">
                    <b-card-header style="background: #ac0c69">3. Data Science в системе пакетов R</b-card-header>
                  </div>
                  <div class="mb-3 card text-white bg-light">
                    <b-card-header style="background: #ac0c76">4. Визуализация данных как средство Drill Down</b-card-header>
                  </div>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="12" class="mt-3">
              <b-card class="main-card mb-3" :class="{ 'border-danger': borderDanger }">
                <b-card-header>ОНЦ, кафедры</b-card-header>
                <b-row>
                  <b-col v-for="x in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" :key="x" md="6">
                    <b-button block class="mr-2 mb-2 text-left" variant="primary">{{ x }}</b-button>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import IconMenu from '~/components/Components/IconMenu'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
import SidebarIndex from '@/components/Section/SidebarIndex'
import Header from '@/components/Components/Header'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

export default {
  auth: false,
  components: { Header, SidebarIndex },
  layout: 'page2',
  data() {
    return {
      borderDanger: false,
    }
  },
  methods: {
    onClickPage() {
      // this.borderDanger = true
    },
  },
}
</script>

<style scoped>
.border-danger {
  border-width: 6px !important;
  border-style: dashed !important;
}
</style>
