<template>
  <div class="remote-control" v-if="false">
    <table class="remote-table remote-table-2x2">
      <tr>
        <td @click="onClick(1, { rows: 2, cols: 1 }, 1)">1</td>
        <td rowspan="2" class="devider"></td>
        <td @click="onClick(2, { rows: 2, cols: 1 }, 1)">1</td>
      </tr>
      <tr>
        <td @click="onClick(1, { rows: 2, cols: 1 }, 2)">2</td>
        <td @click="onClick(2, { rows: 2, cols: 1 }, 2)">2</td>
      </tr>
    </table>

    <table class="remote-table remote-table-4x2">
      <tr>
        <td @click="onClick(1, { rows: 2, cols: 2 }, 1)">1</td>
        <td @click="onClick(1, { rows: 2, cols: 2 }, 2)">2</td>
        <td rowspan="2" class="devider"></td>
        <td @click="onClick(2, { rows: 2, cols: 2 }, 1)">1</td>
        <td @click="onClick(2, { rows: 2, cols: 2 }, 2)">2</td>
      </tr>
      <tr>
        <td @click="onClick(1, { rows: 2, cols: 2 }, 3)">3</td>
        <td @click="onClick(1, { rows: 2, cols: 2 }, 4)">4</td>
        <td @click="onClick(2, { rows: 2, cols: 2 }, 3)">3</td>
        <td @click="onClick(2, { rows: 2, cols: 2 }, 4)">4</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'RemoteControl',
  props: {
    chartType: {
      type: String,
      default: null,
    },
    indicatorY: {
      type: Number,
      default: null,
    },
    indicatorX: {
      type: Number,
      default: null,
    },
    indicatorZ: {
      type: Number,
      default: null,
    },
    region: {
      type: [String, Array],
      default: null,
    },
    tsY: {
      type: String,
      default: null,
    },
    tsX: {
      type: String,
      default: null,
    },
    tsZ: {
      type: String,
      default: null,
    },
    regionY: {
      type: String,
      default: null,
    },
    regionX: {
      type: String,
      default: null,
    },
    regionZ: {
      type: String,
      default: null,
    },
    play: {
      type: Boolean,
      default: null,
    },
    extra_json: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      wallId: 1,
    }
  },
  methods: {
    async onClick(s, d, n) {
      await this.$axios.post(`/core/pair-settings/remote.wall.${this.wallId}/`, { extra_json: [1, 2] })
      await this.$axios.post(`/core/pair-settings/remote.wall.${this.wallId}.${s}/`, { extra_json: d })
      await this.$axios.post(`/core/pair-settings/remote.wall.${this.wallId}.${s}.${n}/`, {
        extra_json: {
          chartType: this.chartType,
          indicatorY: this.indicatorY,
          indicatorX: this.indicatorX,
          indicatorZ: this.indicatorZ,
          tsY: this.tsY,
          tsX: this.tsX,
          tsZ: this.tsZ,
          regionY: this.regionY,
          regionX: this.regionX,
          regionZ: this.regionZ,
          play: this.play,
          extra_json: this.extra_json,
        },
      })
    },
  },
}
</script>

<style scoped lang="scss">
.remote-control {
  padding: 0;
  margin: 5px;
  white-space: nowrap;
  display: block;
}

.remote-table {
  background: #d4ffef;
  border-collapse: collapse;
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  //margin-bottom: -10pt;
  margin: 0 5px -10pt 5px;

  td {
    font-size: 10pt;
    border: 1px solid #ccc;
    min-width: 15pt;
    text-align: center;
    padding: 1px;
    cursor: pointer;

    &:hover {
      background: #2a5298;
      color: #fff3cd;
    }

    font-family: 'Noto Sans', sans-serif;

    &.devider {
      cursor: none;
      background: #e0e0e0;
      min-width: 10px;

      &:hover {
        background: #e0e0e0;
      }
    }
  }
}

.remote-table-2x2 {
  td {
    min-width: 30pt;
  }
}
</style>
