<template>
  <div class="tm-container" :style="{ fontSize: fontSize }">
    {{ tm }}
  </div>
</template>

<script>
export default {
  name: 'TmLabel',
  props: {
    tm: {
      type: String,
      default: () => '',
    },
    size: {
      type: String,
      default: () => 'normal',
    },
  },
  computed: {
    fontSize() {
      switch (this.size) {
        case 'large':
          return '128pt'
        case 'x-large':
          return '102pt'
        case 's-large':
          return '64pt'
        case 'medium':
          return '47pt'
        default:
          return '36pt'
      }
    },
  },
}
</script>

<style lang="scss">
.tm-container {
  color: #f7baabb2;
  position: relative;
  //position: absolute;
  //z-index: 1000;
  //top: 10%;
  //left: 20px;
  font-size: 47pt;
}
</style>
