<template>
  <b-card>
    <b-card-title :title="title" />
    <b-card-body>
      <b-row>
        <b-col md="12">
          <b-button
            v-if="hasAllButton"
            :variant="!selected_year ? 'primary' : 'transition outline-focus'"
            class="mr-2 mb-2"
            @click="
              updateYear(null)
              play = false
            "
          >
            Все
          </b-button>
          <b-button class="mr-2 mb-2" :variant="play ? 'primary' : 'transition outline-primary'" @click="play = !play">
            <i class="pe-7s-play"> </i>
          </b-button>
          <b-button v-for="year in years" :key="year" :variant="year == selected_year ? 'primary' : 'transition outline-focus'" class="mr-2 mb-2" @click="updateYear(year)">
            {{ year }}
          </b-button>
        </b-col>
      </b-row>
    </b-card-body>
  </b-card>
</template>

<script>
export default {
  name: 'Year',
  props: {
    selected_year: [Number, String],
    years: Array,
    interval: {
      type: Number,
      default: 3500,
    },
    title: {
      type: String,
      default: 'Выберите год',
    },
    hasAllButton: {
      type: Boolean,
      default: () => false,
    },
  },
  data() {
    return {
      play: false,
      intervalObj: null,
    }
  },
  mounted() {
    const self = this
    this.intervalObj = setInterval(function() {
      self.nextSelectedYear()
    }, this.interval)
  },
  methods: {
    nextSelectedYear() {
      try {
        if (!this.play) return
        const i = this.years.indexOf(this.selected_year)
        this.updateYear(this.years[(i + 1) % this.years.length])
        // this.updateYear(!this.selected_year || i < 0 || i + 1 >= this.years.length ? this.years[0] : (this.selected_year = this.years[i + 1]))
        // this.selected_year = !this.selected_year || i < 0 || i + 1 >= this.years.length ? this.years[0] : (this.selected_year = this.years[i + 1])
      } catch (e) {
        window.console.error('Year.nextSelectedYear', e)
      }
    },
    updateYear(year) {
      this.$emit('update:selected_year', year)
    },
  },
}
</script>

<style scoped></style>
