// User Pages

.app-logo {
  height: $logo-height;
  width: $logo-width;
  background: url('~assets/images/logo-inverse.png');
}

.app-logo-inverse {
  height: $logo-height;
  width: $logo-width;
  //background: url('~assets/images/logo1.png');
  content: 'СЦ РЭУ им. Г.В.Плеханова';
}

.app-login-box {
  .app-logo {
    margin-bottom: $layout-spacer-lg;
  }

  h4 {
    margin-bottom: $layout-spacer-x;
    font-weight: normal;

    div {
      opacity: 0.6;
    }

    span {
      font-size: $font-size-lg;
    }
  }
}
