<template>
  <div>
    <div v-if="series">
      <hightchart-base v-if="chartOptions" :options="chartOptions" height="600" />
    </div>
    <div v-else>
      <spinner size="massive" />
      /
    </div>
  </div>
</template>

<script>
// import Highcharts from 'highcharts'
import Spinner from 'vue-simple-spinner'
import HightchartBase from '~/components/Chart/HighchartBase'

// const RF = 'Российская Федерация'

const _highchartOptions = {
  title: {
    text: undefined,
  },
  legend: {
    enabled: false,
  },
  // colors: ['#00e396', '#feb019', '#008ffb'],
  plotOptions: {
    series: {
      dataLabels: {
        enabled: true,
        format: '{y:.2f}',
        style: {
          fontSize: '11pt',
        },
      },
      softThreshold: true,
    },
    spline: {
      lineWidth: 4,
      color: '#153aaa',
      dataLabels: {
        // color: '#fff',
        // backgroundColor: '#153AAA',
        // padding: 3,
        // borderColor: '#fff',
        // borderWidth: 1,
        shadow: false,
        style: {
          fontWeight: 'bold',
          textOutline: '',
        },
      },
    },
  },
  xAxis: {
    categories: [],
  },
  yAxis: {
    type: 'linear',
    title: {
      text: null,
    },
  },
  tooltip: {
    shared: true,
    valueDecimals: 2,
  },
  labels: {},
  series: [],
}

export default {
  name: 'ProposalChartColumn',
  components: {
    HightchartBase,
    Spinner,
  },
  props: {
    indicatorId: {
      type: Number,
      default: null,
    },
    region: {
      type: String,
      default: 'Российская Федерация',
    },
    trend: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      data: null,
      trends: null,
      chartOptions: null,
      chartOptionsLog: null,
      series: null,
      future_columns: null,
      last_data_year: null,
      proposalValues: null,
      proposalValue: null,
      proposalYear: null,
      proposalData: null,
      proposalDict: null,
    }
  },
  watch: {
    indicatorId() {
      this.fetchData()
    },
    trend() {
      if (this.data) {
        this.updateSeries()
        this.updateChart()
        this.updateChartLog()
      }
    },
  },
  async mounted() {
    await this.fetchData()
  },
  methods: {
    async fetchData() {
      this.series = null
      const { data } = await this.$axios.get(`/data/indicator/${this.indicatorId}/datatrend`)
      this.data = data.data
      this.trends = data.trends
      this.indicator = data.indicator
      const row_i = this.data.index.indexOf(this.region)
      const values = this.data.columns.map((x, y) => ({ tm: x, value: this.data.data[row_i][y] }))
      this.factValues = values.filter((x) => x.tm <= 2019)
      this.proposalValues = values.filter((x) => x.tm > 2019)
      this.proposalValues.forEach((x) => {
        this.proposalValue = x.value
        this.proposalYear = x.tm
      })

      this.updateCharts()
      // try {
      //   const { data } = await this.$axios.get(`/data/indicator/${this.indicatorId}/data`)
      //   this.data = data.data
      //   this.indicator = data.indicator
      //   this.updateCharts()
      //   const row_i = this.data.index.indexOf(this.region)
      //   this.proposalValues = this.data.columns.map((x, y) => ({ tm: x, value: data.data[row_i][y] })).filter((x) => x.tm > 2019)
      // } catch {
      //   this.series = null
      // }
    },
    updateCharts() {
      this.updateColumns()
      this.updateSeries()
      this.updateChart()
      this.updateChartLog()
    },
    updateColumns() {
      const last_data_year = 2019 // Math.max(...this.data.columns.map((x) => parseInt(x)))
      const future_columns = Array.from({ length: 2030 - last_data_year }, (x, i) => i + last_data_year + 1)
      this.last_data_year = last_data_year
      this.future_columns = future_columns
    },
    updateSeries() {
      let region_data = []
      try {
        // const row_i = this.data.index.indexOf(this.region)
        region_data = {
          name: 'Фактические значения',
          type: 'spline',
          data: this.factValues.map((x) => x.value),
        }
        // const last_value = this.factValues[this.factValues.length - 1]
        const proposalDict = {}
        this.proposalValues.forEach((x) => {
          proposalDict[x.tm.toString()] = x.value
        })

        this.proposalDict = proposalDict
        const proposalData = this.future_columns.map((x) => (proposalDict[x.toString()] ? proposalDict[x.toString()] : null))
        this.proposalData = proposalData
        const future_data = {
          name: 'Цель',
          type: 'column',
          color: '#DC4128',
          dataLabels: {
            enabled: true,
            style: {
              color: '#DC4128',
            },
          },
          marker: {
            enabled: false,
          },
          lineWidth: 2,
          toolTip: {
            enabled: false,
          },
          data: [
            // Исходные данные
            ...Array.from({ length: this.factValues.length }, () => null),
            // Линейный прогноз
            ...proposalData,
          ],
        }

        if (this.trend) {
          const trend_data = {
            name: 'Тренд',
            type: 'spline',
            dashStyle: 'ShortDot',
            lineWidth: 2,
            color: '#DC4128',
            data: this.trends[this.trend].map((x) => x.y),
            marker: {
              enabled: false,
            },
            dataLabels: {
              enabled: false,
            },
          }
          this.series = [region_data, trend_data, future_data]
        } else {
          this.series = [region_data, future_data]
        }
      } catch (ex) {
        window.console.log(ex)
        this.series = []
      }
    },
    updateChart() {
      const params = {
        xAxis: {
          categories: [...this.factValues.map((x) => x.tm), ...this.future_columns],
          labels: {
            formatter() {
              return `<span style="color: ${parseInt(this.value) < 2020 ? 'black' : 'red'}">${this.value}</span>`
            },
            style: {
              fontSize: '14pt',
            },
          },
          plotBands: [
            {
              label: {
                text: 'ЦЕЛЕВЫЕ ПОКАЗАТЕЛИ',
                style: {
                  color: '#DC4128',
                  fontSize: 22,
                  fontWeight: 'bold',
                },
              },
              color: '#fcffda',
              from: this.factValues.length + this.future_columns.length - 11.5,
              to: this.factValues.length + this.future_columns.length,
            },
          ],
        },
        annotations: [
          {
            labelOptions: {
              backgroundColor: '#DC4128',
            },
            labels: [
              {
                point: {
                  xAxis: 0,
                  yAxis: 0,
                  x: this.series[this.series.length - 1].data.length - 1,
                  y: this.proposalValue,
                },
                text: 'Цель ' + this.proposalYear,
              },
            ],
          },
        ],
        series: [...this.series],
      }
      this.chartOptions = { ..._highchartOptions, ...params }
    },
    updateChartLog() {
      // Логарифмическая шкала
      const params = {
        annotations: [
          {
            labelOptions: {
              backgroundColor: '#DC4128',
              verticalAlign: 'top',
              y: 15,
            },
            labels: [
              {
                point: {
                  xAxis: 0,
                  yAxis: 0,
                  x: this.series[this.series.length - 1].data.length - 1,
                  y: this.proposalValue,
                },
                text: 'Цель',
              },
            ],
          },
        ],
        xAxis: {
          categories: [...this.data.columns_hash, ...this.future_columns],
        },
        yAxis: {
          type: 'logarithmic',
        },
        series: [...this.series],
      }

      this.chartOptionsLog = { ..._highchartOptions, ...params }
    },
  },
}
</script>

<style scoped></style>
