<template>
  <div>
    <div v-if="series">
      <div>
        <hightchart-base v-if="chartOptions" :options="chartOptions" height="600" />
        <div style="margin-right:20px;text-align:right;font-size:16pt;color:#DC4128;font-weight: bold">ЕПД</div>
      </div>
      <div v-if="chartOptionsLog && false">
        <h5 class="text-center m-3">Логарифмическая шкала</h5>
        <hightchart-base :options="chartOptionsLog" height="600" />
      </div>
    </div>
  </div>
</template>

<script>
import HightchartBase from '~/components/Chart/HighchartBase'

const _highchartOptions = {
  title: {
    text: undefined,
  },
  legend: {
    enabled: false,
  },
  credits: {
    enabled: false,
  },
  // colors: ['#00e396', '#feb019', '#008ffb'],
  plotOptions: {
    series: {
      dataLabels: {
        enabled: true,
        format: '{y}',
      },
      softThreshold: true,
    },
    spline: {
      lineWidth: 4,
      color: '#153aaa',
      marker: {
        radius: 8,
      },
      dataLabels: {
        color: '#fff',
        backgroundColor: '#153AAA',
        // padding: 1,
        borderColor: '#fff',
        borderWidth: 1,
        shadow: false,
        verticalAlign: 'bottom',
        y: -12,
        style: {
          fontWeight: 'bold',
          textOutline: '',
          fontSize: '14pt',
        },
      },
    },
  },
  xAxis: {
    // endOnTick: false,
    maxPadding: 0.05,
    labels: {
      style: {
        fontSize: '14pt',
      },
      formatter() {
        return `<span style='color: ${parseInt(this.value) < 2021 ? '#153AAA' : '#DC4128'}'>${this.value}</span>`
      },
    },
  },
  yAxis: {
    type: 'linear',
    title: {
      text: null,
    },
  },
  tooltip: {
    shared: true,
    // valueDecimals: 2,
  },
  labels: {},
  series: [],
}

export default {
  name: 'Proposal2Line',
  components: {
    HightchartBase,
  },
  props: {
    proposal: { type: Object, default: null },
    fact: { type: Object, default: null },
    region: { type: String, default: null },
  },
  data() {
    return {
      data: null,
      chartOptions: null,
      chartOptionsLog: null,
      series: null,
      future_columns: null,
      last_data_year: null,
    }
  },
  watch: {
    region() {
      this.updateCharts()
    },
  },
  mounted() {
    this.updateCharts()
  },
  methods: {
    updateCharts() {
      this.updateColumns()
      this.updateSeries()
      this.updateChart()
      // this.updateChartLog()
    },
    updateColumns() {
      // const last_data_year = Math.max(...this.data.columns.map((x) => parseInt(x)))
      // const future_columns = Array.from({ length: 2030 - last_data_year }, (x, i) => i + last_data_year + 1)
      // this.last_data_year = last_data_year
      // this.future_columns = future_columns
    },
    prepareData(df, region) {
      const row = df.getRowByIndex(region)
      return Object.keys(row).map((item) => ({ x: parseInt(item), y: row[item] }))
    },
    updateSeries() {
      try {
        const fact_series = {
          name: 'Фактические значения',
          type: 'spline',
          color: '#0000ff',
          data: this.prepareData(this.fact, this.region),
        }
        const future_series = {
          name: 'Целевые значения',
          type: 'spline',
          dashStyle: 'ShortDot',
          color: '#DC4128',
          dataLabels: {
            enabled: true,
            backgroundColor: '#DC4128',
          },
          lineWidth: 3,
          data: this.prepareData(this.proposal, this.region),
        }
        this.series = [fact_series, future_series]
      } catch (e) {
        window.console.error(e)
        this.series = []
      }
    },
    updateChart() {
      // chartOptions = Object.assign(chartOptions, { series })
      const params = {
        annotations: [
          {
            labelOptions: {
              backgroundColor: '#DC4128',
            },
            // labels: [
            //   {
            //     point: {
            //       xAxis: 0,
            //       yAxis: 0,
            //       x: this.series[1].data.length - 2,
            //       y: this.proposalValue,
            //     },
            //     text: 'Цель',
            //   },
            // ],
          },
        ],
        series: [...this.series],
      }
      this.chartOptions = { ..._highchartOptions, ...params }
    },
    updateChartLog() {
      // Логарифмическая шкала
      const params = {
        annotations: [
          {
            labelOptions: {
              backgroundColor: '#DC4128',
              verticalAlign: 'top',
              y: 15,
            },
            labels: [
              {
                point: {
                  xAxis: 0,
                  yAxis: 0,
                  x: this.series[1].data.length - 2,
                  y: this.proposalValue,
                },
                text: 'Цель',
              },
            ],
          },
        ],
        xAxis: {
          categories: [...this.data.columns_hash, ...this.future_columns, 2031],
        },
        yAxis: {
          type: 'logarithmic',
        },
        series: [...this.series],
      }

      this.chartOptionsLog = { ..._highchartOptions, ...params }
    },
  },
}
</script>

<style scoped></style>
