<template>
  <div v-if="series">
    <div>
      <hightchart-base v-if="chartOptions" :options="chartOptions" height="600" />
    </div>
    <div v-if="chartOptionsLog">
      <h5 class="text-center m-3">Логарифмическая шкала</h5>
      <hightchart-base :options="chartOptionsLog" height="600" />
    </div>
  </div>
</template>

<script>
// import Highcharts from 'highcharts'
import HightchartBase from '~/components/Chart/HighchartBase'

// const RF = 'Российская Федерация'

const _highchartOptions = {
  title: {
    text: undefined,
  },
  legend: {
    enabled: false,
  },
  // colors: ['#00e396', '#feb019', '#008ffb'],
  plotOptions: {
    series: {
      dataLabels: {
        enabled: true,
        format: '{y:.2f}',
      },
      softThreshold: true,
    },
    spline: {
      lineWidth: 4,
      color: '#153aaa',
      dataLabels: {
        color: '#fff',
        backgroundColor: '#153AAA',
        padding: 3,
        borderColor: '#fff',
        borderWidth: 1,
        shadow: false,
        style: {
          fontWeight: 'bold',
          textOutline: '',
        },
      },
    },
  },
  xAxis: {
    categories: [],
  },
  yAxis: {
    type: 'linear',
    title: {
      text: null,
    },
  },
  tooltip: {
    shared: true,
    valueDecimals: 2,
  },
  labels: {},
  series: [],
}

export default {
  name: 'ProposalChart',
  components: {
    HightchartBase,
  },
  props: {
    indicatorId: Number,
    region: String,
    proposalValue: Number,
  },
  data() {
    return {
      data: null,
      chartOptions: null,
      chartOptionsLog: null,
      series: null,
      future_columns: null,
      last_data_year: null,
    }
  },
  watch: {
    indicatorId() {
      this.fetchData()
    },
    region() {
      this.updateCharts()
    },
  },
  async mounted() {
    await this.fetchRegions()
    await this.fetchData()
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data
    },

    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.indicatorId}/data`)
        this.data = data.data
        this.indicator = data.indicator
        this.updateCharts()
      } catch {
        this.series = null
      }
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      return this.getParentRegion(region.id)
    },
    updateCharts() {
      this.updateColumns()
      this.updateSeries()
      this.updateChart()
      this.updateChartLog()
    },
    updateColumns() {
      const last_data_year = Math.max(...this.data.columns.map((x) => parseInt(x)))
      const future_columns = Array.from({ length: 2030 - last_data_year }, (x, i) => i + last_data_year + 1)
      this.last_data_year = last_data_year
      this.future_columns = future_columns
    },
    updateSeries() {
      let region_data = []
      try {
        const row_i = this.data.index.indexOf(this.region)
        region_data = {
          name: this.region,
          type: 'spline',
          data: this.data.columns.map((_, x) => this.data.data[row_i][x]),
        }
        const last_value = region_data.data[region_data.data.length - 1]
        const future_data = {
          name: 'Российская Федерация',
          type: 'spline',
          dashStyle: 'ShortDot',
          dataLabels: {
            enabled: false,
          },
          marker: {
            enabled: false,
          },
          lineWidth: 2,
          toolTip: {
            enabled: false,
          },
          data: [
            // Исходные данные
            ...Array.from({ length: region_data.data.length - 1 }, () => null),
            // Линейный прогноз
            ...Array.from({ length: this.future_columns.length + 1 }, (x, i) => ((this.proposalValue - last_value) / this.future_columns.length) * i + last_value),
            null,
          ],
        }
        this.series = [region_data, future_data]
      } catch {
        this.series = []
      }
    },
    updateChart() {
      // chartOptions = Object.assign(chartOptions, { series })
      const params = {
        xAxis: {
          categories: [...this.data.columns_hash, ...this.future_columns, 2031],
        },
        annotations: [
          {
            labelOptions: {
              backgroundColor: '#DC4128',
            },
            labels: [
              {
                point: {
                  xAxis: 0,
                  yAxis: 0,
                  x: this.series[1].data.length - 2,
                  y: this.proposalValue,
                },
                text: 'Цель',
              },
            ],
          },
        ],
        series: [...this.series],
      }
      this.chartOptions = { ..._highchartOptions, ...params }
    },
    updateChartLog() {
      // Логарифмическая шкала
      const params = {
        annotations: [
          {
            labelOptions: {
              backgroundColor: '#DC4128',
              verticalAlign: 'top',
              y: 15,
            },
            labels: [
              {
                point: {
                  xAxis: 0,
                  yAxis: 0,
                  x: this.series[1].data.length - 2,
                  y: this.proposalValue,
                },
                text: 'Цель',
              },
            ],
          },
        ],
        xAxis: {
          categories: [...this.data.columns_hash, ...this.future_columns, 2031],
        },
        yAxis: {
          type: 'logarithmic',
        },
        series: [...this.series],
      }

      this.chartOptionsLog = { ..._highchartOptions, ...params }
    },
  },
}
</script>

<style scoped></style>
