<template>
  <div id="container33">
    <!--    <div class="circle">-->
    <!--      <div id="small-circle" :style="smallCircleStyle"></div>-->
    <!--    </div>-->
    <div class="pie-container">
      <div>
        <div class="pie-sector" :style="pieStyle"></div>
      </div>
    </div>
    <div class="pie-container pie-container2">
      <div>-10%</div>
      <div>0</div>
      <div>+10%</div>
    </div>

    <div class="label mt-2">&Delta; = {{ delta }}%</div>
  </div>
</template>

<script>
export default {
  name: 'ColorCircle',
  props: ['base', 'forecast'],
  data() {
    return {
      d: 0,
    }
  },
  computed: {
    smallCircleStyle() {
      const min = Math.min(this.base, this.forecast)
      const max = Math.max(this.base, this.forecast)
      let style = {}
      if (this.base > this.forecast) {
        const d = min / max < 0.9 ? 100 : 100 * (1 - (min / max - 0.9) * 10)
        style = {
          'background-color': '#ff0000',
          width: d + '%',
          height: d + '%',
          'margin-top': (100 - d) / 2 + '%',
          'margin-left': (100 - d) / 2 + '%',
        }
      } else {
        const d = min / max < 0.9 ? 100 : 100 * (1 - (min / max - 0.9) * 10)
        style = {
          'background-color': '#00ff00',
          width: d + '%',
          height: d + '%',
          'margin-top': (100 - d) / 2 + '%',
          'margin-left': (100 - d) / 2 + '%',
        }
      }
      return style
    },
    pieStyle() {
      const min = Math.min(this.base, this.forecast)
      const max = Math.max(this.base, this.forecast)
      let style = {}
      if (this.base > this.forecast) {
        // Негативный прогноз (красный)
        const d = min / max < 0.9 ? 90 : 90 * (1 - (min / max - 0.9) * 10)
        style = {
          'background-color': '#ff0000',
          border: '2px solid #ff0000',
          'background-image': `linear-gradient(${-180 + (90 - d)}deg, transparent 50%, white 50%), linear-gradient(-90deg, white 50%, transparent 50%)`,
        }
      } else {
        // Позитивный прогноз (зелёный)
        const d = min / max < 0.9 ? 90 : 90 * (1 - (min / max - 0.9) * 10)
        style = {
          'background-color': '#00ff00',
          border: '2px solid #00ff00',
          'background-image': `linear-gradient(-90deg, transparent 50%, white 50%), linear-gradient(${-90 + d}deg, white 50%, transparent 50%)`,
        }
      }
      return style
    },
    delta() {
      const min = Math.min(this.base, this.forecast)
      const max = Math.max(this.base, this.forecast)
      return Math.round((max - min) * 10) / 10
    },
  },
}
</script>

<style scoped lang="scss">
#container33 {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circle {
  width: 170px;
  height: 170px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #cbc8d0;
  display: inline-block;
}

#small-circle {
  margin-top: 25%;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: none;
}

.pie-container {
  overflow: hidden;
  height: 5em;
  width: 11em;
  border: none;
  padding: 0;
  margin: 0;
}

.pie-container2 {
  overflow: hidden;
  height: 5em;
  width: 11em;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  > div {
    text-align: center;
    flex: 1 1 auto;
    //width: 30px;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

.pie-sector {
  width: 10em;
  height: 10em;
  display: block;
  border-radius: 50%;
  background-color: green;
  border: 2px solid green;
  float: left;
  margin: 0em;
}

.pie-sector___ {
  background-image: linear-gradient(180deg, transparent 50%, white 50%), linear-gradient(-90deg, white 50%, transparent 50%);
}
</style>
