<template>
  <div v-if="loading" class="loading-page">
    <p>подготовка данных...</p>
  </div>
</template>
<script>
export default {
  data: () => ({
    loading: false,
  }),
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    },
  },
}
</script>
<style scoped>
.loading-page {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 32pt;
  width: 100%;
  background: #ffd77a;
  text-align: center;
  padding-top: 10px;
  color: #333;
  font-size: 13pt;
  font-family: sans-serif;
  box-shadow: gray;
  border: 1px solid grey;
  border-radius: 2px;
}
</style>
