<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" title="Индикаторы национальной цели" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading" />
        <b-row v-if="fact">
          <b-col md="12">
            <b-card>
              <b-card-title>Выберите регион</b-card-title>
              <b-card-body>
                <b-select v-model="regionSelected">
                  <b-select-option v-for="region in regionList" :key="region" :value="region">{{ region }} </b-select-option>
                </b-select>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col v-if="regionSelected" md="12">
            <b-card>
              <b-card-title>{{ heading }}</b-card-title>
              <b-card-sub-title>{{ regionSelected }}</b-card-sub-title>
              <b-card-body>
                <Proposal2Line :region="regionSelected" :fact="fact" :proposal="proposal" />
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
import Proposal2Line from '~/components/Proposals/Proposal2Line'
import proposals from '~/components/Proposals/ProposalData'

export default {
  auth: false,
  layout: 'page2',
  components: {
    Proposal2Line,
    PageTitle,
    Header,
    Sidebar2,
    // StackedChart,
  },
  async fetch() {
    await this.fetchFact()
    await this.fetchProposal()
  },

  data() {
    return {
      indicator: null,
      fact: null,
      proposal: null,
      regionSelected: null,
      regionList: [],
      proposals,
    }
  },

  computed: {
    suffix() {
      return '3_2'
    },
    subheading() {
      return 'Улучшение качества городской среды в полтора раза; обеспечение доли дорожной сети в крупнейших городских агломерациях, соответствующей нормативным требованиям, на уровне не менее 85 процентов'
    },
    heading() {
      return 'Доля дорожной сети в крупнейших городских агломерациях, соответствующая нормативам, % '
    },
    menu() {
      try {
        return this.proposals[2].children.map((x) => {
          if (x.to) x.click = () => this.$router.push(x.to)
          return x
        })
      } catch {
        return []
      }
    },
  },

  watch: {},
  mounted() {},

  methods: {
    loadDf(data) {
      const df = dataForge.fromJSON(JSON.stringify(data)).setIndex('Регион')
      const columns = df
        .getColumnNames()
        .filter((x) => x !== 'Регион')
        .sort()
      return df.subset(columns)
    },
    async fetchFact() {
      const { data } = await this.$axios.get(`/static/data/cr/fact_${this.suffix}.json?v=${Math.random()}`)
      const df = this.loadDf(data)
      this.fact = df
      this.regionList = df.getIndex()
    },
    async fetchProposal() {
      const { data } = await this.$axios.get(`/static/data/cr/proposal_${this.suffix}.json?v=${Math.random()}`)
      const df = this.loadDf(data)
      this.proposal = df
      // this.regionList = df.getIndex().toArray()
    },
  },
}
</script>
