<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" title="Индикаторы национальной цели" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading" />
        <b-row v-if="fact">
          <b-col md="12">
            <img v-if="false" src="/cr0/3_5.png" style="width:100%" />
            <b-card v-if="true" class="mb-3">
              <b-card-title>Выберите регион</b-card-title>
              <b-card-body>
                <b-select v-model="regionSelected">
                  <b-select-option v-for="region in regionList" :key="region" :value="region">{{ region }} </b-select-option>
                </b-select>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col v-if="regionSelected" md="12">
            <b-card v-if="regionSelected === 'Российская Федерация'" class="mb-3">
              <b-card-title>{{ heading }}</b-card-title>
              <b-card-sub-title>{{ regionSelected }}</b-card-sub-title>
              <b-card-body>
                <Proposal2Column :region="regionSelected" :fact="fact" :proposal="proposal" background-image="/cr0/3_5.png" />
              </b-card-body>
            </b-card>
            <b-card class="mb-3">
              <b-card-title>{{ heading1 }}</b-card-title>
              <b-card-sub-title>{{ regionSelected }}</b-card-sub-title>
              <b-card-body>
                <Proposal2Column :region="regionSelected" :fact="fact1" :proposal="proposal1" />
              </b-card-body>
            </b-card>
            <b-card v-if="false">
              <b-card-title>Таблица даных</b-card-title>
              <b-card-sub-title>{{ regionSelected }}</b-card-sub-title>
              <b-card-body v-html="tbl"></b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
import Proposal2Column from '~/components/Proposals/Proposal2Column'
import proposals from '~/components/Proposals/ProposalData'

export default {
  auth: false,
  layout: 'page2',
  components: {
    Proposal2Column,
    PageTitle,
    Header,
    Sidebar2,
    // StackedChart,
  },
  async fetch() {
    try {
      await this.fetchFact()
      await this.fetchProposal()
      await this.fetchFact1()
      await this.fetchProposal1()
      this.regionSelected = this.regionList[0]
    } catch (e) {
      window.console.log(e)
    }
  },

  data() {
    return {
      indicator: null,
      fact: null,
      proposal: null,
      fact1: null,
      proposal1: null,
      regionSelected: null,
      regionList: [],
      proposals,
    }
  },
  computed: {
    suffix() {
      return '3_5'
    },
    subheading() {
      return 'Ликвидация наиболее опасных объектов накопленного вреда окружающей среде и экологическое оздоровление водных объектов, включая реку Волгу, озера Байкал и Телецкое'
    },
    heading() {
      return 'Экологическое оздоровление водных объектов, включая реку Волгу, озера Байкал и Телецкое, %'
    },
    heading1() {
      return 'Количество ликвидированных наиболее опасных объектов накопленного вреда окружающей среде, нарастающим итогом шт.'
    },
    menu() {
      try {
        return this.proposals[2].children.map((x) => {
          if (x.to) x.click = () => this.$router.push(x.to)
          return x
        })
      } catch {
        return []
      }
    },
    tbl() {
      return this.fact
        .toHTML()
        .replaceAll('null', '<div style="background:red;color:white;text-align:center">&mdash;</div>')
        .replace(this.regionSelected, `<div style='color:red'>${this.regionSelected}</div>`)
    },
  },
  watch: {},
  mounted() {},
  methods: {
    loadDf(data) {
      const df = dataForge.fromJSON(JSON.stringify(data)).setIndex('Регион')
      const columns = df
        .getColumnNames()
        .filter((x) => x !== 'Регион')
        .sort()
      return df.subset(columns)
    },
    async fetchFact() {
      const { data } = await this.$axios.get(`/static/data/cr/fact_${this.suffix}.json?v=${Math.random()}`)
      const df = this.loadDf(data)
      this.fact = df
      this.regionList = df.getIndex()
    },
    async fetchProposal() {
      const { data } = await this.$axios.get(`/static/data/cr/proposal_${this.suffix}.json?v=${Math.random()}`)
      const df = this.loadDf(data)
      this.proposal = df
      // this.regionList = df.getIndex().toArray()
    },
    async fetchFact1() {
      const { data } = await this.$axios.get(`/static/data/cr/fact_${this.suffix}_1.json?v=${Math.random()}`)
      const df = this.loadDf(data)
      this.fact1 = df
      this.regionList = df.getIndex()
    },
    async fetchProposal1() {
      const { data } = await this.$axios.get(`/static/data/cr/proposal_${this.suffix}_1.json?v=${Math.random()}`)
      const df = this.loadDf(data)
      this.proposal1 = df
      // this.regionList = df.getIndex().toArray()
    },
  },
}
</script>

<style>
table.dataframe > tbody > tr > td {
  padding: 1px 3px;
  text-align: right;
}
</style>
