<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <b-row v-if="data" class="mt-4">
          <b-col md="12">
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" :interval="3500" />
          </b-col>
        </b-row>
        <b-row v-if="data">
          <b-col md="9">
            <b-card class="mt-3">
              <b-card-body v-if="selected_year && selected_region">
                <div class="chart_title">
                  <div class="header">{{ selected_year }}</div>
                  <div class="subheader">Income share held by 20%</div>
                </div>
                <apexchart :series="series" :height="400" :options="chartOptions" />
                {{ series }}
              </b-card-body>
            </b-card>
          </b-col>
          <b-col md="3">
            <b-card class="mt-3">
              <b-card-title>Выберите страну</b-card-title>
              <b-card-body>
                <b-form-checkbox-group v-model="selected_region" :options="regions" class="m-3"> </b-form-checkbox-group>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
// import VueApexCharts from 'vue-apexcharts'
import Apexchart from 'vue-apexcharts'
import PageTitle from '~/components/Components/PageTitle.vue'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import Year from '~/components/Filter/Year'

const chartColors = ['#00e396', '#19bdfe', '#ea00fb']
const indicatorIds = [5323, 4601, 5264, 5143, 4513]

const _chartOptions = {
  chart: {
    type: 'area',
    stacked: false,
    // events: {
    //   selection(chart, e) {
    //     console.log(new Date(e.xaxis.min))
    //   },
    // },
    animations: {
      enabled: true,
      easing: 'easeinout',
      speed: 800,
      animateGradually: {
        enabled: false,
        delay: 150,
      },
      dynamicAnimation: {
        enabled: true,
        speed: 350,
      },
    },
  },
  colors: ['#fe5000', '#0077c8', '#008eaa', '#84bd00', '#9a4cda', '#005670', '#0085ad', '#efdf00'],
  dataLabels: {
    enabled: false,
  },
  stroke: {
    curve: 'smooth',
  },
  fill: {
    type: 'gradient',
    gradient: {
      opacityFrom: 0.6,
      opacityTo: 0.8,
    },
  },
  legend: {
    position: 'right',
    horizontalAlign: 'center',
  },
  xaxis: {
    // type: 'numeric',
    type: 'category',
    categories: ['0%', '20%', '40%', '60%', '80%', '100%'],
    tickPlacement: 'between',
  },
  yaxis: {
    logarithmic: false,
  },
}

export default {
  auth: false,
  layout: 'page2',
  components: {
    Header,
    PageTitle,
    // apexchart: VueApexCharts,
    Sidebar2,
    Year,
    Apexchart,
  },
  async asyncData({ params, $axios }) {
    const data2 = []
    for (const i in indicatorIds) {
      const { data } = await $axios.get(`/data/indicator/${indicatorIds[i]}/data`)
      data2.push(data)
    }
    return { data: data2 }
  },

  data: () => ({
    chartColors,
    selected_type: 'chart',
    selected_indicator: null,
    chart_labels: [],
    chart_datasets: [],
    selected_year: null,
    selected_region: [],
    selected_column: null,
    indicatorIds,
    chartOptions: _chartOptions,
    series: null,
  }),

  computed: {
    heading() {
      return 'Income share held by 20%'
    },
    short_heading() {
      return 'Страны СНГ'
    },
    subheading() {
      return 'Страны СНГ'
    },
    menu() {
      return []
    },
    years() {
      try {
        return this.data[0].indicator.extra_json.df_columns_hash.filter((x) => parseInt(x) > 1999)
      } catch (e) {
        return []
      }
    },
    regions() {
      try {
        return this.data[0].indicator.extra_json.df_index_hash
      } catch (e) {
        return []
      }
    },
  },
  watch: {
    selected_year() {
      this.updateCharts()
    },
    selected_region() {
      this.updateCharts()
    },
  },

  mounted() {
    window.xxx = this
  },

  methods: {
    updateCharts() {
      const series = []
      if (!this.selected_region) return
      const selectedYear = this.selected_year
      const selected_region = Array.isArray(this.selected_region) ? this.selected_region : [this.selected_region]
      selected_region.forEach((x) => {
        const selectedRegion = x
        series.push({
          type: 'area',
          name: x,
          data: this.data.map((y) => {
            const row = y.data.index.indexOf(selectedRegion)
            const col = y.data.columns_hash.indexOf(selectedYear)
            return y.data.data[row][col]
          }),
        })
      })
      this.series = series
    },
  },
}
</script>

<style scoped lang="scss">
.chart_title {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 16%;
  color: #000;
  opacity: 0.3;

  .header {
    font-size: 6em;
  }

  .subheader {
    font-size: 2em;
  }
}
</style>
