<template>
  <div>
    <Header />
    <Sidebar2 :menu="sidebarMenuItems" title="Показатели сопоставления данных Российской Федерации c Республикой Беларусь и другими государствами" sidebar-bg="#f4fff1" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading" style="color: #fff"></page-title>
        <b-row v-if="!selected_indicator">
          <b-col md="12">
            <b-card>
              <b-card-title>Выберите индикатор из списка слева</b-card-title>
            </b-card>
          </b-col>
        </b-row>
        <b-row v-if="selected_indicator">
          <b-col md="12" class="text-center mb-3">
            <b-button
              v-for="tab in tabs"
              :key="tab.value"
              :variant="selected_type == tab.value ? 'primary' : ''"
              class="mr-1 btn-shadow mb-1"
              @click="selected_type = tab.value"
              v-text="tab.text || tab.title"
            />
          </b-col>
        </b-row>
        <div v-if="selected_type == 'chart' && data">
          <b-card v-if="selected_indicator" class="mb-3">
            <b-card-title>Выберите дополнительный показатель</b-card-title>
            <b-card-body>
              <indicator-select-link
                :root-indicators="['belarus.others']"
                :selected-indicator="selected_indicator2"
                modal-id="selectIndicator2"
                :title="`Основной показатель: <strong>${selected_indicator.smart_name}</strong>`"
                @select="selectIndicator2"
              />
            </b-card-body>
          </b-card>
          <year v-if="selected_indicator && selected_indicator2" :selected_year.sync="selected_tm" :years="data.columns_hash" class="mb-3" />
          <b-card v-if="chartOptions" class="mb-3">
            <b-card-body>
              <hightchart-base :options="chartOptions" height="600" />
            </b-card-body>
          </b-card>
        </div>
        <div v-if="selected_type == 'table'">
          <b-card class="mt-3">
            <b-card-title>{{ selected_indicator.smart_name }}</b-card-title>
            <b-card-sub-title>Таблица данных</b-card-sub-title>
            <b-card-body>
              <data-table :indicator_id="selected_indicator.id" />
            </b-card-body>
          </b-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageTitle from '~/components/Components/PageTitle.vue'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import Year from '~/components/Filter/Year'
import DataTable from '@/components/Widgets/DataTable'
import IndicatorSelectLink from '@/components/Indicator/IndicatorSelectLink'
import defaultChartOptions from '@/pages/wb/belarusChart'
import HightchartBase from '@/components/Chart/HighchartBase'

const chartColors = ['#00e396', '#19bdfe', '#ea00fb']

const TABS = [
  {
    text: 'Сопоставление',
    title: 'Сопоставление',
    value: 'chart',
  },
  {
    text: 'Таблица',
    title: 'Таблица',
    value: 'table',
  },
]

export default {
  auth: false,
  layout: 'page2_by',
  components: {
    HightchartBase,
    IndicatorSelectLink,
    DataTable,
    Header,
    PageTitle,
    Sidebar2,
    Year,
  },

  async asyncData({ params, $axios }) {
    const { data } = await $axios.get(`/data/indicator/parent/belarus.others/withdata`)
    const indicators = data
    return { indicators }
  },
  data: () => ({
    tabs: TABS,
    currentTab: 'chart',
    indicators: [],
    parent_indicator: null,
    chartColors,
    selected_type: 'chart',
    selected_indicator: null,
    selected_indicator2: null,
    chart_labels: [],
    chart_datasets: [],
    selected_year: null,
    selected_region: [],
    selected_column: null,
    data: {},
    data2: {},
    series: [],
    selected_tm: null,
    chartOptions: null,
    columns_hash: [],
    columns_hash2: [],
    selected_indicator_id: null,
    selected_indicator2_id: null,
  }),

  computed: {
    heading() {
      return this.selected_indicator ? this.selected_indicator.smart_name : 'Сопоставление данных'
    },
    short_heading() {
      return 'Сопоставление данных Ресублики Беларусь, Российской Федерации и других государств'
    },
    subheading() {
      return 'Сопоставление данных Российской Федерации c Республикой Беларусь и другими государствами'
    },
    sidebarMenuItems() {
      if (!this.indicators) return []
      const self = this
      return this.indicators.map((x) => ({
        title: x.smart_name,
        // click: () => self.$router.push(`/indicator/${x.id}/data`),
        click: () => (self.selected_indicator = x),
      }))
    },
    years() {
      try {
        return this.selected_indicator.extra_json.df_columns_hash.filter((x) => parseInt(x) >= 2000)
      } catch (e) {
        return []
      }
    },
    regions() {
      try {
        return this.selected_indicator.extra_json.df_index_hash
      } catch (e) {
        return []
      }
    },
  },
  watch: {
    selected_indicator() {
      this.fetchData()
    },
    async selected_indicator2() {
      await this.fetchData2()
      this.updateChart()
    },
    selected_tm() {
      this.updateChart()
    },
  },

  mounted() {
    this.fetchParentIndicator()
  },

  methods: {
    async fetchParentIndicator() {
      const { data } = await this.$axios.get(`/data/indicator/belarus.others`)
      this.parent_indicator = data
    },
    async fetchData() {
      const { data } = await this.$axios.get(`/data/indicator/${this.selected_indicator.id}/data`)
      this.fetchedResult = data
      this.data = null
      this.data = data.data
      this.columns_hash = data.columns_hash
      this.selected_indicator_id = this.selected_indicator.id
    },
    async fetchData2() {
      const { data } = await this.$axios.get(`/data/indicator/${this.selected_indicator2.id}/data`)
      this.fetchedResult = data
      this.data2 = null
      this.data2 = data.data
      this.columns_hash2 = data.columns_hash
      this.selected_indicator2_id = this.selected_indicator.id
    },
    selectIndicator2(ind) {
      this.selected_indicator2 = { ...ind }
    },
    updateChart() {
      const data1 = []
      const data2 = []
      this.data.index.forEach((x, i) => {
        const year = this.columns_hash.indexOf(this.selected_tm)
        data1.push(year > -1 ? this.data.data[i][year] : null)
        const year2 = this.columns_hash2.indexOf(this.selected_tm)
        const j = this.data2.index.indexOf(x)
        data2.push(year > -1 && j > -1 ? this.data2.data[i][year2] : null)
      })
      this.series = [
        {
          name: this.selected_indicator.smart_name,
          data: data1,
        },
        {
          name: this.selected_indicator2.smart_name,
          data: data2,
        },
      ]
      window.console.log(this.series)
      const params = {
        xAxis: {
          categories: this.data.index,
          labels: {
            style: {
              fontSize: '14pt',
              color: '#000',
            },
          },
        },
        series: [...this.series],
      }
      this.chartOptions = { ...defaultChartOptions, ...params }
    },
  },
}
</script>
