<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <b-row v-if="!selected_indicator">
          <b-col md="12">
            <b-card>
              <b-card-title>Select indicator from left side list</b-card-title>
            </b-card>
          </b-col>
        </b-row>
        <b-row v-if="selected_indicator" class="mt-4">
          <b-col md="12">
            <year class="mt-3" :years="years" :selected_year.sync="selected_year" />
          </b-col>
        </b-row>
        <b-row v-if="selected_indicator">
          <b-col md="9">
            <b-card class="mt-3">
              <b-card-title>{{ selected_indicator.name }}, {{ selected_year }} год</b-card-title>
              <b-card-body v-if="selected_indicator && selected_year">
                <data-world-map :indicator_id="selected_indicator.id" :tm="selected_year" :selected_region="selected_region" />
              </b-card-body>
            </b-card>
          </b-col>
          <b-col md="3">
            <b-card class="mt-3">
              <b-card-title>Select countries</b-card-title>
              <b-card-body>
                <b-form-checkbox-group v-model="selected_region" :options="regions" class="m-3"></b-form-checkbox-group>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
// import VueApexCharts from 'vue-apexcharts'
import PageTitle from '~/components/Components/PageTitle.vue'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import Year from '~/components/Filter/Year'
import DataWorldMap from '@/components/Widgets/DataWorldMap'

const chartColors = ['#00e396', '#19bdfe', '#ea00fb']

export default {
  auth: false,
  layout: 'page2',
  components: {
    DataWorldMap,
    Header,
    PageTitle,
    // apexchart: VueApexCharts,
    Sidebar2,
    Year,
  },
  async asyncData({ params, $axios }) {
    const res = await $axios.get(`/data/indicator/parent/worldbank/withdata`)
    const indicators_side = res.data

    return { indicators_side }
  },

  data: () => ({
    chartColors,
    selected_type: 'chart',
    selected_indicator: null,
    chart_labels: [],
    chart_datasets: [],
    selected_year: null,
    selected_region: [],
    selected_column: null,
    data: {},
    series: [],
  }),

  computed: {
    heading() {
      return 'World Development Indicators'
    },
    short_heading() {
      return 'Страны СНГ'
    },
    subheading() {
      return 'Страны СНГ'
    },
    menu() {
      if (!this.indicators_side) return []
      const self = this
      return this.indicators_side.map((x) => ({
        title: x.name,
        click: () => (self.selected_indicator = x),
      }))
    },
    years() {
      try {
        return this.selected_indicator.extra_json.df_columns_hash.filter((x) => parseInt(x) >= 2000)
      } catch (e) {
        return []
      }
    },
    regions() {
      try {
        return this.selected_indicator.extra_json.df_index_hash
      } catch (e) {
        return []
      }
    },
  },

  mounted() {
    window.xxx = this
  },

  methods: {},
}
</script>
