<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <b-row v-if="!selectedIndicator">
          <b-col md="12">
            <b-card>
              <b-card-title>Выберите показатель из списка слева</b-card-title>
            </b-card>
          </b-col>
        </b-row>
        <b-row v-else class="mt-4">
          <b-col md="12">
            <b-card class="mt-3">
              <b-card-header>
                Выберите дополнительные показатели
              </b-card-header>
              <b-card-body>
                <b-row>
                  <b-col md="4">Основной показатель (ось Y)</b-col>
                  <b-col md="8">{{ selectedIndicator.name }}</b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col md="4">Дополнительный показатель 2 (ось X)</b-col>
                  <b-col md="8">
                    <div class="grp">
                      <indicator-select-link
                        :root-indicators="['worldbank']"
                        :selected-indicator="selectedIndicator2"
                        modal-id="selectIndicator2"
                        :title="`Основной показатель: <strong>${selectedIndicator.name}</strong>`"
                        @select="selectIndicator2"
                      />
                    </div>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col md="4">Дополнительный показатель 3 (ось Z)</b-col>
                  <b-col md="8">
                    <div class="grp">
                      <indicator-select-link
                        :root-indicators="['worldbank']"
                        :selected-indicator="selectedIndicator3"
                        modal-id="selectIndicator3"
                        :title="`Основной показатель: <strong>${selectedIndicator.name}</strong>`"
                        @select="selectIndicator3"
                      />
                    </div>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col md="12">
            <year class="mt-3" :years="years" :selected_year.sync="selectedYear" />
          </b-col>
        </b-row>
        <b-row v-if="hasSelectedIndicators">
          <b-col md="9">
            <b-card class="mt-3">
              <b-card-body>
                <data-chart-xyz-plain
                  :indicator-id-x="selectedIndicator2.id"
                  :indicator-id-y="selectedIndicator.id"
                  :indicator-id-z="selectedIndicator3.id"
                  :tm="selectedYear"
                  :tm-x="selectedYear"
                  :tm-z="selectedYear"
                  :selected-region="selectedRegion"
                />
              </b-card-body>
            </b-card>
          </b-col>
          <b-col md="3">
            <b-card class="mt-3">
              <b-card-title>Выберите страну</b-card-title>
              <b-card-body>
                <b-form-checkbox-group v-model="selectedRegion" :options="regions" class="m-3" stacked />
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import PageTitle from '~/components/Components/PageTitle.vue'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import DataChartXyzPlain from '~/components/Widgets/DataChartXyzPlain'
import IndicatorSelectLink from '@/components/Indicator/IndicatorSelectLink'
import Year from '~/components/Filter/Year'

function intersect(a, b) {
  const setB = new Set(b)
  return [...new Set(a)].filter((x) => setB.has(x))
}

export default {
  auth: false,
  layout: 'page2',
  components: {
    IndicatorSelectLink,
    Header,
    PageTitle,
    DataChartXyzPlain,
    Sidebar2,
    Year,
  },
  async asyncData({ params, $axios }) {
    const { data } = await $axios.get(`/data/indicator/parent/worldbank/withdata`)
    const indicators_side = data

    return { indicators_side }
  },

  data: () => ({
    selectedIndicator: null,
    selectedYear: null,
    selectedRegion: [],
    selectedColumn: null,
    selectedIndicator2: null,
    selectedIndicator3: null,
  }),

  computed: {
    hasSelectedIndicators() {
      return this.selectedIndicator && this.selectedIndicator2 && this.selectedIndicator3
    },
    heading() {
      return 'International comparison'
    },
    short_heading() {
      return 'Страны СНГ'
    },
    subheading() {
      return 'Страны СНГ'
    },
    menu() {
      if (!this.indicators_side) return []
      const self = this
      return this.indicators_side.map((x) => ({
        title: x.name,
        click: () => (self.selectedIndicator = x),
      }))
    },
    years() {
      try {
        return intersect(
          intersect(this.selectedIndicator.extra_json.df_columns_hash, this.selectedIndicator2.extra_json.df_columns_hash),
          this.selectedIndicator3.extra_json.df_columns_hash
        ).filter((x) => parseInt(x) >= 2000)
      } catch (e) {
        return []
      }
    },
    regions() {
      try {
        return intersect(
          intersect(this.selectedIndicator.extra_json.df_index_hash, this.selectedIndicator2.extra_json.df_index_hash),
          this.selectedIndicator3.extra_json.df_index_hash
        )
      } catch (e) {
        return []
      }
    },
  },

  mounted() {
    this.selectedYear = this.years[this.years.length - 1]
  },

  methods: {
    selectIndicator2(ind) {
      this.selectedIndicator2 = { ...ind }
    },
    selectIndicator3(ind) {
      this.selectedIndicator3 = { ...ind }
    },
  },
}
</script>
