<template>
  <div>
    <Header :personal="true" />
    <Sidebar2 :menu="menu" title="Проекты" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" subheading="Личный кабинет">
          <template v-slot:actions>
            <nuxt-link class="btn-shadow mr-2 btn btn-primary" to="/lk/project">
              <font-awesome-icon icon="arrow-left" />
              К списку проектов
            </nuxt-link>
          </template>
        </page-title>
        <b-row>
          <b-col v-for="access in accessList" :key="access.id" md="6" class="mb-3">
            <b-card>
              <b-card-title>
                <span v-if="access.can_edit"><i class="pe-7s-pen"></i> Разрешено редактирование</span>
                <span v-else><i class="pe-7s-look"></i> Только для чтения</span>
              </b-card-title>
              <b-card-body>
                <div>
                  Проект: <strong>{{ project.name }}</strong>
                </div>
                <div>
                  Кому:
                  <strong>
                    {{ access.email }}
                    <span v-if="access.name">({{ access.name }})</span>
                  </strong>
                </div>
              </b-card-body>
              <b-card-footer>
                <b-button v-if="access.can_edit" variant="success" class="mr-3" @click="disableEdit(access)">Запретить редактирование</b-button>
                <b-button v-else variant="primary" class="mr-3" @click="enableEdit(access)">Разрешить редактирование</b-button>
                <b-button variant="danger" class="mr-3" @click="removeAccess(access)"><i class="pe-7s-close-circle"></i> Закрыть доступ</b-button>
              </b-card-footer>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faArrowLeft } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'

// library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt, faChartArea)

library.add(faArrowLeft)
export default {
  layout: 'page2',
  components: {
    PageTitle,
    Header,
    Sidebar2,
    FontAwesomeIcon,
    // draggable,
  },

  async asyncData({ params, $axios }) {
    const project = await $axios.get(`/user/project/${params.id}`)
    const projects = await $axios.get('/user/project')
    return {
      project: project.data,
      projects: projects.data,
    }
  },
  data() {
    return {
      accessList: [],
    }
  },
  computed: {
    menu() {
      return this.projects.map((x) => ({
        title: x.name,
        click: () => this.$router.push(`/lk/project/${x.id}`),
      }))
    },
    heading() {
      return `Управление доступом к проекту "${this.project.name}"`
    },
  },

  watch: {},

  mounted() {
    this.fetchAccess()
  },

  methods: {
    async fetchAccess() {
      const accessList = await this.$axios.get(`/user/project/${this.project.id}/access`)
      this.accessList = accessList.data
    },
    async disableEdit(access) {
      await this.$axios.put(`/user/project/access/${access.id}`, { can_edit: false, email: access.email })
      await this.fetchAccess()
    },
    async enableEdit(access) {
      await this.$axios.put(`/user/project/access/${access.id}`, { can_edit: true, email: access.email })
      await this.fetchAccess()
    },
    async removeAccess(access) {
      await this.$axios.delete(`/user/project/access/${access.id}`)
      await this.fetchAccess()
    },
  },
}
</script>
