<template>
  <div>
    <Header :personal="true" />
    <Sidebar2 :menu="menu" title="Проекты" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" subheading="Личный кабинет" />
        <hr />
        <b-row>
          <b-col md="12" class="mt-3 text-center">
            <b-button variant="danger" size="lg" class="btn-icon btn-shadow pb-3 pt-3" @click="$router.push(`/lk/project/${project.id}/print`)">
              <i class="btn-icon-wrapper lnr-printer"></i>
              Выгрузка таблиц и данных по проекту
            </b-button>
          </b-col>
        </b-row>
        <b-row v-if="false" class="mt-1">
          <b-col md="12" class="text-center">
            <b-button variant="success" size="lg" class="font-size-lg" @click="corrModal">Автоматический анализ данных</b-button>
          </b-col>
        </b-row>
        <hr />
        <b-row>
          <b-col md="12" class="mt-3">
            <div class="text-left mb-3">
              <div style="margin-left: auto; margin-right: auto ">
                <h5 class="menu-header-title mb-3">
                  <span style="font-size:larger;text-transform: uppercase;font-weight: bold;color: #2c7e2c">Результаты (загрузка файлов)</span>
                </h5>
              </div>
            </div>
          </b-col>
          <b-col cols="12" class="mt-3">
            <upload-files-project :project-id="project.id" />
          </b-col>
        </b-row>
        <b-row v-for="(scope, i) in indicator_scopes" :key="scope.id" class="mt-3">
          <b-col md="12" class="mt-3">
            <div class="text-left mb-3">
              <div style="margin-left: auto; margin-right: auto ">
                <h5 class="menu-header-title mb-3" :style="{ color: colors[i % 2] }">
                  <span style="font-size:larger;text-transform: uppercase;font-weight: bold">{{ scope.name }}</span>
                  <b-button variant="info" size="md" class="ml-3 btn-icon btn-shadow" @click="showModal(scope)">
                    <i class="btn-icon-wrapper lnr-plus-circle"></i>
                    Добавить показатель
                  </b-button>
                </h5>
              </div>
            </div>
          </b-col>
          <b-col md="12">
            <b-row>
              <b-row>
                <b-col v-for="(el, idx) in indicators.filter((el) => el.scope.id === scope.id)" :key="el.num" md="6">
                  <div class="card-shadow-primary card-border mb-3 profile-responsive card">
                    <div class="dropdown-menu-header">
                      <div class="dropdown-menu-header-inner bg-primary">
                        <div class="menu-header-content btn-pane-right">
                          <div>
                            <h6 class="menu-header-title" :data-num-idx="idx">{{ el.indicator.tree_name }}</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="p-0 list-group-item">
                        <div class="grid-menu grid-menu-3col overflow-hidden">
                          <div class="no-gutters row">
                            <div class="col-sm-4">
                              <button class="btn-icon-vertical btn-square br-br btn btn-outline-link">
                                <i v-if="el.options.type == 'Таблица'" class="lnr-tablet btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                <i v-else-if="el.options.type == 'График (динамика)'" class="icofont-chart-line btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                <i v-else-if="el.options.type == 'Картограмма'" class="lnr-map btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                <i v-else-if="el.options.type == 'Гистограмма'" class="icofont-chart-bar-graph btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                {{ el.options.type }}
                              </button>
                            </div>
                            <div class="col-sm-4">
                              <button class="btn-icon-vertical btn-square br-bl btn btn-outline-link">
                                <i class="lnr-clock btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                {{ el.options.tm ? el.options.tm : 'Все периоды' }}
                              </button>
                            </div>
                            <div class="col-sm-4">
                              <button class="btn-icon-vertical btn-square br-br btn btn-outline-link">
                                <i class="lnr-map-marker btn-icon-wrapper btn-icon-lg mb-3"> </i>
                                {{ el.options.region ? el.options.region : 'Все регионы' }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="widget-content pt-1 pl-0 pb-1 pr-0 text-center">
                          <b-button class="text-center mr-2" variant="outline-primary" @click="previewModal(el)">Посмотреть</b-button>
                          <b-button class="text-center mr-2" variant="outline-danger" @click="deleteIndicator(el)">Удалить</b-button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </b-col>
              </b-row>
            </b-row>
          </b-col>
        </b-row>
      </div>
    </div>
    <b-modal id="select_indicator-modal" title="Выбор показателя" size="xl" scrollable @ok="okModal">
      <!--      <b-row class="mt-3">-->
      <!--        <b-col md="12" class="text-center">-->
      <!--          <b-button variant="outline-success" class="text-center" @click="fetchRoot">Вернуться к выбору</b-button>-->
      <!--        </b-col>-->
      <!--      </b-row>-->
      <!--      <b-row v-for="(ind, idx) in modal_selected_indicators" :key="ind.id" class="mt-2">-->
      <!--        <b-col md="6">{{ idx + 1 }}. {{ ind.name }}</b-col>-->
      <!--        <b-col md="6" class="mt-3 text-right">-->
      <!--          <b-button variant="outline-success" class="text-left" @click="returnToIndicator(ind)">&larr; Вернуться к выбору</b-button>-->
      <!--        </b-col>-->
      <!--      </b-row>-->
      <b-row>
        <b-col :md="modalIndicatorCols">
          <indicator-select :root-indicators="rootIndicators" @select="mySelectIndicator" />
        </b-col>
        <b-col v-if="modal_indicator" :md="modalIndicatorCols" class="border-left">
          <h3 class="mb-3">{{ modal_indicator.indicator.name }}</h3>
          <b-tabs v-model="modal_type" class="mb-3" fill pills>
            <b-tab title="Таблица" class="p-3">
              <h5>Представлены все регионы и все временные метки</h5>
            </b-tab>
            <b-tab title="Картограмма" class="p-3">
              <h5>Укажите период</h5>
              <b-form-radio-group v-model="modal_tm" name="modal_tm" size="lg" :options="modal_indicator.columns_hash" />
            </b-tab>
            <b-tab title="График (динамика)" class="p-3">
              <h5>Укажите регион</h5>
              <b-select v-model="modal_region" name="modal_region" size="lg" :options="modal_indicator.data.index" />
            </b-tab>
            <b-tab title="Гистограмма" class="p-3">
              <h5>Укажите период</h5>
              <b-form-radio-group v-model="modal_tm" name="modal_tm" size="lg" :options="modal_indicator.columns_hash" />
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
      <div v-if="modal_indicator"></div>
      <!--      <div v-else>-->
      <!--        <b-row v-for="(ind, idx) in modal_indicators" :key="ind.id" md="6" class="mt-3">-->
      <!--          <b-col>-->
      <!--            <b-button variant="outline-primary" class="text-left" @click="selectIndicator(ind)"> {{ idx + 1 }}. {{ ind.name }}</b-button>-->
      <!--          </b-col>-->
      <!--        </b-row>-->
      <!--      </div>-->
      <template v-slot:modal-footer="{ ok, cancel }">
        <!-- Emulate built in modal footer ok and cancel button actions -->
        <b-button v-if="modal_indicator" size="sm" variant="success" @click="ok()">
          Выбрать
        </b-button>
        <b-button size="sm" variant="outline-secondary" @click="cancel()">
          Отменить
        </b-button>
      </template>
    </b-modal>
    <b-modal v-if="preview_el" id="preview-indicator-modal" :title="preview_title" size="xl" scrollable>
      <data-widget v-if="preview_el" :el="preview_el" />
    </b-modal>
    <b-modal id="corr-paired" title="Автоматический анализ данных" size="xl" scrollable>
      <b-row>
        <b-col>
          <b-button variant="outline-primary">Парные коэффициенты корреляции</b-button>
          <b-button variant="outline-primary">Пропущенные значения</b-button>
          <b-button variant="outline-primary">Оценка выбросов</b-button>
        </b-col>
      </b-row>
      <!--      <b-row>-->
      <!--        <b-col></b-col>-->
      <!--        <b-col md="4"><h5>Выберите год</h5></b-col>-->
      <!--      </b-row>-->
      <!--      <b-row v-for="r in resultIndicators" :key="r.id">-->
      <!--        <b-col md="8">-->
      <!--          {{ r.indicator.smart_name }}-->
      <!--        </b-col>-->
      <!--        <b-col md="4">-->
      <!--          <b-select v-model="r.selected_tm" :options="r.indicator.extra_json['df_columns_hash']" />-->
      <!--        </b-col>-->
      <!--      </b-row>-->
      <!--      <b-row v-for="r in factorIndicators" :key="r.id">-->
      <!--        <b-col md="8">-->
      <!--          {{ r.indicator.smart_name }}-->
      <!--        </b-col>-->
      <!--        <b-col md="4">-->
      <!--          <b-select v-model="r.selected_tm" :options="r.indicator.extra_json['df_columns_hash']" />-->
      <!--        </b-col>-->
      <!--      </b-row>-->
    </b-modal>
  </div>
</template>

<script>
// import { library } from '@fortawesome/fontawesome-svg-core'
// import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh, faChartArea } from '@fortawesome/free-solid-svg-icons'

// import draggable from 'vuedraggable'
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
// import StackedChart from '~/components/Chart/StackedChart'
import DataWidget from '~/components/Widgets/DataWidget'
import UploadFilesProject from '~/components/Upload/UploadFilesProject'
import IndicatorSelect from '~/components/Indicator/IndicatorSelect'

// library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt, faChartArea)

export default {
  layout: 'page2',
  components: {
    IndicatorSelect,
    UploadFilesProject,
    PageTitle,
    Header,
    Sidebar2,
    // draggable,
    DataWidget,
  },

  async asyncData({ params, $axios }) {
    const project = await $axios.get(`/user/project/${params.id}`)
    const projects = await $axios.get('/user/project')
    return {
      project: project.data,
      projects: projects.data,
    }
  },
  data: () => ({
    rootIndicators: ['natproj2', 'rusreg2', 'gksmon', 'belarus.years', 'belarus.proposals'],
    projects: [],
    project: { name: 'undefined' },
    modal_indicators: [],
    modal_selected_indicators: [],
    modal_indicator: null,
    modal_region: null,
    modal_tm: null,
    modal_type: null,
    modal_el: null,
    modal_scope: null,
    indicators: [],
    preview_el: null,
    indicator_scopes: null,
    colors: ['#ea1600', '#8b2be2'],
    corrData: {
      resultIndicator: null,
      factorIndicators: [],
    },
  }),

  computed: {
    menu() {
      return this.projects.map((x) => ({
        title: x.name,
        click: () => this.$router.push(`/lk/project/${x.id}`),
      }))
    },
    heading() {
      return `Проект "${this.project.name}"`
    },
    preview_title() {
      let title = this.preview_el.indicator.tree_name
      if (this.preview_el.options.tm) title += ', ' + this.preview_el.options.tm
      if (this.preview_el.options.region) title += ', ' + this.preview_el.options.region
      return title
    },
    resultIndicators() {
      return this.indicators.filter((x) => x.scope.id == 1)
    },
    factorIndicators() {
      return this.indicators.filter((x) => x.scope.id == 2)
    },
    modalIndicatorCols() {
      return this.modal_indicator ? 6 : 12
    },
  },

  watch: {
    modal_indicator(newVal) {
      if (newVal == null) {
        this.modal_region = null
        this.modal_tm = null
      }
    },
  },

  mounted() {
    this.fetchIndicatorScopes()
    this.fetchIndicators()
    window.xxx = this
  },

  methods: {
    /* async */ fetchRoot() {
      this.modal_indicator = null
      this.modal_selected_indicators = []
      // this.modal_indicators = []
      // const rootIndicators = ['natproj2', 'rusreg2', 'gksmon', 'belarus.years', 'belarus.proposals']
      // for (const x in rootIndicators) {
      //   const { data } = await this.$axios.get(`/data/indicator/${rootIndicators[x]}`)
      //   this.modal_indicators.push(data)
      // }
    },
    async returnToIndicator(ind) {
      this.modal_indicator = null
      const modal_selected_indicators = []
      for (const x in this.modal_selected_indicators) {
        if (this.modal_selected_indicators[x] === ind) {
          this.modal_selected_indicators = modal_selected_indicators
          break
        }
        modal_selected_indicators.push(this.modal_selected_indicators[x])
      }
      await this.selectIndicator(ind)
    },
    async selectIndicator(ind) {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${ind.id}/data`)
        this.modal_indicator = data
      } catch (e) {
        this.modal_selected_indicators.push(ind)
        const { data } = await this.$axios.get(`/data/indicator/parent/${ind.id}`)
        this.modal_indicators = data
      }
    },
    async fetchIndicatorScopes() {
      const { data } = await this.$axios.get(`/user/project/indicator/scope/list`)
      this.indicator_scopes = data
    },
    async fetchIndicators() {
      const { data } = await this.$axios.get(`/user/project/${this.project.id}/indicator`)
      this.indicators = data
    },
    async showModal(scope) {
      this.modal_el = null
      this.modal_scope = scope
      await this.fetchRoot()
      this.$bvModal.show('select_indicator-modal')
    },

    previewModal(el) {
      this.preview_el = el
      this.$bvModal.show('preview-indicator-modal')
    },
    async okModal() {
      const data = {
        project: this.project.id,
        indicator: this.modal_indicator.indicator.id,
        options: {
          region: this.modal_region,
          type: ['Таблица', 'Картограмма', 'График (динамика)', 'Гистограмма'][this.modal_type],
          tm: this.modal_tm,
        },
        scope: this.modal_scope.id,
      }
      if (this.modal_el) {
        await this.$axios.put(`/user/project/${this.project.id}/indicator/${this.modal_el.id}`, data)
      } else {
        await this.$axios.post(`/user/project/${this.project.id}/indicator/create`, data)
      }
      await this.fetchIndicators()
    },
    async deleteIndicator(el) {
      await this.$axios.delete(`/user/project/${this.project.id}/indicator/${el.id}`)
      await this.fetchIndicators()
    },
    async draggableEnd(params) {
      for (const x in [params.oldIndex, params.newIndex]) {
        const el = this.indicators[x]
        const data = {
          project: el.project.id,
          indicator: el.indicator.id,
          num: x,
        }
        await this.$axios.put(`/user/project/${this.project.id}/indicator/${el.id}`, data)
      }
    },
    corrModal(el) {
      this.$bvModal.show('corr-paired')
    },
    mySelectIndicator(ind) {
      // window.console.log(ind)
      // this.modal_indicator = ind
      this.selectIndicator(ind)
    },
  },
}
</script>
