<template>
  <b-container class="reu">
    <page-title :heading="heading" subheading="Полный набор данных"></page-title>
    <b-row>
      <b-col v-for="(el, idx) in indicators" :key="el.num" md="12">
        <div class="card-shadow-primary card-border mb-3 profile-responsive card">
          <div class="dropdown-menu-header">
            <div class="dropdown-menu-header-inner bg-primary">
              <div class="menu-header-content btn-pane-right">
                <div>
                  <h6 class="menu-header-title">{{ idx + 1 }}. {{ el.indicator.tree_name }}</h6>
                </div>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="p-0 list-group-item">
              <div class="grid-menu grid-menu-3col overflow-hidden">
                <div class="no-gutters row">
                  <b-col md="4">
                    <button class="btn-icon-vertical btn-square btn-transition br-br btn btn-outline-link">
                      <i v-if="el.options.type == 'Таблица'" class="lnr-tablet btn-icon-wrapper mb-3"> </i>
                      <i v-else-if="el.options.type == 'График'" class="lnr-chart-bars btn-icon-wrapper mb-3"> </i>
                      <i v-else-if="el.options.type == 'Картограмма'" class="lnr-map btn-icon-wrapper mb-3"> </i>
                      <i v-else-if="el.options.type == 'Гистограмма'" class="fa fas-chart btn-icon-wrapper mb-3"> </i>
                      {{ el.options.type }}
                    </button>
                  </b-col>
                  <b-col md="4">
                    <button class="btn-icon-vertical btn-square br-bl btn btn-outline-link">
                      <i class="lnr-clock btn-icon-wrapper mb-3"> </i>
                      {{ el.options.tm ? el.options.tm : 'Все периоды' }}
                    </button>
                  </b-col>
                  <b-col md="4">
                    <button class="btn-icon-vertical btn-square btn-transition br-br btn btn-outline-link">
                      <i class="lnr-map-marker btn-icon-wrapper mb-3"> </i>
                      {{ el.options.region ? el.options.region : 'Все регионы' }}
                    </button>
                  </b-col>
                </div>
              </div>
            </li>
          </ul>
          <!--          <div v-if="el.options.type == 'Таблица'" class="border-top p-3">-->
          <!--            <data-table :indicatorId="el.indicator.id" />-->
          <!--          </div>-->
          <!--          <div v-if="el.options.type == 'График'" class="border-top p-3">-->
          <!--            <data-chart :indicatorId="el.indicator.id" :region="el.options.region" />-->
          <!--          </div>-->
          <!--          <div v-if="el.options.type == 'Картограмма'" class="border-top p-3">-->
          <!--            <data-map :indicatorId="el.indicator.id" :year="el.options.tm" />-->
          <!--          </div>-->
          <data-widget :el="el" />
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh, faChartArea } from '@fortawesome/free-solid-svg-icons'

// import DataTable from '~/components/Widgets/DataTable'
// import DataMap from '~/components/Widgets/DataMap'
// import DataChart from '~/components/Widgets/DataChart'
import DataWidget from '~/components/Widgets/DataWidget'

import PageTitle from '~/components/Components/PageTitle.vue'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt, faChartArea)

export default {
  layout: 'page',
  components: {
    PageTitle,
    // DataTable,
    // DataMap,
    // DataChart,
    DataWidget,
  },

  async asyncData({ params, $axios }) {
    const project = await $axios.get(`/user/project/${params.id}`)
    const indicators = await $axios.get(`/user/project/${params.id}/indicator`)
    return {
      project: project.data,
      indicators: indicators.data,
    }
  },
  data: () => ({
    indicators: [],
  }),

  computed: {
    heading() {
      return `Проект "${this.project.name}"`
    },
  },

  watch: {},

  methods: {},
}
</script>
