<template>
  <div id="app">
    <div class="app-container app-theme-blue">
      <!--      <b-container class="reu">-->
      <!--        <Header />-->
      <nuxt />
      <!--        <Footer />-->
      <!--      </b-container>-->
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faCog } from '@fortawesome/free-solid-svg-icons'
// import Footer from '~/components/Components/Footer'
// import Header from '~/components/Components/Header'
// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faCog)
export default {
  name: 'App',
  components: {
    // Header,
    // Footer,
    // VuePerfectScrollbar,
    // 'font-awesome-icon': FontAwesomeIcon,
  },
  methods: {},
}
</script>

<style lang="scss">
.app-theme-blue {
  background: rgb(0, 145, 255);
  background: linear-gradient(225deg, rgba(0, 145, 255, 1) 10%, rgba(238, 238, 238, 1) 50%);
}
</style>
