<template>
  <div id="app">
    <div class="app-container app-mig">
      <nuxt />
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faCog } from '@fortawesome/free-solid-svg-icons'
// import Footer from '~/components/Components/Footer'
// import Header from '~/components/Components/Header'
// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faCog)
export default {
  name: 'App',
  components: {
    // Header,
    // Footer,
    // VuePerfectScrollbar,
    // 'font-awesome-icon': FontAwesomeIcon,
  },
  methods: {},
}
</script>

<style lang="scss">
//.app-theme-green-gray {
//  background: rgb(96, 159, 231);
//  background: linear-gradient(180deg, rgb(93, 157, 229) 20%, rgb(232, 231, 231) 80%);
//}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.app-mig {
  font-family: 'PT Sans', sans-serif !important;
  background: #f1eeec;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'PT Sans', sans-serif !important;
    font-weight: bold;
    color: #0b2d50;
  }

  .my-card {
    padding: 10px;
    border-radius: 5px;
  }
  .btn-outline-info {
    color: #5075a5;
    font-family: 'PT Sans', sans-serif !important;
  }

  .btn-info,
  .bg-info {
    background: #5075a5;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif !important;
    h4.card-title {
      color: #ffffff;
    }
  }

  .page-link {
    color: #0b2d50;
    font-family: 'PT Sans', sans-serif !important;
  }

  .active .page-link {
    background: #0b2d50;
    font-family: 'PT Sans', sans-serif !important;
  }

  .btn-outline-primary {
    color: #0b2d50;
    font-family: 'PT Sans', sans-serif !important;
  }

  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle,
  .btn-primary,
  .bg-primary {
    background: #0b2d50;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif !important;
    h4.card-title {
      color: #ffffff;
    }
  }

  .btn-outline-danger {
    color: #960c1c;
    font-family: 'PT Sans', sans-serif !important;
  }

  .btn-danger,
  .bg-danger {
    background: #960c1c;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif !important;
    h4.card-title {
      color: #ffffff;
    }
  }
}
</style>
