<template>
  <div id="app">
    <div class="app-container app-theme-green">
      <!--      <b-container class="reu">-->
      <!--        <Header />-->
      <nuxt />
      <!--        <Footer />-->
      <!--      </b-container>-->
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faCog } from '@fortawesome/free-solid-svg-icons'
// import Footer from '~/components/Components/Footer'
// import Header from '~/components/Components/Header'
// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faCog)
export default {
  name: 'App',
  components: {
    // Header,
    // Footer,
    // VuePerfectScrollbar,
    // 'font-awesome-icon': FontAwesomeIcon,
  },
  methods: {},
}
</script>

<style lang="scss">
.app-sidebar-content .btn-outline-primary {
  background: rgba(255, 255, 255, 0.1);
  color: #1b326e;
  &:hover {
    background: rgba(255, 255, 255, 0.75);
    color: #12234f;
  }
}
</style>
