<template>
  <div id="app">
    <div class="app-container app-theme-green">
      <!--      <b-container class="reu">-->
      <!--        <Header />-->
      <nuxt />
      <!--        <Footer />-->
      <!--      </b-container>-->
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faCog } from '@fortawesome/free-solid-svg-icons'
// import Footer from '~/components/Components/Footer'
// import Header from '~/components/Components/Header'
// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faCog)
export default {
  name: 'App',
  components: {
    // Header,
    // Footer,
    // VuePerfectScrollbar,
    // 'font-awesome-icon': FontAwesomeIcon,
  },
  methods: {},
}
</script>

<style lang="scss">
.app-theme-green {
  background: #fff;
  //background: rgb(0, 124, 48);
  //background: linear-gradient(90deg, rgba(0, 124, 48, 1) 10%, rgba(43, 169, 90, 0.5) 50%);
  //background: linear-gradient(225deg, rgba(0, 124, 48, 1) 10%, rgba(43, 169, 90, 0.75) 50%);
  background: linear-gradient(180deg, rgba(0, 124, 48, 1) 10%, rgba(233, 255, 227, 1) 50%);
  //background: linear-gradient(225deg, rgba(255, 255, 255, 0.1) 100%, rgba(255, 255, 255, 0.5) 50%);
}
</style>
