<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" title="Индикаторы национальной цели" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title
          :heading="proposal.title"
          subheading="Национальная цель «Сохранение населения, здоровье и благополучие людей». Указ о национальных целях развития до 2030 года"
        />
        <b-row v-if="data">
          <b-col md="12">
            <b-card>
              <b-card-title>Выберите регион</b-card-title>
              <b-card-body>
                <b-select v-model="region">
                  <b-select-option v-for="region in data.index" :key="region" :value="region">{{ region }}</b-select-option>
                </b-select>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col v-if="region" md="12">
            <b-card>
              <b-card-title>{{ indicator.smart_name }}</b-card-title>
              <b-card-subtitle>{{ region }}</b-card-subtitle>
              <b-card-body>
                <proposal-chart v-if="region" :indicator-id="proposal.ind" :region="region" :proposal-value="proposal.proposal_value" />
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '~/components/Components/Header'
import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
import ProposalChart from '~/components/Proposals/ProposalChart'
import proposals from '~/components/Proposals/ProposalData'

export default {
  auth: false,
  layout: 'page2',
  components: {
    ProposalChart,
    PageTitle,
    Header,
    Sidebar2,
    // StackedChart,
  },
  asyncData({ $axios, params }) {
    let proposal = null
    proposals.forEach((x) => {
      x.children.forEach((y) => {
        if (y.ind == params.id) proposal = y
      })
    })
    return {
      indicatorId: params.id,
      proposals,
      proposal,
    }
  },

  data() {
    return {
      indicator: null,
      data: null,
      indicatorId: null,
      proposal: null,
      region: null,
    }
  },

  computed: {
    menu() {
      try {
        return this.proposals[0].children.map((x, n) => {
          if (x.ind) x.click = () => (this.proposal = x)
          return x
        })
      } catch {
        return []
      }
    },
  },

  watch: {
    proposal() {
      this.fetchData()
    },
  },
  mounted() {
    this.fetchData()
  },

  methods: {
    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.proposal.ind}/data`)
        this.data = data.data
        this.indicator = data.indicator
      } catch {
        this.data = null
        this.indicator = null
      }
    },
  },
}
</script>
