<template>
  <div>
    <Header />
    <!--    <Sidebar2 :menu="menu" title="Национальные цели" />-->
    <sidebar-index />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title heading="Указ о национальных целях развития до 2030 года"></page-title>
        <div v-if="proposals">
          <b-row>
            <b-col v-for="(proposal, idx) in proposals" :key="idx" md="12" class="mb-3">
              <b-card>
                <b-card-header>{{ idx + 1 }}. {{ proposal.title }}</b-card-header>
                <b-card-body>
                  <b-row>
                    <b-col v-for="(sub, idx2) in proposal.children" :key="idx2" md="6" class="mb-1">
                      <b-button
                        block
                        :variant="sub.title.toLowerCase().includes('дорожной') ? 'primary' : 'outline-primary'"
                        class="text-left"
                        :to="sub.to ? sub.to : sub.ind ? `/cr/${sub.ind}` : ''"
                        :class="{ disabled: !sub.ind && !sub.to }"
                      >
                        {{ sub.title }}
                      </b-button>
                    </b-col>
                  </b-row>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '~/components/Components/Header'
// import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
import ProposalData from '~/components/Proposals/ProposalData'
import SidebarIndex from '@/components/Section/SidebarIndex'

export default {
  auth: false,
  layout: 'page2',
  components: {
    SidebarIndex,
    PageTitle,
    Header,
    // Sidebar2,
    // StackedChart,
  },
  async asyncData({ $axios }) {},

  data() {
    return {
      proposal: null,
      proposals: ProposalData,
    }
  },

  computed: {
    menu() {
      const m = this.proposals.map((x) => ({
        title: x.title,
        click: () => {
          this.proposal = x
        },
      }))
      return m
    },
  },

  watch: {},
  mounted() {},

  methods: {},
}
</script>
