<template>
  <sidebar2 :menu="menu" sidebar-bg="sidebarbg" :selected_title="selected_title" :title="title" />
</template>

<script>
import Sidebar2 from '@/components/Components/Sidebar2'

export default {
  components: {
    Sidebar2,
    // SidebarMenu,
  },
  props: {
    sidebarbg: {
      type: String,
      default: null,
    },
    selected_title: {
      type: String,
      default: null,
    },
    title: {
      default: 'Информационные блоки',
      type: String,
    },
  },
  data() {
    return {
      menu: [
        {
          title: 'Данные по Российской Федерации',
          // click: () => this.$router.push('/natproj'),
          // variant: 'info',
          click: null,
          variant: null,
        },
        {
          title: 'Национальные проекты',
          click: () => this.$router.push('/natproj'),
          variant: 'info',
        },
        {
          title: 'Стратегия 2030',
          click: () => this.$router.push('/cr'),
          variant: 'danger',
        },
        {
          title: 'Годовые данные',
          click: () => this.$router.push('/rusreg'),
          variant: 'success',
        },
        {
          title: 'Оперативные данные',
          click: () => this.$router.push('/gksmon'),
          variant: 'primary',
        },
        {
          title: 'Образовательные проекты',
          click: () => this.$router.push('/edu'),
          variant: 'alternate',
        },
        {
          title: 'Данные по Республике Беларусь',
          // click: () => this.$router.push('/natproj'),
          // variant: 'info',
          click: null,
          variant: null,
        },
        {
          title: 'Годовые данные',
          click: () => this.$router.push('/belarus'),
          variant: 'success',
        },
        {
          title: 'Цели устойчивого развития',
          click: () => this.$router.push('/belarus'),
          variant: 'primary',
        },
      ],
    }
  },
}
</script>
