<template>
  <b-row class="mb-3">
    <b-col v-for="(project, idx) in projects" :key="project.id" sm="6" xl="6">
      <b-card class="main-card mb-3">
        <b-card-header>ПРОЕКТ {{ idx + 1 }}</b-card-header>
        <b-card-body v-if="project.user && project.user.name"><strong>Студент</strong> {{ project.user.name }} &laquo;{{ project.user.email }}&raquo;</b-card-body>
        <b-card-body><strong>Кафедра</strong> {{ project.kafedra }}</b-card-body>
        <b-card-body><strong>Название</strong> {{ project.name }}</b-card-body>
        <b-card-body><strong>Цель:</strong> {{ project.comment }}</b-card-body>
        <b-card-body><strong>Задачи:</strong> {{ project.comment2 }}</b-card-body>
        <b-card-footer>
          <b-button variant="primary" :to="`/lk/project/${project.id}`" class="mr-2 mb-2">Войти в проект&nbsp;&rarr;</b-button>
          <div v-if="project.can_edit || project.user == $auth.user.id">
            <b-button v-b-tooltip.hover title="Разрешить доступ" class="mb-2 mr-2 btn-icon btn-icon-only" variant="secondary" @click="shareProject(project)">
              <i class="pe-7s-add-user"></i>
            </b-button>
            <nuxt-link v-b-tooltip.hover title="Списки доступа" class="mb-2 btn btn-secondary mr-2 btn-icon btn-icon-only" :to="`/lk/project/${project.id}/access`">
              <i class="pe-7s-users"></i>
            </nuxt-link>
            <b-button v-b-tooltip.hover title="Изменить описание проекта" class="mb-2 mr-2 btn-icon btn-icon-only" variant="outline-info" @click="editProject(project)">
              <i class="pe-7s-pen"></i>
            </b-button>
            <b-button v-b-tooltip.hover title="Удалить проект" class="mb-2 mr-2 btn-icon btn-icon-only" variant="outline-danger" @click="dropProject(project)">
              <i class="pe-7s-trash"></i>
            </b-button>
          </div>
        </b-card-footer>
      </b-card>
    </b-col>
  </b-row>
</template>
<script>
export default {
  name: 'LkProjects',
  props: {
    projects: {
      default: null,
      type: Array,
    },
  },
  methods: {
    editProject(project) {
      this.$emit('editProject', project)
    },
    dropProject(project) {
      this.$emit('dropProject', project)
    },
    shareProject(project) {
      this.$emit('shareProject', project)
    },
  },
}
</script>
