<template>
  <div>
    <b-row>
      <page-title :heading="heading" :subheading="subheading" :icon="icon"></page-title>
    </b-row>
    <b-row v-for="item in root_items" :key="item.id">
      <b-col md="12">
        <h4 class="justify-content-between align-items-center mb-3">
          <div>{{ item.short_name }}</div>
          <!--        <div class="col-12 col-md-3 p-0 mb-3">-->
          <!--          <input type="text" class="form-control" placeholder="Search...">-->
          <!--        </div>-->
        </h4>
      </b-col>
      <b-col v-for="item2 in getChildren(item)" :key="item2.id" md="6">
        <b-card class="main-card mb-3" :title="item2.short_name">
          <b-btn v-if="hasChildren(item2)" v-b-toggle="'item2-' + item2.id" variant="primary">Раскрыть</b-btn>
          <b-btn variant="info">Перейти &rarr;</b-btn>
          <b-collapse v-for="item3 in getChildren(item2)" :id="'item2-' + item2.id" :key="item3.id" class="mt-2">
            <b-btn variant="success" block class="text-left">{{ item3.name }}&nbsp;&rarr;</b-btn>
          </b-collapse>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

export default {
  components: {},
  async asyncData({ params, $axios }) {
    const { data } = await $axios.get('/dashboard/list')
    const items = data
    return { items }
  },

  data: () => ({
    selected_indicator: null,
    chart_labels: [],
    chart_datasets: [],
  }),
  computed: {
    root_items() {
      return this.items.filter((x) => !x.parent)
    },
    heading() {
      return 'Цифровые панели укправления'
    },
    subheading() {
      return 'Подиум панелей'
    },
    icon() {
      return 'pe-7s-albums icon-gradient bg-tempting-azure'
    },
  },
  mounted() {},

  methods: {
    getChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id)
    },
    hasChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id).length > 0
    },
  },
}
</script>
