<template>
  <div>
    <b-row>
      <b-col md="12">
        <h4 class="justify-content-between align-items-center mb-3">
          <div>1. Информация по субъектам Российской Федерации</div>
        </h4>
        <h5 class="justify-content-between align-items-center mb-3">
          <div>1.1. Оперативные данные:</div>
        </h5>
      </b-col>
      <b-col md="4">
        <b-card class="widget-chart widget-chart-hover">
          <div class="widget-subheading">Обновлено показателей c начала текущего года</div>
          <div class="widget-numbers">18</div>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card class="widget-chart widget-chart-hover">
          <div class="widget-subheading">Дата последнего обновления</div>
          <div class="widget-numbers">06.04.2020</div>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card class="main-card mb-3">
          <b-card-title>Источники</b-card-title>
          <b-card-body>
            <ul>
              <li>Официальная статистика</li>
              <li>Административные источники</li>
              <li>Большие данные</li>
              <li>Рейтинги</li>
            </ul>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="6">
        <b-card class="main-card mb-3">
          <b-card-title>Информация для ведения мониторинга социально-экономического положения субъектов Российской Федерации</b-card-title>
          <b-card-body>
            <b-row>
              <b-col v-for="item in gksmon_items" :key="item.id" md="6">
                <b-button block class="mr-2 mb-2 text-left" :variant="selected_indicator == item ? 'info' : 'primary'" @click="selected_indicator = item"
                  >{{ item.short_name }}
                </b-button>
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col v-if="selected_indicator" md="6">
        <b-card class="main-card mb-3">
          <b-card-title>{{ selected_indicator.short_name }}</b-card-title>
          <b-card-body>
            <b-button v-for="item2 in gksmon_subitem" :key="item2.id" block class="mr-2 mb-2 text-left" variant="secondary">{{ item2.short_name }}</b-button>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <h5 class="justify-content-between align-items-center mb-3">
          <div>1.2. Аналитика и прогнозирование на оперативных данных</div>
        </h5>
      </b-col>
      <b-col md="6">
        <b-card class="main-card mb-3">
          <b-card-title>Перечень аналитических и прогнозных материалов на оперативных данных</b-card-title>
          <b-row>
            <b-col v-for="x in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" :key="x" md="6">
              <b-button block class="mr-2 mb-2 text-left" variant="primary">{{ x }}</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <b-col md="6">
        <b-card class="widget-chart widget-chart-hover">
          <div class="widget-subheading">Число аналитических и прогнозных материалов</div>
          <div class="widget-numbers">25</div>
        </b-card>
        <b-card class="main-card mb-3">
          <b-card-title>Методические материалы </b-card-title>
          <b-row>
            <b-col v-for="x in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" :key="x" md="6">
              <b-button block class="mr-2 mb-2 text-left" variant="primary">{{ x }}</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <h4 class="justify-content-between align-items-center mb-3">
          <div>2. Информация по субъектам Российской Федерации</div>
        </h4>
      </b-col>
      <b-col md="4">
        <b-card class="widget-chart widget-chart-hover">
          <div class="widget-subheading">Обновлено показателей c начала текущего года</div>
          <div class="widget-numbers">18</div>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card class="widget-chart widget-chart-hover">
          <div class="widget-subheading">Дата последнего обновления</div>
          <div class="widget-numbers">01.03.2020</div>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card class="main-card mb-3">
          <b-card-title>Источники</b-card-title>
          <b-card-body>
            <ul>
              <li>Официальная статистика</li>
              <li>Административные источники</li>
              <li>Большие данные</li>
              <li>Рейтинги</li>
            </ul>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <h4 class="justify-content-between align-items-center mb-3">
          <div>2.1. ВВП, квартальные данные</div>
        </h4>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <tabs
          :tabs="tabs"
          :current-tab="currentTab"
          :wrapper-class="'body-tabs shadow-tabs'"
          :tab-class="'tab-item'"
          :tab-active-class="'tab-item-active'"
          :line-class="'tab-item-line'"
          @onClick="handleClick"
        />
      </b-col>
      <b-col md="8">
        График
      </b-col>
      <b-col md="4">
        <b-button>Таблица Excel</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <h5 class="justify-content-between align-items-center mb-3">
          <div>3. Национальные проекты: целевые показатели и основные результаты</div>
        </h5>
      </b-col>
      <b-col md="4">
        <b-card class="main-card mb-3">
          <b-card-title>Информационно-аналитические материалы по достижению целевых показателей национальных проектов</b-card-title>
          <b-row>
            <b-col
              v-for="x in [
                'Здравоохранение',
                'Демография',
                'Образование',
                'Наука',
                'Культура',
                'Безопасные и качественные автомобильные дороги',
                'Жилье и городская среда',
                'Международная кооперация и экспорт',
                'Малое и среднее предпринимательство и поддержка индивидуальной предпринимательской инициативы',
                'Производительность труда и поддержка занятости',
                'Экология',
                'Цифровая экономика Российской Федерации',
              ]"
              :key="x"
              md="6"
            >
              <b-button block class="mr-2 mb-2 text-left" variant="primary">{{ x }}</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card class="main-card mb-3">
          <b-card-title>Региональная информация по национальным проектам</b-card-title>
          <b-row>
            <b-col v-for="x in [1, 2, 3, 4, 5, 6, 7, 8]" :key="x" md="6">
              <b-button block class="mr-2 mb-2 text-left" variant="primary">{{ x }}</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card class="main-card mb-3">
          <b-card-title>Нормативные и методические материалы</b-card-title>
          <ul>
            <li>Федеральный уровень</li>
            <li>Региональный уровень</li>
          </ul>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
import Tabs from 'vue-tabs-with-active-line'

// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

const TABS = [
  {
    title: 'Объём ВВП в текущих ценах, млн.руб.',
    value: 'tab1',
  },
  {
    title: 'Объём ВВП с сезонной корректировкой, млн. руб.',
    value: 'tab2',
  },
  {
    title: 'Квартал к предыдущему кварталу, %',
    value: 'tab3',
  },
  {
    title: 'Квартал к аналогиченому кварталу предыдущего года, %',
    value: 'tab4',
  },
]

export default {
  components: {
    Tabs,
  },
  async asyncData({ params, $axios }) {
    const { data } = await $axios.get('/data/indicator')
    const indicators = data
    return { indicators }
  },

  data: () => ({
    selected_indicator: null,
    chart_labels: [],
    chart_datasets: [],
    currentTab: 'tab1',
    tabs: TABS,
  }),
  computed: {
    root_items() {
      return this.items.filter((x) => !x.parent)
    },
    heading() {
      return 'Цифровые панели укправления'
    },
    subheading() {
      return 'Подиум панелей'
    },
    icon() {
      return 'pe-7s-albums icon-gradient bg-tempting-azure'
    },
    gksmon_items() {
      return this.indicators.filter((x) => x.parent == 527)
    },
    gksmon_subitem() {
      if (!this.selected_indicator) return []
      return this.indicators.filter((x) => x.parent == this.selected_indicator.id)
    },
  },
  mounted() {},

  methods: {
    getChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id)
    },
    hasChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id).length > 0
    },
    handleClick() {},
  },
}
</script>
