<template>
  <b-container class="reu">
    <b-row class="header">
      <b-col md="6">РЭУ 75 лет победы</b-col>
      <b-col md="6">РЭУ</b-col>
    </b-row>
    <b-row>
      <b-col md="8">
        <div class="mb-3 text-dark card-border card text-white bg-light">
          <div class="card-header">Новости</div>
          <div class="card-body p-0">
            <slick ref="slick" :options="slickOptions6">
              <div class="p-0">
                <b-row>
                  <b-col md="3" class="text-center bg-white"><img src="https://cdn.tass.ru/data/files/ru/zdrav.svg" width="150px"/></b-col>
                  <b-col md="9" class="bg-orange">
                    <h3>Национальные проекты</h3>
                    <p>
                      Загружены показатели по национальному проекту "Здравоохранение".
                    </p>
                  </b-col>
                </b-row>
              </div>
              <div class="p-2">
                <div class="slide-img-bg" />
                <div class="slider-content">
                  <h3>Данные оперативного мониторинга</h3>
                  <p>
                    Апробирована система автоматизированной загрузки данных мониторинга социально-экономического положения субъектов Российской Федерации
                  </p>
                </div>
              </div>
            </slick>
          </div>
        </div>
        <div class="mb-3 text-dark card-border card text-white bg-light">
          <div class="card-header">Национальные проекты</div>
          <div class="card-body p-2 bg-white">
            <b-row>
              <b-col
                v-for="(x, i) in [
                  ['Здравоохранение', 'zdrav.svg'],
                  ['Демография', 'demography.svg'],
                  ['Образование', 'digital.svg'],
                  ['Наука', 'science.svg'],
                  ['Культура', 'kultura.svg'],
                  ['Жилье и городская среда', 'urban.svg'],
                  ['Безопасные и качественные автомобильные дороги', 'bkad.svg'],
                  ['Малое и среднее предпринимательство и поддержка индивидуальной предпринимательской инициативы', 'predprinimatelstvo.svg'],
                  ['Производительность труда и поддержка занятости', 'proizvod.svg'],
                  ['Цифровая экономика Российской Федерации', 'digital.svg'],
                  ['Международная кооперация и экспорт', 'cooperation.svg'],
                  ['Экология', 'ecology.svg'],
                ]"
                :key="i"
                md="6"
              >
                <b-button block class="mr-2 mb-2 text-left btn-icon btn-transition" variant="outline-primary">
                  <div class="btn-icon-wrapper" style="display: inline-block">
                    <img :src="'/img/natpro/' + x[1]" width="32px" />
                  </div>
                  <div style="display: inline-block">
                    <span>{{ x[0] }}</span>
                  </div>
                </b-button>
              </b-col>
            </b-row>
          </div>
        </div>
      </b-col>
      <b-col md="4">
        <b-card class="mb-3 card-border nav-justified text-white bg-primary" no-body>
          <b-card-body class="p-0">
            <b-tabs pills card class="text-white">
              <b-tab v-for="(chart, idx) in charts" :key="idx" :title="chart.title" active no-body>
                <AreaChart :series="chart.series" :categories="chart.categories"></AreaChart>
              </b-tab>
            </b-tabs>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="6">
        <b-card class="mb-3 text-dark card-border text-white bg-light">
          <b-card-title>Информация для ведения мониторинга социально-экономического положения субъектов Российской Федерации</b-card-title>
          <b-card-body>
            <b-row>
              <b-col v-for="item in gksmon_items" :key="item.id" md="6">
                <b-button block class="mr-2 mb-2 text-left" :variant="selected_indicator == item ? 'info' : 'primary'" @click="selected_indicator = item"
                  >{{ item.short_name }}
                </b-button>
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col v-if="selected_indicator" md="6">
        <b-card class="mb-3 text-dark card-border card text-white bg-light">
          <b-card-title>{{ selected_indicator.short_name }}</b-card-title>
          <b-card-body>
            <a
              v-for="item2 in gksmon_subitem"
              :key="item2.id"
              :href="'/indicator/' + item2.id + '/data'"
              class="mr-2 mb-2 btn btn-block btn-secondary text-left"
              variant="secondary"
              >{{ item2.short_name }}</a
            >
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <h5 class="justify-content-between align-items-center mb-3">
          <div>1.2. Аналитика и прогнозирование на оперативных данных</div>
        </h5>
      </b-col>
      <b-col md="6">
        <b-card class="main-card mb-3">
          <b-card-title>Перечень аналитических и прогнозных материалов на оперативных данных</b-card-title>
          <b-row>
            <b-col v-for="x in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" :key="x" md="6">
              <b-button block class="mr-2 mb-2 text-left" variant="primary">{{ x }}</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <b-col md="6">
        <b-card class="widget-chart widget-chart-hover">
          <div class="widget-subheading">Число аналитических и прогнозных материалов</div>
          <div class="widget-numbers">25</div>
        </b-card>
        <b-card class="main-card mb-3">
          <b-card-title>Методические материалы </b-card-title>
          <b-row>
            <b-col v-for="x in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" :key="x" md="6">
              <b-button block class="mr-2 mb-2 text-left" variant="primary">{{ x }}</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <h4 class="justify-content-between align-items-center mb-3">
          <div>2. Информация по субъектам Российской Федерации</div>
        </h4>
      </b-col>
      <b-col md="4">
        <b-card class="widget-chart widget-chart-hover">
          <div class="widget-subheading">Обновлено показателей c начала текущего года</div>
          <div class="widget-numbers">18</div>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card class="widget-chart widget-chart-hover">
          <div class="widget-subheading">Дата последнего обновления</div>
          <div class="widget-numbers">01.03.2020</div>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card class="main-card mb-3">
          <b-card-title>Источники</b-card-title>
          <b-card-body>
            <ul>
              <li>Официальная статистика</li>
              <li>Административные источники</li>
              <li>Большие данные</li>
              <li>Рейтинги</li>
            </ul>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <h4 class="justify-content-between align-items-center mb-3">
          <div>2.1. ВВП, квартальные данные</div>
        </h4>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <tabs
          :tabs="tabs"
          :current-tab="currentTab"
          :wrapper-class="'body-tabs shadow-tabs'"
          :tab-class="'tab-item'"
          :tab-active-class="'tab-item-active'"
          :line-class="'tab-item-line'"
          @onClick="handleClick"
        />
      </b-col>
      <b-col md="8">
        График
      </b-col>
      <b-col md="4">
        <b-button>Таблица Excel</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
import Tabs from 'vue-tabs-with-active-line'
import Slick from 'vue-slick'
import AreaChart from '../components/Chart/HomeChart'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

const TABS = [
  {
    title: 'Объём ВВП в текущих ценах, млн.руб.',
    value: 'tab1',
  },
  {
    title: 'Объём ВВП с сезонной корректировкой, млн. руб.',
    value: 'tab2',
  },
  {
    title: 'Квартал к предыдущему кварталу, %',
    value: 'tab3',
  },
  {
    title: 'Квартал к аналогиченому кварталу предыдущего года, %',
    value: 'tab4',
  },
]

export default {
  layout: 'page',
  components: {
    AreaChart,
    Tabs,
    Slick,
  },
  async asyncData({ params, $axios }) {
    let res
    res = await $axios.get('/data/indicator')
    const indicators = res.data
    const charts = []
    res = await $axios.get('/data/indicator/1255/data')
    charts.push({
      title: 'ВРП',
      series: [{ data: res.data.data.data[0].slice(-10).map((x) => Math.round(x * 100) / 100) }],
      categories: res.data.data.columns.slice(-10).map((x) => x[1] + ', ' + x[0]),
    })
    res = await $axios.get('/data/indicator/1258/data')
    charts.push({
      title: 'ВДС',
      series: [{ data: res.data.data.data[0].slice(-10).map((x) => Math.round(x * 100) / 100) }],
      categories: res.data.data.columns.slice(-10).map((x) => x[1] + ', ' + x[0]),
    })
    return { indicators, charts }
  },

  data: () => ({
    selected_indicator: null,
    chart_labels: [],
    chart_datasets: [],
    currentTab: 'tab1',
    tabs: TABS,
    slickOptions6: {
      className: 'center',
      infinite: true,
      slidesToShow: 1,
      speed: 500,
      adaptiveHeight: false,
      dots: false,
    },
    charts: [],
  }),
  computed: {
    root_items() {
      return this.items.filter((x) => !x.parent)
    },
    heading() {
      return 'Цифровые панели укправления'
    },
    subheading() {
      return 'Подиум панелей'
    },
    icon() {
      return 'pe-7s-albums icon-gradient bg-tempting-azure'
    },
    gksmon_items() {
      return this.indicators.filter((x) => x.parent == 527)
    },
    gksmon_subitem() {
      if (!this.selected_indicator) return []
      return this.indicators.filter((x) => x.parent == this.selected_indicator.id)
    },
  },
  mounted() {},
  methods: {
    getChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id)
    },
    hasChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id).length > 0
    },
    handleClick() {},
  },
}
</script>

<style>
.apexcharts-canvas.apexcharts-theme-dark {
  background: none;
}
.card-header > .nav .nav-link {
  color: #ddd;
}
</style>
