<template>
  <b-container fluid class="reu">
    <b-row class="header mb-3">
      <b-col md="12" style="display:flex;height:144px;align-items:center">
        <!--        <img src="/img/home/75WOW.svg" height="144" style="flex: 0 0 auto" />-->
        <img src="/img/home/reu_logo.png" height="144" style="flex: 0 0 auto" />
        <h3 style="flex: 1 1 auto;text-align: center; color:#024ea1;font-weight: bold">
          Ситуационный центр<br />социально-экономического развития<br />субъектов Российской Федерации
        </h3>
      </b-col>
    </b-row>
    <section-gksmon />
    <Footer class="mt-3" />
  </b-container>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
// import Tabs from 'vue-tabs-with-active-line'
import Footer from '~/components/Components/Footer'
import SectionGksmon from '~/components/Section/Index/SectionIndexGksmon'
// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

export default {
  auth: false,
  layout: 'page',
  components: {
    Footer,
    SectionGksmon,
  },
  data() {
    return {}
  },
  computed: {
    root_items() {
      return this.items.filter((x) => !x.parent)
    },
    heading() {
      return 'Цифровые панели укправления'
    },
    subheading() {
      return 'Подиум панелей'
    },
    icon() {
      return 'pe-7s-albums icon-gradient bg-tempting-azure'
    },
  },
  mounted() {},
  methods: {},
}
</script>

<style></style>
