<template>
  <b-container fluid class="reu">
    <b-row class="header m-3">
      <b-col md="12" style="display: flex;   align-items: center;">
        <img src="/logo/mtp-header-logo.svg" style="flex: 0 0 auto; height: 52px" />
        <h3 style="flex: 1 1 auto" class="text-center font-weight-bold text-primary">
          Информационно-аналитическая платформа<br />
          Транспортного комплекса города Москвы
        </h3>
        <span style="flex: 0 0 auto; width: 224px"></span>
      </b-col>
    </b-row>
    <b-card class="bg-alternate mb-1">
      <b-card-title class="text-center p-0 m-0">
        <h4 class="m-0">Оперативные показатели Транспортного комплекса города Москвы</h4>
      </b-card-title>
    </b-card>
    <b-row>
      <b-col md="12">
        <section-index-quart-charts />
      </b-col>
    </b-row>
    <b-row class="mb-3">
      <b-col md="6">
        <b-button variant="primary" block class="p-3 font-size-lg" style="text-transform: uppercase;" to="/np/2523/data">
          <div style="display:flex;flex-direction: row">
            <div class="btn-icon-wrapper mr-3">
              <img src="/img/natpro/bkad.svg" width="30px" />
            </div>
            <div>Национальный проект Безопасные и&nbsp;качественные автомобильные дороги</div>
          </div>
        </b-button>
      </b-col>
      <b-col md="6">
        <b-button variant="danger" block class="p-3  font-size-lg" to="/cr" style="font-size: large; text-transform: uppercase;">
          Указ о национальных целях развития России до&nbsp;2030&nbsp;года
        </b-button>
      </b-col>
    </b-row>
    <b-card class="mb-3 bg-alternate" variant="light">
      <b-card-title>
        <h4 class="text-center">Данные официальной статистики по транспорту</h4>
      </b-card-title>
      <b-card-body>
        <b-row>
          <b-col md="4">
            <h4>Годовые данные</h4>
            <b-button variant="primary" block class="font-size-lg p-5" to="/indicator/parent/7108/data">
              Годовые данные по регионам России
            </b-button>
          </b-col>
          <b-col md="8">
            <h4>Оперативные данные</h4>
            <b-button variant="success" block class="font-size-lg p-3 mb-3" to="/indicator/580/data">
              Перевозки грузов автомобильным транспортом организаций всех видов экономической деятельности без субъектов малого предпринимательства
            </b-button>
            <b-button variant="success" block class="font-size-lg p-3 mb-3" to="/indicator/6685/data">
              Грузооборот автомобильного транспорта организаций всех видов экономической деятельности без субъектов малого предпринимательства (по кругу предприятий отчитавшихся в
              отчетном периоде)
            </b-button>
          </b-col>
        </b-row>
      </b-card-body>
    </b-card>
    <b-button variant="primary" block to="/mtp/mtp_msk" style="text-transform: uppercase">
      Вклад траспорта в экономику Москвы
    </b-button>
    <b-button variant="primary" block to="/mtp/mtp_msk_rf" style="text-transform: uppercase">
      Транспортный комплекс Москвы в показателях Российской Федерации
    </b-button>
    <b-button variant="primary" block to="/mtp/mtp_msk_razv" style="text-transform: uppercase" class="mb-3">
      Опережающее развитие транспорта Москвы
    </b-button>
    <b-card class="mb-3 bg-alternate" variant="light">
      <b-card-title>
        <h4 class="text-center">Данные МТП (ежемесячный отчёт)</h4>
      </b-card-title>
      <b-card-body>
        <b-row>
          <b-col md="6">
            <b-button variant="info" block class="font-size-lg p-3" to="/mtp/mtp_m_var">
              VAR-прогноз
            </b-button>
          </b-col>
          <b-col md="6">
            <b-button variant="success" block class="font-size-lg p-3 mb-3" to="/mtp/mtp_m_freq">
              Анализ циклов
            </b-button>
          </b-col>
        </b-row>
      </b-card-body>
    </b-card>
    <b-button v-if="false" variant="alternate" block class="mb-4 mt-4" to="/wb" style="text-transform: uppercase;">
      International comparison
    </b-button>
    <b-button v-if="false" variant="success" block to="/reg" style="text-transform: uppercase">
      Муниципальная статистика
    </b-button>
    <b-button variant="primary" block to="/patent" style="text-transform: uppercase">
      Патенты
    </b-button>
    <Footer class="mt-3" />
    <b-modal id="iframeModal" hide-header hide-footer size="xl">
      <iframe v-if="iframeSource" :src="iframeSource" width="100%" />
    </b-modal>
  </b-container>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
// import Tabs from 'vue-tabs-with-active-line'
import tinycolor from 'tinycolor2'
import Footer from '~/components/Components/Footer'
// import SectionIndexRight from '~/components/Section/Index/SectionIndexRight'
import SectionIndexQuartCharts from '~/components/Section/Index/SectionIndexQuartCharts'
// import SectionIndexGksmon from '~/components/Section/Index/SectionIndexGksmon'
// import SectionIndexRusreg2 from '~/components/Section/Index/SectionIndexRusreg2'
// import SectionIndexNews from '~/components/Section/Index/SectionIndexNews'
// import SectionIndexNalog from '~/components/Section/Index/SectionIndexNalog'
// import SectionGksmon from '~/components/Section/SectionGksmon'
// import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

const TABS = [
  {
    title: 'Объём ВВП в текущих ценах, млн.руб.',
    value: 'tab1',
  },
  {
    title: 'Объём ВВП с сезонной корректировкой, млн. руб.',
    value: 'tab2',
  },
  {
    title: 'Квартал к предыдущему кварталу, %',
    value: 'tab3',
  },
  {
    title: 'Квартал к аналогиченому кварталу предыдущего года, %',
    value: 'tab4',
  },
]

export default {
  auth: false,
  layout: 'page',
  components: {
    SectionIndexQuartCharts,
    // SectionIndexNalog,
    // SectionIndexNews,
    // SectionIndexRusreg2,
    // SectionIndexGksmon,
    // SectionIndexRight,
    Footer,
  },
  data() {
    return {
      selected_indicator: null,
      chart_labels: [],
      chart_datasets: [],
      currentTab: 'tab1',
      tabs: TABS,
      charts: null,
      chart_idx: null,
      indicators: null,
      iframeSource: null,
    }
  },
  computed: {
    migLink() {
      return localStorage.getItem('hasMig') === '1' ? '/mig' : '/'
    },
    root_items() {
      return this.items.filter((x) => !x.parent)
    },
    heading() {
      return 'Цифровые панели управления'
    },
    subheading() {
      return 'Подиум панелей'
    },
    icon() {
      return 'pe-7s-albums icon-gradient bg-tempting-azure'
    },
  },
  mounted() {
    this.$store.commit('core/setRegName', '')
    if (this.$route.query.t === 'ev1605') {
      localStorage.setItem('hasMig', '1')
    } else {
      localStorage.setItem('hasMig', '0')
    }
  },
  methods: {
    getChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id)
    },
    hasChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id).length > 0
    },
    handleClick() {},
    lightenOne(colorsone, index) {
      return tinycolor(colorsone)
        .darken(10)
        .lighten(3 * index)
        .spin(-1 * index)
        .toHexString()
    },
    complement(complementOne, index) {
      return tinycolor(complementOne)
        .complement()
        .toHexString() // "#00ffff"
    },
    complementTwo(complementOne, index) {
      return tinycolor(complementOne)
        .complement()
        .darken(10)
        .lighten(3 * index)
        .spin(3 * index)
        .toHexString()
    },
    analogous(analogousOne) {
      const colors = tinycolor(analogousOne).analogous()
      return colors[5].toHexString()
    },
    analogousTwo(analogousOne, index) {
      const colors = tinycolor(analogousOne).analogous()
      return colors[5]
        .darken(10)
        .lighten(3 * index)
        .spin(3 * index)
        .toHexString()
    },
    showIframe(s) {
      this.iframeSource = s
      this.$bvModal.show('iframeModal')
    },
  },
}
</script>

<style>
.apexcharts-canvas.apexcharts-theme-dark {
  background: none;
}

.card-header > .nav .nav-link {
  color: #ddd;
  font-size: small;
}

a:not([href]):not([tabindex]) {
  color: #fff;
  text-decoration: none;
}

#iframeModal iframe {
  height: calc(100vh - 90px);
  width: 100%;
  boder: none;
}
</style>
