<template>
  <div>
    <Header :personal="false" />
    <sidebar-index />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title>
          <template v-slot:heading>
            <div style="color:red;font-size:larger;font-weight: bold;text-transform: uppercase">Национальыне проекты</div>
            <br />
          </template>
        </page-title>
        <b-row>
          <b-col md="12">
            <b-card class="mb-3 text-dark card-border text-white bg-light">
              <b-card-header>
                <h4>Национальные проекты</h4>
              </b-card-header>
              <b-card-body class="bg-white">
                <b-row>
                  <b-col
                    v-for="(x, i) in [
                      ['Здравоохранение', 'zdrav.svg', 2519],
                      ['Демография', 'demography.svg', 2521],
                      ['Образование', 'digital.svg', 2520],
                      ['Наука', 'science.svg', 2526],
                      ['Культура', 'kultura.svg', 2522],
                      ['Жилье и городская среда', 'urban.svg', 2524],
                      ['Безопасные и качественные автомобильные дороги', 'bkad.svg', 2523],
                      ['Малое и среднее предпринимательство и поддержка индивидуальной предпринимательской инициативы', 'predprinimatelstvo.svg', 2527],
                      ['Производительность труда и поддержка занятости', 'proizvod.svg', 2529],
                      ['Цифровая экономика Российской Федерации', 'digital.svg', 2528],
                      ['Международная кооперация и экспорт', 'cooperation.svg', 2530],
                      ['Экология', 'ecology.svg', 2525],
                      // ['Транспортная часть комплексного плана модернизации и расширения магистральной инфраструктуры на период до 2024 года', '', 2531],
                    ]"
                    :key="i"
                    md="6"
                  >
                    <b-button
                      block
                      class="mr-2 mb-2 text-left btn-icon btn-transition btn-outline-2x"
                      variant="outline-primary"
                      :to="x.length > 2 ? '/np/' + x[2] + '/data' : null"
                    >
                      <div class="btn-icon-wrapper" style="display: inline-block">
                        <img :src="'/img/natpro/' + x[1]" width="32px" />
                      </div>
                      <div style="display: inline-block">
                        <span>{{ x[0] }}</span>
                      </div>
                    </b-button>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <Footer class="mt-3" />
      </div>
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
// import Tabs from 'vue-tabs-with-active-line'
import tinycolor from 'tinycolor2'
import Footer from '~/components/Components/Footer'
import SidebarIndex from '@/components/Section/SidebarIndex'
import Header from '@/components/Components/Header'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

const TABS = [
  {
    title: 'Объём ВВП в текущих ценах, млн.руб.',
    value: 'tab1',
  },
  {
    title: 'Объём ВВП с сезонной корректировкой, млн. руб.',
    value: 'tab2',
  },
  {
    title: 'Квартал к предыдущему кварталу, %',
    value: 'tab3',
  },
  {
    title: 'Квартал к аналогиченому кварталу предыдущего года, %',
    value: 'tab4',
  },
]

export default {
  auth: false,
  layout: 'page_lk',
  components: {
    Header,
    SidebarIndex,
    Footer,
  },
  data() {
    return {
      selected_indicator: null,
      chart_labels: [],
      chart_datasets: [],
      currentTab: 'tab1',
      tabs: TABS,
      charts: null,
      chart_idx: null,
      indicators: null,
    }
  },
  computed: {
    root_items() {
      return this.items.filter((x) => !x.parent)
    },
    heading() {
      return 'Цифровые панели укправления'
    },
    subheading() {
      return 'Подиум панелей'
    },
    icon() {
      return 'pe-7s-albums icon-gradient bg-tempting-azure'
    },
    gksmon_items() {
      return this.indicators.filter((x) => x.parent == 527)
    },
    gksmon_subitem() {
      if (!this.selected_indicator) return []
      return this.indicators.filter((x) => x.parent == this.selected_indicator.id)
    },
  },
  mounted() {
    this.initIndicators()
  },
  methods: {
    getChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id)
    },
    hasChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id).length > 0
    },
    handleClick() {},
    lightenOne(colorsone, index) {
      return tinycolor(colorsone)
        .darken(10)
        .lighten(3 * index)
        .spin(-1 * index)
        .toHexString()
    },
    complement(complementOne, index) {
      return tinycolor(complementOne)
        .complement()
        .toHexString() // "#00ffff"
    },
    complementTwo(complementOne, index) {
      return tinycolor(complementOne)
        .complement()
        .darken(10)
        .lighten(3 * index)
        .spin(3 * index)
        .toHexString()
    },
    analogous(analogousOne) {
      const colors = tinycolor(analogousOne).analogous()
      return colors[5].toHexString()
    },
    analogousTwo(analogousOne, index) {
      const colors = tinycolor(analogousOne).analogous()
      return colors[5]
        .darken(10)
        .lighten(3 * index)
        .spin(3 * index)
        .toHexString()
    },
    async initIndicators() {
      const { data } = await this.$axios.get('/data/indicator')
      this.indicators = data
    },
  },
}
</script>

<style>
.apexcharts-canvas.apexcharts-theme-dark {
  background: none;
}
.card-header > .nav .nav-link {
  color: #ddd;
  font-size: small;
}
a:not([href]):not([tabindex]) {
  color: #fff;
  text-decoration: none;
}
</style>
