<style>
.cert {
  margin: 10px;
  object-fit: fill;
  height: 730px;
  width: 520px;
}
</style>
<template>
  <div class="container">
    <b-row>
      <page-title
        heading="Свидетельства об интеллектуальной собственности"
        subheading="Регистрация программы для ЭВМ"
        :disable-history="false"
        width="100%"
        style="color: white"
        :home-button="true"
      />
    </b-row>
    <b-row>
      <b-col size="6">
        <figure>
          <img class="img-fluid cert" src="/img/patent/Свид.2015610834.jpg" />
        </figure>
      </b-col>
      <b-col size="6">
        <figure>
          <img class="img-fluid cert" src="/img/patent/svid2021-1.jpg" />
        </figure>
      </b-col>
    </b-row>
    <b-row>
      <b-col size="6">
        <figure>
          <img class="img-fluid cert" src="/img/patent/Свид.2014612588.jpg" />
        </figure>
      </b-col>
      <b-col size="6">
        <figure>
          <img class="img-fluid cert" src="/img/patent/Свид.2016617023001.jpg" />
        </figure>
      </b-col>
    </b-row>
    <b-row>
      <b-col size="6">
        <figure>
          <img class="img-fluid cert" src="/img/patent/Свид.2017610820.jpg" />
        </figure>
      </b-col>
      <b-col size="6">
        <img class="img-fluid cert" src="/img/patent/Свид.2017610971.jpg" />
      </b-col>
    </b-row>
    <b-row>
      <b-col size="6">
        <img class="img-fluid cert" src="/img/patent/Свид.2017611178001.jpg" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import PageTitle from '~/components/Components/PageTitle'

export default {
  name: 'Patent',
  components: {
    PageTitle,
  },
  layout: 'green',
}
</script>

<style scoped></style>
