<template>
  <div>
    <Header :personal="false" />
    <sidebar-index />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title>
          <template v-slot:heading>
            <div style="color:red;font-size:larger;font-weight: bold;text-transform: uppercase">Национальыне проекты</div>
            <br />
          </template>
        </page-title>
        <b-row>
          <b-col md="12">
            <b-card class="mb-3 text-dark card-border text-white bg-light">
              <b-card-header>
                <h4>Годовые данные по субъектам Российской Федерации</h4>
              </b-card-header>
              <b-card-body class="p-2 bg-white">
                <section-index-rusreg2 />
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <Footer class="mt-3" />
      </div>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
import tinycolor from 'tinycolor2'
import Footer from '~/components/Components/Footer'
import SectionIndexRusreg2 from '~/components/Section/Index/SectionIndexRusreg2'
import Header from '@/components/Components/Header'
import SidebarIndex from '@/components/Section/SidebarIndex'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

export default {
  auth: false,
  layout: 'page2',
  components: {
    SectionIndexRusreg2,
    Footer,
    Header,
    SidebarIndex,
  },
  data() {
    return {
      selected_indicator: null,
      chart_labels: [],
      chart_datasets: [],
      currentTab: 'tab1',
      charts: null,
      chart_idx: null,
      indicators: null,
    }
  },
  computed: {
    root_items() {
      return this.items.filter((x) => !x.parent)
    },
    heading() {
      return 'Цифровые панели укправления'
    },
    subheading() {
      return 'Подиум панелей'
    },
    icon() {
      return 'pe-7s-albums icon-gradient bg-tempting-azure'
    },
    gksmon_items() {
      return this.indicators.filter((x) => x.parent == 527)
    },
    gksmon_subitem() {
      if (!this.selected_indicator) return []
      return this.indicators.filter((x) => x.parent == this.selected_indicator.id)
    },
  },
  mounted() {
    this.initIndicators()
  },
  methods: {
    getChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id)
    },
    hasChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id).length > 0
    },
    handleClick() {},
    lightenOne(colorsone, index) {
      return tinycolor(colorsone)
        .darken(10)
        .lighten(3 * index)
        .spin(-1 * index)
        .toHexString()
    },
    complement(complementOne, index) {
      return tinycolor(complementOne)
        .complement()
        .toHexString() // "#00ffff"
    },
    complementTwo(complementOne, index) {
      return tinycolor(complementOne)
        .complement()
        .darken(10)
        .lighten(3 * index)
        .spin(3 * index)
        .toHexString()
    },
    analogous(analogousOne) {
      const colors = tinycolor(analogousOne).analogous()
      return colors[5].toHexString()
    },
    analogousTwo(analogousOne, index) {
      const colors = tinycolor(analogousOne).analogous()
      return colors[5]
        .darken(10)
        .lighten(3 * index)
        .spin(3 * index)
        .toHexString()
    },
    async initIndicators() {
      const { data } = await this.$axios.get('/data/indicator')
      this.indicators = data
    },
  },
}
</script>

<style>
.apexcharts-canvas.apexcharts-theme-dark {
  background: none;
}
.card-header > .nav .nav-link {
  color: #ddd;
  font-size: small;
}
a:not([href]):not([tabindex]) {
  color: #fff;
  text-decoration: none;
}
</style>
