<template>
  <b-container class="reu">
    <b-row class="header mb-3">
      <b-col md="4">
        <!--        <img src="/img/home/75WOW.svg" height="144" />-->
        <img src="/img/home/reu_logo.png" height="144" />
      </b-col>
      <b-col md="8" class="p-1"><h2>Ситуационный центр социально-экономического развития субъектов Российской Федерации</h2></b-col>
      <b-col md="12">
        <div class="m-3 p-1 bg-happy-green text-white text-center">
          <h3>
            Студенту/аспиранту
          </h3>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="8">
        <b-card class="mb-3" variant="info" title="Информация для ведения мониторинга социально-экономического положения субъектов Российской Федерации"></b-card>
        <b-card v-for="item in gksmon_items" :key="item.id" class="mb-3 text-dark card-border text-white">
          <b-card-title>{{ item.short_name }}</b-card-title>
          <b-card-body>
            <nuxt-link
              v-for="item2 in gksmon_subitem(item)"
              :key="item2.id"
              :to="'/indicator/' + item2.id + '/data'"
              class="mr-2 mb-2 btn btn-block btn-primary text-left bg-success"
              >{{ item2.name }}</nuxt-link
            >
          </b-card-body>
        </b-card>
      </b-col>
      <b-col md="4">
        <nuxt-link to="/" class="mb-4 btn btn-block btn-primary">
          Вернуться на главную &rarr;
        </nuxt-link>
        <b-card v-for="z in charts" :key="z" class="mb-3 card-border nav-justified text-white" :title="z.title">
          <AreaChart :series="z.series" :categories="z.categories"></AreaChart>
        </b-card>
      </b-col>
    </b-row>
    <Footer class="mt-3" />
  </b-container>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
import tinycolor from 'tinycolor2'
import AreaChart from '~/components/Chart/Home2Chart'
import Footer from '~/components/Components/Footer'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

const TABS = [
  {
    title: 'Объём ВВП в текущих ценах, млн.руб.',
    value: 'tab1',
  },
  {
    title: 'Объём ВВП с сезонной корректировкой, млн. руб.',
    value: 'tab2',
  },
  {
    title: 'Квартал к предыдущему кварталу, %',
    value: 'tab3',
  },
  {
    title: 'Квартал к аналогиченому кварталу предыдущего года, %',
    value: 'tab4',
  },
]

export default {
  layout: 'page',
  components: {
    AreaChart,
    // Tabs,
    Footer,
  },
  async asyncData({ params, $axios }) {
    let res
    res = await $axios.get('/data/indicator')
    const indicators = res.data
    const charts = []
    res = await $axios.get('/data/indicator/1255/data')
    // Первые два
    charts.push({
      title: 'Валовой внутрений продукт, млрд.руб.',
      series: [
        {
          data: res.data.data.data[0]
            .slice(-10)
            .slice(0, 9)
            .map((x) => Math.round(x * 100) / 100),
        },
      ],
      categories: res.data.data.columns
        .slice(-10)
        .slice(0, 9)
        .map((x) => x[1] + ', ' + x[0]),
    })
    res = await $axios.get('/data/indicator/1328/data')
    charts.push({
      title: 'Индексы физического объема ВВП, %',
      series: [
        {
          data: res.data.data.data[0]
            .slice(-10)
            .slice(0, 9)
            .map((x) => Math.round(x * 100) / 100),
        },
      ],
      categories: res.data.data.columns
        .slice(-10)
        .slice(0, 9)
        .map((x) => x[1] + ', ' + x[0]),
    })
    // Второй один
    res = await $axios.get('/data/indicator/1568/data')
    charts.push({
      title: 'Индекс физического объема расходов на конечное потребление, %',
      series: [
        {
          data: res.data.data.data[0]
            .slice(-10)
            .slice(0, 9)
            .map((x) => Math.round(x * 100) / 100),
        },
      ],
      categories: res.data.data.columns
        .slice(-10)
        .slice(0, 9)
        .map((x) => x[1] + ', ' + x[0]),
    })
    // Третьи два
    res = await $axios.get('/data/indicator/1358/data')
    charts.push({
      title: 'Экспорт, млрд.руб.',
      series: [
        {
          data: res.data.data.data[0]
            .slice(-10)
            .slice(0, 9)
            .map((x) => Math.round(x * 100) / 100),
        },
      ],
      categories: res.data.data.columns
        .slice(-10)
        .slice(0, 9)
        .map((x) => x[1] + ', ' + x[0]),
    })
    res = await $axios.get('/data/indicator/1361/data')
    charts.push({
      title: 'Импорт, млрд.руб.',
      series: [
        {
          data: res.data.data.data[0]
            .slice(-10)
            .slice(0, 9)
            .map((x) => Math.round(x * 100) / 100),
        },
      ],
      categories: res.data.data.columns
        .slice(-10)
        .slice(0, 9)
        .map((x) => x[1] + ', ' + x[0]),
    })
    const chart_idx = [[0, 1], [2], [3, 4]]
    window.console.log(charts)
    return { indicators, charts, chart_idx }
  },

  data: () => ({
    selected_indicator: null,
    chart_labels: [],
    chart_datasets: [],
    currentTab: 'tab1',
    tabs: TABS,
    slickOptions6: {
      className: 'center',
      infinite: true,
      slidesToShow: 1,
      speed: 500,
      adaptiveHeight: false,
      dots: false,
    },
    charts: [],
    chart_idx: [],
  }),
  computed: {
    root_items() {
      return this.items.filter((x) => !x.parent)
    },
    heading() {
      return 'Цифровые панели укправления'
    },
    subheading() {
      return 'Подиум панелей'
    },
    icon() {
      return 'pe-7s-albums icon-gradient bg-tempting-azure'
    },
    gksmon_items() {
      return this.indicators.filter((x) => x.parent == 527)
    },
  },
  mounted() {},
  methods: {
    gksmon_subitem(selected_indicator) {
      if (!selected_indicator) return []
      return this.indicators.filter((x) => x.parent == selected_indicator.id)
    },
    getChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id)
    },
    hasChildren(parent_item) {
      return this.items.filter((x) => x.parent == parent_item.id).length > 0
    },
    handleClick() {},
    lightenOne(colorsone, index) {
      return tinycolor(colorsone)
        .darken(10)
        .lighten(3 * index)
        .spin(-1 * index)
        .toHexString()
    },
    complement(complementOne, index) {
      return tinycolor(complementOne)
        .complement()
        .toHexString() // "#00ffff"
    },
    complementTwo(complementOne, index) {
      return tinycolor(complementOne)
        .complement()
        .darken(10)
        .lighten(3 * index)
        .spin(3 * index)
        .toHexString()
    },
    analogous(analogousOne) {
      const colors = tinycolor(analogousOne).analogous()
      return colors[5].toHexString()
    },
    analogousTwo(analogousOne, index) {
      const colors = tinycolor(analogousOne).analogous()
      return colors[5]
        .darken(10)
        .lighten(3 * index)
        .spin(3 * index)
        .toHexString()
    },
  },
}
</script>

<style scoped>
.nav-pills .nav-link.active {
  background: #4fb457;
}

.apexcharts-canvas.apexcharts-theme-dark {
  background: none;
}

.card-header > .nav .nav-link.active {
  color: #0ba360;
}
.card-header > .nav .nav-link {
  color: #ddd;
  font-size: small;
}
a:not([href]):not([tabindex]) {
  color: #fff;
  text-decoration: none;
}

.reu {
  background: #eee;
}
</style>
