<template>
  <div>
    <Header />
    <sidebar-index />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <b-row>
          <page-title heading="Опережающая оценка" subheading="midasr" :disable-history="false" width="100%" :home-button="true" />
        </b-row>
        <b-row>
          <b-col md="12" class="mb-3">
            <b-card>
              <b-card-title>
                Выберите целевой показатель СНС (квартальные оценки)
              </b-card-title>
              <b-card-body>
                <div style="display:flex">
                  <b-button class="mr-2 mb-2" :variant="play ? 'info' : 'transition outline-focus'" @click="clickPlay">
                    <i class="pe-7s-play"> </i>
                  </b-button>
                  <indicator-select-link :root-indicators="['quarter']" :selected-indicator="qIndicator" modal-id="purpose-0" class="mr-2 mb-2" @select="selectIndicatorPurpose" />
                  <b-button class="mr-2 mb-2" variant="danger" @click="toLastIter">
                    Выполнить расчёт прогноза
                  </b-button>
                </div>
                <div>
                  <hightchart-base v-if="qIndicator" :options="qChartOptions" />
                </div>
              </b-card-body>
              <b-card-body v-if="false && qDf2" v-html="qDf2.toHTML()"></b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col v-for="(ind, idx) in opIndicators" :key="idx" md="12" class="mb-3">
            <b-card class="mb-3">
              <b-card-title style="display: flex">
                <indicator-select-link :root-indicators="['gksmon']" :selected-indicator="ind" :modal-id="`indicator-${idx}`" @select="selectIndicator(idx, $event)" />
                <b-button variant="danger" @click="removeIndicators(idx)">&times;</b-button>
              </b-card-title>
              <b-card-body>
                <hightchart-base :options="opChartOptions[idx]" />
              </b-card-body>
              <b-card-body v-if="false && mDf2[idx]" v-html="mDf2[idx].toHTML()"></b-card-body>
            </b-card>
          </b-col>
          <b-col md="6" class="mb-3">
            <b-card>
              <b-card-title>Выберите оперативные данные (предиктор)</b-card-title>
              <b-card-body>
                <indicator-select-link :root-indicators="['gksmon']" :selected-indicator="opIndicatorNew" modal-id="indicator--1" title="АААА" @select="selectNewIndicator" />
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row v-if="midasr['forecast_summary']">
          <b-col md="12">
            <b-card class="mb-3">
              <b-card-body>
                <b-row>
                  <b-col md="12">
                    <pre>
                      {{ midasr['forecast_summary'] }}
                    </pre>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12">
            <b-card class="mb-3">
              <b-card-title>Предопределённые варианты</b-card-title>
              <b-card-body>
                <b-button variant="outline-info" size="sm" @click="selectPredefined('variant1')">Вариант&nbsp;1</b-button>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import * as dataForge from 'data-forge'
import _purposeChartOptions from './PurposeChartOptions'
import _indicatorChartOptions from './IndicatorChartOptions'
import _predefinedIndicators from './predefinedIndicators'
import PageTitle from '~/components/Components/PageTitle'
import Header from '~/components/Components/Header'
import SidebarIndex from '~/components/Section/SidebarIndex'
import IndicatorSelectLink from '~/components/Indicator/IndicatorSelectLink'
import HightchartBase from '~/components/Chart/HighchartBase'

// const RF_REGION = 'российский'

const _midasr = {
  values: [],
  indexes: [],
  n_0: 4,
  n_1: 1,
  forecast_summary: '',
}

export default {
  name: 'DataScienceMidasr',
  components: {
    HightchartBase,
    IndicatorSelectLink,
    Header,
    PageTitle,
    SidebarIndex,
  },
  data() {
    return {
      qIndicator: null,
      qDf: null,
      qDfMin: 0,
      qChartOptions: _purposeChartOptions,
      qChartData: null,
      opIndicators: [],
      opDf: [],
      opIndicatorNew: null,
      opChartOptions: [],
      opChartData: [],
      opIdx: 0,
      opCnt: 12 * 2, // 2 года
      opSliceCnt: -12 * 10, // 10 лет
      qSliceCnt: -4 * 10,
      qIdx: 0,
      qCnt: 4 * 4, // 2 года
      play: false,
      playTimeout: 200,
      midasr: _midasr,
      qDf2: new dataForge.DataFrame(),
      mDf2: [],
      dataForge,
      s_to_n: {
        январь: '01',
        февраль: '02',
        март: '03',
        апрель: '04',
        май: '05',
        июнь: '06',
        июль: '07',
        август: '08',
        сентябрь: '09',
        октябрь: '10',
        ноябрь: '11',
        декабрь: '12',
        'I квартал': 'Q1',
        'II квартал': 'Q2',
        'III квартал': 'Q3',
        'IV квартал': 'Q4',
      },
    }
  },
  layout: 'page',
  computed: {},
  watch: {
    opIdx() {
      this.qUpdate()
    },
  },
  mounted() {
    this.nextIter()
  },
  methods: {
    normalize_index(s) {
      const z = s.split(',')
      if (z.length > 1) {
        return `${z[0]}-${this.s_to_n[z[1].trim()]}`
      } else {
        return z
      }
    },
    getDf(data, ind1) {
      let df = new dataForge.DataFrame({ index: data.columns_hash, values: data.data[0].map((y) => ({ [ind1]: y })) }).round(6)
      df = df
        .withSeries(
          '__INDEX__',
          new dataForge.Series(
            df
              .getIndex()
              .toArray()
              .map((x) => this.normalize_index(x))
          ).withIndex(df.getIndex())
        )
        .resetIndex()
      return df
    },
    async selectIndicatorPurpose(ind) {
      this.qIndicator = ind
      if (ind) {
        const res = await this.fetchData(ind)
        this.cleanMidasr()
        this.qDf = res.data
        this.qChartData = res.chartData
        this.qDf2 = this.getDf(res.data.data, `val__${ind.id}`)
        this.qDfMin = Math.min(...this.qDf.data.data[0])
        this.qUpdate()

        // this.updateChart(this.purposeChartOptions, this.purposeDf)
      }
    },
    async selectIndicator(idx, ind) {
      if (ind) {
        const res = await this.fetchData(ind)
        this.cleanMidasr()
        this.$set(this.opDf, idx, res.data)
        this.$set(this.opChartData, idx, res.chartData)
        this.$set(this.mDf2, idx, this.getDf(res.data.data))
        this.updateChart(this.opChartOptions[idx], res.chartData)
        this.qUpdate()
      }
    },
    async selectNewIndicator(ind) {
      this.opIndicators.push(ind)
      if (ind) {
        const res = await this.fetchData(ind)
        this.cleanMidasr()
        this.opDf.push(res.data)
        this.opChartOptions.push({ ..._indicatorChartOptions })
        this.opChartData.push(res.chartData)
        this.mDf2.push(this.getDf(res.data.data, `val__${ind.id}`))
        this.updateChart(this.opChartOptions[this.opChartOptions.length - 1], this.opChartData[this.opChartData.length - 1])
      }
    },
    removeIndicators(idx) {
      this.cleanMidasr()
      this.$delete(this.opIndicators, idx)
    },
    updateCharts() {
      for (const i in this.opChartData) {
        this.updateChart(this.opChartOptions[i], this.opChartData[i])
      }
      window.console.debug(this.opChartOptions)
    },
    updateChart(chartOptions, df) {
      const row = df.y.slice(this.opIdx, this.opCnt + this.opIdx)
      const cat = df.x.slice(this.opIdx, this.opCnt + this.opIdx)
      this.$set(chartOptions, 'series', [{ data: row }])
      this.$set(chartOptions, 'xAxis', { categories: cat, style: { fontSize: 14 } })
    },
    async qUpdateChart(chartOptions, df, qIdx) {
      if (!this.qDf) return
      if (qIdx === undefined) qIdx = this.qIdx
      if (qIdx === this.qDf.columns_hash.length - this.qCnt) await this.fetchMidasr()
      const row = df.y.slice(qIdx, this.qCnt + qIdx)
      const cat = df.x.slice(qIdx, this.qCnt + qIdx)
      const xAxis = {
        categories: [...cat, '2021-Q4', '2022-Q1', '2022-Q2', '2022-Q3', '2022-Q4'],
        style: { fontSize: 14 },
        labels: {
          allowOverlap: true,
          style: {
            color: '#0002f8f',
            cursor: 'default',
            fontSize: '16px',
          },
        },
        plotBands: [
          {
            label: {
              text: 'ПРОГНОЗ',
              style: {
                color: '#DC4128',
                fontSize: '16pt',
                fontWeight: 'bold',
              },
            },
            color: '#fcffda',
            from: 15.5,
            to: 19.5,
          },
        ],
      }
      if (this.midasr.values.length > 0 && qIdx === this.qDf.columns_hash.length - this.qCnt) {
        const series = [
          {
            data: [
              ...row.map((item) => ({ y: item - 100, color: item < 100 ? '#ff0000' : '#00ff00' })),
              ...this.midasr.values.slice(-3).map((item) => ({ y: item - 100, color: item < 100 ? '#ff0088' : '#00ff88' })),
            ],
          },
        ]
        xAxis.categories = [...cat, ...this.midasr.indexes.slice(-3).map((x) => `${x[0]}, ${x[1]}`)]
        this.$set(chartOptions, 'series', series)
      } else {
        this.$set(chartOptions, 'series', [{ data: [...row.map((item) => ({ y: item - 100, color: item < 100 ? '#ff0000' : '#00ff00' })), null, null, null] }])
      }
      this.$set(chartOptions.yAxis, 'min', this.qDfMin - 100)
      this.$set(chartOptions, 'xAxis', xAxis)
    },
    // TODO нужно переделать на сопостовление последней отметки и сколько-то ещё осталось, чтобы были правильные пустые столбики
    qUpdate() {
      let qIdx = -1
      if (this.opDf.length > 0 && this.qDf) {
        let [year, month] = this.opDf[0].data.columns_hash
          .slice(this.opIdx, this.opCnt + this.opIdx) // получение ряда анимации
          .slice(-1)[0] // получение последней точки
          .split(',') // Разбиение на год и квартал
        // .split(',')
        // $vm0.opDf[0].data.columns.forEach(([y0, m0])=>{m=['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'].indexOf(m0); m=m-4; y=y0; if(m<0) {y--;m+=12;m%=12}; q=Math.floor(m/3); window.console.log([y0, m0, y, m, q])})
        const months = ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь']
        const quarters = ['I квартал', 'II квартал', 'III квартал', 'IV квартал']
        year = parseInt(year)
        month = months.indexOf(month.trim())
        month = month - 5 // 5 месяцев назад
        if (month < 0) {
          year--
          month = (month + 12) % 12
        }
        const quarter = Math.floor(month / 3)
        // if (quarter < 0) {
        //   year--
        //   quarter = (quarter + 4) % 4
        // }
        const column_hash = [year, quarters[quarter]].join(', ')
        qIdx = this.qDf.data.columns_hash.indexOf(column_hash)
      }
      this.qIdx = qIdx
      if (qIdx <= 0) {
        this.qUpdateChart(this.qChartOptions, this.qChartData, 0)
      } else {
        this.qUpdateChart(this.qChartOptions, this.qChartData, qIdx - this.qCnt + 1)
      }
    },
    async selectPredefined(variantName) {
      const v = _predefinedIndicators[variantName]
      const { data } = await this.$axios.get(`data/indicator/${v.target}`)
      await this.selectIndicatorPurpose(data)
      // this.qIndicator = data

      this.opIndicators = []
      for (const i of v.predictors) {
        const { data } = await this.$axios.get(`data/indicator/${i}`)
        await this.selectNewIndicator(data)
      }
    },
    async fetchMidasr() {
      try {
        if (this.midasr.values.length > 0) return
        // /dataset/midasr/data?t=1328&v=539&v=535&v=559&v=571&v=586&v=609
        const t = `t=${this.qIndicator.id}`
        const v = this.opIndicators.map((x) => `v=${x.id}`)
        const url = '/dataset/midasr/data?' + [t, ...v].join('&')

        const { data } = await this.$axios.get(url)
        this.midasr = data
      } catch (e) {
        this.midasr = _midasr
        this.$bvToast.toast(e, { title: 'Ошибка загрузки данных', autoHideDelay: 3000 })
      }
    },
    async fetchData(ind) {
      const { data } = await this.$axios.get(`data/indicator/${ind.id}/data`)
      const chartData = { x: data.data.columns_hash.slice(this.opSliceCnt), y: data.data.data[0].slice(this.opSliceCnt), xx: data.data.columns.slice(this.opSliceCnt) }
      return { data, chartData }
    },
    cleanMidasr() {
      this.midasr = { ..._midasr }
    },
    nextIter() {
      if (this.play && this.opChartData.length > 0) {
        this.setOpIdx(this.opIdx + 1)
        this.$nextTick(() => this.updateCharts())
      }
      setTimeout(this.nextIter, this.playTimeout)
    },
    setOpIdx(idx) {
      this.opIdx = idx
      if (this.opIdx + this.opCnt > this.opChartData[0].x.length) {
        this.play = 0
      }
    },
    clickPlay() {
      // await this.fetchMidasr()
      this.play = !this.play
    },
    async toLastIter() {
      await this.fetchMidasr()
      this.play = false
      if (this.opChartData.length > 0) {
        this.opIdx = this.opChartData[0].x.length - this.opCnt
        this.updateCharts()
      }
    },
  },
}
</script>

<style scoped></style>
