<template>
  <div>
    <div v-if="hasData">
      <b-button v-b-modal="`modal-${year}-${indicator}`" block :variant="rf_data.percent < 100 ? 'danger' : 'success'">
        <div class="badge-pill badge-light font-size-md font-weight-bold">{{ goal }}</div>
        <!--        <div class="text-dark font-weight-bold">{{ goal }}</div>-->
        <div>{{ rf_data.value }}</div>
        <div class="font-size-md">{{ rf_data.percent }}%</div>
      </b-button>
      <b-modal :id="`modal-${year}-${indicator}`" :title="`${indicator_data.name}, Цель ${goal} на ${year} год`" size="xl" scrollable>
        <template v-slot:modal-header>
          <div>
            {{ indicator_data.name }}
          </div>
          <div class="btn btn-outline-primary">
            Цель <strong>{{ goal }}</strong
            ><br />на <strong>{{ year }}</strong> год
          </div>
          <!-- Emulate built in modal header close button action -->
        </template>
        <b-row>
          <b-col>
            <b-card>
              <b-card-title>Список регионов, в которых достигнуто значение целевого показателя</b-card-title>
              <b-card-body>
                <span v-for="(region, idx) in year_table.index" :key="idx">
                  <button v-if="year_table.percent[idx] >= 100" class="mb-2 mr-2 btn btn-success">
                    {{ region }}
                    <span class="badge badge-light">
                      {{ year_table.data[idx] }}
                      ({{ year_table.percent[idx] }}%)
                    </span>
                  </button>
                </span>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col>
            <b-card>
              <b-card-title>Список регионов, в которых не достинуто значение целевого показателя</b-card-title>
              <b-card-body>
                <span v-for="(region, idx) in year_table.index" :key="idx">
                  <button v-if="year_table.percent[idx] < 100" class="mb-2 mr-2 btn btn-danger">
                    {{ region }}
                    <span class="badge badge-light">
                      {{ year_table.data[idx] }}
                      ({{ year_table.percent[idx] }}%)
                    </span>
                  </button>
                </span>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </b-modal>
    </div>
    <div v-else>
      {{ goal }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProgressYear',
  props: {
    year: Number,
    indicator: Number,
    goal: Number,
  },
  data() {
    return {
      data: null,
      indicator_data: null,
    }
  },
  computed: {
    hasData() {
      return !!this.rf_data
    },
    year_table() {
      if (!this.data) return null
      const year_column = this.data.columns.indexOf(this.year)
      if (year_column < 0) return {}
      const year_data = {
        index: this.data.index,
        data: this.data.data.map((x) => x[year_column]),
      }
      if (this.indicator_data.reversed) {
        year_data.percent = year_data.data.map((x) => Math.round((this.goal / parseFloat(x)) * 1000) / 10)
      } else {
        year_data.percent = year_data.data.map((x) => Math.round((parseFloat(x) / this.goal) * 1000) / 10)
      }
      return year_data
    },
    rf_data() {
      try {
        const region_index = this.year_table.index.indexOf('Российская Федерация')
        return {
          value: this.year_table.data[region_index],
          percent: this.year_table.percent[region_index],
        }
      } catch {
        return null
      }
    },
  },
  mounted() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      const { data } = await this.$axios.get(`/data/indicator/${this.indicator}/data`)
      this.data = data.data
      this.indicator_data = data.indicator
    },
  },
}
</script>

<style scoped></style>
