<template>
  <div>
    <div class="my-chart-panel">
      <div v-if="regions_dict_id" class="my-chart-title">{{ regions_dict_id[params.district_id].short_name }}</div>
      <div class="my-chart-regions">
        <span>
          <span v-if="params_regions[0]" class="region1">{{ params_regions[0] }}</span>
          <span v-if="params_regions[1]" class="region2">{{ params_regions[1] }}</span>
          <span v-if="params_regions[2]" class="region3">{{ params_regions[2] }}</span>
        </span>
      </div>
    </div>
    <hightchart-base v-if="chartOptions" :options="chartOptions" height="90%" />
  </div>
</template>

<script>
import HightchartBase from '~/components/Chart/HighchartBase'

const RF = 'Российская Федерация'

const _highchartOptions = {
  // colors: ['#00e396', '#feb019', '#008ffb'],
  chart: {
    height: (9 / 16) * 90 + '%', // 16:9 ratio
  },
  plotOptions: {
    series: {
      dataLabels: {
        enabled: true,
        format: '{y:.2f}',
      },
      softThreshold: true,
    },
    column: {
      color: '#b3b3b3',
      // pointPadding: 0,
      // borderWidth: 0,
      groupPadding: 0.1,
      shadow: true,
      borderColor: '#797979',
      dataLabels: {
        enabled: false,
      },
    },
  },
  tooltip: {
    valueDecimals: 2,
    headerFormat: undefined,
    pointFormat: '{point.name}: <strong>{point.y}</strong><br/>',
  },
  series: [],
  legend: {
    enabled: false,
  },
  yAxis: {
    type: 'logarithmic',
    title: { text: '' },
  },
}

export default {
  name: 'WallChartRating',
  components: {
    HightchartBase,
  },
  props: {
    params: Object,
  },
  data() {
    return {
      data: null,
      chartOptions: null,
      series: null,
      tm2: null,
      regions: null,
      regions_dict_id: null,
      regions_dict_name: null,
      params_regions: [],
      categories: [],
    }
  },
  computed: {},
  watch: {
    params() {
      this.fetchData()
    },
  },
  async mounted() {
    window.xxr = this
    await this.fetchRegions()
    await this.fetchData()
  },
  methods: {
    async fetchRegions() {
      const { data } = await this.$axios.get('/data/region')
      this.regions = data

      const _regions_dict_id = {}
      this.regions.forEach((x) => {
        _regions_dict_id[x.id] = x
      })
      this.regions_dict_id = _regions_dict_id

      const _regions_dict_name = {}
      this.regions.forEach((x) => {
        _regions_dict_name[x.name] = x
      })
      this.regions_dict_name = _regions_dict_name
    },

    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.params.indicator_id}/data`)
        this.data = data.data
        this.indicator = data.indicator
        this.updateCharts()
      } catch {
        this.series = null
        this.data = null
        this.indicator = null
      }
    },
    updateCharts() {
      this.updateSeries()
      this.updateChart()
    },
    updateSeries() {
      this.tm2 = this.tm ? this.tm.toString() : this.data.columns_hash[this.data.columns_hash.length - 1].toString()
      const col = this.data.columns_hash.indexOf(this.tm2)
      const rows = [this.data.index.indexOf(RF), this.data.index.indexOf(this.regions_dict_id[this.params.district_id].name)]
      this.data.index.forEach((x, i) => {
        if (this.regions_dict_name[x].parent == this.params.district_id) rows.push(i)
      })

      const _data = rows.map((i) => {
        const region_name = this.data.index[i]
        return {
          name: region_name,
          y: this.data.data[i][col],
          color:
            region_name == RF
              ? '#ea5353'
              : region_name.includes('федеральный')
              ? '#024ea1'
              : region_name == this.params.regions[0]
              ? '#FF7F00'
              : region_name == this.params.regions[1]
              ? '#009427'
              : region_name == this.params.regions[2]
              ? '#9B4E00'
              : undefined,
        }
      })
      _data.sort((a, b) => (a.y > b.y ? -1 : a.y < b.y ? 1 : 0))
      this.categories = _data.map((x) => x.name)
      this.series = [{ type: 'column', data: _data }]
      this.params_regions = this.params.regions.map((x) => (this.categories.includes(x) ? x : null))
    },
    updateChart() {
      if (!this.series) return
      const params = {
        xAxis: {
          categories: this.categories,
          title: {
            text: '',
          },
        },
        // yAxis: {
        //   type: 'logarithmic',
        // },
        series: [...this.series],
      }
      this.chartOptions = { ..._highchartOptions, ...params }
    },
  },
}
</script>

<style scoped lang="scss">
.my-chart-panel {
  position: absolute;
  font-family: 'Noto Serif';
  top: 5px;
  right: 60px;
  z-index: 1000;
  text-align: right;
  width: 90%;
}

.my-chart-tm {
  font-size: 30pt;
  color: #1e3c72;
  font-weight: bold;
}

.my-chart-title {
  margin-top: 0.5em;
  font-size: 6em;
  width: 50%;
  margin-left: auto;
  font-weight: bold;
  color: #1e3c72;
}

.my-chart-regions {
  margin-top: 1.3em;
  font-size: 6em;
  /*font-weight: bold;*/

  > span {
    color: white;
    display: inline-block;
    line-height: 1em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    > span {
      padding: 8px;
      color: white;
      text-align: left;
      display: block;
    }
  }

  .region1 {
    background-color: #ff7f00;
  }

  .region2 {
    background-color: #009427;
  }

  .region3 {
    background-color: #9b4e00;
  }
}
</style>
