<template>
  <div class="f-container2a">
    <div class="title">Оперативные данные</div>
    <div v-if="indicator" class="tm">
      {{ indicator.extra_json.df_columns_hash[indicator.extra_json.df_columns_hash.length - 1] }}
    </div>
    <div class="f-container2b">
      <div v-if="indicator" :style="{ color: color }" class="smart_name">
        <div v-for="x in indicator.smart_name.split('/')" :key="x">{{ x }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WallTitle',
  props: {
    params: Object,
  },
  data() {
    return {
      indicator: null,
      color: null,
    }
  },
  computed: {},
  watch: {
    params() {
      this.fetchData()
    },
  },
  async mounted() {
    await this.fetchData()
  },
  methods: {
    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.params.indicator_id}`)
        this.color = this.params.color
        this.indicator = data
      } catch {
        this.indicator = null
        this.color = null
      }
    },
  },
}
</script>

<style scoped>
body,
html,
#__nuxt,
#__layout,
.f-container2b,
.f-container2a {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

div {
  text-transform: uppercase;
}

.f-container2a {
  display: flex;
  background: #eee;
  height: 100%;
  flex-direction: column;
}

.title,
.tm {
  padding: 5rem;
  color: #d92550;
  font-size: 400%;
  text-align: center;
  height: 10%;
  text-transform: uppercase;
}

.tm {
  color: #024ea1;
  font-size: 400%;
}

.f-container2b {
  height: 80%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.smart_name {
  margin: -3% auto 0 auto;
  width: 80%;
  font-size: 500%;
  text-align: center;
}
</style>
