<template>
  <div v-if="data && tm" class="f-container3">
    <div v-if="indicator" class="my-chart-panel">
      <div class="my-chart-title">{{ indicator.smart_name }}</div>
    </div>
    <data-map2 :indicator_id="params.indicator_id.id" :tm="tm" class="f-map" :map-id="mapId" />
    <div class="times">
      <div class="year" v-text="times.year" />
      <div class="months">
        <span v-for="(month, idx) in times.months" :key="idx" class="month" :class="{ active: month.active }">{{ month.name }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import DataMap2 from '@/components/Widgets/DataMap2'

export default {
  name: 'WallChartMap',
  components: {
    DataMap2,
  },
  props: {
    params: Object,
    mapId: {
      type: String,
      default: 'ru-ru',
    },
  },
  data() {
    return {
      data: null,
      chartOptions: null,
      series: null,
      tm2: null,
      regions: null,
      regions_dict_id: null,
      regions_dict_name: null,
      params_regions: [],
      categories: [],
      tm: '',
      intervalObj: null,
      interval: 2000,
    }
  },
  computed: {
    times() {
      try {
        const s = this.tm.split(', ')
        return { year: s[0], months: this.data.columns_hash.filter((x) => x.includes(s[0])).map((x) => ({ name: x.split(', ')[1], active: x === this.tm, value: x })) }
      } catch {
        return { year: '?', months: [] }
      }
    },
  },
  watch: {
    params() {
      this.fetchData()
    },
  },
  async mounted() {
    window.xxr = this
    await this.fetchData()
    const self = this
    this.intervalObj = setInterval(function() {
      self.nextTime()
    }, this.interval)
  },
  methods: {
    async fetchData() {
      try {
        const { data } = await this.$axios.get(`/data/indicator/${this.params.indicator_id.id}/data`)
        this.data = data.data
        this.indicator = data.indicator
        this.tm = this.data.columns_hash[0]
        this.updateCharts()
      } catch {
        this.series = null
        this.data = null
        this.indicator = null
      }
    },
    updateCharts() {},
    nextTime() {
      try {
        const i = this.data.columns_hash.indexOf(this.tm)
        this.tm = this.data.columns_hash[(i + 1) % this.data.columns_hash.length]
      } catch {}
    },
  },
}
</script>

<style scoped lang="scss">
.f-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.f-map {
  flex: 1 1 auto;
  height: 100%;
}

.my-chart-panel {
  position: absolute;
  font-family: 'Noto Serif';
  top: 5px;
  right: 60px;
  z-index: 1000;
  text-align: right;
  width: 90%;
}

.my-chart-tm {
  font-size: 30pt;
  color: #1e3c72;
  font-weight: bold;
}

.my-chart-title {
  margin-top: 0.5em;
  font-size: 3em;
  width: 100%;
  margin-left: auto;
  font-weight: bold;
  color: #1e3c72;
  text-align: center;
}

.times {
  margin: 3px auto;
  text-align: center;
  display: flex;
  font-family: 'Noto Serif';

  .year {
    font-weight: bold;
    margin: 0px 16px 2px 16px;
  }

  .months {
    font-weight: normal;

    .month {
      margin: 2px;
      padding: 1px 3px;
      border: 1px solid #3f3f3f;
      border-radius: 2px;
      &.active {
        font-weight: normal;
        background: #1e3c72;
        color: white;
      }
    }
  }
}
</style>
