<template>
  <div>
    <div v-if="indicator" class="my-chart-title-panel">
      <div class="my-chart-title">{{ indicator.smart_name }}</div>
    </div>

    <div class="my-chart-panel">
      <div class="my-chart-regions">
        <tm-label :tm="tm" size="large" />
        <span>
          <span v-if="params_regions[0]" class="region1">{{ params_regions[0] }}</span>
          <span v-if="params_regions[1]" class="region2">{{ params_regions[1] }}</span>
          <span v-if="params_regions[2]" class="region3">{{ params_regions[2] }}</span>
        </span>
      </div>
    </div>
    <hightchart-base v-if="chartOptions" :options="chartOptions" height="90%" />
  </div>
</template>

<script>
import HightchartBase from '~/components/Chart/HighchartBase'
import TmLabel from '~/components/Filter/TmLabel'

const RF = 'Российская Федерация'
const BY = 'Республика Беларусь'

const _highchartOptions = {
  // colors: ['#00e396', '#feb019', '#008ffb'],
  chart: {
    height: (9 / 16) * 90 + '%', // 16:9 ratio
    backgroundColor: '#e2ffe2',
  },
  plotOptions: {
    series: {
      dataLabels: {
        inside: true,
        enabled: true,
        format: '{y:.2f}',
        style: {
          fontSize: '24pt',
        },
      },
      softThreshold: true,
    },
    column: {
      color: '#b3b3b3',
      // pointPadding: 0,
      // borderWidth: 0,
      groupPadding: 0.1,
      shadow: true,
      borderColor: '#797979',
      dataLabels: {
        enabled: true,
      },
    },
  },
  tooltip: {
    valueDecimals: 2,
    headerFormat: undefined,
    pointFormat: '{point.name}: <strong>{point.y}</strong><br/>',
  },
  series: [],
  legend: {
    enabled: false,
  },
  yAxis: {
    type: 'logarithmic',
    title: { text: '' },
  },
}

export default {
  name: 'WallChartRatingBy',
  components: {
    TmLabel,
    HightchartBase,
  },
  props: {
    params: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      fff: null,
      indicator: null,
      data: null,
      chartOptions: null,
      series: null,
      tm2: null,
      regions: null,
      params_regions: [],
      categories: [],
      tm: '',
      interval: 2000,
      error: null,
    }
  },
  computed: {
    times() {
      try {
        const s = this.tm.split(', ')
        return { year: s[0], months: this.data.columns_hash.filter((x) => x.includes(s[0])).map((x) => ({ name: x.split(', ')[1], active: x === this.tm, value: x })) }
      } catch {
        return { year: '?', months: [] }
      }
    },
  },
  watch: {
    params() {
      this.fetchData()
    },
    tm() {
      this.updateSeries()
    },
  },
  async mounted() {
    await this.fetchData()
    const self = this
    this.intervalObj = setInterval(function() {
      self.nextTime()
    }, this.interval)
  },
  methods: {
    async fetchData() {
      const { data } = await this.$axios.get(`/data/indicator/${this.params.indicator_id.id}/data`)
      this.data = data.data
      this.indicator = data.indicator
      this.tm = this.data.columns_hash[0]
      this.error = null
      this.updateSeries()
    },
    updateSeries() {
      try {
        const col = this.data.columns_hash.indexOf(this.tm)
        const _data = this.data.data.map((row, i) => {
          const name = this.data.index[i]
          return {
            name,
            y: row[col],
            color:
              name == RF || name == BY
                ? '#009427'
                : this.params.regions && name == this.params.regions[0]
                ? '#FF7F00'
                : this.params.regions && name == this.params.regions[1]
                ? '#ea5353'
                : this.params.regions && name == this.params.regions[2]
                ? '#9B4E00'
                : undefined,
          }
        })
        _data.sort((a, b) => (a.y > b.y ? -1 : a.y < b.y ? 1 : 0))
        this.categories = _data.map((x) => x.name)
        this.series = [{ type: 'column', data: _data }]
        if (this.params.regions) {
          this.params_regions = this.params.regions.map((x) => (this.categories.includes(x) ? x : null))
        } else {
          this.params_regions = ['', '', '']
        }
        this.updateChart()
      } catch (e) {
        // this.error = e
      }
    },
    updateChart() {
      if (!this.series) return
      const params = {
        xAxis: {
          categories: this.categories,
          title: {
            text: '',
          },
          labels: {
            style: {
              fontSize: '18pt',
              color: '#000',
            },
          },
        },
        // yAxis: {
        //   type: 'logarithmic',
        // },
        series: [...this.series],
      }
      this.chartOptions = { ..._highchartOptions, ...params }
    },
    nextTime() {
      const i = this.data.columns_hash.indexOf(this.tm)
      try {
        this.tm = this.data.columns_hash[(i + 1) % this.data.columns_hash.length]
      } catch {}
    },
  },
}
</script>

<style scoped lang="scss">
.my-chart-title-panel {
  position: absolute;
  font-family: 'Noto Serif';
  top: 5px;
  right: 60px;
  z-index: 1000;
  text-align: right;
  width: 90%;

  .my-chart-tm {
    font-size: 30pt;
    color: #1e3c72;
    font-weight: bold;
  }

  .my-chart-title {
    margin-top: 0.5em;
    font-size: 3em;
    width: 100%;
    margin-left: auto;
    font-weight: bold;
    color: #1e3c72;
    text-align: center;
  }
}
.my-chart-panel {
  position: absolute;
  font-family: 'Noto Serif';
  top: 5px;
  right: 60px;
  z-index: 1000;
  text-align: right;
  width: 90%;
}

.my-chart-tm {
  font-size: 30pt;
  color: #1e3c72;
  font-weight: bold;
}

.my-chart-title {
  margin-top: 0.5em;
  font-size: 6em;
  width: 50%;
  margin-left: auto;
  font-weight: bold;
  color: #1e3c72;
}

.my-chart-regions {
  margin-top: 1.3em;
  font-size: 4em;
  /*font-weight: bold;*/

  > span {
    color: white;
    display: inline-block;
    line-height: 1em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    > span {
      padding: 8px;
      color: white;
      text-align: left;
      display: block;
    }
  }

  .region1 {
    background-color: #ff7f00;
  }

  .region2 {
    background-color: #ea5353;
  }

  .region3 {
    background-color: #9b4e00;
  }
}
</style>
