<template>
  <div>
    <h1>stream data</h1>
    <pre style="color: #0000ff; font-weight: bold">{{ streamData.slice(0, streamData.indexOf('\n')) }}</pre>
    <pre>{{ streamData.slice(streamData.indexOf('\n') + 1) }}</pre>
    <div id="slides">
      <transition v-if="n === 0" name="slide-fade">
        <img src="~/assets/stream/stream1.png" width="500" />
      </transition>
      <transition v-if="n === 1" name="slide-fade">
        <img src="~/assets/stream/stream2.png" width="500" />
      </transition>
      <transition v-if="n === 2" name="slide-fade">
        <img src="~/assets/stream/stream3.png" width="500" />
      </transition>
      <transition v-if="n === 3" name="slide-fade">
        <img src="~/assets/stream/stream4.png" width="500" />
      </transition>
      <transition v-if="n === 4" name="slide-fade">
        <img src="~/assets/stream/stream5.png" width="500" />
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Data0',
  layout: 'page',
  data: () => ({
    streamData: '',
    n: 1,
  }),
  async mounted() {
    await this.fetchData()
  },
  methods: {
    async fetchData() {
      this.n = (this.n + 1) % 5
      const { data } = await this.$axios.get('/dataset/stream/data')
      this.streamData = data
      setTimeout(() => this.fetchData(), 1500)
    },
  },
}
</script>

<style scoped>
div {
  padding: 5px 30px;
}
pre {
  font-size: large;
}

#slides {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
