<template>
  <b-row>
    <b-col
      v-for="(x, i) in [
        ['Здравоохранение', 'zdrav.svg', 2519],
        ['Демография', 'demography.svg', 2521],
        ['Образование', 'digital.svg', 2520],
        ['Наука', 'science.svg', 2526],
        ['Культура', 'kultura.svg', 2522],
        ['Жилье и городская среда', 'urban.svg', 2524],
        ['Безопасные и качественные автомобильные дороги', 'bkad.svg', 2523],
        ['Малое и среднее предпринимательство и поддержка индивидуальной предпринимательской инициативы', 'predprinimatelstvo.svg', 2527],
        ['Производительность труда и поддержка занятости', 'proizvod.svg', 2529],
        ['Цифровая экономика Российской Федерации', 'digital.svg', 2528],
        ['Международная кооперация и экспорт', 'cooperation.svg', 2530],
        ['Экология', 'ecology.svg', 2525],
        // ['Транспортная часть комплексного плана модернизации и расширения магистральной инфраструктуры на период до 2024 года', '', 2531],
      ]"
      :key="i"
      md="6"
    >
      <b-button block class="mr-2 mb-2 text-left btn-icon btn-transition btn-outline-2x" variant="outline-primary" :to="x.length > 2 ? '/np/' + x[2] + '/data' : null">
        <div class="btn-icon-wrapper" style="display: inline-block">
          <img :src="'/img/natpro/' + x[1]" width="32px" />
        </div>
        <div style="display: inline-block">
          <span>{{ x[0] }}</span>
        </div>
      </b-button>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'SectionIndexNatProj',
}
</script>

<style scoped></style>
