<template>
  <div v-if="charts">
    <b-row>
      <b-col v-for="(z, z_i) in chart_idx" :key="z_i" md="4">
        <b-card class="mb-2 card-border nav-justified text-white bg-primary" no-body>
          <b-card-body class="p-0">
            <b-form-radio-group v-model="chart_selected[z_i]" :options="z.map((idx) => ({ text: charts[idx].title, value: idx }))" buttons button-variant="primary" class="p-1" />
            <div v-for="idx in z" :key="idx" :title="charts[idx].title" no-body vertical style="font-family: 'Roboto Condensed'">
              <area-chart v-if="chart_selected[z_i] === idx" :series="charts[idx].series" :categories="charts[idx].categories" />
            </div>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import AreaChart from '~/components/Chart/HomeChart'
import mtp_1 from '~/content/data/mtp/mtp_1.json'

export default {
  name: 'SectionIndexQuartCharts',
  components: {
    AreaChart,
  },
  data() {
    return {
      charts: null,
      chart_idx: null,
      chart_idx0: null,
      chart_selected: [0, 2, 4],
      chart_selected0: [0, 0, 0],
      mtp_1,
    }
  },
  mounted() {
    this.initCharts()
  },
  methods: {
    initCharts() {
      // const charts = []
      // let res = null
      // const mtp_1 = await this.$content('mtp_1.json').fetch()
      // const df = dataForge.fromObject(this.mtp_1)
      const data = this.mtp_1
      const columns = Object.keys(data[0]).filter((x) => x !== 'tm')
      const charts = columns.map((col) => {
        const series = data.filter((x) => x[col] !== null)
        const limit = 10
        return {
          title: col,
          series: [
            {
              data: series
                .map((x) => x[col])
                .filter((x) => x !== null)
                .slice(-limit)
                .map((x) => Math.round(x * 100) / 100),
            },
          ],
          categories: series.map((x) => x.tm).slice(-limit),
        }
      })
      // res = await this.$axios.get('/data/indicator/634/data')
      // // Нулевые
      // charts.push({
      //   title: 'Индекс потребительских цен на услуги пассажирского транспорта, период к началу года, %',
      //   series: [
      //     {
      //       data: res.data.data.data[0]
      //         .slice(-10)
      //         // .slice(0, 9)
      //         .map((x) => Math.round(x * 100) / 100),
      //     },
      //   ],
      //   categories: res.data.data.columns
      //     .slice(-10)
      //     // .slice(0, 9)
      //     .map((x) => x[1] + ', ' + x[0]),
      // })
      // res = await this.$axios.get('/data/indicator/1255/data')
      // // Первые два
      // charts.push({
      //   title: 'Индекс потребительских цен на услуги городского пассажирского транспорта, период к началу года, %',
      //   series: [
      //     {
      //       data: res.data.data.data[0]
      //         .slice(-10)
      //         // .slice(0, 9)
      //         .map((x) => Math.round(x * 100) / 100),
      //     },
      //   ],
      //   categories: res.data.data.columns
      //     .slice(-10)
      //     // .slice(0, 9)
      //     .map((x) => x[1] + ', ' + x[0]),
      // })
      // res = await this.$axios.get('/data/indicator/1328/data')
      // charts.push({
      //   title: 'Среднемесячная номинальная начисленная заработная плата на крупных и средних предприятиях сухопутного пассажирского транспорта (кроме железнодорожного), руб.',
      //   series: [
      //     {
      //       data: res.data.data.data[0]
      //         .slice(-10)
      //         // .slice(0, 9)
      //         .map((x) => Math.round(x * 100) / 100),
      //     },
      //   ],
      //   categories: res.data.data.columns
      //     .slice(-10)
      //     // .slice(0, 9)
      //     .map((x) => x[1] + ', ' + x[0]),
      // })
      // // Второй один
      // res = await this.$axios.get('/data/indicator/1556/data')
      // charts.push({
      //   title: 'Среднемесячная номинальная начисленная заработная платав ОКВЭД "Транспортировка и хранение", руб.',
      //   series: [
      //     {
      //       data: res.data.data.data[0]
      //         .slice(-10)
      //         // .slice(0, 9)
      //         .map((x) => Math.round(x * 100) / 100),
      //     },
      //   ],
      //   categories: res.data.data.columns
      //     .slice(-10)
      //     // .slice(0, 9)
      //     .map((x) => x[1] + ', ' + x[0]),
      // })
      // res = await this.$axios.get('/data/indicator/1568/data')
      // charts.push({
      //   title: 'Среднесписочная численность работников крупных и средних организаций в ОКВЭД "Транспортировка и хранение", чел.',
      //   series: [
      //     {
      //       data: res.data.data.data[0]
      //         .slice(-10)
      //         // .slice(0, 9)
      //         .map((x) => Math.round(x * 100) / 100),
      //     },
      //   ],
      //   categories: res.data.data.columns
      //     .slice(-10)
      //     // .slice(0, 9)
      //     .map((x) => x[1] + ', ' + x[0]),
      // })
      // // Третьи два
      // res = await this.$axios.get('/data/indicator/1358/data')
      // charts.push({
      //   title: 'Среднесписочная численность работников крупных и средних предприятий сухопутного пассажирского транспорта (кроме железнодорожного), чел.',
      //   series: [
      //     {
      //       data: res.data.data.data[0]
      //         .slice(-10)
      //         // .slice(0, 9)
      //         .map((x) => Math.round(x * 100) / 100),
      //     },
      //   ],
      //   categories: res.data.data.columns
      //     .slice(-10)
      //     // .slice(0, 9)
      //     .map((x) => x[1] + ', ' + x[0]),
      // })
      const chart_idx = [
        [0, 1],
        [2, 3],
        [4, 5],
      ]
      this.charts = charts
      this.chart_idx = chart_idx
    },
  },
}
</script>

<style scoped></style>
