<template>
  <carousel :navigation-enabled="true" pagination-color="#8ba6c7" pagination-active-color="#024ea1" :per-page="1" :autoplay="true" :autoplay-timeout="7000" :loop="true">
    <slide v-for="(item, idx) in newsList" :key="idx" class="news-item">
      <div class="p-2">
        <img v-if="item.img" :src="item.img" class="news-item-image mr-1" align="left" height="150px" />
      </div>
      <div>
        <div class="news-item-title mb-1 p-2 font-size-lg">
          <span>{{ item.dt }}</span>
          <span v-if="item.title">// {{ item.title }}</span>
        </div>
        <div class="news-item-text mb-1 p-2">{{ item.text }}</div>
      </div>
    </slide>
  </carousel>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'
import newsList from '~/static/news'

export default {
  name: 'SectionIndexNews',
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      slickOptions6: {
        className: 'center',
        infinite: true,
        slidesToShow: 1,
        speed: 500,
        adaptiveHeight: false,
        dots: false,
      },
      newsList,
    }
  },
  mounted() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      const { data } = await this.$axios.get(`/news/`)
      this.newsList = data
    },
  },
}
</script>

<style scoped lang="scss">
.news-item {
  max-height: 200px;
  display: flex;
  > div {
    flex: 1 1 auto;
  }
  > div:first-child {
    flex: 0 0 auto;
  }
}

.news-item-title {
  font-weight: bold;
}

.VueCarousel-slide {
  background: white;
}
</style>
