<template>
  <b-row v-if="indicators">
    <b-col md="6">
      <b-row>
        <b-col v-for="ind in indicators" :key="ind.id" md="12" class="mt-2">
          <b-button :variant="ind.name.toLowerCase().includes('транспорт') ? 'primary' : 'light'" block class="btn-outline-2x item text-left" @click="indicator = ind">
            {{ ind.name }}
          </b-button>
        </b-col>
      </b-row>
    </b-col>
    <b-col v-if="sub_indicators" md="6">
      <b-row>
        <b-col v-for="ind in sub_indicators" :key="ind.id" md="12" class="mt-2">
          <b-button variant="success" block class="btn-outline-2x item text-left" :to="`/indicator/${ind.id}/data`">{{ ind.name }}</b-button>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'SectionIndexGksmon',
  data() {
    return {
      indicators: null,
      sub_indicators: null,
      indicator: null,
    }
  },
  watch: {
    indicator() {
      this.fetchIndicators(this.indicator.id, 'sub_indicators')
    },
  },
  mounted() {
    this.fetchIndicators('gksmon', 'indicators')
  },
  methods: {
    async fetchIndicators(parent, variable) {
      try {
        const { data } = await this.$axios.get(`/data/indicator/parent/${parent}`)
        this.$data[variable] = [...data.filter((x) => x.name.toLowerCase().includes('транспорт')), ...data.filter((x) => !x.name.toLowerCase().includes('транспорт'))]
        // this.indicators = [...data.filter((x) => x.name.toLowerCase().includes('транспорт')), ...data.filter((x) => !x.name.toLowerCase().includes('транспорт'))]
      } catch {
        this.indicators = null
        this.$data[variable] = null
      }
    },
  },
}
</script>
