<template>
  <b-card bg-variant="primary" text-variant="white" class="shadow">
    На портале СЦ открыто <strong class="font-size-xlg">{{ countAll }}</strong> профилей, из них:
    <ul>
      <li>
        студентов/аспирантов - <strong class="font-size-xlg">{{ countStudents }}</strong>
      </li>
      <li>
        преподавателей/сотрудников - <strong class="font-size-xlg">{{ countEmployee }}</strong>
      </li>
      <li>
        сторонних пользователей - <strong class="font-size-lg">{{ countOther }}</strong>
      </li>
    </ul>
  </b-card>
</template>

<script>
export default {
  name: 'SectionCountUsers',

  data() {
    return {
      usersCategories: [],
      countAll: 0,
      countStudents: 0,
      countEmployee: 0,
    }
  },
  computed: {
    countOther() {
      return this.countAll - this.countEmployee - this.countStudents
    },
  },
  mounted() {
    this.fetchUsersCategories()
  },
  methods: {
    async fetchUsersCategories() {
      const { data } = await this.$axios.get('own/user/categories')
      this.setData(data)
    },

    setData(data) {
      this.usersCategories = data
      const count = data.map((item) => item.total)
      this.countAll = count.reduce((sum, item) => sum + item)
      this.countStudents = this.getCount('студент')
      this.countEmployee = this.getCount('преподаватель')
    },
    getCount(condition) {
      const result = this.usersCategories.filter(function(item) {
        return item.category === condition
      })
      return result[0].total
    },
  },
}
</script>

<style scoped></style>
