<template>
  <b-row v-if="indicators">
    <b-col v-for="ind in indicators" :key="ind.id" md="6" class="mt-2">
      <b-button
        :variant="ind.name.toLowerCase().includes('транспорт') ? 'primary' : 'outline-primary'"
        block
        :to="`/indicator/parent/${ind.id}/data`"
        class="btn-outline-2x item text-left"
      >
        {{ ind.name }}
      </b-button>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'SectionIndexRusreg2',
  data() {
    return {
      indicators: null,
    }
  },
  mounted() {
    this.fetchIndicators()
  },
  methods: {
    async fetchIndicators() {
      const { data } = await this.$axios.get('/data/indicator/rusreg2')
      this.indicators = [...data.children.filter((x) => x.name.toLowerCase().includes('транспорт')), ...data.children.filter((x) => !x.name.toLowerCase().includes('транспорт'))]
    },
  },
}
</script>

<style scoped lang="scss">
.item {
  text-transform: lowercase;

  &:first-letter {
    text-transform: capitalize;
  }
}
</style>
