<template>
  <div>
    <section-index-quart-charts />
  </div>
</template>

<script>
import SectionIndexQuartCharts from '~/components/Section/Index/SectionIndexQuartCharts'
import SectionCountUsers from '~/components/Section/Index/SectionCountUsers'

export default {
  name: 'SectionIndexRight',
  // eslint-disable-next-line vue/no-unused-components
  components: { SectionIndexQuartCharts, SectionCountUsers },
}
</script>

<style scoped></style>
