<template>
  <div>
    <Header />
    <Sidebar2 :menu="menu" />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title :heading="heading" :subheading="subheading"></page-title>
        <b-row>
          <b-col md="12">
            <b-card>
              <b-card-title>Выберите показатель</b-card-title>
              <div class="card-body">
                <b-button
                  v-for="indicator in child_indicators"
                  :key="indicator.id"
                  class="mr-2 mb-2 text-left"
                  :variant="indicator == selected_indicator ? 'primary' : 'transition outline-primary'"
                  @click="selected_indicator = indicator"
                >
                  {{ indicator.short_name }}
                </b-button>
              </div>
            </b-card>
          </b-col>
        </b-row>
        <b-row v-if="selected_indicator" class="mt-4">
          <b-col xl="12">
            <b-button
              v-for="tab in tabs"
              :key="tab.value"
              :variant="selected_type == tab.value ? 'primary' : ''"
              class="mr-2 btn-shadow mb-3"
              @click="selected_type = tab.value"
              v-text="tab.text || tab.title"
            />
          </b-col>
        </b-row>
        <div v-if="selected_indicator">
          <div v-if="selected_type == 'chart'" class="row">
            <b-col md="12" xl="4">
              <b-card title="Регион" class="mt-2">
                <b-card-body>
                  <b-select v-model="selected_region">
                    <b-select-option v-for="region in regions_only" :key="region" :value="region">{{ region }}</b-select-option>
                  </b-select>
                </b-card-body>
              </b-card>
              <b-card title="Год" class="mt-2">
                <b-card-body>
                  <button class="m-2 btn" :class="[!selected_year ? 'btn-primary' : 'btn-secondary']" @click="selected_year = null">Все года</button>
                  <button v-for="year in years_only" :key="year" class="m-2 btn" :class="[year == selected_year ? 'btn-primary' : 'btn-secondary']" @click="selected_year = year">
                    {{ year }}
                  </button>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col v-if="selected_indicator && selected_region" md="12" xl="8">
              <data-chart
                v-if="selected_year"
                :indicator_id="selected_indicator.id"
                :region="selected_region"
                :column-contains="selected_year"
                class="mt-3"
                :colors="chartColors"
              />
              <data-chart v-else :indicator_id="selected_indicator.id" :region="selected_region" class="mt-3" :colors="chartColors" />
            </b-col>
          </div>
          <b-row v-if="selected_type == 'map'">
            <b-col md="12" xl="4">
              <year :selected_year.sync="selected_column" :years="data.columns_hash" title="Укажите период" />
              <!--              <b-card v-if="selected_indicator && data.columns_hash" class="mt-3" title="Укажите период">-->
              <!--                <b-card-body>-->
              <!--                  <b-button-->
              <!--                    v-for="c in data.columns_hash"-->
              <!--                    :key="c"-->
              <!--                    class="m-1"-->
              <!--                    :variant="c == selected_column ? 'primary' : 'transition outline-focus'"-->
              <!--                    @click="selected_column = c"-->
              <!--                  >-->
              <!--                    {{ c }}-->
              <!--                  </b-button>-->
              <!--                </b-card-body>-->
              <!--              </b-card>-->
            </b-col>
            <b-col md="12" xl="8">
              <b-card v-if="selected_column" class="mb-3">
                <b-card-title>
                  {{ heading }}
                </b-card-title>
                <b-card-sub-title> {{ subheading }}, {{ selected_column }}</b-card-sub-title>
                <b-card-body>
                  <data-map :indicator_id="selected_indicator.id" :tm="selected_column" />
                  <remote-control :indicator-y="selected_indicator.id" :ts-y="selected_column" chart-type="data-map" />
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
          <div v-if="selected_type == 'table'">
            <b-card class="mt-3">
              <b-card-header>Таблица</b-card-header>
              <b-card-body style="overflow-x: auto">
                <data-table :indicator_id="selected_indicator.id" />
              </b-card-body>
            </b-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageTitle from '~/components/Components/PageTitle.vue'
import Sidebar2 from '~/components/Components/Sidebar2'
import Header from '~/components/Components/Header'
import DataChart from '~/components/Widgets/DataChart'
import DataMap from '~/components/Widgets/DataMap'
import DataTable from '~/components/Widgets/DataTable'
import Year from '~/components/Filter/Year'
import RemoteControl from '~/components/Remote/RemoteControl'

const RF = 'Российская Федерация'

const TABS = [
  {
    text: 'График',
    title: 'График',
    value: 'chart',
  },
  {
    text: 'Картограмма',
    title: 'Картограмма',
    value: 'map',
  },
  {
    text: 'Таблица',
    title: 'Таблица',
    value: 'table',
  },
]

const chartColors = ['#afabd5', '#575193', '#4dc3cf']

export default {
  auth: false,
  layout: 'page2',
  components: {
    RemoteControl,
    Year,
    DataMap,
    DataChart,
    DataTable,
    Header,
    PageTitle,
    // apexchart: VueApexCharts,
    Sidebar2,
  },
  async asyncData({ params, $axios }) {
    let res = await $axios.get('/data/region')
    const regions = res.data

    const parent_indicator_id = params.id
    res = await $axios.get(`/data/indicator/${params.id}`)
    const parent_indicator = res.data
    res = await $axios.get(`/data/indicator/parent/${params.id}/withdata`)
    const child_indicators = res.data
    res = await $axios.get(`/data/indicator/parent/${parent_indicator.parent}`)
    const indicators_side = res.data

    return { parent_indicator_id, parent_indicator, child_indicators, regions, indicators_side }
  },

  data: () => ({
    chartColors,
    tabs: TABS,
    selected_type: 'chart',
    selected_indicator: null,
    chart_labels: [],
    chart_datasets: [],
    selected_year: null,
    selected_region: null,
    selected_column: null,
    data: {},
    chartOptions: {
      chart: {
        height: 350,
        type: 'area',
        stacked: false,
      },
      stroke: {
        width: [0, 2, 5],
        curve: 'smooth',
      },
      plotOptions: {
        bar: {
          columnWidth: '50%',
        },
      },

      fill: {
        opacity: [0.85, 0.25, 1],
        gradient: {
          inverseColors: false,
          shade: 'light',
          type: 'vertical',
          opacityFrom: 0.85,
          opacityTo: 0.55,
          stops: [0, 100, 100, 100],
        },
      },
      labels: [],
      markers: {
        size: 0,
      },
      xaxis: {
        type: 'category',
      },
      yaxis: {
        forceNiceScale: true,
        decimalsInFloat: 2,
      },
      tooltip: {
        shared: true,
        intersect: false,
        // y: {
        //   formatter(y) {
        //     if (typeof y !== 'undefined') {
        //       return y.toFixed(2) + ''
        //     }
        //     return y
        //   },
        // },
      },
    },
    series: [],
    mapOptions: {
      colors: ['#F73F00', '#F7A200', '#F7E300', '#50D800', '#CCCCCC'].reverse(),
      chart: {
        map: 'ru-ru',
        spacingBottom: 20,
      },
      title: {
        text: '',
      },
      legend: {
        enabled: false,
      },
      plotOptions: {
        series: {
          allAreas: false,
        },
        map: {
          allAreas: false,
          joinBy: ['hasc', 'code'],
          dataLabels: {
            enabled: false,
            color: '#FFFFFF',
            style: {
              fontWeight: 'bold',
            },
            // Only show dataLabels for areas with high label rank
            format: null,
            // formatter() {
            //   if (this.point.properties && this.point.properties.labelrank.toString() < 5) {
            //     return this.point.properties['iso-a2']
            //   }
            // },
          },
          tooltip: {
            formatter(tooltip) {
              window.console.log(this)
              window.console.log(tooltip)

              return tooltip.defaultFormatter.call(this, tooltip)
            },
          },
        },
      },
      series: [],
    },
  }),

  computed: {
    heading() {
      return this.parent_indicator.name
    },
    short_heading() {
      return this.parent_indicator.short_name
    },
    subheading() {
      return this.selected_indicator ? this.selected_indicator.name : ''
    },
    short_subheading() {
      return this.selected_indicator ? this.selected_indicator.short_name : ''
    },
    icon() {
      return 'pe-7s-plane icon-gradient bg-tempting-azure'
    },
    regions_only() {
      try {
        if (this.data && this.data.index) return this.data.index.filter((x) => !x.includes('федеральный') && !x.includes('Федерация'))
        else return []
      } catch (e) {
        window.console.error(e)
        return []
      }
      //      return this.regions.filter((x) => x.levels.includes('region'))
    },
    years_only() {
      return this.data.columns ? this.data.columns.map((x) => x[0]).filter((v, i, a) => a.indexOf(v) === i) : []
    },
    menu() {
      if (!this.indicators_side) return []
      const self = this
      return this.indicators_side.map((x) => ({
        title: x.name,
        click: () => self.$router.push(`/indicator/${x.id}/data`),
      }))
    },
  },

  watch: {
    selected_region() {
      this.updateData()
    },
    selected_year() {
      this.updateMap()
    },
    selected_column() {
      // await this.updateData()
      this.updateMap()
    },
    async selected_indicator() {
      await this.updateData()
      this.updateMap()
    },
  },

  mounted() {},

  methods: {
    getParentRegion(region_id) {
      const region = this.regions.filter((x) => x.id == region_id)[0]
      if (!region.parent) return null
      return this.regions.filter((x) => x.id == region.parent)[0]
    },
    getParentRegionBy(name) {
      const region = this.getRegionByName(name)
      if (region) return this.getParentRegion(region.id)
      else return null
    },
    getRegionByName(name) {
      return this.regions.filter((x) => x.name == name)[0]
    },
    async updateData() {
      // const self = this
      this.series = null
      if (!this.selected_indicator) return
      const { data } = await this.$axios.get(`data/indicator/${this.selected_indicator.id}/data`)
      this.data = data.data

      if (!this.selected_region) return
      const columns = []
      this.data.columns.forEach((x, i) => {
        if (this.selected_year) {
          if (x.includes(this.selected_year)) {
            columns.push(i)
          }
        } else {
          columns.push(i)
        }
      })
      // Обновление данных
      this.$set(
        this.chartOptions,
        'labels',
        // columns.map((x) => this.data.columns[x])
        // TODO разобраться почему не показываются подписи
        columns.map((x) => this.selected_indicator.extra_json.df_columns_hash[x])
      )
      const column_i = this.data.index.indexOf(this.selected_region.name)
      const region_data = {
        name: this.selected_region.name,
        type: 'column',
        data: this.data && this.data.data && this.data.data[column_i] ? columns.map((x) => this.data.data[column_i][x]) : [],
      }
      let fo = this.getParentRegionBy(this.selected_region.name)
      if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
      if (!fo.levels.includes('district')) fo = this.getParentRegion(fo.id)
      const column_i2 = this.data.index.indexOf(fo.name)
      const fo_data = {
        name: fo.name,
        type: 'line',
        data: this.data && this.data.data && this.data.data[column_i2] ? columns.map((x) => this.data.data[column_i2][x]) : [],
      }
      const column_i3 = this.data.index.indexOf(RF)
      const country_data = {
        name: RF,
        type: 'area',
        data: this.data && this.data.data && this.data.data[column_i3] ? columns.map((x) => this.data.data[column_i3][x]) : [],
      }
      this.series = [region_data, country_data, fo_data]
    },
    updateMap() {
      const items = []
      const exists = []
      if (this.selected_column && this.selected_column[0])
        this.data.index.forEach((region_name, i) => {
          const region = this.getRegionByName(region_name)
          if (region && region.map_code) {
            exists.push(region.map_code)
            items.push({
              code: region.map_code,
              name: region.name,
              value: this.data.data[i][this.data.columns.map((x) => x[0] + ', ' + x[1]).indexOf(this.selected_column[0] + ', ' + this.selected_column[1])],
            })
          }
        })
      if (items.length == 0) return
      const items2 = items.sort((a, b) => {
        if (a.value > b.value) return 1
        if (a.value < b.value) return -1
        return 0
      })
      const N = 4
      const dn = Math.round(items.length / N)
      // TODO сделать в виде цикла
      const series = [
        {
          name: '-',
          data: [], // this.regions.filter((x) => !exists.includes(x.map_code)).map((x) => ({ code: x.map_code, name: x.name, value: 0 })),
          allAreas: true,
        },
        {
          name: 1,
          data: items2.slice(0, dn),
          allAreas: false,
        },
        {
          name: 2,
          data: items2.slice(dn + 1, dn * 2),
          allAreas: false,
        },
        {
          name: 3,
          data: items2.slice(dn * 2 + 1, dn * 3),
          allAreas: false,
        },
        {
          name: 4,
          data: items2.slice(dn * 3 + 1, items.length),
          allAreas: false,
        },
      ]
      this.$set(this.mapOptions, 'series', series)
    },
    handleClick(newTab) {
      this.selected_type = newTab
    },
  },
}
</script>
