<template>
  <div>
    <data-chart-rating :indicator-id="indicatorId" :region1="region1" :region2="region2" :region3="region3" />
  </div>
</template>

<script>
import DataChartRating from '~/components/Widgets/DataChartRating'
export default {
  auth: false,
  components: { DataChartRating },
  layout: 'empty',
  asyncData({ params, $axios }) {
    return { indicatorId: params.id }
  },

  data() {
    return {
      indicatorId: null,
      region1: 'Республика Мордовия',
      region2: 'г. Москва',
      region3: 'Хабаровский край',
    }
  },
}
</script>

<style>
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
</style>
