<template>
  <highchart-base :options="chartOptions" :height="height"></highchart-base>
</template>

<script>
import HighchartBase from '~/components/Chart/HighchartBase'

export default {
  name: 'Histogram2',
  components: {
    HighchartBase,
  },
  props: {
    data: {
      type: Object,
      default: null,
    },
    histogramTs: {
      type: Object,
      default: null,
    },
    tm: {
      type: [String, Number],
      default: null,
    },
    height: {
      type: String,
      default: '400px',
    },
    valueDecimals: {
      type: Number,
      default: 4,
    },
  },
  data() {
    return {
      chartOptions: {},
    }
  },
  computed: {
    defaultChartOptions() {
      return {
        colors: ['#afabd5', '#575193', '#4dc3cf'],
        plotOptions: {
          column: {
            tooltip: {
              headerFormat: null,
              pointFormat: `{point.custom.min:.${this.valueDecimals}f} — {point.custom.max:.${this.valueDecimals}f}<br/>{point.custom.cnt} регионов`,
            },
            dataLabels: {
              enabled: true,
              pointFormat: `{point.custom.min:.${this.valueDecimals}f} — {point.custom.max:.${this.valueDecimals}f}`,
              align: 'center',
              style: {
                color: '#575193',
                cursor: 'default',
                fontSize: '10pt',
              },
            },
          },
        },
        yAxis: {
          title: {
            text: '',
          },
        },
        xAxis: {
          title: {
            text: '',
          },
        },
        legend: {
          enabled: false,
        },
        series: [],
      }
    },
  },
  watch: {
    options: {
      immediate: true,
      deep: true,
      handler() {
        this.updateChartOptions()
      },
    },
    data: {
      immediate: true,
      deep: true,
      handler() {
        this.updateChartOptions()
      },
    },
    tm() {
      this.updateChartOptions()
    },
    height() {
      this.updateChartOptions()
    },
  },
  mounted() {
    this.updateChartOptions()
    window.xhist = this
  },
  methods: {
    updateChartOptions() {
      if (!this.histogramTs || !this.histogramTs[this.tm]) return

      const self = this
      const data = this.data.data

      const params = {
        series: [
          {
            type: 'column',
            data: this.histogramTs[this.tm].cnt.map((v, i) => ({
              y: v,
              custom: {
                min: this.histogramTs[this.tm].divisions[i],
                max: this.histogramTs[this.tm].divisions[i + 1],
                cnt: v,
              },
            })),
            events: {
              click(event) {
                const rows = []
                data.forEach((v, i) => {
                  if (v.y >= event.point.custom.min && v.y <= event.point.custom.max)
                    rows.push({
                      row: i,
                      value: v.y,
                    })
                })
                self.$emit('click', {
                  min: event.point.custom.min,
                  max: event.point.custom.max,
                  cnt: event.point.custom.cnt,
                })
              },
            },
          },
        ],
      }
      if (this.$store.state.core.regName) {
        const column_i = this.data.columns_hash.indexOf(this.tm.toString())
        const row_i = this.data.index.indexOf(this.$store.state.core.regName)
        const value = this.data.data[row_i][column_i]
        const found = { x: 0, y: 0 }
        params.series[0].data.forEach((x, i) => {
          if (x.custom.min <= value && value <= x.custom.max) {
            found.x = i
            found.y = x.custom.cnt
          }
        })

        params.annotations = [
          {
            zIndex: 7,
            labelOptions: {
              allowOverlap: true,
              shape: 'rect',
              backgroundColor: '#359a2e',
              borderColor: '#1C7F17',
              style: {
                fontSize: 14,
              },
            },
            labels: [
              {
                point: {
                  xAxis: 0,
                  yAxis: 0,
                  x: found.x,
                  y: 0,
                },
                text: this.$store.state.core.regName,
              },
            ],
          },
        ]
      }
      this.chartOptions = { ...this.defaultChartOptions, ...params }
    },
  },
}
</script>

<style scoped></style>
