<template> </template>

<script>
export default {
  name: 'Histogram',
  props: {
    data: Object,
    histogram_ts: Object,
    histogram_data: Object,
    column: Object,
  },
}
</script>

<style scoped></style>
