<template>
  <div @click="onClickPage">
    <b-card class="card-shadow-danger border" :class="{ 'border-danger': borderDanger }">
      <b-card-header>Научные проекты РЭУ им.Г.В.Плеханова</b-card-header>
      <b-card-body>
        <div class="mb-3 card text-white bg-primary">
          <div class="card-header" style="background: #2176aa">Финансово-экономический анализ и прогноз</div>
          <div class="card-body p-2 " style="background: #789aa8">
            <b-row role="tablist">
              <b-col md="6">
                <b-card no-body class="mb-1">
                  <b-button v-b-toggle.accordion1 header-tag="header" class="p-1 btn-outline-primary " role="tab" variant="outline-primary" block>
                    Анализ финансовой устойчивости регионов
                  </b-button>
                  <b-collapse id="accordion1" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <icon-menu
                        :items="[
                          { class: 'col-sm-3', icon: 'lnr-database', txt: 'Данные' },
                          { class: 'col-sm-6', icon: 'lnr-book', txt: 'Аналитические материалы' },
                          { class: 'col-sm-3', icon: 'lnr-briefcase', txt: 'Модели, прогнозы' },
                        ]"
                      />
                    </b-card-body>
                  </b-collapse>
                </b-card>
              </b-col>
              <b-col md="6">
                <b-card no-body class="mb-1">
                  <b-button v-b-toggle.accordion2 header-tag="header" class="p-1 btn-outline-primary " role="tab" variant="outline-primary" block>
                    Анализ долговой нагрузки регионов
                  </b-button>
                  <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <icon-menu
                        :items="[
                          { class: 'col-sm-3', icon: 'lnr-database', txt: 'Данные' },
                          { class: 'col-sm-6', icon: 'lnr-book', txt: 'Аналитические материалы' },
                          { class: 'col-sm-3', icon: 'lnr-briefcase', txt: 'Модели, прогнозы' },
                        ]"
                      />
                    </b-card-body>
                  </b-collapse>
                </b-card>
              </b-col>
            </b-row>
          </div>
        </div>
        <div class="mb-3 card text-white bg-light">
          <b-card-header style="background: #0c88aa">Маркетинговый анализ регионов России</b-card-header>
        </div>
        <div class="mb-3 card text-white bg-light">
          <b-card-header style="background: #4d47b2">Торговля в регионах</b-card-header>
        </div>
        <div class="mb-3 card text-white bg-mean-fruit">
          <b-card-header style="background: #6F89D1">Панель результативности менеджмента компаний регионов</b-card-header>
        </div>
      </b-card-body>
    </b-card>
    <b-row>
      <b-col md="12" class="mt-3">
        <b-card class="main-card mb-3" :class="{ 'border-danger': borderDanger }">
          <b-card-header>ОНЦ, кафедры</b-card-header>
          <b-row>
            <b-col v-for="x in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" :key="x" md="6">
              <b-button block class="mr-2 mb-2 text-left" variant="primary">{{ x }}</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import IconMenu from '~/components/Components/IconMenu'

export default {
  auth: false,
  name: 'Index',
  components: {
    IconMenu,
  },
  data() {
    return {
      borderDanger: false,
    }
  },
  methods: {
    onClickPage() {
      this.borderDanger = true
    },
  },
}
</script>

<style scoped>
.border-danger {
  border-width: 6px !important;
  border-style: dashed !important;
}
</style>
