// Bar of progress
.vue-form-wizard .wizard-progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: $font-size-sm;
  color: $progress-bar-color;
  text-align: center;
  background-color: $progress-bar-bg;
  @include box-shadow(inset 0 -1px 0 rgba(0, 0, 0, 0.15));
  @include transition(width 0.6s ease);
}
