<template>
  <div>
    <Header />
    <!--    <Sidebar2 :menu="menu" title="Национальные цели" />-->
    <sidebar-index />
    <div class="app-main__outer">
      <div class="app-main__inner">
        <page-title
          heading="Корелляционно-регресионный анализ"
          subheading="Определение тесноты и направления связи между показателями и построение линейной регрессии"
        ></page-title>
        <b-row>
          <b-col cols="12" class="mb-3">
            <h3 class="text-center">Выберите показатели для проведения анализа</h3>
          </b-col>
          <b-col cols="6" class="mb-3" style="border-right: 2px solid black">
            <h4 class="text-center mb-3">Факторные (независимые) показатели</h4>
            <indicator-list :indicators="factorIndicators" :tm="factorTm" class="mb-3" variable-prefix="x" @remove="removeFactor" />
            <div class="text-center">
              <indicator-select-link
                :root-indicators="rootIndicators"
                link-title="Добавить"
                select-variant="primary"
                selected-variant="primary"
                modal-id="factor-500"
                @select="selectFactor"
              />
            </div>
          </b-col>
          <b-col cols="6" class="mb-3">
            <h4 class="text-center mb-3">Результативные (зависимые) показатели</h4>
            <indicator-list :indicators="resultIndicators" :tm="resultTm" class="mb-3" variable-prefix="y" @remove="removeResult" />
            <div class="text-center">
              <indicator-select-link
                :root-indicators="rootIndicators"
                link-title="Добавить"
                select-variant="primary"
                selected-variant="primary"
                modal-id="result-500"
                @select="selectResult"
              />
            </div>
          </b-col>
          <b-col cols="12" class="mb-3 text-center">
            <div class="my-block">
              <div class="mt-1 mb-1">Использовать стандартизированные значения: Нет</div>
              <div class="mt-1 mb-1">Уровень значимости: 0.05</div>
            </div>
            <b-button variant="primary" @click="fetchCorrMatrix">Построить матрицу парных коэффициентов корреляции</b-button>
          </b-col>
        </b-row>
        <b-row v-if="corrMatrix && corrMatrix.length > 0">
          <b-col cols="12">
            <b-card class="mb-3">
              <b-card-title></b-card-title>
              <b-card-body>
                <table class="corr-matrix">
                  <tr>
                    <th>&nbsp;</th>
                    <th v-for="(c, idx1) in Object.entries(corrMatrix[0])" :key="idx1">{{ c[0] }}, {{ getVarName(c[0]) }}</th>
                  </tr>
                  <tr v-for="(r, idx) in corrMatrix" :key="idx">
                    <th>{{ getVarName(Object.entries(r)[idx][0]) }}</th>
                    <td v-for="(c, idx1) in Object.entries(r)" :key="idx1">
                      {{ c[1] }}
                    </td>
                  </tr>
                </table>
              </b-card-body>
            </b-card>
          </b-col>
          <b-col cols="12">
            <b-card class="mb-3">
              <b-card-title>Многофакторная регрессионная модель</b-card-title>
              <b-card-sub-title>Выберите показатели для многофакторной регрессионной модели</b-card-sub-title>
              <b-card-body>
                <h4></h4>
                <b-form-group label="Выберите результативный (зависимый) показатель">
                  <b-form-radio-group v-model="resultSelected" :options="resultIndicators.map((x, i) => ({ text: x.tree_name + ', ' + resultTm[i], value: x.id }))" />
                </b-form-group>

                <b-form-group label="Выберите факторные (независимые) показатели">
                  <b-form-checkbox-group v-model="factorSelected" :options="factorIndicators.map((x, i) => ({ text: x.tree_name + ', ' + factorTm[i], value: x.id }))" />
                </b-form-group>
              </b-card-body>
            </b-card>
            <div class="text-center mb-3">
              <b-button variant="primary" @click="fetchLinearModel">Построить многофакторную регрессионную модель</b-button>
            </div>
            <b-card v-if="linearResult" class="mb-3">
              <b-card-title>Регрессионная модель</b-card-title>
              <b-card-body>
                <h4 v-html="linearFormula"></h4>
                <h4>R&sup2; = {{ Math.round(linearResult.r_sq * 1000) / 1000 }}</h4>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '~/components/Components/Header'
// import Sidebar2 from '~/components/Components/Sidebar2'
import PageTitle from '~/components/Components/PageTitle.vue'
import SidebarIndex from '~/components/Section/SidebarIndex'
import IndicatorSelectLink from '~/components/Indicator/IndicatorSelectLink'
import IndicatorList from '~/components/Indicator/IndicatorList'

export default {
  auth: false,
  layout: 'page2',
  components: {
    IndicatorList,
    IndicatorSelectLink,
    SidebarIndex,
    PageTitle,
    Header,
    // Sidebar2,
    // StackedChart,
  },
  async asyncData({ $axios }) {},

  data() {
    return {
      rootIndicators: ['rusreg2', 'natproj2'],
      factorIndicators: [],
      resultIndicators: [],
      factorTm: [],
      resultTm: [],
      corrMatrix: [],
      linearResult: null,
      linearFormula: '',
      factorSelected: [],
      resultSelected: null,
    }
  },

  computed: {},

  watch: {
    factorIndicators(v) {
      localStorage.factorIndicators = JSON.stringify(v)
    },
    resultIndicators(v) {
      localStorage.resultIndicators = JSON.stringify(v)
    },
    factorTm(v) {
      localStorage.factorTm = JSON.stringify(v)
    },
    resultTm(v) {
      localStorage.resultTm = JSON.stringify(v)
    },
  },
  mounted() {
    window.xxx = this
    for (const indName of ['factorIndicators', 'resultIndicators', 'factorTm', 'resultTm']) {
      if (localStorage[indName]) {
        this.$set(this.$data, indName, JSON.parse(localStorage[indName]))
      }
    }
  },

  methods: {
    selectFactor(ind) {
      this.factorIndicators.push(ind)
      this.factorTm.push(ind.df_last_column_hash)
    },
    selectResult(ind) {
      this.resultIndicators.push(ind)
      this.resultTm.push(ind.df_last_column_hash)
    },
    removeFactor(idx) {
      this.factorIndicators.splice(idx, 1)
      this.factorTm.splice(idx, 1)
    },
    removeResult(idx) {
      this.resultIndicators.splice(idx, 1)
      this.resultTm.splice(idx, 1)
    },
    async fetchCorrMatrix() {
      try {
        const indicators = this.resultIndicators.concat(this.factorIndicators).map((x) => x.id)
        const tm = this.resultTm.concat(this.factorTm)
        const { data } = await this.$axios.post('/data/matrix', { indicators, tm })
        this.corrMatrix = data
        this.factorSelected = this.factorIndicators.map((x) => x.id)
        this.resultSelected = this.resultIndicators.map((x) => x.id)[0]
      } catch (e) {
        this.corrMatrix = []
        window.console.error(e)
      }
    },
    async fetchLinearModel() {
      try {
        const indicators = this.factorSelected
        const indicatorId = this.factorIndicators.map((x) => x.id)
        const resultIndicatorsNumber = this.resultIndicators.map((x) => x.id).indexOf(this.resultSelected)
        const tm = []
        const y = [this.resultSelected, this.resultTm[resultIndicatorsNumber]]
        for (const x of this.factorSelected) {
          tm.push(this.factorTm[indicatorId.indexOf(x)])
        }
        const { data } = await this.$axios.post('/data/linear', { indicators, tm, y })
        this.linearResult = data
        this.linearFormula = `y<sub>1</sub> = ${Math.round(data.intercept * 100000) / 100000} + ${indicators
          .map((_, i) => Math.round(data.coef[i] * 100000) / 100000 + '&middot;x<sub>' + (i + 1) + '</sub>')
          .join(' + ')}`.replace('+ -', '- ')
      } catch (e) {
        window.console.error(e)
        this.linearResult = null
      }
    },
    getVarName(s) {
      const factorIndicatorNames = this.factorIndicators.map((x) => x.tree_name)
      const resultIndicatorNames = this.resultIndicators.map((x) => x.tree_name)
      window.console.log(s)
      if (resultIndicatorNames.includes(s)) return `y${resultIndicatorNames.indexOf(s) + 1}`
      if (factorIndicatorNames.includes(s)) return `x${factorIndicatorNames.indexOf(s) + 1}`
      return '...'
    },
  },
}
</script>

<style scoped lang="scss">
.my-block {
  font-weight: bold;
  padding: 1em;
  max-width: 30em;
  margin: 6px auto;
  background: #cccccc;
}

.corr-matrix {
  border-collapse: collapse;
  width: 100%;

  & th {
    border: 1px solid #cccccc;
    padding: 3px;
  }

  & td {
    border: 1px solid #cccccc;
    padding: 3px;
    text-align: right;
  }
}
</style>
