<template>
  <div class="chart_title" :style="{ left: left, top: top }">
    <div v-if="title" class="header" :style="{ fontSize: headerSize }">{{ title }}</div>
    <div v-if="subtitle" class="subheader" :style="{ fontSize: subheaderSize }">{{ subtitle }}</div>
  </div>
</template>

<script>
export default {
  name: 'ChartTitle',
  props: {
    title: {
      type: String,
      default: null,
    },
    subtitle: {
      type: String,
      default: null,
    },
    left: {
      type: String,
      default: null,
    },
    top: {
      type: String,
      default: null,
    },
    headerSize: {
      type: String,
      default: null,
    },
    subheaderSize: {
      type: String,
      default: null,
    },
  },
}
</script>

<style scoped lang="scss">
.chart_title {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 16%;
  color: #000;
  opacity: 0.3;

  .header {
    font-size: 6em;
  }

  .subheader {
    font-size: 2em;
  }
}
</style>
