<template>
  <div class="map">
    <fusioncharts :type="chartType" :width="chartWidth" :height="chartHeight" :data-format="dataFormat" :data-source="dataSource"></fusioncharts>
  </div>
</template>

<script>
export default {
  props: ['source', 'width', 'height', 'type'],
  data() {
    return {
      dataFormat: 'json',
    }
  },
  computed: {
    chartWidth() {
      return this.width || '100%'
    },
    chartHeight() {
      return this.height || '500'
    },
    chartType() {
      return this.type
    },
    dataSource() {
      return this.source
    },
  },
}
</script>

<style scoped>
.map {
  min-height: 300px;
  /*max-height: calc(100% - 400px);*/
  width: 100%;
}
</style>
