<template>
  <highchart v-if="chartOptions" :options="chartOptions" :height="height" :style="{ height: height }"></highchart>
</template>

<script>
import { Chart } from 'highcharts-vue'
import Highcharts from 'highcharts'
// import Highchart3d from 'highcharts/highcharts-3d'
import HighchartsHistogram from 'highcharts/modules/histogram-bellcurve'
import HighchartsMore from 'highcharts/highcharts-more'
// import HighchartsExport from 'highcharts/modules/exporting'
import HighchartsAnnotation from 'highcharts/modules/annotations'

// Highchart3d(Highcharts)
HighchartsHistogram(Highcharts)
HighchartsMore(Highcharts)
// HighchartsExport(Highcharts)
HighchartsAnnotation(Highcharts)

const _chartOptions = {
  title: {
    text: null,
  },
}

export default {
  name: 'HightchartBase',
  components: {
    highchart: Chart,
  },
  props: {
    options: {
      type: Object,
      default: null,
    },
    data: {
      type: Object,
      default: null,
    },
    series: {
      type: Object,
      default: null,
    },
    height: {
      type: String,
      default: '400px',
    },
  },
  data() {
    return {
      chartOptions: {},
    }
  },
  watch: {
    options: {
      immediate: true,
      deep: true,
      handler() {
        this.updateChartOptions()
      },
    },
    series: {
      immediate: true,
      deep: true,
      handler() {
        this.updateChartOptions()
      },
    },
    data: {
      immediate: true,
      deep: true,
      handler() {
        this.updateChartOptions()
      },
    },
    height() {
      this.updateChartOptions()
    },
  },
  mounted() {
    this.updateChartOptions()
  },
  methods: {
    updateChartOptions() {
      let chartOptions = { ..._chartOptions }
      if (this.options) chartOptions = Object.assign(chartOptions, this.options)
      if (this.series) chartOptions = Object.assign(chartOptions, this.series)
      if (this.data) chartOptions = Object.assign(chartOptions, this.data)
      this.chartOptions = chartOptions
    },
  },
}
</script>

<style scoped></style>
