<template>
  <div class="example">
    <apexchart height="350" type="area" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'

export default {
  name: 'HomeChart',
  components: {
    apexchart: VueApexCharts,
  },
  props: ['categories', 'series'],
  data() {
    return {
      chartOptions: {
        chart: {
          toolbar: {
            show: false,
          },
        },
        theme: {
          monochrome: {
            enabled: false,
            color: '#eceec3',
            shadeTo: 'light',
            shadeIntensity: 0.65,
          },
        },
        colors: ['#00ff00'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth',
        },
        xaxis: {
          categories: this.categories,
          labels: {
            rotate: -90,
            rotateAlways: true,
            color: '#CCC',
          },
        },
        tooltip: {
          fixed: {
            enabled: false,
            position: 'topRight',
          },
        },
      },
    }
  },
}
</script>
