<template>
  <div class="example">
    <apexchart height="350" type="area" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'

export default {
  name: 'HomeChart',
  components: {
    apexchart: VueApexCharts,
  },
  props: ['categories', 'series'],
  data() {
    return {
      chartOptions: {
        chart: {
          toolbar: {
            show: false,
          },
        },
        theme: {
          mode: '',
          monochrome: {
            enabled: true,
            color: '#eceec3',
            shadeTo: 'light',
            shadeIntensity: 0.65,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth',
        },
        xaxis: {
          categories: this.categories,
          labels: {
            rotate: -90,
            rotateAlways: true,
            style: {
              colors: '#fff',
            },
          },
        },
        yaxis: {
          labels: {
            style: {
              colors: '#fff',
            },
          },
        },
        tooltip: {
          custom({ series, seriesIndex, dataPointIndex, w }) {
            return '<div class="arrow_box">' + ' <span style="color:#000">&nbsp;' + series[seriesIndex][dataPointIndex] + '&nbsp;</span>' + '</div>'
          },
        },
      },
    }
  },
}
</script>
