<template>
  <div class="map">
    <highcharts constructor-type="mapChart" :options="mapOptions"></highcharts>
  </div>
</template>

<script>
export default {
  props: ['title', 'subtitle', 'mapNavigation', 'colorAxis', 'series', 'colorAxis', 'legend'],
  data() {
    window.console.log('data')
    return {}
  },
  computed: {
    mapOptions() {
      const options = {
        chart: {
          map: 'ru-ru',
        },
      }

      ;['title', 'subtitle', 'mapNavigation', 'colorAxis', 'series', 'colorAxis', 'legend'].forEach((a) => {
        if (this[a]) options[a] = this[a]
      })

      return options
    },
  },
}
</script>

<style scoped>
.map {
  min-height: 500px;
  max-height: calc(100% - 400px);
  width: 100%;
}
</style>
