<template>
  <highchart v-if="chartOptions" :options="chartOptions" :style="{ height: height }"></highchart>
</template>

<script>
import { Chart } from 'highcharts-vue'
import Highcharts from 'highcharts'
import HighchartsMore from 'highcharts/highcharts-more'
import HighchartsExport from 'highcharts/modules/exporting'
import HighchartsAnnotation from 'highcharts/modules/annotations'

HighchartsMore(Highcharts)
HighchartsExport(Highcharts)
HighchartsAnnotation(Highcharts)

const _chartOptions = {
  chart: {
    polar: true,
    type: 'line',
  },

  title: {
    text: null,
  },

  pane: {
    size: '80%',
  },

  xAxis: {
    // categories: ['Sales', 'Marketing', 'Development', 'Customer Support', 'Information Technology', 'Administration'],
    tickmarkPlacement: 'on',
    lineWidth: 0,
  },

  yAxis: {
    gridLineInterpolation: 'polygon',
    lineWidth: 0,
    min: 0,
  },

  tooltip: {
    shared: true,
    // pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>',
  },

  legend: {
    align: 'right',
    verticalAlign: 'middle',
    layout: 'vertical',
  },

  series: [],

  responsive: {
    rules: [
      {
        condition: {
          maxWidth: 500,
        },
        chartOptions: {
          legend: {
            align: 'center',
            verticalAlign: 'bottom',
            layout: 'horizontal',
          },
          pane: {
            size: '70%',
          },
        },
      },
    ],
  },
}

export default {
  name: 'SpiderBase',
  components: {
    highchart: Chart,
  },
  props: {
    options: Object,
    data: {
      type: Object,
      default: null,
    },
    series: {
      type: Object,
      default: null,
    },
    height: {
      type: String,
      default: '400px',
    },
  },
  data() {
    return {
      chartOptions: {},
    }
  },
  watch: {
    options: {
      immediate: true,
      deep: true,
      handler() {
        this.updateChartOptions()
      },
    },
    series: {
      immediate: true,
      deep: true,
      handler() {
        this.updateChartOptions()
      },
    },
    data: {
      immediate: true,
      deep: true,
      handler() {
        this.updateChartOptions()
      },
    },
    tm() {
      this.updateChartOptions()
    },
    height() {
      this.updateChartOptions()
    },
  },
  mounted() {
    this.updateChartOptions()
  },
  methods: {
    updateChartOptions1() {
      let chartOptions = { ..._chartOptions }
      if (this.options) chartOptions = Object.assign(chartOptions, this.options)
      if (this.series) chartOptions = Object.assign(chartOptions, this.series)
      if (this.data) chartOptions = Object.assign(chartOptions, this.data)
      this.chartOptions = chartOptions
    },
    updateChartOptions() {
      if (!this.data || !this.data.columns_hash.indexOf(this.tm.toString())) return
      const column_i = this.data.columns_hash.indexOf(this.tm.toString())

      // const self = this
      const data = this.data.data
      const params = {
        series: [
          {
            data: data.data[column_i],
            pointPlacement: 'on',
          },
        ],
      }
      this.chartOptions = { ..._chartOptions, ...params }
      window.console.log(this.chartOptions)
    },
  },
}
</script>

<style scoped></style>
