<template>
  <apexchart :height="height" type="bubble" :options="localChartOptions" :series="series"></apexchart>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'

export default {
  name: 'StackedChart',
  components: {
    apexchart: VueApexCharts,
  },
  props: {
    chartOptions: Object,
    series: Array,
    height: Number,
  },
  data() {
    return {
      localChartOptions: {
        chart: {
          type: 'area',
          height: this.height,
          // stacked: true,
          // events: {
          //   selection(chart, e) {
          //     console.log(new Date(e.xaxis.min))
          //   },
          // },
        },
        colors: ['#008FFB', '#00E396', '#CED4DC'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth',
        },
        fill: {
          type: 'gradient',
          gradient: {
            opacityFrom: 0.6,
            opacityTo: 0.8,
          },
        },
        legend: {
          position: 'top',
          horizontalAlign: 'left',
        },
        xaxis: {
          type: 'numeric',
        },
      },
    }
  },
}
</script>

<style scoped></style>
