<template>
  <div v-if="$auth.user" class="d-flex">
    <div class="header-btn-lg pr-0">
      <div class="widget-content p-0">
        <div class="widget-content-wrapper">
          <!--          <div v-if="$auth.user.img" class="widget-content-left">-->
          <!--            <b-dropdown toggle-class="p-0 mr-2" menu-class="dropdown-menu-lg" variant="link" right>-->
          <!--              <span slot="button-content">-->
          <!--                <div class="icon-wrapper icon-wrapper-alt rounded-circle">-->
          <!--                  <img width="64" class="rounded-circle" src="~assets/images/avatars/stepanova_pp.png" alt="Степанова Полина Павловна" />-->
          <!--                </div>-->
          <!--              </span>-->
          <!--              <button type="button" tabindex="0" class="dropdown-item">-->
          <!--                Избранное-->
          <!--              </button>-->
          <!--              <button type="button" tabindex="0" class="dropdown-item">-->
          <!--                Настройки-->
          <!--              </button>-->
          <!--              &lt;!&ndash;              <h6 tabindex="-1" class="dropdown-header">Header</h6>&ndash;&gt;-->
          <!--              <button type="button" tabindex="0" class="dropdown-item">-->
          <!--                История-->
          <!--              </button>-->
          <!--              <div tabindex="-1" class="dropdown-divider"></div>-->
          <!--              <button type="button" tabindex="0" class="dropdown-item">-->
          <!--                Выйти-->
          <!--              </button>-->
          <!--            </b-dropdown>-->
          <!--          </div>-->
          <div class="widget-content-left  ml-3 header-user-info">
            <b-dropdown toggle-class="p-0 mr-2" menu-class="dropdown-menu-lg" variant="link" right>
              <span slot="button-content">
                <span class="widget-heading mr-2">
                  {{ $auth.user.email }}
                </span>
              </span>
              <span class="dropdown-item-text">
                <strong>{{ $auth.user.name }}</strong>
              </span>
              <span class="dropdown-item-text">
                Тип: <strong>{{ userCategory }}</strong>
              </span>
              <!--              <h6 tabindex="-1" class="dropdown-header">Header</h6>-->
              <!--              <button type="button" tabindex="0" class="dropdown-item">-->
              <!--                История-->
              <!--              </button>-->
              <!--              <div tabindex="-1" class="dropdown-divider"></div>-->
              <!--              <button type="button" tabindex="0" class="dropdown-item" @click="logout">-->
              <!--                <font-awesome-icon icon="sign-out-alt">Выйти</font-awesome-icon>-->
              <!--              </button>-->
            </b-dropdown>
            <!--            <div class="widget-subheading">Полина Павловна</div>-->
          </div>
          <div class="widget-content-right header-user-info ml-3">
            <b-btn v-b-tooltip.hover :title="`Выход из профиля ${$auth.user.email}`" class="btn-shadow p-1" size="sm" variant="info" @click="logout">
              <font-awesome-icon icon="sign-out-alt"></font-awesome-icon> Выйти
            </b-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'

import { library } from '@fortawesome/fontawesome-svg-core'
import {
  faAngleDown,
  faCalendarAlt,
  faTrashAlt,
  faCheck,
  faFileAlt,
  faCloudDownloadAlt,
  faFileExcel,
  faFilePdf,
  faFileArchive,
  faEllipsisH,
  faSignOutAlt,
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faAngleDown, faCalendarAlt, faTrashAlt, faCheck, faFileAlt, faCloudDownloadAlt, faFileExcel, faFilePdf, faFileArchive, faEllipsisH, faSignOutAlt)

export default {
  name: 'HeaderUserArea',
  components: {
    // VuePerfectScrollbar,
    'font-awesome-icon': FontAwesomeIcon,
  },
  data() {
    return {}
  },
  computed: {
    userCategory() {
      switch (this.$auth.user.category) {
        case 1:
          return 'студент'
        case 2:
          return 'преподаватель'
        case 3:
          return 'аспирант'
        default:
          return 'другой'
      }
    },
  },

  methods: {
    logout() {
      this.$auth.logout().then(() => {
        this.$router.push(this.$store.state.core.homePath)
      })
    },
  },
}
</script>
