<template>
  <b-container fluid class="reu">
    <b-row class="header mb-3 bg-white">
      <b-col md="12" xs="12" style="display:flex;height:144px;align-items:center">
        <!--        <img src="/img/home/75WOW.svg" height="144" style="flex: 0 0 auto" />-->
        <img src="/logo/mtp-header-logo.svg" style="flex: 0 0 auto; height: 66px" />
        <h4 style="flex: 1 1 auto;text-transform: uppercase" class="text-center font-weight-bold text-primary">
          <div style="opacity: 90%">{{ branchName }}</div>
          <div style="margin-top:12px">Информационно-аналитическая платформа</div>
        </h4>
        <img v-if="branchImage" :src="branchImage" height="144" style="flex: 0 0 auto" />
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <b-card class="mb-3 text-dark card-border text-white">
          <b-row>
            <b-col v-for="x in tabs" :key="x[0]" :md="12 / tabs.length">
              <b-button :variant="tab === x[0] ? 'primary' : 'outline-primary'" block style="font-size: large; text-transform: uppercase;" @click="tab = x[0]" v-text="x[1]" />
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <a name="start"></a>
    </b-row>
    <b-row v-if="tab == 1">
      <b-col md="7">
        <b-card class="mb-3 text-dark card-border text-white bg-light">
          <b-card-header>
            <h4>Национальные проекты</h4>
          </b-card-header>
          <b-card-body class="bg-white">
            <section-index-nat-proj />
          </b-card-body>
        </b-card>
        <b-card class="mb-3 text-dark card-border text-white bg-light">
          <b-card-header>
            <h4>Годовые данные по субъектам Российской Федерации</h4>
          </b-card-header>
          <b-card-body class="p-2 bg-white">
            <section-index-rusreg2 />
          </b-card-body>
        </b-card>
      </b-col>
      <b-col md="5">
        <section-index-right v-if="false" class="mb-4" />
        <b-button variant="primary" block to="/" class="mb-2" style="text-transform: uppercase; font-size: large">
          <!--          <img src="/img/home/reu_logo.png" style="height: 48px;" />-->
          Верунуться на главный портал
        </b-button>
      </b-col>
    </b-row>
    <b-row v-else-if="tab == 2">
      <b-col cols="12">
        <b-card class="mb-3">
          <b-card-title>Выберите показатели</b-card-title>
          <b-card-body>
            <div v-for="(ind, idx) in selectedIndicators" :key="idx" class="mb-2">
              <span class="pr-2">№{{ idx + 1 }}</span>
              <indicator-select-link
                :root-indicators="['gksmon']"
                :selected-indicator="ind"
                :modal-id="`selectIndicator-${idx}`"
                :title="`Выбор показателя №<strong>${idx + 1}</strong>`"
                @select="$set(selectedIndicators, idx, $event)"
              />
            </div>
          </b-card-body>
        </b-card>
        <div v-if="hasSelectedIndicators">
          <b-row class="mb-3">
            <b-col cols="3">
              <year :years="dates" :selected_year.sync="selectedDate" title="Выберите период" />
            </b-col>
            <b-col cols="9">
              <b-card class="mb-3">
                <!--                <b-card-title>Динамика:&nbsp;&nbsp;&nbsp;соотношение РФ, %</b-card-title>-->
                <b-card-title>
                  <h5>{{ dynamicTitle }}, {{ dynamicSubtitle }}</h5>
                </b-card-title>
                <b-card-body>
                  <chart-title v-if="false" :title="dynamicTitle" :subtitle="dynamicSubtitle" left="5%" header-size="4em" subheader-size="2em" />
                  <hightchart-base3d :options="chart3dOptions" height="600px" />
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>

          <b-card class="mb-3">
            <b-card-title>
              {{ regName }}
              <b-button size="lg" variant="primary" @click="forecast = true">Прогноз</b-button>
              <b-button size="lg" variant="secondary" @click="forecast = false">&lt;</b-button>
            </b-card-title>
            <b-card-body>
              <b-row class="mb-5">
                <b-col v-for="(ind, idx) in forecastHighcharts" :key="idx" cols="6">
                  <div v-if="ind">
                    <h5>{{ ind.myTitle }}</h5>
                    <hightchart-base :options="ind" />
                  </div>
                </b-col>
              </b-row>
              <b-row class="mb-3">
                <b-col cols="12">
                  <div style="text-align: right">ПРОГНОЗ</div>
                  <b-table striped hover :items="items" :fields="fields" class="text-right" />
                  <div style="text-align: right">
                    <sup>* красным цветом выделены столбцы с прогнозными данными</sup>
                  </div>
                </b-col>
              </b-row>
            </b-card-body>
          </b-card>
        </div>
      </b-col>
    </b-row>
    <b-row v-else-if="tab == 3">
      <b-col md="12">
        <mo-section :region="regName" />
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="8">
        <b-button variant="primary" block class="mb-4 mt-4" to="/patent" style="text-transform: uppercase;">
          Свидетельства об интеллектуальной собственности
        </b-button>
      </b-col>
      <b-col cols="4">
        <b-button variant="primary" class="mb-4 mt-4" block to="/reg" style="text-transform: uppercase">
          Территориальные порталы
        </b-button>
      </b-col>
    </b-row>
    <Footer class="mt-3" />
    <b-modal id="iframeModal" hide-header hide-footer size="xl">
      <iframe v-if="iframeSource" :src="iframeSource" width="100%" />
    </b-modal>
    <b-modal id="logModal" size="xl" title="calculation">
      <b-row>
        <b-col cols="12">
          <pre style="width: 100%">
            {{ logs }}
          </pre>
        </b-col>
      </b-row>
    </b-modal>
  </b-container>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt, faCheck, faCalendarAlt, faAngleDown, faAngleUp, faTh } from '@fortawesome/free-solid-svg-icons'
import _highchartOptions from './highchartOptions'
import _chart3dOptions from './chart3dOptions'
import Footer from '~/components/Components/Footer'
import SectionIndexRight from '~/components/Section/IndexBelarus/SectionIndexRight'
import regList from '~/components/Reg/data/reg'
import SectionIndexRusreg2 from '~/components/Section/Index/SectionIndexRusreg2'
import SectionIndexNatProj from '~/components/Section/Index/SectionIndexNatProj'
import IndicatorSelectLink from '~/components/Indicator/IndicatorSelectLink'
import HightchartBase from '~/components/Chart/HighchartBase'
import Year from '~/components/Filter/Year'
import HightchartBase3d from '~/components/Chart/HighchartBase3d'
import ChartTitle from '~/components/Chart/ChartTitle'
import MoSection from '~/components/Reg/MoSection'

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt)

export default {
  auth: false,
  layout: 'page2',
  components: {
    MoSection,
    ChartTitle,
    HightchartBase3d,
    Year,
    HightchartBase,
    IndicatorSelectLink,
    SectionIndexNatProj,
    SectionIndexRusreg2,
    SectionIndexRight,
    Footer,
  },
  asyncData({ params, $axios }) {
    return {
      regName: params.id,
    }
  },
  data() {
    return {
      regName: null,
      regList: regList.reg,
      selected_indicator: null,
      chart_labels: [],
      chart_datasets: [],
      currentTab: 'tab1',
      charts: null,
      chart_idx: null,
      indicators: null,
      iframeSource: null,
      tab: null,
      selectedIndicators: new Array(4).fill(null),
      forecastIndicators: new Array(4).fill(null),
      forecastHighcharts: new Array(4).fill(null),
      items: [],
      fields: [],
      series: [],
      forecast: false,
      selectedDate: null,
      chart3dOptions: null,
      logs: null,
    }
  },
  computed: {
    dynamicTitle() {
      try {
        return this.selectedDate.split(',')[0]
      } catch {
        return ''
      }
    },
    dynamicSubtitle() {
      try {
        return this.selectedDate.split(',')[1]
      } catch {
        return ''
      }
    },
    dates() {
      try {
        return this.forecastIndicators.filter((x) => x !== null)[0].data.columns_hash
      } catch {
        return []
      }
    },
    branchName() {
      try {
        const r = this.regList.filter((x) => x.name === this.regName)[0]
        return r.branch ? r.branch : r.name
      } catch {
        return ''
      }
    },
    branchImage() {
      try {
        const r = this.regList.filter((x) => x.name === this.regName)[0]
        return r.img ? r.img : null
      } catch {
        return null
      }
    },
    tabs() {
      const _tabs = [
        [1, 'Регион в территориальной системе РФ'],
        [2, 'Прогноз регионального развития'],
      ]
      if (!['г. Севастополь'].includes(this.regName)) {
        _tabs.push([3, 'Муниципальная статистика'])
      }
      return _tabs
    },
    hasSelectedIndicators() {
      return this.selectedIndicators.filter((x) => x !== null).length > 0
    },
    hasForecastIndicators() {
      return this.forecastIndicators.filter((x) => x !== null).length > 0
    },
    calcLog() {
      const log = []
      for (const x in this.forecastIndicators) {
        try {
          window.console.log(x)
        } catch {}
      }
      return log
    },
  },
  watch: {
    selectedIndicators() {
      this.forecast = false
      this.updateData()
    },
    forecast(newValue) {
      this.updateForecast()
    },
    selectedDate() {
      this.updateDynamic()
    },
  },
  mounted() {
    // this.initIndicators()
    this.$store.commit('core/setRegName', this.regName)
    window.xxx = this
  },
  methods: {
    updateForecast() {
      // this.$bvModal.show('logModal')
      // try {
      //   const calcLog = this.forecastIndicators.filter((x) => x !== null).map((x) => x.log)[0]
      //   this.logs = calcLog.map((x) => x[1]).join('\n')
      //   // const logLength = 20
      //   // for (let x = 0; x < calcLog.length - logLength; x++) {
      //   //   this.$nextTick(function() {
      //   //     const tmp = []
      //   //     for (let y = 0; y < logLength; y++) {
      //   //       tmp.push(calcLog[x + y][1])
      //   //     }
      //   //     this.logs = tmp.join('\n')
      //   //   })
      //   // }
      // } catch {}
      // setTimeout(this.updateForecastFinish, 2000)
      this.updateForecastFinish()
    },
    updateForecastFinish() {
      // this.$bvModal.hide('logModal')
      this.fields = this.getFields()
      this.items = this.getItems()
      this.updateCharts()
    },
    showIframe(s) {
      this.iframeSource = s
      this.$bvModal.show('iframeModal')
    },
    async updateData() {
      const forecastIndicators = []
      for (const ind of this.selectedIndicators) {
        try {
          const { data } = await this.$axios.get(`/data/indicator/${ind.id}/data/forecast`)
          forecastIndicators.push(data)
        } catch (e) {
          forecastIndicators.push(null)
        }
      }
      this.forecastIndicators = forecastIndicators
      this.fields = this.getFields()
      this.items = this.getItems()
      this.updateCharts()
    },

    getFields() {
      try {
        const ind = this.forecastIndicators.filter((x) => x !== null)[0]
        const data = this.forecast ? ind.data_with_forecast : ind.data
        return [{ key: 'INDICATOR', label: 'Показатель' }].concat(
          data.columns_hash.map((x, i) => ({
            key: 'c' + i,
            label: x,
            variant: this.forecast && i > data.columns_hash.length - 3 ? 'custom-red' : undefined,
          }))
        )
      } catch (e) {
        return []
      }
    },
    getItems() {
      const items = []
      for (const ind of this.forecastIndicators) {
        try {
          const data = this.forecast ? ind.data_with_forecast : ind.data
          const row_i = data.index.indexOf(this.regName)
          const row = Object.assign({ INDICATOR: ind.indicator.smart_name }, ...data.data[row_i].map((y, i) => ({ ['c' + i]: Math.round(y * 10) / 10 })))
          items.push(row)
        } catch (e) {}
      }
      return items
      // return this.data.data[row_i].map((x, i) => Object.assign({ REGION: this.data.index[i] }, ...x.map((y, i) => ({ ['c' + i]: Math.round(y * 100) / 100 }))))
    },
    updateDynamic() {
      const options = { ..._chart3dOptions }
      const series = []
      for (const ind of this.forecastIndicators) {
        try {
          const data = ind.data
          const row_i = data.index.indexOf(this.regName)
          const row_rf = data.index.indexOf('Российская Федерация')
          const col_i = data.columns_hash.indexOf(this.selectedDate)
          const value = Math.round((data.data[row_i][col_i] / data.data[row_rf][col_i]) * 10000) / 100
          series.push({
            name: ind.indicator.smart_name,
            data: [value],
            color: ind.indicator.reversed ? (value > 100 ? '#b00000' : undefined) : value < 100 ? '#b00000' : undefined,
          })
        } catch (e) {}
      }
      options.series = series
      const title = {
        text: 'Динамика:   соотношение РФ, %',
        style: {
          fontSize: 18,
        },
      }
      const legend = {
        style: {
          fontSize: 16,
        },
      }
      options.title = title
      options.legend = legend

      this.chart3dOptions = options
    },
    updateCharts() {
      let region_data = []
      const forecastHighcharts = []
      for (const ind of this.forecastIndicators) {
        try {
          const data = ind.data_with_forecast
          const row_i = data.index.indexOf(this.regName)

          region_data = {
            name: this.regName,
            type: 'spline',
            data: [...Array.from({ length: data.columns_hash.length - data.forecast_cnt }).map((x, i) => data.data[row_i][i])],
          }
          const series = [region_data]
          if (this.forecast) {
            const future_data = {
              name: this.regName,
              type: 'spline',
              dashStyle: 'ShortDot',
              color: '#ff4757',
              dataLabels: {
                enabled: false,
              },
              marker: {
                enabled: false,
              },
              lineWidth: 4,
              toolTip: {
                enabled: false,
              },
              data: [
                // Исходные данные
                ...Array.from({ length: data.columns_hash.length - data.forecast_cnt - 1 }).map(() => null),
                ...Array.from({ length: data.forecast_cnt + 1 }).map((_, i) => data.data[row_i][i + data.columns_hash.length - data.forecast_cnt - 1]),
              ],
              data0: data.data[row_i],
            }
            series.push(future_data)
          }
          const params = {
            myTitle: ind.indicator.smart_name,
            xAxis: {
              categories: [...data.columns_hash],
              labels: {
                style: {
                  fontSize: 14,
                  color: '#000000',
                },
              },
            },
            series: [...series],
          }
          if (this.forecast) {
            params.xAxis.plotBands = [
              {
                label: {
                  text: 'ПРОГНОЗ',
                  style: {
                    color: '#DC4128',
                    fontSize: 20,
                    fontWeight: 'bold',
                  },
                },
                color: '#fcffda',
                from: params.xAxis.categories.length - 3,
                to: params.xAxis.categories.length - 1,
              },
            ]
          } else {
            params.xAxis.plotBands = null
          }
          const chartOptions = { ..._highchartOptions, ...params }
          forecastHighcharts.push(chartOptions)
        } catch {}
      }
      this.forecastHighcharts = forecastHighcharts
    },
  },
}
</script>

<style>
.apexcharts-canvas.apexcharts-theme-dark {
  background: none;
}

.card-header > .nav .nav-link {
  color: #ddd;
  font-size: small;
}

a:not([href]):not([tabindex]) {
  color: #fff;
  text-decoration: none;
}

#iframeModal iframe {
  height: calc(100vh - 90px);
  width: 100%;
  boder: none;
}

.table-custom-red {
  background: #ffb2b2;
}
</style>
